<div *ngIf="isHomePage">
  <div class="heading">
    <h3><b>Reference Data Management</b></h3>
  </div>
  <div>
    <mat-card class="col-xs-6 card-alignment pointer" (click)="getReportList()">
      <mat-card-title>Go To Brand-Forms</mat-card-title>
      <mat-card-subtitle>Click here to edit the Brand-Forms</mat-card-subtitle>
    </mat-card>
    <mat-card class="col-xs-6 card-alignment-disabled">
      <mat-card-title>Add New Forms</mat-card-title>
      <mat-card-subtitle>Click here to add new custom forms of your choice</mat-card-subtitle>
    </mat-card>
  </div>
</div>

<div class="page-position" *ngIf="!isHomePage">
  <div>
    <h3><b>Reference Data Management</b></h3>
  </div>
  <div class="col-xs-12 p-0">
    <div class="col-xs-11 p-0">
      <h4><b>Brand-Forms : BRAND_ALLOC_GRP_HIERARCHY</b></h4>
    </div>
    <div class="col-xs-1">
      <a data-toggle="tooltip" title="Go Back to RDM page" (click)="isHomePage = !isHomePage"><i id="ic"
          class="material-icons pointer">arrow_back</i></a>
    </div>
  </div>
  <div class="col-xs-12 complete-table">
    <div class="col-xs-12 pl-0 search-width">
      <div class="col-xs-6 pl-0">
        <input placeholder="Search ALLOC_GROUP_CD" class="form-control" (input)="filterData()"
          [(ngModel)]="filters.ALLOC_GROUP_CD" name="filters.ALLOC_GROUP_CD">
      </div>
      <div class="col-xs-6 pl-0">
        <input placeholder="Search BRAND" class="form-control" (input)="filterData()" [(ngModel)]="filters.BRAND"
          name="filters.BRAND">
      </div>
    </div>
    <table class="table table-striped table-hover">
      <thead class="thead">
        <tr class="col-xs-12 p-0">
          <div class="col-xs-12 p-0">
            <div class="col-xs-6 p-0">
              <th class="table-header">
                <b>ALLOC_GROUP_CD</b>
              </th>
            </div>
            <div class="col-xs-6 p-0">
              <th class="table-header">
                <b>BRAND</b>
              </th>
            </div>
          </div>
        </tr>
      </thead>
      <tbody>
        <div class="inter-spacing">
          <tr *ngFor="let element of reports | filterTable: searchObj | orderBy: param:orderType">
            <td class="ddm-report-name">
              <!-- First part -->
              <div class="report-name-edit">
                <div class="col-xs-9">
                  <p *ngIf="element.ALLOC_GRP_CD" title="{{element.ALLOC_GRP_CD}}">{{element.ALLOC_GRP_CD}}</p>
                </div>
              </div>
            </td>
            <td class="ddm-report-name">
              <!-- First part -->
              <div class="report-name-edit" *ngIf="!element.clicked">
                <div class="col-xs-9">
                  <p *ngIf="element.BRAND" title="{{element.BRAND}}">{{element.BRAND}}</p>
                </div>
                <div class="col-xs-3">
                  <a style="font-size:18px" data-toggle="tooltip" title="EDIT"
                    (click)="toggleShowInput(element,'brand')"><i id="ic"
                      class="material-icons pointer">mode_edit</i></a>
                </div>
              </div>
              <!-- Second part -->
              <div class="report-name-edit" *ngIf="element.clicked ">
                <div class="col-xs-6">
                  <input class="input-width" maxlength="50" placeholder="Name max 50 characters"
                    [(ngModel)]="element.BRAND" [value]="element.BRAND?element.BRAND:''">
                </div>
                <div class="col-xs-2">
                  <a data-toggle="tooltip" title="Save record" (click)="changeReportName(element)"><i id="ic"
                      class="material-icons pointer">save</i></a>
                </div>
                <div class="col-xs-2" aria-disabled="true">
                  <a data-toggle="tooltip" title="delete record"><i id="ic"
                      class="material-icons delete-disabled">delete</i></a>
                  <!-- DO NOT DELETE : (click)="deleteRecord(element)" -->
                </div>
                <div class="col-xs-2">
                  <a data-toggle="tooltip" title="Cancel action" (click)="toggleShowInput('element')"><i id="ic"
                      class="material-icons pointer">cancel</i></a>
                </div>
              </div>
            </td>
          </tr>
        </div>
      </tbody>
    </table>
  </div>
</div>