.page-position {
    display: grid;
    margin-left: 3.5vh;
}

.inter-spacing {
    max-height: 26vw;
    overflow: auto;
}

.header-spacing {
    max-height: 55vh;
    max-width: 75vh;
    overflow: auto;
}

.ddm-report-name-lhs {
    width: 75vw;
}

.ddm-report-name-rhs {
    width: 75vw;
}

th {
    width: 50%;
}

.home-page {
    display: inline-block;
}

.card-alignment {
    background-color: linear-gradient(rgb(12, 55, 98), rgb(10, 91, 173));
    background-image: linear-gradient(rgb(12, 55, 98), rgb(10, 91, 173));
    color: white;
    max-width: 50vh;
    margin-left: 5vw;
    margin-top: 2vw;
}

.card-alignment-disabled {
    max-width: 50vh;
    margin-left: 5vw;
    margin-top: 2vw;
    background-color: #808080;
    color: white;
}

.heading {
    margin-left: 3.5vh;
}

.mat-card-subtitle {
    color: #ffffff;
}

table {
    border-collapse: collapse;
}

tr {
    border: none;
}

td {
    border-right: solid 1px #000;
}

.table-header {
    border: 0;
}

tbody {
    border: solid 1px #000;
}

thead { 
    color: #495057;
    background-color: #d3d3d3;
}

.delete-disabled {
    color: #808080;
}

.complete-table {
    padding-left: 16vw;
    width: 40vw;
    min-width: 56vw;
}

.search-width {
    width: 40vw;
    padding-bottom: 1vh;
}

.input-width {
    width: 8vw;
}

.report-name-non-edit {
    min-width: 18vw;
}

.report-name-edit {
    min-width: 18vw;
}

p {
    width : 16vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-width-lhs {
    max-width : 16vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-width-rhs {
    max-width : 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}