<div *ngIf="isHomePage">
  <div class="heading">
    <h3><b>Reference Data Management</b></h3>
  </div>
  <div>
    <mat-card class="col-xs-6 card-alignment pointer" (click)="getBrandFormList()">
      <mat-card-title>Go To Brand-Forms</mat-card-title>
      <mat-card-subtitle>Click here to edit the Brand-Forms</mat-card-subtitle>
    </mat-card>
    <mat-card class="col-xs-6 card-alignment-disabled">
      <mat-card-title>Add New Forms</mat-card-title>
      <mat-card-subtitle>Click here to add new custom forms of your choice</mat-card-subtitle>
    </mat-card>
  </div>
</div>

<div class="page-position" *ngIf="!isHomePage">
  <div>
    <h3><b>Reference Data Management</b></h3>
  </div>
  <div class="col-xs-12 brand-form-name">
    <div class="col-xs-11 p-0">
      <h4><b>Brand-Forms : </b>{{ brandFormName }}</h4>
    </div>
    <div class="col-xs-1">
      <a data-toggle="tooltip" title="Go Back to RDM page" (click)="isHomePage = !isHomePage"><i id="ic"
          class="material-icons pointer">arrow_back</i></a>
    </div>
  </div>
  <div class="col-xs-12 complete-table" *ngIf="isDataLoaded">
    <div class="col-xs-12 pl-0 search-width">
      <div class="col-xs-6 pl-0">
        <input placeholder="Search {{reportDataColumns['immutable']}}" class="form-control" (input)="filterData()"
          [(ngModel)]="filters[reportDataColumns['immutable']]" name="filters[reportDataColumns['immutable']]">
      </div>
      <div class="col-xs-6 pl-0 pr-0">
        <input placeholder="Search {{reportDataColumns['mutable']}}" class="form-control" (input)="filterData()"
          [(ngModel)]="filters[reportDataColumns['mutable']]" name="filters[reportDataColumns['immutable']]">
      </div>
    </div>
    <table class="table table-striped table-hover">
      <thead class="thead">
        <tr class="col-xs-12 p-0 l">
          <div class="col-xs-12 p-0">
            <div class="col-xs-6 p-0" (click)="sort(reportDataColumns['immutable'])">
              <th class="table-header pointer">
                <div class="col-xs-8 p-0"><b>{{reportDataColumns['immutable']}}</b></div>
                <div class="col-xs-2 p-0" *ngIf="!reports[reportDataColumns['immutable']]"><b>&#8593;</b></div>
                <div class="col-xs-2 p-0" *ngIf="reports[reportDataColumns['immutable']]"><b>&#8595;</b></div>
              </th>
            </div>
            <div class="col-xs-6 p-0" (click)="sort(reportDataColumns['mutable'])">
              <th class="table-header pointer">
                <div class="col-xs-8 p-0"><b>{{reportDataColumns['mutable']}}</b></div>
                <div class="col-xs-2 p-0" *ngIf="!reports[reportDataColumns['mutable']]"><b>&#8593;</b></div>
                <div class="col-xs-2 p-0" *ngIf="reports[reportDataColumns['mutable']]">&#8595;</div>
              </th>
            </div>
          </div>
        </tr>
      </thead>
      <tbody>
        <div class="inter-spacing">
          <tr *ngFor="let element of reports | filterTable: searchObj | orderBy: param:orderType">
            <td class="ddm-report-name-lhs">
              <!-- First part -->
              <div class="report-name-non-edit">
                <div class="col-xs-9">
                  <p class="text-width-lhs" *ngIf="element[reportDataColumns['immutable']]"
                    title="{{element[reportDataColumns['immutable']]}}">{{element[reportDataColumns['immutable']]}}</p>
                </div>
              </div>
            </td>
            <td class="ddm-report-name-rhs">
              <!-- First part -->
              <div *ngIf="!element.clicked">
                <div class="col-xs-9">
                  <p class="text-width-rhs" *ngIf="element[reportDataColumns['mutable']]"
                    title="{{element[reportDataColumns['mutable']]}}">
                    <span class="text-width">{{element[reportDataColumns['mutable']]}}</span>
                  </p>
                </div>
                <div class="col-xs-3">
                  <a style="font-size:18px" data-toggle="tooltip" title="EDIT"
                    (click)="toggleShowInput(element,'brand')"><i id="ic"
                      class="material-icons pointer">mode_edit</i></a>
                </div>
              </div>
              <!-- Second part -->
              <div class="report-name-edit" *ngIf="element.clicked ">
                <div class="col-xs-6">
                  <input class="input-width" id="editedField" maxlength="40" placeholder="Max 40 characters"
                    [(ngModel)]="newBrandName"
                    [value]="element[reportDataColumns['mutable']]?element[reportDataColumns['mutable']]:''">
                </div>
                <div class="col-xs-2">
                  <a data-toggle="tooltip" title="Save record" (click)="changeBrandName(newBrandName)"><i id="ic"
                      class="material-icons pointer">save</i></a>
                </div>
                <div class="col-xs-2" aria-disabled="true">
                  <a data-toggle="tooltip" title="delete record"><i id="ic"
                      class="material-icons delete-disabled">delete</i></a>
                  <!-- DO NOT DELETE : (click)="deleteRecord(element)" -->
                </div>
                <div class="col-xs-2">
                  <a data-toggle="tooltip" title="Cancel action" (click)="toggleShowInput('element')"><i id="ic"
                      class="material-icons pointer">cancel</i></a>
                </div>
              </div>
            </td>
          </tr>
        </div>
      </tbody>
    </table>
  </div>
</div>