#create-report-wrapper {
  padding: 15px;
  height: 100%;
}

/* #create-report-wrapper[_ngcontent-c48] {
  padding: 15px;
} */

.stepper {
  /* max-height: 500px; */
  /* max-width: 90%; */
  /* position: relative; */
  /* overflow: auto; */
  /* border: 1px grey; */
  /* border-style: double; */
  /* margin: 1%; */
  /* margin-left: 2%; */
  /* min-height: 55vh;
  height: 55vh; */
  min-height: 48vh;
  height: 48vh;
  overflow-y: auto;
  border: 1px solid black;
}

.customize-matstepper { 
  padding: 5px 15px;
}

mat-table{
  height: 60%;
  overflow: auto;
  /* width: 94%; */
  /* margin-left: 5%; */
  margin-left: 2%;
}


/* ::ng-deep .mat-sort-header-container{
  display: flex;
  justify-content: center;
} */

mat-cell{
  display: flex !important;
  justify-content: center !important;
}

mat-header-cell{
  display: flex;
  justify-content: center;
}

.back-btn{
  /* margin-top: 1%;
  margin-left: 5%; */
}

.error-text{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 37%;
  color: red;
}

.preview-wrapper{
  height: 100%;
}