<div class="create-body">

  <table>
    <tr class="table-header">
        <th>Attribute</th>
        <th>Condition</th>
        <th>Values</th>
        <th>Operator</th>
        <th>Options</th>
    </tr>
    <tr *ngFor="let row of createFormula;let i=index;">
      <td>
        <!-- search wont work -->
        <!-- <form [formGroup]="stateForm"> -->
            <form>
              <mat-form-field>
                <input type="text" matInput placeholder="Attribute" required [matAutocomplete]="autoGroup" [(ngModel)]="row.attribute"
                  name="attribute">
                  <!-- search wont work -->
                  <!-- name="attribute" formControlName="stateGroup"> -->
                <mat-autocomplete #autoGroup="matAutocomplete" (optionSelected)="onSelectionChanged($event,row,'attribute')">
                  <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.groupName">
                    <mat-option *ngFor="let name of group.names" [value]="name">
                      {{ name }}
                    </mat-option>
                  </mat-optgroup>
                </mat-autocomplete>
              </mat-form-field>
            </form>
      </td>
      <td>
          <mat-form-field style="width: 110px;">
              <mat-label>Conditions</mat-label>
              <mat-select [(ngModel)]="row.condition">
                <mat-option [value]="condition" *ngFor="let condition of conditionList">
                  {{ condition }}
                </mat-option>
              </mat-select>
            </mat-form-field>
      </td>
      <td>
          <form>
              <mat-form-field>
                <input type="text" matInput placeholder="Values" required [matAutocomplete]="autoGroup1" [(ngModel)]="row.values"
                  name="values" >
                <mat-autocomplete #autoGroup1="matAutocomplete"  (optionSelected)="onSelectionChanged($event,row,'value')">
                  <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.groupName">
                    <mat-option *ngFor="let name of group.names" [value]="name">
                      {{ name }}
                    </mat-option>
                  </mat-optgroup>
                </mat-autocomplete>
              </mat-form-field>
            </form>
      </td>
      <td>
          <mat-form-field style="width: 110px;">
              <mat-label>Operator</mat-label>
              <mat-select [(ngModel)]="row.operator">
                <mat-option [value]="operator" *ngFor="let operator of operators">
                  {{ operator }}
                </mat-option>
              </mat-select>
            </mat-form-field>
      </td>
      <td>

    <button mat-icon-button [hidden]="i === 0">
        <mat-icon (click)="removeRow(row,i)">remove</mat-icon>
      </button>
      <button mat-icon-button [disabled]="!validateRow(row)">
        <mat-icon (click)="addRow(row,i)">add</mat-icon>
      </button>
      </td>
    </tr>

  </table>

</div>

<div class="create-footer">
  <mat-form-field>
    <input type="text" matInput placeholder="Condition name..." [(ngModel)]="obj.condition_name" required>
  </mat-form-field>
  <mat-checkbox [(ngModel)]="obj.mandatory_flag">Is Mandatory?</mat-checkbox>
  <div>
    <button mat-raised-button style="margin-right: 20px;" (click)="closeDialog();"
    [cssBtn]="'cancel'">Cancel</button>
    <button mat-raised-button style="margin-right: 20px;" (click)="validateCondition();"
    [cssBtn]="'mid'">Validate</button>
    <button mat-raised-button (click)="createCondition()" 
            [disabled]="!validCondition"
            [paramFlag]="!validCondition?true:false"
            [cssBtn]="'ok'">Save</button>
  </div>
</div>