.condition-row{
    display: flex;
    justify-content: space-around;
}
.create-body{
    height: 330px;
    overflow: auto;
}
.create-footer{
    height: 64px;
    text-align: right;
    display: flex;
    border-top: 1px solid #02223d;
    /* margin-right: 41px; */
    padding: 12px;
    justify-content: space-around;
    align-items: center;
}
.row-header{

}
table{
    width: 100%;
}
tr th,tr td{
    /* text-align: center; */
    padding: 8px;
}
.table-header{
    height: 56px;
    background: #a7a7a7;
    /* border: 1px solid grey; */
    color: white;
    font-size: 16px;
    font-weight: 800;
}