<div class="main-tool-body-header">
  <div class="heading">
    <div class="col-xs-9 pl-0">
      <h3><b>DDM Team Contact List</b></h3>
    </div>
    <div class="icons">
      <div *ngIf="user_role == 'Admin'" class="press">
        <a data-toggle="tooltip" title="EDIT" (click)="editTrue()">
          <i id="ic" class="material-icons">mode_edit</i>
        </a>
      </div>
      <div class="press">
        <button data-toggle="modal" data-target="#helpModal" data-backdrop="static" style="padding-right:0px;">
          <a data-toggle="tooltip" title="HELP"><i id="ic" class="material-icons">help_outline</i></a>
        </button>
      </div>
    </div>
  </div>
</div>
<div id="ddm-intro-pdf" class="main-tool-body-content">
  <div class="information" id="JJ">
    <button [cssBtn]="'ok'" class="save-text-ddm" mat-raised-button (click)="content_edit()"
      *ngIf="editMode">Save</button>
    <button [cssBtn]="'cancel'" class="save-text-ddm" mat-raised-button (click)="editTrue()"
      *ngIf="editMode">Cancel</button>
    <quill-editor class="quill" [(ngModel)]='naming' [modules]='config' [readOnly]='readOnlyContent'
      (onContentChanged)='textChanged($event)'>
    </quill-editor>
  </div>
</div>
<div class="modal fade " style="overflow-y: hidden;" id="helpModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="justify-content: flex-start;">
        <h4 class="modal-title help-title">Help</h4>
      </div>
      <div class="modal-body display-notes-scroll-modal">
        <div class="row">
          <div class="col-9">
            <button [cssBtn]="'ok'" mat-raised-button class="save-text-ddm" (click)="content_edits()" *ngIf="editModes"
              style="margin-right:3%">Save</button>
            <button [cssBtn]="'cancel'" mat-raised-button class="save-text-ddm" (click)="edit_True()"
              *ngIf="editModes">Cancel</button>
          </div>
          <div class="col-3" style="padding-left:12%;">
            <button *ngIf="user_role == 'Admin'" id="edit_button" class="editButton" (click)="editEnable()">
              <a data-toggle="tooltip" title="EDIT">
                <i id="ic" class="material-icons">mode_edit</i>
              </a>
            </button>
          </div>
        </div>
        <div class="quillEditor">
          <quill-editor class="quill" [(ngModel)]='namings' [modules]='config' [readOnly]='readOnlyContentHelper'
            (onContentChanged)='textChanged($event)'></quill-editor>
        </div>
      </div>
      <div class="modal-footer modal-footer-pad">
        <button [cssBtn]="'mid'" mat-raised-button id="modal_close_button" class="btn" (click)="edit_True()"
          data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>