/*-----------------Main css------------*/

@media print {
    body {
        color: aquamarine;
        -webkit-print-color-adjust: exact
    }
}

.main-tool-body-header {
    height: 5.75vh;
    margin-top: 1vh;
    margin-left: 1.5vw;
    -webkit-print-color-adjust: exact
}

.main-tool-body-content {
    -webkit-print-color-adjust: exact;
    margin-left: 1.5vw;
    margin-right: 1.3vw;
}

 /* changes done Ganesha */


.editButton {
    background: transparent;
    border: none;
    float: right;
    padding-right:0px;
}

.caption-style {
    font-size: 150%;
    font-weight: bold;
}

.icons {
    height: 100%;
    float: right;
    align-content: center;
    padding-left: 14vw;
    padding-right: 0vw;
}

.buffer {
    height: 25%;
    width: 100%;
}

b {
    height: 100%;
    font-size: 100%;
}

.material-icons {
    width: fit-content;
    float: right;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    -webkit-print-color-adjust: exact;
}

.press {
    width: fit-content;
    font-size: 2em;
    float: left;
    cursor: pointer;
}

.main-style {
    font-size: 1.5rem
}

.quillEditor {
    position: relative;
    padding: 3px;
}

.display-none {
    display: none;
}

a {
    color: black;
}

a:hover {
    color: rgb(2, 136, 173);
}

a:active {
    color: rgb(2, 136, 173);
}

.save-text-ddm {
    margin: 0 1vw 2vh 0;
}

.press button {
    background: transparent;
    border: none;
}

@media print {
    .noprint {
        display: none
    }
}

.help-icon {
    padding-top: 1.5vh;
}

h3 {
    margin-top: 0%;
}

#helpModal .modal-content{
    height:75vh;
}

::ng-deep .main-tool-body-content .information .quill .ql-container .ql-editor {
    border: lightgray solid 1px;
    height: 42.5vh;
    overflow: auto;
}

::ng-deep #ddm-intro-pdf .quill .ql-container .ql-editor {
    border: lightgray solid 1px;
    max-height: 54vh !important;
    min-height: 54vh !important;
    overflow: auto !important;
}