/*-----------------Main css------------*/

@media print {
    body {
        color: aquamarine;
        -webkit-print-color-adjust: exact
    }
}

.main-tool-body-header {
    height: 10%;
    width: 95%;
    margin-left: 2.5%;
    -webkit-print-color-adjust: exact
}

.main-tool-body-content {
    height: 88%;
    width: 95%;
    margin-left: 2.5%;
    -webkit-print-color-adjust: exact
}

 /* changes done Ganesha */
::ng-deep .main-tool-body-content .information .quill .ql-container .ql-editor {
        overflow-y: auto;
        max-height: 51vh;
}

.editButton {
    background: transparent;
    border: none;
    float: right;
    padding-right:0px;
}


.heading {
    width: 60%;
    float: left;
    height: 100%;
}

.caption-style {
    font-size: 150%;
    font-weight: bold;
}

.icons {
    height: 100%;
    float: right;
    align-content: center;
}

.buffer {
    height: 25%;
    width: 100%;
}

b {
    height: 100%;
    font-size: 100%;
}

.material-icons {
    width: fit-content;
    float: right;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    -webkit-print-color-adjust: exact;
}

.press {
    height: 100%;
    width: fit-content;
    font-size: 2em;
    float: left;
    cursor: pointer;
}

.main-style {
    font-size: 1.5rem
}

.quillEditor{
    position: relative;
    padding: 3px;
}

.display-none {
    display: none;
}

a {
    color: black;
}

a:hover {
    color: rgb(2, 136, 173);
}

a:active {
    color: rgb(2, 136, 173);
}

.save-text-ddm {
    margin: 1% 0% 1% 2%;
}

.press button {
    background: transparent;
    border: none;
}

@media print {
    .noprint {
        display: none
    }
}