<div class="main-tool-body-header">
  <div class="heading">
    <div class="buffer">

    </div>
    <div class="caption-style">
      <b>What is DDM ?</b>
    </div>
    <div class="buffer">

    </div>
  </div>

  <div class="icons">

    <div *ngIf="user_role == 'Admin'" class="press" style="padding-top: 12px;">
      <a data-toggle="tooltip" title="EDIT" (click)="editTrue()"><i id="ic" class="material-icons">mode_edit</i></a>
    </div>
    <i id="ic" class="material-icons" style="margin-top: 8px;cursor: pointer;">get_app</i>
    <!-- (click)="captureScreen()" -->
    <div class="press" style="margin-top:20%;">
      <button data-toggle="modal" data-target="#helpModal" style="padding-right:0px;">
        <a data-toggle="tooltip" title="HELP"><i id="ic" class="material-icons">help_outline</i></a>
      </button>
    </div>
  </div>
</div>
<div id="ddm-intro-pdf" class="main-tool-body-content">
  <div class="information" id="JJ">
    <button class="btn btn-success save-text-ddm" (click)="content_edit()" *ngIf="editMode">Save</button>
    <button class="btn btn-danger save-text-ddm" (click)="editTrue()" *ngIf="editMode">Cancel</button>
    <div id="ckEditor"></div>
  </div>
</div>
<!------------------------------------Help Modal------------------------------->

<div class="modal fade " id="helpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="justify-content: flex-start;">
        <img class="logo" src="/assets/OFT_Logo.jpg">
        <h5 class="modal-title help-title">Help</h5>
      </div>
      <div class="modal-body display-notes-scroll">
        <div class="row">
          <div class="col-9">
            <button class="btn btn-success save-text-ddm" (click)="content_edits()" *ngIf="editModes" style="margin-right:3%">Save</button>
            <button class="btn btn-danger save-text-ddm" (click)="edit_True()" *ngIf="editModes">Cancel</button>
          </div>
          <div class="col-3" style="padding-left:12%;">
            <button *ngIf="user_role == 'Admin'" id="edit_button" class="editButton" (click)="edit_True()">
              <a data-toggle="tooltip" title="EDIT"><i id="ic" class="material-icons">mode_edit</i></a>
            </button>
          </div>
        </div>
        <div id="ckEditorHelp"></div>
      </div>
      <div class="modal-footer">
        <button type="button" id="modal_close_button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>