* {
    font-family: sans-serif;
    color: gray;
}
.axis path,
.axis line {
    fill: red;
    stroke: var(--var-color-grey);
    shape-rendering: crispEdges;
}
.x.axis {font-size: 15px;}
.y.axis {font-size: 12px; }

.tooltip-chart{
    position: absolute;
    text-align: center;
    width: auto;
    height:auto;
    font: 16px sans-serif;
    background: gray;
    pointer-events: none;
    z-index: 9;
    padding:10px;
    color: whitesmoke;
}
