<app-header></app-header>

<body style="height:87vh; background-color:#004e63">
  <div class="container-fluid">
    <div class="btn btn-default">
      <b class="bsizing">Roles and Responsibilities</b>

      <div
        class="dropdown-toggle"
        data-toggle="dropdown"
        (click)="toggle()"
        id="bt"
      >
        <b>New/Edit Role</b>{{ buttonName }}
      </div>

      <ul class="dropdown-menu mddropdown">
        <li>
          <a
            data-toggle="modal"
            data-target="#semanticModal"
            style="background-color:rgb(0,110,140);"
            >Security</a
          >
        </li>
        <hr />
        <li>
          <a
            data-toggle="modal"
            data-target="#PrivilegeModal"
            style="color:white; background-color:rgb(0,110,140);"
            >Privileges</a
          >
        </li>
      </ul>
    </div>

    <mat-table [dataSource]="dataSource" matSort class="changes">
      <ng-container matColumnDef="name">
        <mat-header-cell class="overide" *matHeaderCellDef mat-sort-header>
          <b>NAME</b>
        </mat-header-cell>
        <mat-cell *matCellDef="let result" style="font-family:arial">{{
          result.name
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="role">
        <mat-header-cell class="overide" *matHeaderCellDef mat-sort-header
          ><b>ROLE</b></mat-header-cell
        >
        <mat-cell *matCellDef="let result" style="font-family:arial">{{
          result.role
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="semantic_layers">
        <mat-header-cell class="overide" *matHeaderCellDef mat-sort-header
          ><b>ACCESSED SEMANTIC LAYERS</b></mat-header-cell
        >
        <mat-cell *matCellDef="let result" style="font-family:arial">{{
          result.semantic_layers
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="privilages">
        <mat-header-cell class="overide" *matHeaderCellDef mat-sort-header
          ><b>PRIVILEGES</b></mat-header-cell
        >
        <mat-cell *matCellDef="let result">{{ result.privilages }}</mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="displayedColumns"
        color="grey"
      ></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
</body>
<app-security-modal></app-security-modal> 
<app-privilege-modal></app-privilege-modal>
