<app-header></app-header>

<body class="mat-body-styles">

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-1 fa fa-arrow-left ml-3 mt-3" (click)="routeBack()"></div>
      <div class="col-xs-3"></div>
      <div class="col-xs-4">
        <b class="bsizing">Roles and Responsibilities</b>
      </div>
      <div class="col-xs-1"></div>
      <div class="roles-margin col-xs-2">
        <div class="dropdown mt-1">
          <button class="btn btn-primary" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
              Edit Roles
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item anchor-design" (click)="getSecurityDetails()" data-toggle="modal"
              data-target="#semanticModal">Security</a>
            <hr class="hrp">
            <a class="dropdown-item anchor-design" data-toggle="modal" data-target="#privilegeModal">Privileges</a>
          </div>
        </div>
      </div>
    </div>

    <mat-table [dataSource]="dataSource" matSort class="changes">
      <ng-container matColumnDef="name">
        <mat-header-cell class=" name-width" *matHeaderCellDef mat-sort-header><b>Name</b></mat-header-cell>
        <mat-cell *matCellDef="let result" class=" name-width">{{result.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="user_id">
        <mat-header-cell class=" userid-width" *matHeaderCellDef mat-sort-header><b>User id</b></mat-header-cell>
        <mat-cell *matCellDef="let result" class=" userid-width">{{result.user_id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="role">
        <mat-header-cell class=" role-width" *matHeaderCellDef mat-sort-header><b>Role</b></mat-header-cell>
        <mat-cell *matCellDef="let result" class=" role-width">{{result.role}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="semantic_layers">
        <mat-header-cell class=" asl-width" *matHeaderCellDef mat-sort-header><b>Accessed semantic layers </b>
        </mat-header-cell>
        <mat-cell *matCellDef="let result" class=" asl-width">
            <span class="result" *ngFor="let result of result.semantic_layers">{{result}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="privilages">
        <mat-header-cell class=" privileges-width" *matHeaderCellDef mat-sort-header><b>Privileges</b></mat-header-cell>
        <mat-cell *matCellDef="let result" class=" privileges-width">{{result.privilages}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns;sticky:true" color="grey"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>

    <div class="empty-msg-div" *ngIf="isEmptyTables">No Data available</div>

  </div>
</body>

<app-security-modal [allUserList]="allUserList" [allSemanticList]="allSemanticList"></app-security-modal>

<app-privilege-modal (update)="refreshRoles()"></app-privilege-modal>