  <app-header></app-header>

  <body class="mat-body-styles">

    <div class="container-fluid">
      <div class="btn btn-default">
        <b class="bsizing">Roles and Responsibilities</b>
        <div class="dropdown-toggle" data-toggle="dropdown" (click)="toggle()" id="bt">
          <b>New/Edit Role</b>{{ buttonName }}
        </div>
        <ul class="dropdown-menu mddropdown">
          <li (click)="getSecurityDetails()">
            <a data-toggle="modal" data-target="#semanticModal" class="dropdown-value-styles">Security</a>
          </li>
          <hr />
          <li>
            <a data-toggle="modal" data-target="#privilegeModal" class="dropdown-value-styles">Privileges</a>
          </li>
        </ul>
      </div>

      <mat-table [dataSource]="dataSource" matSort class="changes">
        <ng-container matColumnDef="name">
          <mat-header-cell class=" name-width" *matHeaderCellDef mat-sort-header><b>NAME</b></mat-header-cell>
          <mat-cell *matCellDef="let result" class=" name-width">{{result.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="user_id">
          <mat-header-cell class=" userid-width" *matHeaderCellDef mat-sort-header><b>USER ID</b></mat-header-cell>
          <mat-cell *matCellDef="let result" class=" userid-width">{{result.user_id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="role">
          <mat-header-cell class=" role-width" *matHeaderCellDef mat-sort-header><b>ROLE</b></mat-header-cell>
          <mat-cell *matCellDef="let result" class=" role-width">{{result.role}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="semantic_layers">
          <mat-header-cell class=" asl-width" *matHeaderCellDef mat-sort-header><b>ACCESSED SEMANTIC LAYERS</b>
          </mat-header-cell>
          <mat-cell *matCellDef="let result" class=" asl-width">{{result.semantic_layers}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="privilages">
          <mat-header-cell class=" privileges-width" *matHeaderCellDef mat-sort-header><b>PRIVILEGES</b></mat-header-cell>
          <mat-cell *matCellDef="let result" class=" privileges-width">{{result.privilages}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns" color="grey"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>

      <div class="emptyMsgDiv" *ngIf="isEmptyTables">No Data available</div>

    </div>



  </body>

  <app-security-modal [allUserList]="allUserList" [allSemanticList]="allSemanticList"></app-security-modal>
  <app-privilege-modal></app-privilege-modal>