/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 5;
  
}

.mat-header-cell{
  /* background-color: #c0c0c0; */
  background-color:#5b6969;
  color: white;
  height:25;
  position: sticky;
  top:0;
 
}

/* .mat-sort-header-stem {
  background: white;
  height: 10px;
  width: 2px;
  margin: auto;
  display: flex;
  align-items: center;
}

.mat-sort-header-pointer-left {
 color: white;
}

.mat-sort-header-pointer-right {
  color: white;
 } */

 /* .mat-sort-header-arrow ng-trigger ng-trigger-arrowPosition{
  color: white;
  transform: translateY(25%);
  opacity: 1;
 } */

 .mat-sort-header-arrow {
  color: white !important;
  transform: translateY(0px);
  opacity: 1;
 }
.mddropdown {
	background-color: rgb(0,110,140);
	color: white !important;
	padding:10px 10px;
	border: 1px solid rgb(0,150,150);
	
}

.mat-sort-header-arrow {
  color: white !important;
}

.mat-row:nth-child(even){
  background-color:white;
  }

.mat-row:nth-child(odd){
  background-color:#dcf0f7;
  }

.mat-table{
  width:auto;
}

  .rect{
    display: inline-block;
    height: 25%;
    width: 100%;
    background-color: blue;
    text-align: center;
    color: white;
  }

.rect2{
    display: inline-block;
    height: 25%;
    width: 25%;
    background-color: blue;
    text-align: center;
    color: white;
  }

  .overide{
    font-size: 125%;
  }

  .contanier-fluid{
    height: 75%;
  }
  
  .inter{
    font-style: bold;
  }

  .btn-primary{
    background-color: orange;
    color: white;
    position: absolute;
    right: 5%;
    
  }

  .btn-primary:hover{
    background-color: orange;
    color: white;
    
  }

  .btn-primary:click{
    background-color: orange;
    color: white;
    
  }


  .btn-default {
    background-color: teal;
    color: white;
    width:100%;
    position: relative;
    cursor: default;
}

  .btn-default:hover {
    background-color:teal;
    color: white;
}

  .bsizing{
    font-size:200%;
    color: white;
  }

  .mat-cell{
    height :10%
  }

.changes{
  overflow-y:scroll;
  height:50%;
    /*Change in the values here.*/
}
.dropdown-toggle{
  background-color: orange;
  box-shadow: 0 0 0 0 orange;
  position: fixed;
  width: 10%;
  height: 4%;
  left: 85.5%;
  top: 9.5%;
  cursor: pointer;
  padding:0.4%;
  align-content: center;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #003748;
  border-color: #003748;
}

.dropdown-toggle::after {
display: none;
}