<app-header></app-header>

<div class="top-nav-bar">
  <ul class="nav nav-pills nav-fill" (click)="showReportsNav()" style="height:100%">
    <li class="nav-item">
      <a class="nav-link" routerLink="../user" routerLinkActive="active-route">Request Management Portal</a>
    </li>
    <li class="nav-item" *ngIf="isButton" >  
      <a class="nav-link" routerLink="sem-reports" routerLinkActive="active-route" (click)="setDqm(false)">Reports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="sem-sl" routerLinkActive="active-route">Semantic Layer</a>
    </li>
    <li class="nav-item" *ngIf="isButton">
      <a class="nav-link"  routerLink="dqm" routerLinkActive="active-route" (click)="setDqm(true)">DQM</a>
    </li>
    <!-- <li class="nav-item" *ngIf="isButton" >
      <a class="nav-link" routerLink="scheduled-reports" routerLinkActive="active-route">Scheduled Reports</a>
    </li> -->
  </ul>
</div>

<!-- <app-reports-navbar *ngIf="isReportsActive"></app-reports-navbar> -->

<div class="wrapper">
  <app-object-explorer-sidebar></app-object-explorer-sidebar>

  <app-related-tables-sidebar *ngIf="isReportsActive"></app-related-tables-sidebar>
  
  <div class="routingOutlet">
    <router-outlet></router-outlet>
  </div>
</div>