<app-header></app-header>

<div class="top-nav-bar">
    <a routerLink="sem-home">
        <button id="home" (click)="clickHome()">Home</button>
    </a>
    <a routerLink="sem-reports">
        <button id="reports" (click)="clickReports()">Reports</button>
    </a>
    <a routerLink="sem-sl">
        <button id="sl" (click)="clickSL()">Semantic Layer</button>
    </a>
    <a routerLink="sem-rmp">
        <button id="rmp" (click)="clickRMP()">Request Management Portal</button>
    </a>
    <a routerLink="sem-dqm">
        <button id="dqm" (click)="clickDQM()">DQM</button>
    </a>
</div>

<div class="wrapper">
    <!-- Sidebar  -->
    <app-object-explorer-sidebar></app-object-explorer-sidebar>

    <!-- Page Content  -->
    <div id="main">

        <app-semantic-sl></app-semantic-sl>

        <div class="routingOutlet">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
