<div class="header-container">
  <div class="header-cont-part" style="width: 40%;">
    <img id="DDM_logo" src="/assets/OFT_Logo.jpg" (click)="role()">
    <div class="header-title">
      Order Fulfillment Distribution Data Mart
    </div>
  </div>
  <div style="" class="menu-container">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="menu">
        <a routerLink="main" routerLinkActive="active">Menu</a>
      </mat-button-toggle>
      <mat-button-toggle value="submit">
        <a routerLink="disclaimer" routerLinkActive="active">Submit Request</a>
      </mat-button-toggle>
      <mat-button-toggle value="request">
        <a routerLink="request-status" routerLinkActive="active">Request Status</a>
      </mat-button-toggle>
      <mat-button-toggle value="report">
        <a routerLink="reports" routerLinkActive="active">Reports</a>
      </mat-button-toggle>
      <mat-button-toggle value="metrics" *ngIf="user_role=='Admin'">
        <a routerLink="metrics" routerLinkActive="active">Metrics</a>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <!-- <a routerLink="main" routerLinkActive="active"><button mat-button>Main
        Menu</button></a>
    <a routerLink="disclaimer" routerLinkActive="active"><button mat-button>Submit
        Request</button></a>
    <a routerLink="request-status" routerLinkActive="active"><button mat-button>Request
        Status</button></a>
    <a routerLink="reports" routerLinkActive="active"><button mat-button>Reports</button></a>
    <a *ngIf="user_role=='Admin'" routerLink="metrics" routerLinkActive="active"><button mat-button>Metrics</button></a> -->
  </div>
  <div class="header-cont-part" style="justify-content: flex-end; width: 25%;">
    <button mat-icon-button style="margin-right: 15px;" [matMenuTriggerFor]="notifcations">
      <mat-icon [matBadge]="notification_number" matBadgeColor="warn" class="notification-icon">notifications_active
      </mat-icon>
    </button>
    <mat-menu #notifcations="matMenu" class="notification-list">
      <ng-container *ngIf="notification_list">
        <ng-container *ngIf="notification_set.size != 0">
          <button mat-menu-item *ngFor="let element of notification_set"
            [ngClass]="{'alert-notification':element.comment_read_flag == false}"
            title="You have unread messages in Request #{{element.reportNo}}">
            <span style="display: inline-block;width:100%;height: 100%;">
              You have unread messages in Request #{{element.reportNo}}
            </span>
          </button>
        </ng-container>
        <ng-container *ngIf="notification_set.size == 0">
          <button mat-menu-item>No unread messages</button>
        </ng-container>
      </ng-container>
    </mat-menu>

    <div class="user-data-container">
      <div>
        <mat-icon [matMenuTriggerFor]="menu" style="font-size: 6.4vh;color: white;cursor: pointer;">perm_identity
        </mat-icon>
      </div>
      <div id="role-text" class="user-details">
        <div>{{roles.first_name}} {{roles.last_name}} </div>
        <div style="text-align: right;">{{roleName.role}}</div>
      </div>
      <div style="margin-left : 12px;">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="menuList">
          <mat-icon style="color: white;font-size : 30px;">arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <ng-container *ngIf="roleName.role == 'Admin'" class="dropdown-menu" id="list1">
            <button mat-menu-item class="preferences" [matMenuTriggerFor]="language">Preferences</button>
            <button mat-menu-item class="help" [matMenuTriggerFor]="help">Help</button>
          </ng-container>
          <ng-container *ngIf="roleName.role != 'Admin'" class="dropdown-menu" id="list1">
            <button mat-menu-item [matMenuTriggerFor]="help">Help</button>
          </ng-container>
        </mat-menu>
        <mat-menu #language="matMenu">
          <button mat-menu-item>English</button>
          <button mat-menu-item disabled>Español</button>
          <button mat-menu-item disabled>français</button>
        </mat-menu>
        <mat-menu #help="matMenu">
          <button mat-menu-item class="button-rmp" (click)="redirect('RMP')">RMP</button>
        </mat-menu>
      </div>
    </div>
  </div>
</div>