.header-container{
    height: 8vh;
    display: flex;
    background: #283f52;
    position: relative;
    z-index: 1;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),
                0px 6px 10px 0px rgba(0,0,0,0.14),
                0px 1px 18px 0px rgba(0,0,0,0.72)
}
#DDM_logo{
    width: 85px;
    height: 100%;
    cursor: pointer;
}
#DDM_logo img{
    height: 100%;
}
.header-title{
    color: white;
    font-size: 24px;
    font-weight: 800;
    margin-left: 20px;
}
.header-cont-part{
    width: 50%;
    display: flex;
    align-items: center;
}
.user-details{
    margin-left: 35px;
    color: white;
    font-size: 15px;
}
.notification-icon{
    font-size: 30px;
    color: white;
}
.user-data-container{
    display: flex;
    align-items: center;
    margin-right: 34px;
}
::ng-deep .notification-list{
    max-height: 296px !important;
    max-width: 350px !important;
}

.mat-badge-medium .mat-badge-content {
    min-width: 20px;
    width: auto;
  }


