.header-container{
    height: 8vh;
    display: flex;
    background: #283f52;
    /* background-image: linear-gradient( rgb(38, 61, 79),rgb(63, 100, 131)); */
    position: relative;
    z-index: 1;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),
                0px 6px 10px 0px rgba(0,0,0,0.14),
                0px 1px 18px 0px rgba(0,0,0,0.72)
}
#DDM_logo{
    width: 64px;
    height: 100%;
    cursor: pointer;
}
#DDM_logo img{
    height: 100%;
}
.header-title{
    color: white;
    font-weight: 800;
    margin-left: 20px;
}
.header-cont-part{
    display: flex;
    align-items: center;
}
.user-details{
    margin-left: 35px;
    color: white;
    width: max-content;
}
.notification-icon{
    font-size: 30px;
    color: white;
}
.user-data-container{
    display: flex;
    align-items: center;
    margin-right: 5px;
}
::ng-deep .notification-list{
    max-height: 296px !important;
    max-width: 350px !important;
}
.menu-container{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-container a{
    color: rgba(255, 255, 255, 0.815);
}
.menu-container a button{
    font-weight: 500;
}
.menu-container a button:hover{
    border:1px solid rgba(255, 255, 255, 0.384);
}
.menu-container a button.active{
    font-weight: 800;
    color: #fff;
}
