<div class="header-container">
  <div class="header-cont-part">
    <img id="DDM_logo" src="/assets/OFT_Logo.jpg" (click)="role()">
    <div class="header-title">
      Order Fulfillment Distribution Data Mart
    </div>
  </div>
  <div class="header-cont-part" style="justify-content: flex-end;">
    <button mat-icon-button style="margin-right: 55px;" [matMenuTriggerFor]="notifcations">
      <mat-icon *ngIf="notification_number != 0"  [matBadge]="notification_number" matBadgeColor="warn" class="notification-icon">notifications_active
      </mat-icon>
      <mat-icon *ngIf="notification_number == 0"   matBadgeColor="warn" class="notification-icon">notifications_active
      </mat-icon>
    </button>
    <mat-menu #notifcations="matMenu" class="notification-list">
      <ng-container *ngIf="notification_list">
        <ng-container *ngIf="notification_list.length != 0">
          <button mat-menu-item *ngFor="let element of unreadNotificationList"
            [ngClass]="{'alert-notification':element.comment_read_flag == false}"
            title="You have unread messages in Request #{{element.reportNo}}">
            <span style="display: inline-block;width:100%;height: 100%;" *ngIf="element.comment_read_flag == false">
              You have {{element?.count}} unread messages in Request #{{element.reportNo}}
            </span>
            <span style="display: inline-block;width:100%;height: 100%;" *ngIf="element.comment_read_flag == true">
              You have {{element?.count}} messages in Request #{{element.reportNo}}
            </span>
          </button>
        </ng-container>
        <ng-container *ngIf="notification_list.length == 0">
          <button mat-menu-item>No unread messages</button>
        </ng-container>
      </ng-container>
    </mat-menu>

    <div class="user-data-container">
      <div>
        <mat-icon [matMenuTriggerFor]="menu" style="font-size: 6.4vh;color: white;cursor: pointer;">perm_identity
        </mat-icon>
      </div>
      <div id="role-text" class="user-details">
        <div>{{roles.first_name}} {{roles.last_name}} </div>
        <div style="text-align: right;">{{roleName.role}}</div>
      </div>
      <div style="margin-left : 12px;">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="menuList">
          <mat-icon style="color: white;font-size : 30px;">arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <ng-container *ngIf="roleName.role == 'Admin'" class="dropdown-menu" id="list1">
            <button mat-menu-item class="preferences" [matMenuTriggerFor]="language">Preferences</button>
            <button mat-menu-item class="help" [matMenuTriggerFor]="help">Help</button>
          </ng-container>
          <ng-container *ngIf="roleName.role != 'Admin'" class="dropdown-menu" id="list1">
            <button mat-menu-item [matMenuTriggerFor]="help">Help</button>
          </ng-container>
        </mat-menu>
        <mat-menu #language="matMenu">
          <button mat-menu-item>English</button>
          <button mat-menu-item disabled>Español</button>
          <button mat-menu-item disabled>français</button>
        </mat-menu>
        <mat-menu #help="matMenu">
          <button mat-menu-item class="button-rmp" (click)="redirect('RMP')">RMP</button>
        </mat-menu>
      </div>
    </div>
  </div>
</div>