
.top{
    height: 8vh;
    align-content: center;
}


#tp{
    background-color: linear-gradient(rgb(27, 116, 206), rgb(133, 187, 241));
    background-image: linear-gradient(rgb(38, 61, 79), rgb(63, 100, 131));
}

.userDetsWrapper {
    font-size: 16px;
}

.userName{
    font-size: 16px;
}
.userRole{
    font-size: 12px;
    font-style: italic;
}

.bottom{ 
    background-color:rgb(00,55,72);
    height: 5vh;
    align-content: center;
}

#bt{
    background-color:rgb(00,55,72);
}

#mu_logo{
    height: 100%;
    width: 15%;
    float: left;
}

#dummy{
    height: 100%;
    width: 70%;
    float: left;
}

.dropdown-menu {
    background-color:white;
	color: black;
	padding:10px 10px 7.5px 12px;
	border: 1px solid rgb(0,150,150);
    position: fixed;
    width:10%;
    top: 17%;
    left: 94%;
    transform: translate(-50%, -50%);
    margin: auto;
}

.astyles1:hover{
    color: white;
    background-color: teal;
    padding: 5px 0px 5px 20px;
    cursor: pointer;

}

.astyles1 {
    padding: 5px 0px 5px 20px;
    cursor: pointer;
}

.astyles2 {
    padding: 5px 0px 5px 20px;
    cursor: pointer;
}

.app-uistyles{
    height:90%;
    background: transparent !important; 
    border: none;
    padding: 0%;
    margin: 0%;
    width: 80%;
}

.dropdown-toggle{
    background: transparent !important ; 
    border: none;
}

.app-tstyles{
    color:white;
    position: fixed;
    top:1.5%;
    left:7% ;
    font-size:225%;
}

.astyles2:hover{
    color: white;
    background-color: teal;
    padding: 5px 0px 5px 20px;
    cursor: pointer;
}

.hc-bstyles{
    border-color: #003748;padding: 0px;left: 94.5%;position: absolute;top: 1%;height: 6.5%;
}

.hc-bstyles:hover{
    border-color: #003748;
}

.dropdown-toggle:hover{
    background-color: #003748;
}

/* .dropdown-toggle{
    background-color: #003748;
    box-shadow: 0 0 0 0 #003748;
    position: fixed;
    width: 1%;
    height: 5%;
    left: 97.5%;
    top: 3%;
    cursor: pointer;
} */

/* To avoid sky-blue border */
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #003748;
}


.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #003748;
    border-color: #003748;
}

/* To avoid sky-blue non-border elements */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #003748;
    border-color: #003748;
}

primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 #003748;
}

.btn-primary:hover {
    color: #fff;
    background-color: #003748;
    border-color: #003748;
}

#DDM_logo{
    width: 5%;
    height: 80%;
    float: left;
    cursor: pointer;
}

#ddm-text{
    position: relative;
    left: 0.5%;
    width: 50%;
    height: 80%;
    float: left;
    color: white;
    font-size: 3.5vh;
    font-family: Helvetica;
    padding-top: 0.9%;
}


.hc-repstyles{
    width:95%;
    position: relative;
    left:300%;
}

.hc-bstyles{
    position: fixed;
    top: 1%;
    left: 91%;
    border-color:#003748; 
}
#role-logo {
    float: right;
    padding-top:2%;
    border-color: aliceblue;
}

#role-text {
    text-align: center;
    font-family: Helvetica;
    height: 100%;
    width: 85%;
    float: left;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}
.userIconWrapper{
    width: 15%;
    float: left;
    height: 100%;
}
#admin-text{
    float: left;
    text-align: left;
    font-size: 100%;
    font-family: Helvetica;
    padding-bottom: 5%;
    margin-bottom:30%;
    margin:0px;
}

#user_logo{
    width: 45%;
    height: 100%;
    float: left;
    color: white;
}


#copyrights{
    height: 100%;
    width: 15%;
    float: left;
    color: white;
    
}

#mu_logo > img{
    max-width:100%;
    max-height:94.4%;  
}

#mn{
    background-color: rgb(00,78,99);
}

.btn{
    background-color: #003748;  
    position:relative;left:50%;bottom:0%  
}
.main{
    height: 88vh;
    align-content: center;
}

.dropdown-toggle::after {
    color:#fff;
}