.bottom {
  height: 5vh;
  align-content: center;
  background-color: rgb(00,55,72);
}

/* #bt{
    background-color: rgb(00,55,72);
} */

#mu_logo {
  height: 100%;
  width: 15%;
  float: left;
}

/* #dummy{
    height: 100%;
    width: 70%;
    float: left;
} */

#version {
  color: #fff;
  height: 100%;
  width: 70%;
  float: left;
  text-align: center;
  padding: 1em 0;
}

#copyrights {
  height: 100%;
  width: 15%;
  float: left;
  color: white;
  padding: 1em 0;
  text-align: center;
}

#mu_logo > img {
  max-width:100%;
  max-height:94.4%;
}