#sidebar.active {
  position: absolute;
  left: -30%;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

body {
  /* font-family: "Poppins", sans-serif; */
  background: #fafafa;
}

p {
  /* font-family: "Poppins", sans-serif; */
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  /* height: 80.9vh; */
  background-color: #333030;
  height: 80.5vh;
  color: #fff;
  transition: all 0.3s;
  z-index: 105;
  position: relative;
  width: 35vh;
  border-right: 1px solid #47748b;
}

#sidebar .sidebar-header {
  padding: 10px;
  height: 20%;
  background: #404040;
}

#sidebar .sidebar-header h3 {
  display: inline-block;
  font-size: 22px;
  /* vertical-align: super; */
}

#sidebar .sidebar-header span {
  float: none;
  /* margin-left: 6px; */
}

#sidebar ul.components {
  padding: 15px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}


#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

.toggle-icon {
  cursor: pointer;
  bottom: 100px;
  left: 90%;
  position: relative;
}

#sidebar ul li.active {
  padding: 5px 10px;
  overflow-y: auto;
  width: 100%;
  max-height: 16vh;
}

#sidebar ul li.active::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}


#sidebar ul li.active::-webkit-scrollbar {
  width: 12px;
}

#sidebar ul li.active::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #303030;
}

select option::-webkit-scrollbar {
  width: 12px;
}

select option::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #303030;
}

select option::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: rgb(87, 87, 87);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: rgb(87, 87, 87);
}

#collapseExample {
  padding: 0px 10px;
}
#enablesearch{
  padding: 0px 10px;
}
span {
  float: left;
}

#sidebar .inside-heading {
  float: right;
  padding-right: 10%;
  display: inline-flex;
  display: none;
  background-color: rgb(87, 87, 87);
}

.top-heading {
  font-size: 120%;
  padding-left: 10px;
}

#sidebar .inside-top-heading {
  float: right;
  padding-right: 5%;
  display: inline-flex;
}

#sidebar a:hover .inside-heading {
  display: block;
  background: transparent;
}

#toggleButtonArea {
  background-color: #004e63;
}

.routingOutlet {
  width: 100%;
  background: white;
}

.icon {
  background: transparent;
  border: none;
  padding-right: 3px;
  padding-left: 3px;
}

.toggleButtonStyle {
  background-color: rgb(0, 100, 110);
  border: none;
  height: 6vh;
  font-size: 70%;
  /* transform: rotate(-90deg); */
  margin: 0%;
  position: absolute;
  top: 22%;
  left: -18px;
  z-index: 101;
}

/* .toggleButtonStyle:hover {
  background-color: rgb(0, 100, 110);
  border: none;
  margin: none;
} */

.toggleButtonStyle:active {
  background-color: rgb(0, 78, 99);
  border: none;
  margin: none;
}

.toggleButtonStyle:visited {
  background-color: rgb(0, 78, 99);
  border: none;
  margin: none;
}

.sh-p1{
  display: inline;
}

/* .sh-p2{
  display: inline;
  vertical-align: -webkit-baseline-middle;
} */

.oes-s1styles{
  width:21px;
  height:21px;
}

.custom-table-collapse{
  text-overflow: ellipsis;
}

.oes-s2styles{
  width:14px;
  height:14px;
}

.oes-h3styles{
  text-overflow: ellipsis; 
  white-space: nowrap; 
  overflow: hidden; 
  /* width:80%; */
  width:70%;
  font: size 60%;
  margin: 20px 0px 0px 0px;
}

.oes-mistyles{
  /* width: 5px; */
  width: 4px;
}

.oes-d1styles{
  display: inline-block;
}

.oes-d2styles{
  font-size:50%; 
  text-indent:20px;
}

.oes-b1styles{
  cursor: pointer;
}

.oes-b2styles{
  display: inline-block;
}

.oes-pstyles{
  text-align:center;
  font-size:90%;
}

.oes-d3styles{
  display: inline-block;
  text-overflow: ellipsis; 
  white-space: nowrap; 
  overflow: hidden; 
  width:90%;
  font-size:90%;
}

.oes-d4styles{
  font-size:90%; 
  text-indent:20px;
}

.column-list-inner{
  display: inline-flex;
}

.custom-table-margin{
  margin-left: 18.75%;
}

.inner-loop-tables{
  padding: 1px;
  text-align: left;
}

.info-alert-styles{
  text-align:center;
  font-size:90%;
}

.inner-table-parts{
  width: 50%;
}

.sh-p2 i:nth-child(2){
  margin-left:2px;
}

.sidebar-header button {
  vertical-align: text-bottom; 
}

.oes-d3Customstyles{
  display: inline-block;
}


.select-dropdown{
   border: #f5f5f5;
  background-color: #303030 !important;
  text-overflow: ellipsis;
  color: white !important;
  padding: 10px;
  max-width: 85% !important;
  border-radius: 10px;
}

#sidebar ::ng-deep .mat-select{
  border-color: white !important;
}

#sidebar ::ng-deep .mat-select-value-text{
  color: white !important;
}

#sidebar ::ng-deep .mat-select-placeholder{
   color: white !important;
}

#sidebar ::ng-deep .mat-select-value{
color: white !important;
}

::ng-deep .mat-select-panel{
  /* background-color: #303030 !important; */
  width: 224px !important;
}

::ng-deep .mat-select-panel-wrap{
  width: 224px !important;

}

::ng-deep #custom-option{
  background-color: #303030;
  color: white;
  max-width: 244px !important;
  width: 244px !important;
}

::ng-deep #custom-option :hover{
  background-color: #404040;
  color: white !important;
}

::ng-deep .mat-select-arrow{
  color: white !important;
}

::ng-deep .mat-select-panel::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::ng-deep .mat-select-panel::-webkit-scrollbar {
  width: 12px;
}

::ng-deep .mat-select-panel::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #303030;
}

/* .sl-list{
  background-color: #303030 !important;
  text-overflow: ellipsis;
  color: white !important;
  max-width: 100% !important;
} */

/* .sl-list{
  color: white !important;
  text-overflow: ellipsis;
  background-color: #303030;
 
} */

.schema-header {
  display: block;
  float: none;
  padding-left: 10px;
  padding-bottom: 10px;
}

.custom-columns {
  padding-left: 11px;
  outline: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;   
  color: white;
  background: transparent;
  border: transparent;
  width: 84%;
  font-size: 14px;
  text-align: left;
}