<div>
  <div id="toggleButtonArea">
    <button type="button" (click)="toggle()" id="sidebarCollapse" class="btn btn-info toggleButtonStyle">
      <i class="fas fa-align-left"></i>
      <span><b>Object Explorer</b></span>
    </button>
  </div>

  <nav id="sidebar">
    <div class="sidebar-header">
        <select class="select-dropdown" (click)="fun($event)" (change)="checkSl($event)">
          <option class="sl-list" *ngFor="let item of semanticNames" [(ngValue)]="item.sl_name">
            {{item.sl_name}}
          </option>
        </select>
        <app-inline-edit  title="{{semantic_name}}" [item]="semantic_name" [itemID]="semanticId" [customClass]="'semantic-name'"
        (onSave)="checkUniqueName($event)"></app-inline-edit>
        <button *ngIf="isButton" class="icon" (click)="deleteSemanticLayer()" data-toggle="modal" data-target="#confirmationModal" title="Delete Semantic Layer">
          <svg class="oes-s1styles" viewBox="0 0 24 24">
            <path fill="#ffffff" d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" />
          </svg>
        </button>  
      <div class="sh-p2"><span (click)="toggle()" class="toggle-icon">
          <i class="material-icons oes-mistyles">keyboard_arrow_left</i>
          <i class="material-icons">keyboard_arrow_left</i>
        </span></div>
    </div>

    <ul *ngIf="isButton" class="list-unstyled components">
      <label class="top-heading"><b>Tables</b></label>

      <div class="inside-top-heading">
        <button *ngIf="roles.role_id == 1" class="icon" (click)="setAction('ADD')" data-toggle="modal" data-target="#tablesSelectionModal"
          title="Add tables">
          <svg class="oes-s1styles" viewBox="0 0 24 24">
            <path fill="#ffffff" d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
          </svg>
        </button>

        <button *ngIf="roles.role_id == 1 && columns.length > 0" class="icon" (click)="setAction('REMOVE')" data-toggle="modal" data-target="#tablesSelectionModal"
          title="Remove tables">
          <svg class="oes-s1styles" viewBox="0 0 24 24">
            <path fill="#ffffff" d="M17,13H7V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
          </svg>
        </button>

        <button *ngIf="roles.role_id == 1 && columns.length > 0" class="icon" data-toggle="modal" data-target="#createRelationModal" title="Create New Relationship">
          <svg class="oes-s1styles" viewBox="0 0 24 24">
            <path fill="#ffffff" d="M10.59,13.41C11,13.8 11,14.44 10.59,14.83C10.2,15.22 9.56,15.22 9.17,14.83C7.22,12.88 7.22,9.71 9.17,7.76V7.76L12.71,4.22C14.66,2.27 17.83,2.27 19.78,4.22C21.73,6.17 21.73,9.34 19.78,11.29L18.29,12.78C18.3,11.96 18.17,11.14 17.89,10.36L18.36,9.88C19.54,8.71 19.54,6.81 18.36,5.64C17.19,4.46 15.29,4.46 14.12,5.64L10.59,9.17C9.41,10.34 9.41,12.24 10.59,13.41M13.41,9.17C13.8,8.78 14.44,8.78 14.83,9.17C16.78,11.12 16.78,14.29 14.83,16.24V16.24L11.29,19.78C9.34,21.73 6.17,21.73 4.22,19.78C2.27,17.83 2.27,14.66 4.22,12.71L5.71,11.22C5.7,12.04 5.83,12.86 6.11,13.65L5.64,14.12C4.46,15.29 4.46,17.19 5.64,18.36C6.81,19.54 8.71,19.54 9.88,18.36L13.41,14.83C14.59,13.66 14.59,11.76 13.41,10.59C13,10.2 13,9.56 13.41,9.17Z" />
          </svg>
        </button>

        <button class="icon" *ngIf="columns.length > 0" (click)="getSearchInput($event)" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"
          title="Search Table/Column">
          <svg class="oes-s1styles" viewBox="0 0 24 24">
            <path fill="#ffffff" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
          </svg>
        </button>

        <button class="icon" *ngIf="columns.length > 0" data-target="#visibility" title="Visibility to User" data-toggle="modal" (click)=userVisibility()>
          <svg class="oes-s1styles" viewBox="0 0 24 24">
            <path fill="#ffffff" d="M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9M12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17M12,4.5C7,4.5 2.73,7.61 1,12C2.73,16.39 7,19.5 12,19.5C17,19.5 21.27,16.39 23,12C21.27,7.61 17,4.5 12,4.5Z" />
          </svg>
        </button>
      </div>

      <div id="collapseExample" *ngIf="isCollapsed">
       <input autofocus type="text" id="tableIdSearch" class="form-control" placeholder="Search" (input)="searchTableList($event.target.value,'default')" />
      </div>

      <li class="active">
        <div *ngIf="columns.length> 0">
          <div *ngFor="let data of columns;index as i">
            <div *ngIf="data.view_to_admins">
            <app-inline-edit title="{{data.mapped_table_name}}" [item]="data.mapped_table_name" [itemID]="data.sl_tables_id" [customClass]="'table-ellipsis'"
              (onSave)="checkUniqueName($event,'table',data)" (click)="showtables(i);"></app-inline-edit>          
              <!-- getRelatedTables(data.sl_tables_id) -->
            <div *ngIf="roles.role_id == 1" class="oes-d1styles">
        </div>

            <div class="oes-d1styles">
              <button *ngIf="data.mapped_column_name.length" class="icon" (click)="selectedTable = data;isMultiColumn = false;" data-toggle="modal" data-target="#calculatedColumn" title="Create calculated column">
                <svg class="oes-s2styles" viewBox="0 0 24 24">
                  <path fill="#ffffff" d="M13,2A2,2 0 0,0 11,4V20A2,2 0 0,0 13,22H22V2H13M20,10V14H13V10H20M20,16V20H13V16H20M20,4V8H13V4H20M9,11H6V8H4V11H1V13H4V16H6V13H9V11Z" />
                </svg>
              </button>

              <button *ngIf="roles.role_id == 1" class="icon" (click)="getDependentReports(data.sl_tables_id)"
                data-toggle="modal" data-target="#dependentReportsModal" title="Delete Table">
                <svg class="oes-s2styles" viewBox="0 0 24 24">
                  <path fill="#ffffff" d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" />
                </svg>
              </button>
            </div>
            <ng-container *ngIf="button == i && isShow">
              <div *ngFor="let list of data.mapped_column_name;let j = index">
                <div class="column-list-inner oes-d2styles">
                  <div class="inner-table-parts">
                    <app-inline-edit title="{{list}}" [item]="list" [itemID]="data.sl_tables_id" [customClass]="'column-ellipsis'" (onSave)="checkUniqueName($event,'column',data, j)"></app-inline-edit>
                  </div>
                  <div class="inner-table-parts">
                    <button class="icon oes-b1styles" data-toggle="modal" data-target="#colprop" (click)="columnProperties(data.sl_tables_id,list)"
                      title="Column Properties">
                      <svg class="oes-s2styles" viewBox="0 0 24 24">
                        <path fill="#ffffff" d="M18.68,12.32C16.92,10.56 14.07,10.57 12.32,12.33C10.56,14.09 10.56,16.94 12.32,18.69C13.81,20.17 16.11,20.43 17.89,19.32L21,22.39L22.39,21L19.3,17.89C20.43,16.12 20.17,13.8 18.68,12.32M17.27,17.27C16.29,18.25 14.71,18.24 13.73,17.27C12.76,16.29 12.76,14.71 13.74,13.73C14.71,12.76 16.29,12.76 17.27,13.73C18.24,14.71 18.24,16.29 17.27,17.27M10.9,20.1C10.25,19.44 9.74,18.65 9.42,17.78C6.27,17.25 4,15.76 4,14V17C4,19.21 7.58,21 12,21V21C11.6,20.74 11.23,20.44 10.9,20.1M4,9V12C4,13.68 6.07,15.12 9,15.7C9,15.63 9,15.57 9,15.5C9,14.57 9.2,13.65 9.58,12.81C6.34,12.3 4,10.79 4,9M12,3C7.58,3 4,4.79 4,7C4,9 7,10.68 10.85,11H10.9C12.1,9.74 13.76,9 15.5,9C16.41,9 17.31,9.19 18.14,9.56C19.17,9.09 19.87,8.12 20,7C20,4.79 16.42,3 12,3Z" />
                      </svg>
                    </button>

                    <button class="icon oes-b1styles" data-toggle="modal" data-target="#listOfValues" (click)="listofvalues(list,data.mapped_table_name)"
                      title="List of Values">
                      <svg class="oes-s2styles" viewBox="0 0 24 24">
                        <path fill="#ffffff" d="M7,5H21V7H7V5M7,13V11H21V13H7M4,4.5A1.5,1.5 0 0,1 5.5,6A1.5,1.5 0 0,1 4,7.5A1.5,1.5 0 0,1 2.5,6A1.5,1.5 0 0,1 4,4.5M4,10.5A1.5,1.5 0 0,1 5.5,12A1.5,1.5 0 0,1 4,13.5A1.5,1.5 0 0,1 2.5,12A1.5,1.5 0 0,1 4,10.5M7,19V17H21V19H7M4,16.5A1.5,1.5 0 0,1 5.5,18A1.5,1.5 0 0,1 4,19.5A1.5,1.5 0 0,1 2.5,18A1.5,1.5 0 0,1 4,16.5Z" />
                      </svg>
                    </button>

                    <button *ngIf="roles.role_id == 1" class="icon" title="Delete Column" data-toggle="modal" data-target="#confirmationModal"
                    data-dismiss="modal" (click)='deleteColumn(data,j)'>
                      <svg class="oes-s2styles" viewBox="0 0 24 24">
                        <path fill="#ffffff" d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </ng-container>
            </div>
          </div>
        </div>
        <div *ngIf="!columns.length">
          <p class="oes-pstyles">No Data available</p>
        </div>
      </li>
    </ul>

    <ul *ngIf="isButton" class="list-unstyled components">
      <label class="top-heading"><b>Custom Tables</b></label>
      <div class="inside-top-heading">
        <button class="icon" title="Create Custom Table" (click)="navigateSQLBuilder()">
          <svg class="oes-s1styles" viewBox="0 0 24 24">
            <path fill="#ffffff" d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
          </svg>
        </button>
        <button *ngIf="roles.role_id == 1" class="icon" (click)="setAction('REMOVECUSTOM')" data-toggle="modal" data-target="#tablesSelectionModal"
        title="Remove custom tables">
        <svg class="oes-s1styles" viewBox="0 0 24 24">
          <path fill="#ffffff" d="M17,13H7V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
        </svg>
      </button>
        <!-- <button class="icon" title="Create New Relationship">
          <svg class="oes-s1styles" viewBox="0 0 24 24">
            <path fill="#ffffff" d="M10.59,13.41C11,13.8 11,14.44 10.59,14.83C10.2,15.22 9.56,15.22 9.17,14.83C7.22,12.88 7.22,9.71 9.17,7.76V7.76L12.71,4.22C14.66,2.27 17.83,2.27 19.78,4.22C21.73,6.17 21.73,9.34 19.78,11.29L18.29,12.78C18.3,11.96 18.17,11.14 17.89,10.36L18.36,9.88C19.54,8.71 19.54,6.81 18.36,5.64C17.19,4.46 15.29,4.46 14.12,5.64L10.59,9.17C9.41,10.34 9.41,12.24 10.59,13.41M13.41,9.17C13.8,8.78 14.44,8.78 14.83,9.17C16.78,11.12 16.78,14.29 14.83,16.24V16.24L11.29,19.78C9.34,21.73 6.17,21.73 4.22,19.78C2.27,17.83 2.27,14.66 4.22,12.71L5.71,11.22C5.7,12.04 5.83,12.86 6.11,13.65L5.64,14.12C4.46,15.29 4.46,17.19 5.64,18.36C6.81,19.54 8.71,19.54 9.88,18.36L13.41,14.83C14.59,13.66 14.59,11.76 13.41,10.59C13,10.2 13,9.56 13.41,9.17Z" />
          </svg>
        </button> -->
        <button class="icon" title="Search Custom table/Coulmn" (click)="getCustomSearchInput($event)" [attr.aria-expanded]="!EnableCustomSearch" aria-controls="enablesearch">
          <svg class="oes-s1styles" viewBox="0 0 24 24">
            <path fill="#ffffff" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
          </svg>
        </button>
      </div>
      <div id="enablesearch" *ngIf="EnableCustomSearch">
        <input autofocus type="text" id="customtableIdSearch" class="form-control" placeholder="Search" (input)="searchTableList($event.target.value,'custom')" />
      </div>
      <li> <a>
      <li class="active" style="padding-left: 0%;">
        <div *ngIf="views.length;else notShow">
          <div *ngFor="let s of views;index as j" class="inner-loop-tables">
             <app-inline-edit title="{{s.custom_table_name}}" [item]="s.custom_table_name" [itemID]="s.custom_table_id"
              (onSave)="renameCustomTable($event)" [customClass]="'table-ellipsis pointer'" (click)="showviews(j);"></app-inline-edit>

              <div class="oes-d3Customstyles">
                <button *ngIf="s.view_type"  class="icon" (click)="selectedTable = s;isMultiColumn = true;" data-toggle="modal" data-target="#calculatedColumn" title="Create calculated column">
                    <svg class="oes-s2styles" viewBox="0 0 24 24">
                      <path fill="#ffffff" d="M13,2A2,2 0 0,0 11,4V20A2,2 0 0,0 13,22H22V2H13M20,10V14H13V10H20M20,16V20H13V16H20M20,4V8H13V4H20M9,11H6V8H4V11H1V13H4V16H6V13H9V11Z" />
                    </svg>
                  </button>

                  <button *ngIf="!s.view_type"  class="icon" (click)="navigateSQLBuilder(s)" title="Custom Query Builder">
                    <svg class="oes-s2styles" viewBox="0 0 24 24">
                      <path fill="#ffffff" d="M4,14V17C4,19 7.05,20.72 11,21V18.11L11.13,18C7.12,17.76 4,16.06 4,14M12,13C7.58,13 4,11.21 4,9V12C4,14.21 7.58,16 12,16C12.39,16 12.77,16 13.16,16L17,12.12C15.4,12.72 13.71,13 12,13M12,3C7.58,3 4,4.79 4,7C4,9.21 7.58,11 12,11C16.42,11 20,9.21 20,7C20,4.79 16.42,3 12,3M21,11.13C20.85,11.13 20.71,11.19 20.61,11.3L19.61,12.3L21.66,14.3L22.66,13.3C22.87,13.1 22.88,12.76 22.66,12.53L21.42,11.3C21.32,11.19 21.18,11.13 21.04,11.13M19.04,12.88L13,18.94V21H15.06L21.12,14.93L19.04,12.88Z" />
                    </svg>
                  </button>

                <button *ngIf="roles.role_id == 1" class="icon" (click)="removeCustomTable(s.custom_table_id)"
                  data-toggle="modal" data-target="#confirmationModal" title="Delete Table">
                  <svg class="oes-s2styles" viewBox="0 0 24 24">
                    <path fill="#ffffff" d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" />
                  </svg>
                </button>
              </div>

            <ng-container *ngIf="button == j && Show">
              <div *ngFor="let list of s.mapped_column_name" class="table-ellipsis custom-table-collapse" style="padding-left: 18px">
                  {{list | uppercase}}

                  <!-- <button class="icon" data-toggle="modal" data-target="#colprop" (click)="columnProperties(data.sl_tables_id,list)"
                    title="Column Properties">
                    <svg class="oes-s2styles" viewBox="0 0 24 24">
                      <path fill="#ffffff" d="M18.68,12.32C16.92,10.56 14.07,10.57 12.32,12.33C10.56,14.09 10.56,16.94 12.32,18.69C13.81,20.17 16.11,20.43 17.89,19.32L21,22.39L22.39,21L19.3,17.89C20.43,16.12 20.17,13.8 18.68,12.32M17.27,17.27C16.29,18.25 14.71,18.24 13.73,17.27C12.76,16.29 12.76,14.71 13.74,13.73C14.71,12.76 16.29,12.76 17.27,13.73C18.24,14.71 18.24,16.29 17.27,17.27M10.9,20.1C10.25,19.44 9.74,18.65 9.42,17.78C6.27,17.25 4,15.76 4,14V17C4,19.21 7.58,21 12,21V21C11.6,20.74 11.23,20.44 10.9,20.1M4,9V12C4,13.68 6.07,15.12 9,15.7C9,15.63 9,15.57 9,15.5C9,14.57 9.2,13.65 9.58,12.81C6.34,12.3 4,10.79 4,9M12,3C7.58,3 4,4.79 4,7C4,9 7,10.68 10.85,11H10.9C12.1,9.74 13.76,9 15.5,9C16.41,9 17.31,9.19 18.14,9.56C19.17,9.09 19.87,8.12 20,7C20,4.79 16.42,3 12,3Z" />
                    </svg>
                  </button>

                  <button class="icon" data-toggle="modal" data-target="#listOfValues" (click)="listofvalues(list,data.mapped_table_name)"
                    title="List of Values">
                    <svg class="oes-s2styles" viewBox="0 0 24 24">
                      <path fill="#ffffff" d="M13,2A2,2 0 0,0 11,4V20A2,2 0 0,0 13,22H22V2H13M20,10V14H13V10H20M20,16V20H13V16H20M20,4V8H13V4H20M9,11H6V8H4V11H1V13H4V16H6V13H9V11Z" />
                    </svg>
                  </button> -->

                  <button *ngIf="roles.role_id == 1" class="icon" title="Delete Column">
                    <svg class="oes-s2styles" viewBox="0 0 24 24">
                      <path fill="#ffffff" d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" />
                    </svg>
                  </button>
              </div>
            </ng-container>
          </div>
        </div>
        <ng-template #notShow>
          <div>
            <p class="info-alert-styles" >No Custom tables available</p>
          </div>
        </ng-template>
      </li>
      </a></li>
    </ul>
  </nav>
</div>

<app-modallist [values]="values" [Loading]="Loading"></app-modallist>

<app-property [properties]="properties" [loader]="loader"></app-property>

<app-visibility [slTables]="slTables" [isLoad]="isLoad" (sendData)="changeView($event)"></app-visibility>

<app-new-relation-modal></app-new-relation-modal>

<app-tables-selection-modal *ngIf="isCustomTable" [isLoading]="isLoading" [tables]="views" [action]="action" (setSelection)="setSelectedTables($event)"></app-tables-selection-modal>

<app-tables-selection-modal *ngIf="!isCustomTable" [isLoading]="isLoading" [tables]="tables" [action]="action" (setSelection)="setSelectedTables($event)"></app-tables-selection-modal>

<app-dependents-modal [isLoading]="isLoading" [reports]="dependentReports"></app-dependents-modal>

<app-confirm-modal (confirm)="confirmFn()" [confirmText]="confirmText" [confirmHeader]="confirmHeader"></app-confirm-modal>

<app-calculated-column [table]="selectedTable" [allowMultiColumn]="isMultiColumn" (save)="createCalculatedColumn($event)"></app-calculated-column>
