<div class="modal-container">
  <div class="modal-header">
    Parameters
    <mat-icon style="cursor:pointer;" (click)="closeDailog();">close</mat-icon>
  </div>
  <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">

    <mat-tab label="Create Parameter">
      <app-create-parameters [data]="data" *ngIf="dataInject"></app-create-parameters>
      <div class="loader" *ngIf="!dataInject">
        <div>Loading......</div>
      </div>
    </mat-tab>
    <mat-tab label="Manage Parameter">
     <!-- <app-manage-parameters *ngIf="dataInject" [data]="data" (editCondition)="enableEditingTab($event)"
     [inputConditionsList]="conditionsList"></app-manage-parameters> -->
      <div class="loader" *ngIf="!dataInject">
        <div >Loading......</div>
      </div>
    </mat-tab>
    <mat-tab label="Edit Parameter" *ngIf="enableEditing">
        <!-- <app-create-parameters [data]="data" [editData]="editingData" (editDone)="editingDone($event)"
        [isEdit]="true"></app-create-parameters> -->
    </mat-tab>
  </mat-tab-group>
</div>