<div class="modal-container">
  <div class="modal-header">
    <h3 class="modal-title help-title">Change file selections</h3>
    <mat-icon style="cursor:pointer;" (click)="closeDialog();">close</mat-icon>
  </div>
  <div class="modal-body">
    <div *ngFor="let file of data">
      <div class="col-xs-10">
        {{ file.name }}
      </div>
      <div class="col-xs-2">
        <a data-toggle="tooltip" title="delete file"><i id="ic" class="material-icons pointer"
            (click)="deleteFileCapture(file)">delete</i></a>
      </div>
    </div>
  </div>
</div>