<div class="modal-search">
  <span class="float-left"><strong>User: </strong> </span>
    <select id="multiple1" multiple style="margin-left:1%;">
    <option value="value 1">Value 1</option>
    <option value="value 2">Option2</option>
    <option value="value 3">QWERTY</option>
    </select>
  <button type="button" class="btn btn-primary selectbtn float-left;">Select</button>
</div>
    <br>
    <div class="privtext"><strong>Privileges: </strong></div>
    <div class="modal-body plist">
        <ul class="list-group">
          <li class="list-group-item"><input type="checkbox" value=""><span class="chklist">Create/edit query</span></li>
          <li class="list-group-item"><input type="checkbox" value=""><span class="chklist">View quality check statistics</span></li>
          <li class="list-group-item"><input type="checkbox" value=""><span class="chklist">Drill down reports</span></li>
          <li class="list-group-item"><input type="checkbox" value=""><span class="chklist">Share reports on landing page</span></li>
          <li class="list-group-item"><input type="checkbox" value=""><span class="chklist">Schedule reports</span></li>
          <li class="list-group-item"><input type="checkbox" value=""><span class="chklist">Create link for reports</span></li>
          <li class="list-group-item"><input type="checkbox" value=""><span class="chklist">Vehicle Info</span></li>
          <li class="list-group-item"><input type="checkbox" value=""><span class="chklist">Vehicle Info</span></li>
          <li class="list-group-item"><input type="checkbox" value=""><span class="chklist">Vehicle Info</span></li>
          <li class="list-group-item"><input type="checkbox" value=""><span class="chklist">Vehicle Info</span></li>
        </ul>
      </div>  