<div class="modal fade" id="createRelationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-ku" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Create New Relation</h3>
        <button type="button" class="close" data-dismiss="modal" (click)="cancelNewRelation()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="list-1">
          <form>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search" [value]="leftObject.lftTableSearch" (input)="filterItem($event.target.value,'left')">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit" style="padding:1.5px">
                    <a><i class="material-icons">search</i></a>
                  </button>
                </div>
              </div>
              <div class="table-wrapper">
                <div *ngFor="let table of leftObject.lftTables;let i = index">
                  <div class="collapse-div" data-toggle="collapse" [attr.href]="'#'+i" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <i style="padding: 0 2px;" class="material-icons drops">&#43;</i>
                    <div class="table-label">{{table.mapped_table_name}}</div>
                  </div>
                  <div class="collapse"  id="{{i}}" style="margin-left: 20px;"> 
                      <div class="checkbox" *ngFor="let column of table.mapped_column_name;let k = index">
                          <div class="form-check">
                            <label class="form-check-label" for="lftClm{{k}}">
                              <input type="radio" class="form-check-input" style="margin-left: -25px;" id="lftClm{{k}}" name="optradio" value="{{column.name}}" (click)="selectColumn(i,k,'left')">{{column}}
                            </label>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          
          <div class="add-button"> 
            <div class="form-group relation" style="width:100%;">
                <select class="form-control joins" [(ngModel)]="selectedJoinType" (click)="selectedJoin($event.target.value)">
                  <option value="left">Left</option>
                  <option value="right">Right</option>
                  <option value="inner">Inner</option>
                  <option value="outer">Outer</option>
                </select>
            </div>
          </div>

          <div class="list-1">
            <form>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search"  [value]="rightObject.rgtTableSearch" (input)="filterItem($event.target.value,'right')">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit" style="padding:1.5px">
                      <a><i class="material-icons">search</i></a>
                  </button>
                </div>
              </div>
              <div class="table-wrapper">
                <div *ngFor="let table of rightObject.rgtTables;let m = index">  
                  <div class="collapse-div" data-toggle="collapse" [attr.href]="'#rghtTbl'+m" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <i  style="padding: 0 2px;" class="material-icons drops">&#43;</i>
                    <div class="table-label">{{table.mapped_table_name}}</div>
                  </div>
                  <div class="collapse"  id="rghtTbl{{m}}" style="margin-left: 20px;">
                    <div class="checkbox" *ngFor="let column of table.mapped_column_name;let n = index">
                      <div class="form-check">
                        <label class="form-check-label" for="rghtClm{{n}}">
                          <input type="radio" class="form-check-input" style="margin-left: -25px;" id="rghtClm{{n}}" name="optradio" value="{{column.name}}" (click)="selectColumn(m,n,'right')">{{column}}
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelNewRelation()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="saveNewRelation()" [ngClass]="{'blocked': isSave()}" >Save</button>
      </div>
    </div>
  </div>
</div>