.modal-header {
  background-color: rgb(00, 34, 61);
  color: #ffffff;
}

.modal-body {
  width: 100%;
  color: #000000;
  background-color: rgb(226, 226, 226);
}

.modal-content,
.modal,
.modal-lg,
.modal-dialog-centered {
  width: 800px;
  justify-content: center;
  margin: auto;
}

.table-content {
  background-color: #ffffff;
  float: left;
  height: 100%;
  width: 44%;
  padding: 1%;
  /* overflow-y: scroll; */
  overflow-y: auto;
  overflow: hidden;
}

.add-button {
  background-color: rgb(226, 226, 226);
  float: left;
  height: 100%;
  width: 10%;
  color: #ffffff;
  justify-content: center;
  align-content: center;
  margin: 0.5vh;
  margin-top: 3%;
}
/* 
.list-2 {
  background-color: white;
  float: left;
  height: 100%;
  width: 44%;
  padding: 1%;
  overflow-y: scroll;
  overflow: hidden;
} */

/* #id1,
#id2 {
  width: 85%;
} */

/* .buts {
  font-size: 5vh;
  border: 1px solid grey;
  border-radius: 3%;
  color: #000000;
} */

/* .button1,
.button2 {
  width: 100%;
  padding-left: 25%;
} */

.relation {
  height: 50%;
  width: 100%;
  float: left;
  padding-left: 5px;
}

/* .relation-text {
  width: 18%;
  height: 50%;
  float: left;
  color: #000000;
  margin-left: 10%;
  margin-top: 0.5%;
}

.relation-text > b {
  width: 100%;
} */

.joins {
  padding: 1%;
  height: 80%;
  width: 100%;
}

/* .rel {
  font-size: 1vw;
} */

.drops {
  font-size: 1vw;
  border: 1px solid #000000;
  float: left;
  font-weight: bolder;
}

/* .btnm {
  margin-left: 0%;
  margin-right: 70%;
} */

.blocked {
  opacity: 0.4;
  pointer-events: none;
}

.table-wrapper {
  height: 170px;
  max-height: 170px;
  overflow-y: auto;
}

.collapse-div {
  cursor: pointer;
  /* width: fit-content; */
  width: 100%;
  margin-top: 10px;
}

.checkbox{
  margin-bottom: 0.5rem;
  padding-left: 1rem;
}

.form-check-label{
  margin-left: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* width: 114%; */
  width: 100%;
  display: inline-block;
}

.table-label {
  /* width: fit-content; */
  /* width: 75%; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 10px;
}

.close {
  color: #ffffff;
  outline: transparent;
}

.center-align{
  text-align: center;
  position: relative;
  top: 40%;
}

.p-15{
  padding:1.5px;
}

.collapse-div[aria-expanded=false] .remove-icon{
  display: none;
}

.collapse-div[aria-expanded=true] .add-icon{
  display: none;
}