#create-report-wrapper {
  min-height: 100%; 
  background:#004e63;
  padding: 30px;
  height:80.9vh; /*TODO fix*/
}

#report-name{
  min-height: 450px; 
  height: 450px; 
  background-color: #eee; 
  margin-bottom: 20px;
}