.modal-header {
    background-color: rgb(00, 34, 61);
    color: #ffffff;
}

.modal-body {
    min-height: 350px;
    height: 350px;
}

.scroll-area {
    min-height: 200px;
    height: 200px;
    overflow-y: auto;
    padding-left: 0;
}

.list-group-item {
    border: none;
}

label {
    font-weight: normal;
    padding-left: 0.4em;
}

.search {
    margin: 0.75em 0 1.1em;
    ;
}

.select-all {
    margin: 0.5em 1.1em;
}

#no-tables {
    margin-top: 6em;
    font-size: 1.1em;
    text-align: center;
}

.close {
    color: #ffffff;
    outline: transparent;
}

.spinner {
    margin: 5em auto;
    text-align: center;
}