.modal-header {
    background-color: rgb(00, 34, 61);
    color: #ffffff;
}

.modal-body {
    min-height: 350px;
    height: 350px;
}

.table-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

.modal-footer {
    padding: 15px 20px 20px;
    margin-top: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.scroll-area {
    min-height: 150sspx;
    /* height: 150px; */
    max-height: 250px;
    overflow-y: auto;
    padding-left: 0;
}

.icon {
    background: transparent;
    border: none;
    padding-right: 3px;
    padding-left: 3px;
    outline : none;
    margin-top: -12px;
  }
  

.list-group-item {
    border: none;
}

label {
    font-weight: normal;
    padding-left: 0.4em;
}

.search {
    margin: 0.75em 0 1.1em;
    ;
}

.select-all {
    margin: 0.5em 1.1em;
}

.close {
    color: #ffffff;
    outline: transparent;
}

.spinner {
    margin: 5em auto;
    text-align: center;
}

.notables {
    font-weight: 900;
    text-align: center;
}