<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <h4 class="header">STEPS TO SUBMIT A REQUEST AND VIEW RESULTS</h4>
    </div>
    <div class="col-4">
      <div class="icons">
        <div class="press">
          <a *ngIf="user_role=='Admin'" data-toggle="tooltip" title="EDIT" (click)="editTrue()"><button><i id="ic"
                class="material-icons">mode_edit</i></button></a>
          <button data-target="#helpModal" data-toggle="modal" style="padding:0%;">
            <a data-toggle="tooltip" title="HELP"><i id="ic" class="material-icons">help_outline</i></a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div><br><br>
<div  class="container-fluid border">
  <!-- <ckeditor id="first" [editor]="Editor" [(ngModel)]="naming" [disabled]="!editMode" (blur)="onChange($event)"></ckeditor> -->
  <div class="row submit-req">
    <div class="col-12"><br>Before you submit a request...<br><br></div>
    <div class="col-8">Read <button class="links" data-toggle="modal" data-target="#disclaimer-modal"
        style="cursor:pointer">Disclaimers</button> and click the Acknowledge button when complete</div>
    <div id="text" class="col-3 submit-checkbox-1">{{disclaimer_message}}</div>
    <div class="col-1"><input class="disclaimer-checkbox" type="checkbox"></div>
    <div class="col-8">If desired, go to <button class="links" (click)="navigate()" style="cursor:pointer">User
        Profile</button> to save settings for future queries</div>
    <div class="col-3 submit-checkbox-2" id="saved-settings-text">{{message}}</div>
    <div class="col-1"><input class="saved-checkbox" type="checkbox"></div><br><br>
  </div>
  &nbsp;&nbsp;<button class="btn btn-success save-text-ddm" (click)="content_edit()" style="margin-bottom:1%" *ngIf="editMode">Save</button>&nbsp;&nbsp;&nbsp;&nbsp;
  <button class="btn btn-danger save-text-ddm" (click)="editTrue()" style="margin-bottom:1%" *ngIf="editMode">Cancel</button>
  <div class="row ckEditor" id="ckEditor">

  </div>
  <!-- <ckeditor id="first" [editor]="Editor" [(ngModel)]="naming" [disabled]="!editMode" (blur)="onChange($event)">
  </ckeditor> -->

  <!-- <textarea name="message" cols="140" rows="30" *ngIf="editMode" [value]="naming" [(ngModel)]="naming" class="naming"></textarea>
      <div id = "editable">
      {{naming}}
      </div> -->
  <script>
    CKEDITOR.replace('editor', {

      height: 600,

      toolbarCanCollapse: true,

      allowedContent: true,

    });
  </script>
</div>
<!-- <div *ngIf="!saved" class="container-fluid border">
    <mat-progress-spinner style="left:40%;top:40%;" mode="indeterminate"></mat-progress-spinner>
</div> -->

<!----------------------Disclaimer Modal---------------------------->

<div id="disclaimer-modal" class="modal fade" role="dialog" data-backdrop = "static" data-keyboard = "false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row modal-title">
          <div class="col-sm-12 modal-main-heading">
            <div class="row"><img class="logo" src="/assets/OFT_Logo.jpg"><b>Order Fulfillment Distribution DataMart
                (DDM)</b></div>
          </div>
          <div class="col-sm-12" style="align-content: center; text-align:center; padding:2%"><button id="disclaimer-id"
              class="acknowledge-button btn btn-success" (click)="checkDisclaimer()">Acknowledge Disclaimers</button>
          </div>
          <div class="col-sm-10"></div>
          <div class="col-sm-1"><i id="ic" class="material-icons" (click)="captureScreen()" style="margin-top: 8px;">get_app</i></div>
          <div class="col-sm-1">
            <!-- <button type="button" class="close" data-dismiss="modal" [disabled]="!disable_close">x</button> -->
            <button id="disclaimer-close-btn" type="button" class="close" [disabled]="!check_disclaimer_status" (click)="closeDisclaimerModal()">x</button>
          </div>
        </div>
      </div>
      <div class="modal-body display-notes-scroll" id="exportable-container">
        <div style="height: auto;">
          <div class="row">
            <div class="col-9">
              <button class="btn btn-success save-text-ddm" (click)="content_edit_disclaimer()" *ngIf="editModes_disc" style="margin-right:3%">Save</button>
              <button class="btn btn-danger save-text-ddm" (click)="edit_True_disclaimer()" *ngIf="editModes_disc">Cancel</button>
            </div>
            <div class="col-3" style="padding-left:12%;">
              <button *ngIf="user_role=='Admin'" id="edit_button" class="editButton" (click)="edit_True_disclaimer()">
                  <a data-toggle = "tooltip" title = "EDIT"><i id="ic" class="material-icons">mode_edit</i></a>
              </button>
            </div>
          </div>
          <div class="row ckEditor" id="ckEditorDisc">
            <!-- <ckeditor id="exportable-container" [editor]="Editor" [(ngModel)]="naming_disclaimer" [disabled]="!editModes_disc" (blur)="onChange_disc($event)" style="width:100%; padding:1%;"></ckeditor> -->
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!------------------------------------Help Modal------------------------------->

<div class="modal fade " id="helpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="/assets/OFT_Logo.jpg">
        <h5 class="modal-title" id="mainMenuDescriptionHelp">Help</h5>
        <button type="button" class="close" [disabled]="!check_disclaimer_status" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-9">
            <button class="btn btn-success save-text-ddm" (click)="content_edits()" *ngIf="editModes"
              style="margin-right:3%">Save</button>
            <button class="btn btn-danger save-text-ddm" (click)="edit_True()" *ngIf="editModes">Cancel</button>
          </div>
          <div class="col-3" style="padding-left:12%;">
            <button *ngIf="user_role=='Admin'" id="edit_button" class="editButton" (click)="edit_True()">
              <a data-toggle="tooltip" title="EDIT"><i id="ic" class="material-icons">mode_edit</i></a>
            </button>
          </div>
        </div>
        <div class="row ckEditor" id="ckEditorHelp">
          <!-- <ckeditor [editor]="Editor" [(ngModel)]="namings" [disabled]="!editModes" (blur)="onChange_help($event)"
            style="width:100%; padding:1%;"></ckeditor> -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="modal_close_button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner> -->
<!-- <ngx-spinner bdColor: "rgba(51,51,51,0.8)" size: "default" color: "#fff" type: "line-spin-clockwise-fade"></ngx-spinner> -->
