.icons {
  widows: 40%;
  height: 100%;
  float: right;
  align-content: center;
}

a {
  color: black;
}

a:hover {
  color: rgb(2, 136, 173);
}

a:active {
  color: rgb(2, 136, 173);
}

.submit-req {
  padding-left: 1%;
}

.display-notes-scroll {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 400px;
}

.header {
  font-size: 150%;
  font-weight: bold;
}

.border {
  width: 98%;
  border: none;
  padding: 0;
  overflow-x: hidden;
}

.submit-checkbox-1 {
  font-style: italic;
  color: rgb(2, 136, 173);
}

.editButton {
  background: transparent;
  border: none;
  float: right;
  padding-right: 0px;
}

.submit-checkbox-2 {
  font-style: italic;
  color: rgb(2, 136, 173);
}

.naming {
  max-width: 100%;
  max-height: 100%;
}

.modal-main-heading {
  font-size: 150%;
  color: rgb(0, 91, 165);
  text-align: center;
}

.title-box {
  width: 100%;
}

.close {
  font-size: 150%;
  color: rgb(0, 91, 165);
}

.modal-body {
  padding: 20px;
}

.acknowledge-button {
  background-color: rgb(1, 126, 17);
  padding: 5px;
  color: white;
}

.links {
  background-color: transparent;
  color: rgb(0, 91, 165);
  border: none;
  margin: none;
  padding: none;
  font-style: italic;
}

.float {
  float: right;
}

.acknowledge-button:hover {
  background-color: rgb(0, 177, 24);
}

.acknowledge-button:active {
  background-color: rgb(0, 214, 29);
  transform: translateY(4px);
}

.modal-lg {
  min-width: 80% !important;
  max-height: 20% !important;
}

.modal-lg-help {
  min-width: 40% !important;
}

.edit-button {
  background-color: transparent;
  border: none;
  margin: none;
  padding: none;
}

.press {
  float: left;
}

.press button {
  background: transparent;
  border: none;
}

.material-icons {
  cursor: pointer;
  font-size: 3rem;
}

.quillEditor {
  position: relative;
  padding: 3px;
}

.disclaimer {
  height: 95%;
}
