<div class="container-fluid ">
  <div class="row">
    <div class="col-8">
      <h4 class="header">Steps to Submit a Request and View Results</h4>
    </div>
    <div class="col-4">
      <div class="icons">
        <div class="press">
          <a *ngIf="user_role=='Admin'" data-toggle="tooltip" title="EDIT" (click)="editTrue()"><button><i id="ic"
                class="material-icons">mode_edit</i></button></a>
          <button data-target="#helpModal" data-toggle="modal" style="padding:0%;">
            <a data-toggle="tooltip" title="HELP"><i id="ic" class="material-icons">help_outline</i></a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div><br><br>
<div class="container-fluid border set-cont-height">
  <div class="row submit-req">
    <div class="col-12"><br>Before you submit a request...<br><br></div>
    <div class="col-8">Read <button class="links" data-toggle="modal" (click)='openDisclaimerModal()'
        data-target="#disclaimer-modal" style="cursor:pointer">Disclaimers</button> and click the Acknowledge button
      when complete</div>
    <div id="text" class="col-3 submit-checkbox-1">
      <span *ngIf="user_role !='Admin'"> {{disclaimer_message}}</span>
     </div>
    <div class="col-1"><input *ngIf="user_role !='Admin'" class="disclaimer-checkbox" type="checkbox"></div>
    <div class="col-8">
      If desired, go to <b><em>User Profile</em></b> to save settings for future queries
    </div>

    <div class="col-3 submit-checkbox-2" id="saved-settings-text">{{message}}</div>
    <div class="col-1"><input class="saved-checkbox" type="checkbox"></div><br><br>
  </div>
  &nbsp;&nbsp;<button class="btn btn-success save-text-ddm" (click)="content_edit()" style="margin-bottom:1%"
    *ngIf="editMode">Save</button>&nbsp;&nbsp;&nbsp;&nbsp;
  <button class="btn btn-danger save-text-ddm" (click)="editTrue()" style="margin-bottom:1%"
    *ngIf="editMode">Cancel</button>
  <div class="quillEditorSubmit">
    <quill-editor class="quill" [(ngModel)]='naming' [modules]='config' [readOnly]='readOnlyContent'
      (onContentChanged)='textChanged($event)'></quill-editor>
  </div>


</div>
<!----------------------Disclaimer Modal---------------------------->

<div id="disclaimer-modal" class="modal fade disclaimer" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row modal-title" style="width: 100%;">
          <div class="col-sm-12 modal-main-heading">
            <div class="row"><img class="logo" src="/assets/OFT_Logo.jpg"><b>Order Fulfillment Distribution DataMart
                (DDM)</b></div>
          </div>
          <div class="container-ack-btn">
            <div class="acknowledge-div">
              <button id="disclaimer-id" class="acknowledge-button btn btn-success"
                (click)="checkDisclaimer()">Acknowledge Disclaimers</button>
            </div>
            <div class="disclaimer-close-div">
              <i id="ic" class="material-icons" style="margin-top: 8px;" (click)="captureScreen()">get_app</i>
              <button id="disclaimer-close-btn" type="button" class="close" *ngIf="check_disclaimer_status==true"
                (click)="closeDisclaimerModal()">x</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body display-notes-scroll-modal disclaimer-quill">
        <div class="row">
          <div class="col-9">
            <button class="btn btn-success save-text-ddm save-test-ddm-tid" (click)="content_edit_disclaimer()"
              *ngIf="editModes_disc" style="margin-right:3%">Save</button>
            <button class="btn btn-danger save-text-ddm" (click)="edit_True_disclaimer()"
              *ngIf="editModes_disc">Cancel</button>
          </div>
          <div class="col-3" style="padding-left:12%;">
            <button *ngIf="user_role=='Admin'" id="edit_button" class="editButton" (click)="edit_True_disclaimer()">
              <a data-toggle="tooltip" title="EDIT"><i id="ic" class="material-icons">mode_edit</i></a>
            </button>
          </div>
        </div>
        <br>
        <span [hidden]="discMandate" style="color: red">*</span><span [hidden]="discMandate">Please enter data into
          Disclaimer</span>
        <quill-editor class="quill" [(ngModel)]='naming_disclaimer' [modules]='config'
          [readOnly]='readOnlyContentDisclaimer' (onContentChanged)='textChanged($event)'></quill-editor>
      </div>
    </div>
  </div>
</div>

<!------------------------------------Help Modal------------------------------ -->

<div class="modal fade" style="overflow-y: hidden;" id="helpModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg-help" role="document">
    <div class="modal-content">
      <div class="modal-header" style="justify-content: flex-start;">
        <img class="logo" src="/assets/OFT_Logo.jpg">
        <h5 class="modal-title help-title" id="mainMenuDescriptionHelp"
          style="align-items: left; font-size:120%; font-weight: bold;">Help</h5>
      </div>
      <div class="modal-body display-notes-scroll-modal">
        <div class="row">
          <div class="col-9">
            <button class="btn btn-success save-text-ddm" (click)="content_edits()" *ngIf="editModes"
              style="margin-right:3%">Save</button>
            <button class="btn btn-danger save-text-ddm" (click)="edit_True()" *ngIf="editModes">Cancel</button>
          </div>
          <div class="col-3" style="padding-left:12%;">
            <button *ngIf="user_role=='Admin'" id="edit_button" class="editButton" (click)="edit_True()">
              <a data-toggle="tooltip" title="EDIT"><i id="ic" class="material-icons">mode_edit</i></a>
            </button>
          </div>
        </div>
        <div class="quillEditor">
          <quill-editor class="quill" [(ngModel)]='namings' [modules]='config' [readOnly]='readOnlyContentHelper'
            (onContentChanged)='textChanged($event)'></quill-editor>
        </div>

      </div>
      <div class="modal-footer modal-footer-pad">
        <button type="button" id="modal_close_button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--                     Confirm Modal                   -->
<button id="disclaimer_button" data-target="#disclaimerConfirmationModal" data-toggle="modal"
  style="display: none;"></button>
<div class="modal fade " id="disclaimerConfirmationModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="/assets/OFT_Logo.jpg">
        <h5 class="modal-title" id="mainMenuDescriptionDeleteTitle">Confirmation for changes in Disclaimer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="contentForm">
          <label>Are you sure you want to change the disclaimer as it affects numerous users?</label>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="modal_close_button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" (click)="disclaimer_confirmation()">Yes</button>
      </div>
    </div>
  </div>
</div>