.modal-body {
    width: 499px;
    overflow: hidden;
}

:host {
    width: 100%;
    height: 100%;
}
.PADD12PX{
    padding: 5px;
}


  .quillEditor {
      overflow: hidden;
  }

  .modal-content {
      overflow: hidden;
  }

  