.modal-header{
    background-color: rgb(0,34,61);
}

.modallist{
    color: black;
    font-size:120%;
}

.modal-dialog{
    overflow-y: initial;
    width: 20%;
    margin-left:17%;
    margin-top:18%;
}
.modallist{
    height: 40vh;
    overflow-y: auto;
}

.modal-title{
    color: white; 
}

.ml-d1styles{
    left: 125%;
    bottom:125px;
}

.ml-d2styles{
    color:white;
}

.modal-body{
    margin: 5% 10% 0 10% !important;
}