<div id="listOfValues" class="modal fade" role="dialog" aria-labelledby="myModalList" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content ml-d1styles">
      <div class="modal-header ml-d2styles">
        <h3 class="modal-title">List of Values</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
        <div *ngIf="Loading" style="padding: 0px;width: 100%;height: 80%;">
          <mat-progress-spinner style="left:40%;top:40%;" mode="indeterminate"></mat-progress-spinner>
        </div>
        <div *ngIf="!Loading && count != 0" style=" height: 87%;">
          <p style="margin-left: -19px;" class="text-ellipsis"> <b>Column Name:</b>&nbsp;{{columnName}}</p>
          <div class="list-group modallist">
            <div *ngFor="let column of items | orderBy : columnName">
              <!-- <li class="uniqList" *ngFor="let key of columnName">{{key}}
                {{column[key]?column[key]:'-'}}
              </li> -->
              <li class="uniqList">
                {{ column[columnName] ? dataType == 'DATE' ? (column[columnName] | date: 'dd-MM-yyyy') : (column[columnName]) :'-'}}
              </li>
            </div>
          </div>
          <p *ngIf="count != 0" style="text-align: right">Fetched {{count}} row(s)</p>
        </div>
        <div style="text-align: center;margin-top: 8px;" *ngIf="!Loading && count == 0">
          No data available
        </div>
      </div>
      <div class="modal-footer listfooter">
        <button type="button" class="btn btn-success btnm" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>