<!--Modal2-->
<div id="myModalList" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">List of Tables..</h3>
          </div>
          <div class="modal-body modallist">
              <ul class="list-group">
                <li class="list-group-item">Table One</li>
                <li class="list-group-item">Table Two</li>
                <li class="list-group-item">Table Three</li>
                <li class="list-group-item">Table Four</li>
                <li class="list-group-item">Table Five</li>
                <li class="list-group-item">Table Six</li>
                <li class="list-group-item">Table Seven</li>
                <li class="list-group-item">Table Eight</li>
                <li class="list-group-item">Table  Nine</li>
                <li class="list-group-item">Table Ten</li>
              </ul>
            </div>        
          <div class="modal-footer listfooter">
          <button type="button" class="btn btn-primary btnm" data-dismiss="modal">OK</button>
          </div>
      </div>
  </div>
</div>

