:host {
  height: 100%;
}
::ng-deep .mat-tab-body-wrapper {
  height: 100%;
}

.spinner {
  text-align: center;
  height: 100%;
}

.spinner img {
  margin: 20em auto;
}

#delete {
  i {
    float: right; 
    font-size: 1em; 
  }
}

button:focus {
  outline: 0;
  border: 0;
  box-shadow: none;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
// .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #ccc !important;
}