:host {
  height: 100%;
}
::ng-deep .mat-tab-body-wrapper {
  height: 100%;
}

.spinner {
  text-align: center;
  height: 100%;
}

.spinner img {
  margin: 20em auto;
}

#delete {
  mat-icon {
    float: right; 
    font-size: 1em; 
    outline: transparent !important;
  }
}

// remove after setting theme 
button.custom-flat-btn {
  background-color: #1b4e63;
  color: #fff;
}

button.custom-icon-btn {
  background-color: transparent;
  color: #004e63;
}