.modal-container {
    width: 60vw;
    overflow: hidden;
}

.modal-body {
    max-height: 390px;
    overflow: auto;
    font-size: 1.6vh;
}

.header-opt {
    font-weight: 700;
}

.modal-dialog {
    margin-top: 30vh;
}