.custom-checkbox-opt{
    font-size: inherit;
    line-height: 3em;
    padding: 2px 0px;
}
.custom-checkbox-opt mat-checkbox{
    display: block;
    word-break: break-all;
    padding: 0 16px;
    text-align: left;
    text-decoration: none;
    max-width: 100%;
    position: relative;
    cursor: pointer;
    outline: none;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    box-sizing: border-box;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
}
#multiInput{
    margin: 0px 4% 5px;
    height: 38px;
    border-bottom: 1px solid grey;
    width: 90%;
}
.topFilterTitle{
    padding: 1vh 0;
    font-weight: bold;
}