  .mat-body-styles { 
    /* font-family: Roboto, Arial, sans-serif; */
    margin: 5;
    height:87vh; 
    background-color:#f1f1f1;
  }

  .dropdown-value-styles{
    color: #ffffff; 
    background-color:#006e8c;
  }

  .mat-header-cell{
    background-color:#ccc;
    /* color: #ffffff; */
    color:#000;
    height:25;
    position: sticky;
    top:0;
    font-size: 100%;
    overflow-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word !important;
    white-space: unset !important;
  }

  .mat-sort-header-arrow {
    color: #ffffff !important;
    transform: translateY(0px);
    opacity: 1;
  }

  .mddropdown {
    background-color: #006e8c;
    color: #ffffff !important;
    padding:10px 10px;
    border: 1px solid #009696;	
    position : absolute;
    left: 89%;
  }

  .mat-sort-header-arrow {
    color: #ffffff !important;
  }

  .mat-row:nth-child(even){
    background-color:#ffffff;
  }

  .mat-row:nth-child(odd){
    background-color:#f9f9f9;
  }

  .mat-table{
    width:auto;
    margin-top: 11px;
    margin-right: 15px;
    margin-bottom: 0px;
    margin-left: 15px;
  }

  .mat-paginator{
    margin-top: 0px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
  }
  .contanier-fluid{
    height: 75%;
  }

  .inter{
    font-style: bold;
  }

  .btn-primary{
    color: #ffffff;
    position: absolute;
    right: 5%;
  }

  .btn-default {
    background-color: #ccc;
    color: #000;
    width:100%;
    position: relative;
    cursor: default;
  }

  .btn-default:hover {
    background-color: #ccc;
    color:#000;
  }

  .bsizing{
    font-size:200%;
    color: #000;
    pointer-events: none;
  }

  .mat-cell{
    height :10%;
    font-size: 100%;
    padding : 5px;
    padding-left: 0px;
    padding-right: 15px;
    word-break: break-all;
  }

  .changes{
    overflow-y:auto;
    height:50%;
    max-height: 71vh;
  }

  .dropdown-toggle{
    height: 4%;
    left: 85.5%;
    cursor: pointer;
    float: right;
    padding:0.4%;
    align-content: center;
    margin-top: 0.25%;
  }

  .dropdown-toggle::after {
    display: none;
  }

  .name-width{
    flex: 0 0 20% !important;
    width:20% !important;
  }

  .userid-width{
    flex: 0 0 20% !important;
    width:20% !important;
  }

  .role-width{
    flex: 0 0 60% !important;
    width:60% !important;
  }

  .empty-msg-div{
    color: #fff;
    font-size: 125%;
    text-align: center;
  }

  .row{
    background-color: #ccc;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .anchor-design:hover{
    color: white !important;
    background-color: teal;
    padding: 5px 0px 5px 20px;
    cursor: pointer;
}

.anchor-design {
  padding: 5px 0px 5px 20px;
  cursor: pointer;
}

.fa-arrow-left{
  cursor: pointer;
}

.roles-margin{
  margin-left: 5.5%;
}

.dropdown{
  float: right;
}

.dropdown-menu{
  margin-top: 4.25vh;
  margin-left: -15vh;
}

.result {
  border-radius: 10px;
  border: 1px solid #a5a5a5;
  padding: 5px 10px;
  display: inline-block;
  margin: 5px;
  min-width: 120px;
}