<div id="createLov" class="modal fade" role="dialog" aria-labelledby="myCreateLov" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content ml-d1styles">
      <div class="modal-header ml-d2styles">
        <h3 class="modal-title" title="{{columnName}}">Create LOV({{columnName}})</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetAll()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div style=" height: 69%;">
          <!-- <div style=" height: 87%;"> -->
          <div>
          <input type="text" placeholder="Search value" class="form-control search" style="margin-left: -8px;"
          (input)="filterList($event.target.value)"/>
        </div>
          <div>           
            <div class="select-all form-check form-check-inline">
              <input class="form-check-input" type="checkbox" (change)="selectAll($event);isAllChecked()" [checked]="selectValue">                         
            </div>
            <label class="form-check-label"><strong>Select All</strong></label> 
            <ul class="scroll-area">
              <li *ngFor="let item of values;index as i" class="list-group-item form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="{{item}}" [(ngModel)]="item.checked"
                  value="{{item[columnName]}}" (change)="onSelect($event)">
                <label class="form-check-label table-name" for="{{item}}">{{item[columnName]}}</label>
              </li>
            </ul>
        </div> 
        <div *ngIf="!values.length">
          <div class="notables">No tables to show</div>
        </div>  
        <div>
          <label class="col-form-label w-35 asterisk-if-mandatory" style="width: 245px;margin-left: 5px;">Save as</label>
          <input type="text" class="form-control h-29" style="color: black;background-color: white;display: inline-block;" [(ngModel)]="saveName" />
        </div>     
      </div>          
    </div> 
    <div class="modal-footer listfooter">
      <!-- <button type="button" class="btn btn-danger btnm" [disabled]="!selectedValues.length" >Reset</button> -->
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="resetAll()" >Close</button>
      <button type="button" class="btn btn-success" [disabled]="requiredFields()" (click)="createLov()" data-dismiss="modal">Create</button>        
    </div>   
  </div>
</div>