<div style="padding: 0px 15px 15px 15px">
  <div class="row-one">
    <mat-checkbox [(ngModel)]="admin_note_obj.noteVisible">Note Visible</mat-checkbox>
    <span>
      <button mat-raised-button [cssBtn]="'ok'" (click)="checkNoteFormValid()" style="margin-right: 10px;">Save
        Note</button>
      <button mat-raised-button [cssBtn]="'mid'" (click)="clearSelection()">Clear</button>
    </span>
  </div>
  <div class="date-container">
    <div class="date-section">
      <mat-form-field style="width: 50%;">
        <mat-label>Start Date:</mat-label>
        <input matInput [matDatepicker]="noteDisplayFrom" [formControl]="admin_note_obj.displayFromDate"
          textEditable="false" [min]="minFromDate" (dateChange)="dateSelectionDone($event,'from')" required>
        <mat-datepicker-toggle matSuffix [for]="noteDisplayFrom"></mat-datepicker-toggle>
        <mat-datepicker #noteDisplayFrom></mat-datepicker>
      </mat-form-field>
      <app-ng-time-picker [inpuTime]="admin_note_obj.displayFromTime" (userEntryEmittor)="timeSelected($event,'from')">
      </app-ng-time-picker>
    </div>
    <div class="date-section" style="text-align: right;">
      <mat-form-field style="width: 50%;">
        <mat-label>End Date:</mat-label>
        <input matInput [matDatepicker]="noteDisplayTo" [formControl]="admin_note_obj.displayToDate"
          textEditable="false" [min]="minToDate" (dateChange)="dateSelectionDone($event,'to')" required>
        <mat-datepicker-toggle matSuffix [for]="noteDisplayTo"></mat-datepicker-toggle>
        <mat-datepicker #noteDisplayTo></mat-datepicker>
      </mat-form-field>
      <app-ng-time-picker [inpuTime]="admin_note_obj.displayToTime" (userEntryEmittor)="timeSelected($event,'to')">
      </app-ng-time-picker>
    </div>
  </div>
  <div style="text-align: center">
    <textarea name="note" id="note" cols="30" rows="10" style="width: 85%;" required
      [(ngModel)]="admin_note_obj.noteData" [ngModelOptions]="{standalone: true}"></textarea>
  </div>
</div>