<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content borRad" style="border: unset;">
        <div class="modal-header borTopRad alignCenter" style="">
            <div class="modal-title ">
                <div class="">Review Report Request </div>
            </div>
            <div class="alignCenter">
                <mat-icon style="margin-right: 15px;cursor:pointer;" matTooltip="Download Summary" (click)="downloadSummary()">get_app</mat-icon>
                <mat-icon style="cursor:pointer;" (click)="closeDailog();">close</mat-icon>
            </div>
        </div>
        <div class="modal-body" id="summaryView">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margBottom">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margBtmlight">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bold">
                            Request Date
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            {{ reqDetails.reqDate | date: 'dd-MMM-yyyy' }}
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margBtmlight">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bold">
                            Request Number
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            {{ reqDetails.reqId }}
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margBtmlight">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bold">
                            Title
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            {{ reqDetails.title }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margBottom">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bold margBottom ">
                        Market Selections:
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margBtmlight" *ngFor="let market of marketData">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            {{ market.label }}
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 breakWord">
                            {{ market.data.toString() }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margBottom" *ngIf="otherReportCriteria.spclIdentifiers.length">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margBtmlight">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bold">
                            Special Identifiers:
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margBtmlight" *ngFor="let spcl of otherReportCriteria.spclIdentifiers">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            {{ spcl.label }}
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            {{ spcl.data.toString() }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margBottom">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margBtmlight">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bold">
                            Frequency of Reports:
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 breakWord">
                            {{ otherReportCriteria.freq }}
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margBtmlight">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <b>Frequency of Selections:</b>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            {{ otherReportCriteria.frequency_data }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margBottom">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margBtmlight">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bold">
                            Would you need Text Notifications when Requests are fulfilled?
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            {{ otherReportCriteria.textNotification }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margBottom" *ngIf="reqDetails.type === 'ots'">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bold margBottom ">
                        Vehicle Event Status Selections:
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bold margBottom">
                            Order Criteria
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margBtmlight" *ngFor="let ele of vehicleEvent.orderCriteria">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            {{ ele.label }}
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 breakWord">
                            {{ ele.data.toString() }}
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bold margBottom">
                            Order Metrics
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margBtmlight" *ngFor="let metrics of vehicleEvent.orderMetrics">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                {{ metrics.label }}
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 breakWord">
                                {{ metrics.data.toString() }}
                            </div>
                        </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="vehicleEvent.keyData_start">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bold margBottom">
                                Key Data Elements for Date Range:
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPadding margBtmlight">
                                <span class="bold">Start:&nbsp;</span>
                                {{ vehicleEvent.keyData_start | date: 'dd-MMM-yyyy' }}
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPadding margBtmlight">
                                <span class="bold">End:&nbsp;</span>
                                {{ vehicleEvent.keyData_end | date: 'dd-MMM-yyyy' }}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="vehicleEvent.dosp_start">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bold margBottom">
                            DOSP - Orders Processed:
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPadding margBtmlight">
                                <span class="bold">Start:&nbsp;</span>
                                {{ vehicleEvent.dosp_start | date: 'dd-MMM-yyyy' }}
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPadding margBtmlight">
                                <span class="bold">End:&nbsp;</span> {{ vehicleEvent.dosp_end | date: 'dd-MMM-yyyy' }}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf='reqDetails.is_vin_level_report'>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bold margBottom">
                                Is this a Order Number/VIN level detail report?
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                {{reqDetails.is_vin_level_report}}
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf='reqDetails.is_summary_report'>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bold margBottom">
                                Is this a summary report with metrics?
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                {{reqDetails.is_summary_report}}
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margBottom" *ngIf="reqDetails.type === 'da'">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bold margBottom ">
                        Dealer Allocation Selections:
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margBtmlight" *ngFor="let ele of dealerAlloc.consensusProcess">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            {{ ele.label }}
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 breakWord">
                            {{ ele.data.toString() }}
                        </div>
                    </div>
                </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margBtmlight">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bold">
                        Business Requirements:
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 breakWord">
                        {{ reqDetails.business_req }}
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margBtmlight">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bold">
                        Additional Requirements:
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 breakWord">
                        {{ reqDetails.addReq }}
                </div>
            </div>
            </div>
        </div>
        <div class="modal-footer">
            <button mat-raised-button [cssBtn]="'ok'" (click)="submitRequest()">Reviewed and Submitting</button>
        </div>
    </div>
</div>


<!-- REPEATED CODE FOR PDF DOWNLOAD CONTENTS -->
<pre class="container-fluid" style="height: auto;display: none" id="print">
    <pre>
        <h1>Review Report Request</h1>
    </pre>
<pre style="width: 100%;float: left;margin-bottom: 10px;">
        <pre class="div-wrap">
            <b>Request Date:</b> &nbsp;&nbsp;
            <span>{{ reqDetails.reqDate | date: 'dd-MMM-yyyy' }}&nbsp;&nbsp;</span>
        </pre>
<pre class="div-wrap">
            <b>Request Number:</b> &nbsp;&nbsp;
            <span>{{ reqDetails.reqId }}&nbsp;&nbsp;</span>
        </pre>
<pre class="div-wrap">
            <b>Title:</b> &nbsp;&nbsp;
            <span>{{ reqDetails.title }}&nbsp;&nbsp;</span>
        </pre>
</pre>
<pre class="Request-summary">
        
    <pre class="div-wrap">
        <b>Market Selections:</b> &nbsp;&nbsp;
        <b>Market(s) Selected:</b> &nbsp;&nbsp;
        <pre *ngFor="let market of marketData">
            {{ market.label }}&nbsp;&nbsp;
            {{ market.data.toString() }}
        </pre>
    </pre>
    <pre class="div-wrap">
        <b>Special Identifiers:</b> &nbsp;&nbsp;
        <pre *ngFor="let spcl of otherReportCriteria.spclIdentifiers">
                {{ spcl.label }}&nbsp;&nbsp;
                {{ spcl.data.toString() }}
        </pre>
</pre>
<pre class="div-wrap">
    <b>Frequency of Reports:</b> &nbsp;&nbsp;
    <span>{{ otherReportCriteria.freq }}&nbsp;&nbsp;</span>
</pre>
<pre class="div-wrap">
    <b>Frequency of Selections:</b> &nbsp;&nbsp;
    <span>{{ otherReportCriteria.frequency_data }}&nbsp;&nbsp;</span>
</pre>

<pre class="div-wrap">
            <b>Would you need Text Notifications when Requests are fulfilled?:</b> &nbsp;&nbsp;
            <span> {{ otherReportCriteria.textNotification }}&nbsp;&nbsp;</span>
    </pre>

<pre class="div-wrap" *ngIf="reqDetails.type === 'ots'">
        <b style="font-size:150%">Vehicle Event Status Data</b>
        <b style="font-size:150%">Order Criteria</b><br><br>
        <pre class="div-wrap" *ngFor="let ele of vehicleEvent.orderCriteria">
            <b>{{ ele.label }}:</b> &nbsp;&nbsp;
            <span> {{ ele.data.toString() }}&nbsp;&nbsp;</span>
        </pre>
<b style="font-size:120%">Order Metrics</b>
<br>
<pre class="div-wrap" *ngFor="let metrics of vehicleEvent.orderMetrics">
                <b>{{  metrics.label }}:</b>  
                <span>{{  metrics.values }}&nbsp;&nbsp;</span>
            </pre>     
<pre class="div-wrap" *ngIf="vehicleEvent.keyData_start">
                <b> Key Data Elemet Date Range:</b> <br>
                <pre class="div-wrap">
                    <b>Start:</b> &nbsp;&nbsp;
                    <span>{{ vehicleEvent.keyData_start | date: 'dd-MMM-yyyy' }}&nbsp;&nbsp;</span>
                </pre>
<pre class="div-wrap">
                    <b>End:</b> &nbsp;&nbsp;
                    <span>{{ vehicleEvent.keyData_end | date: 'dd-MMM-yyyy' }}&nbsp;&nbsp;</span>
                </pre>
</pre>
</pre>
<pre class="div-wrap" *ngIf="vehicleEvent.dosp_start">
        <b> DOSP Date Range:</b> <br>
        <pre class="div-wrap">
            <b>Start:</b> &nbsp;&nbsp;
            <span>{{ vehicleEvent.dosp_start | date: 'dd-MMM-yyyy' }}&nbsp;&nbsp;</span>
        </pre>
<pre class="div-wrap">
            <b>End:</b> &nbsp;&nbsp;
            <span>{{ vehicleEvent.dosp_end | date: 'dd-MMM-yyyy' }}&nbsp;&nbsp;</span>
        </pre>
        <pre class="div-wrap" *ngIf='reqDetails.is_vin_level_report'>
            <b>Is this a Order Number/VIN level detail report?:</b> &nbsp;&nbsp;
            <span> {{reqDetails.is_vin_level_report}}&nbsp;&nbsp;</span>
        </pre>
        <pre class="div-wrap" *ngIf='reqDetails.is_summary_report'>
            <b>Is this a summary report with metrics?:</b> &nbsp;&nbsp;
            <span>{{reqDetails.is_summary_report}}&nbsp;&nbsp;</span>
        </pre>
                
</pre>
<pre class="div-wrap" *ngIf="reqDetails.type === 'da'">
        <b> Dealer Allocation Selections:</b> <br>
        <pre *ngFor="let ele of dealerAlloc.consensusProcess">
            <b>{{ ele.label }}:</b> &nbsp;&nbsp;
            <span> {{ ele.data.toString() }}&nbsp;&nbsp;</span>
        </pre>
</pre>
<pre class="div-wrap">
        <b>Business Requirements:</b> &nbsp;&nbsp;
        <span>{{ reqDetails.business_req }}&nbsp;&nbsp;</span>
    </pre>    
<pre class="div-wrap">
        <b>Additional Requirements:</b> &nbsp;&nbsp;
        <span>{{ reqDetails.addReq }}&nbsp;&nbsp;</span>
    </pre>
</pre>
</pre>