  <div class="container-fluid container-height">
    <div class="sn-total-content">
      <div class="col-xs-12" >
        <input id="radioUpper" type="radio" (change)="isDivDisabled = !isDivDisabled" name="create" value="upper-semantic"
          checked>
        <!-- class="radio-Positioning"-->
      </div>
      <div class="sn-total-content-part1" [ngClass]="{divDisabled: isDivDisabled}">
        <div class="content1 row">
          <div class="col-xs-4"  style="margin-left: 11%;width: 25%">
            Create a new Semantic layer:
          </div>
          <div class="col-xs-6">
            <input class="semantic-value-input" type="text" />
          </div>
        </div>

        <div class="content2 row">
          <div class="col-xs-4"  style="margin-left: 13%;width: 23.25%">
            Select tables to be added:
          </div>
          <div class="col-xs-6" style="margin-left: 1.75%;">
            <select name="table" id="multipleTables" multiple class="select-area-width">
              <option value="Table1" class="option-textcolor" *ngFor="let list of sl_tables">{{list['mapped_table_name']}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <input id="radioLower" type="radio" (change)="isDivDisabled = !isDivDisabled" name="create" value="lower-semantic">
        <!-- class="radio-Positioning" -->
      </div>
      <div class="sn-total-content-part2" [ngClass]="{divDisabled: !isDivDisabled}">
        <div class="content1 row">
          <div class="col-xs-4"  style="margin-left: 11%;width: 25%">
            Copy existing Semantic layer:
          </div>
          <div class="col-xs-6">
            <div class="semantic-value-input">
              <input list="sl-names" id="semanticValueInput" class="semantic-value-input" [(ngModel)]="inputSemanticValue"
                #nameRef (change)="fetchSemantic($event)">
              <datalist id="sl-names">
                <option *ngFor="let val of sem" [(ngValue)]="val.sl_name" class="option-scroll" id="semanticValueOption">
                  {{val.sl_name}} </option>
              </datalist>
            </div>
          </div>
        </div>
        <div class="content4 row">
          <div class="col-xs-4"  style="margin-left: 11%;width: 21.25%">
            Select tables from SL:
          </div>
          <div class="col-xs-6" style="margin-left: 3.75%;">
            <ng-multiselect-dropdown [placeholder]="" [data]="columns" [(ngModel)]="selectedItemsExistingTables"
              [settings]="dropdownSettingsExistingTables" (onSelect)="onItemSelect($event)">
            </ng-multiselect-dropdown>
          </div>
        </div>
        <div class="content2 row">
          <div class="col-xs-4"  style="margin-left: 11%;width:23.25%">
            Select tables to be added:
          </div>
          <div class="col-xs-6" style="margin-left: 1.75%;">
            <ng-multiselect-dropdown [placeholder]="" [data]="tables" [(ngModel)]="selectedItemsNonExistingTables"
              [settings]="dropdownSettingsNonExistingTables" (onSelect)="onItemSelect($event)">
              <!-- (onDeSelect)="onItemDeSelect($event)"-->
            </ng-multiselect-dropdown>
          </div>
        </div>
      </div>
    </div>

    <div class=container-fluid>
      <div class="row">
        <button class="btn btn-primary common-button-left">Reset</button>
        <button class="btn btn-primary common-button-right" (click)="checkEmpty()">Save
          <button [hidden]="true" id="open-modal-btn" data-toggle="modal" data-target="#nameModal">Button</button>
        </button>
      </div>
    </div>

  </div>

  <app-saveAs-modal [title]="confHeader" [inputLabel]="confText" (saveData)="saveSemantic($event)"></app-saveAs-modal>