<div class="container-fluid container-height">
  <div class="sn-total-content">
    <div class="col-xs-12 PADD5PX">
      <input id="radio-upper" type="radio" class="MRGR10PX MRGT4PX" (click)="disableLowerDiv()" name="create" value="upper-semantic" checked>
      <span style="color:black"><b>Create New Semantic layer</b></span>
    </div>
    <div class="sn-total-content-part1" [ngClass]="{divDisabled: isUpperDivDisabled}">
      <div class="content1 row">
        <div class="col-xs-4 pl-0 pr-0" style="margin-left: 5%;width:20.25%;">
          Create a new Semantic layer:
        </div>
        <div class="col-xs-8 pr-0 pl-0 mt-0">
          <input [(ngModel)]="firstName" maxlength="50" class="input MRGR10PX MRGT4PX" type="text" style="width: 100%" appValidator />
        </div>
      </div>

      <div class="content2 row">
        <div class="col-xs-4 pl-0 pr-0" style="margin-left: 5%;width: 20.25%">
          Select tables to be added:
        </div>
        <div class="col-xs-8 pr-0 pl-0 mt-0">
          <ng-multiselect-dropdown [data]="existingTables" 
            [(ngModel)]="selectedItemsNew"
            [settings]="dropDownSettingsNew" 
            (onSelect)="onItemSelectNew($event)"
            (onDeSelect)="onItemDeSelectNew($event)"
            (onSelectAll)="onSelectAllNew($event)" 
            (onDeSelectAll)="onDeSelectAllNew($event)" >
          </ng-multiselect-dropdown>
        </div>
      </div>
    </div>

    <div class="col-xs-12 PADD5PX">
      <input id="radio-lower" type="radio" class="MRGR10PX" (click)="disableUpperDiv()" name="create" value="lower-semantic">
      <span style="color:black"><b>Copy an existing Semantic layer</b></span>
    </div>
    <div class="sn-total-content-part2" [ngClass]="{divDisabled: isLowerDivDisabled}">
      <div class="content1 row">
        <div class="col-xs-4 pl-0 pr-0" style="margin-left: 5%;width:20%">
          Copy an existing Semantic layer:
        </div>
        <div class="col-xs-8 pr-0 pl-0 mt-0">
          <div class="semantic-value-input dropdown">
            <!-- <input list="sl-names" id="semanticValueInput"  class="semantic-value-input" [(ngModel)]="inputSemanticValue"
              #nameRef (change)="fetchSemantic($event)" style="width: 100%" appValidator />
            <datalist id="sl-names">
              <option *ngFor="let val of semanticLayers" [(ngValue)]="val.sl_name" class="option-scroll"
                id="semanticValueOption">
                {{val.sl_name}} </option>
            </datalist> -->
            <select class="select-dropdown" list="sl-names" id="semanticValueInput"  class="semantic-value-input form-control form-control-lg"
             [(ngModel)]="inputSemanticValue" #nameRef (change)="fetchSemantic($event)" style="width: 100%">
              <option value="" selected> </option>
            <option class="sl-names" *ngFor="let val of semanticLayers" [(ngValue)]="val.sl_name" class="option-scroll"
               id="semanticValueOption">
              {{val.sl_name}}
            </option>
          </select>
          </div>
        </div>
        <!-- <div class="col-xs-8 pr-0 pl-0 mt-0">
          <div class="semantic-value-input">
             <input list="sl-names" id="semanticValueInput"  class="semantic-value-input" [(ngModel)]="inputSemanticValue"
              #nameRef (change)="fetchSemantic($event)" appValidator />
            <datalist id="sl-names">
              <option *ngFor="let val of semanticLayers" [(ngValue)]="val.sl_name" class="option-scroll"
                id="semanticValueOption">
                {{val.sl_name}} </option>
            </datalist>
            <ng-select [items] = "semanticLayers" class="semantic-value-input" [()][(ngModel)]="inputSemanticValue"
            #nameRef (change)="fetchSemantic($event)" appValidator></ng-select>
          </div>
        </div> -->
      </div>
      <div class="content4 row">
        <div class="col-xs-4 pl-0 pr-0" style="margin-left: 5%;width: 18.25%">
          Select tables from Semantic layer:
        </div>
        <div class="col-xs-8 pr-0 pl-0 mt-0" style="margin-left: 1.75%;">
          <ng-multiselect-dropdown [data]="columns" 
            [(ngModel)]="selectedItemsExistingTables"
            [settings]="dropdownSettingsExistingTables"
            (onSelect)="onItemSelectExisting($event)"
            (onDeSelect)="onItemDeSelectExisting($event)" 
            (onSelectAll)="onSelectAllExisting($event)" 
            (onDeSelectAll)="onDeSelectAllExisting($event)">
          </ng-multiselect-dropdown>
        </div>
      </div>
      <div class="content2 row">
        <div class="col-xs-4 pl-0 pr-0" style="margin-left: 5%;width:18.25%">
          Select tables to be added:
        </div>
        <div class="col-xs-8 pr-0 pl-0 mt-0" style="margin-left: 1.75%;">
          <ng-multiselect-dropdown id="addTablesDropDown" [data]="remainingTables"
            [(ngModel)]="selectedItemsNonExistingTables" 
            [settings]="dropdownSettingsNonExistingTables"
            (onSelect)="onItemSelectNonExisting($event)" 
            (onDeSelect)="onItemDeSelectNonExisting($event)" 
            (onSelectAll)="onSelectAllNonExisting($event)" 
            (onDeSelectAll)="onDeSelectAllNonExisting($event)"
            >
          </ng-multiselect-dropdown>
        </div>
      </div>
    </div>
  </div>

  <div class=container-fluid>
    <div class="row">
      <button class="btn btn-danger common-button-left" (click)="reset()">Reset</button>
      <button class="btn btn-success common-button-right" (click)="saveProcess()">Save</button>
      <button [hidden]="true" id="open-modal-btn" data-toggle="modal" data-target="#nameModal">Button</button>
    </div>
  </div>

</div>

<app-saveAs-modal [title]="confHeader" [inputLabel]="confText" (saveData)="saveSemantic($event)"></app-saveAs-modal>