<!-- Modal 1 -->
<script src="./assets/slimselect.min.js"></script> 
<link href="./assets/slimselect.min.css" rel="stylesheet"> 
  

<div id="myModalP" class="modal fade" role="dialog">

  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
	  <h3> Privileges </h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
    
      <div class="mbody">
          <div class="topbar">
            <div id="UserPrev" class="navspan" (click)="isOn= false ; customUser()" onmouseover=""style="cursor: pointer;">
                  User->Privileges
            </div>

            <div id="PrevUser" class="navspan"  (click)="isOn= true ; customPrev()" onmouseover=""style="cursor: pointer;">
                    Privileges->User
            </div>
          </div>
      </div>

	   <div class="modal-body modalprivilege">

        <app-modal-privilege2 *ngIf="!isOn"></app-modal-privilege2>
        <app-modal-privilege1 *ngIf="isOn"></app-modal-privilege1>
        
	  </div>
			  
			  
	    <div class="modal-footer">
          <button type="button" class="btn btn-primary mr-auto">Cancel</button>
		  <button type="button" class="btn btn-primary">Apply</button>
        </div>
      </div>

</div>
          
