h3 {
    margin-left: 5%
}

table {
    
}

.tableFixHead    { overflow-y: auto; height: 435px; overflow-x: auto }
.tableFixHead thead th { position: sticky; top: 0;z-index: 10; }
.tableFixHead {
  padding-left: 1%;

}

table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th { background: #ccc}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
    background-color: #F9F9F9;
 }

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: white;
 }

/* th {
    text-align: center;
} */

.tool-body {
    height: 88%;
    margin-left: 0;
    margin-right: 0;
}

h3 {
    font-size: 150%;
    font-weight: bold;
}

.main-tool-body {
    width: 94.15%;
    background: white;
}

.flex-container {
    height: 88%;
}
td{
    position: relative;
    padding: 0;
    align-content: center;
    align-items: center;
}

.form-control {
    margin-top: 5%;
    margin-bottom: 5%;
}

.icons {
    margin-top: 7%;
    margin-bottom: 5%;
    margin-right: 3%;
    text-align: right
}

.left-tabs {
    width: 14.15%;
    height: 100%;
}

.fav{
    align-items: center;
    align-content: center;
}

label {
    /* Presentation */
    font-size: 30px
  }

  
  /* Required Styling */
  
  label input[type="checkbox"] {
    display: none;
  }
  
  .custom-checkbox {
    /* margin-left: 2em; */
    position: relative;
    cursor: pointer;
  }

  
  
  .custom-checkbox .material-icons {
    color: gold;
    position: absolute;
    left: 1em;
    bottom: -0.7em;
    /* top: 0.4em;
    left: -1.25em; */
    /*font-size: 0.5em; */
  }
  
  .custom-checkbox .empty {
    color: gray;
  }
  
  .custom-checkbox .star {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  
  .custom-checkbox:hover .star{
    opacity: 0.5;
  }
  
  .custom-checkbox input[type="checkbox"]:checked ~ .star {
    opacity: 1;
  }

  .ddm-report-name:hover{
      cursor: pointer;
      background-color: #ccc;
      font-weight: bold;
  }