<div class="modal-container">
    <div class="modal-header" style="display: flex;">
      <div class="title">
          Create New Relation
      </div>
      <div style="width: 6%;">
          <mat-icon class="pointer" (click)="onNoClick();">close</mat-icon>
      </div>
    </div>
    <div class="modal-body">
      <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
          <mat-tab label=" Create Relation">
              <app-create-relation (createEmittor)="relationCreated($event)" [names]="relNames" [isEdit]="false"></app-create-relation>
            </mat-tab>
      <mat-tab label="Show Relations"> 
          <app-show-relations *ngIf="dataInjected" (relNames)="getRelNames($event)" (editSelectedRelation)="enableEditing($event)"></app-show-relations>
        </mat-tab>

        <mat-tab label=" Edit Relation" *ngIf="enableEditingFlag">
            <app-create-relation (createEmittor)="relationCreated($event)" [names]="relNames" [editData]="editingData" [isEdit]="true"></app-create-relation>
          </mat-tab>           
      </mat-tab-group>
    </div>
  </div>