<div class="modal-container">
  <div class="modal-header">
    Conditions
    <mat-icon style="cursor:pointer;" (click)="closeDailog();">close</mat-icon>
  </div>
  <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">

    <mat-tab label="Create Conditions">
      <app-create-condition [data]="data" [isEdit]="false" (createDone)="creatingDone($event)"></app-create-condition>
      <!-- <div class="loader" *ngIf="!dataInject">
        <div>Loading......</div>
      </div> -->
    </mat-tab>
    <mat-tab label="Manage Conditions">
     <app-manage-condition *ngIf="dataInject" [data]="data" (editCondition)="enableEditingTab($event)"
     [inputConditionsList]="conditionsList"></app-manage-condition>
      <div class="loader" *ngIf="!dataInject">
        <div >Loading......</div>
      </div>
    </mat-tab>
    <mat-tab label="Edit Parameter" *ngIf="enableEditing">
        <app-create-condition [data]="data" [editData]="editingData" (editDone)="editingDone($event)"
        [isEdit]="true"></app-create-condition>
    </mat-tab>
  </mat-tab-group>
</div>