mat-card {
  min-height: 100%;
  box-shadow: none;
}

mat-form-field {
  width: 90%;
}

#info {
  min-height: 24px;
  height: 24px;
}

#info button {
  float: right;
  background-color: transparent;
  padding: 0
}

#info button svg {
  width: 24px;
  height: 24px;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.column-alias ::ng-deep .mat-option-text {
  vertical-align: top;
}

.column-input {
  display: inline-block;
  width: 33%;
  vertical-align: top;
  margin-top: 5px;
  padding: 1%;
}

.filter-input {
  padding: 16px;
  box-sizing: border-box;
}

.pl-18 {
  padding-left: 18px;
}