.ellipsis {
    text-overflow: ellipsis;
    max-width: 25%;
    overflow: hidden;
    white-space: nowrap;
}

mat-expansion-panel-header {
    position: relative;
    font-weight: 700;
}

.modal-body {
    overflow-y: auto;
    /* max-height: 323px;     */
    /* max-height: 200px;   */
    height: auto;
}

.p-45 {
    padding: 45px;
}

.p-0 {
    padding: 0;
}

.l-t-40 {
    left:40%;
    top:40%;
}

.m-l20 {
    margin-right: 20px; 
}

.h-100 {
    height:100%
}

.modal-header {
    font-size:24px;
}

.de-icon {
    width: 25px;
    height: 39px;
    outline: none;
}

.relation-body {
    height: 25px;
    border-bottom: 1px solid;
}

.modal-footer {
    margin-top: 0;
    padding: 10px;
}

/* .tags-style-new {
    border-radius: 10px;
    border: 1px solid #000;
    color: black;
    background: beige;
    padding: 5px 10px;
    display: inline-block;
    margin: 5px;
} */

.tags {
    border-radius: 10px;
    border: 1px solid #a5a5a5;
    padding: 5px 10px;
    display: inline-block;
    margin: 5px;
  }

.delete-confrimation-dialog{
    background: #fff;
    position: absolute;
    height: 175px;
    width: 60%;
    border-radius: 14px;
    left: 20%;
    top: 10%;
    box-shadow: 3px 2px 9px 1px #afafae;
    border: 1px solid #ccc;
}
.delete-btns-container{
    position: relative;
    top: 30px;
    /* l: 0px; */
    text-align: end;
}
.button-prop{
    background: white;
    margin-right: 15px;
    font-size: 16px;
    font-weight: 600;
}
.delete-popup-bg{
    position: absolute;
    width: 100%;
    top: 0px;
    background: #bbbbbb6e;
    /* opacity: 0.2; */
    height: 100%;
}
.div-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
}

.mapped-table {
    border-radius: 10px;
    border: 1px solid #a5a5a5;
    padding: 5px 10px;
    display: inline-block;
    margin: 5px;
  }
  