<div class="modal-body" style="height: 280px;overflow: auto">
  <div class="h-100" *ngIf="!load">
    <div class="list-semantic" *ngIf="createdLov.length">
      <mat-accordion>
        <mat-expansion-panel [expanded]="false" *ngFor="let item of createdLov">
          <mat-expansion-panel-header>
            <span class="ellipsis" title="{{item.lov_name}}">{{item.lov_name}}</span>
            <button style="right: 15%;height: 30px;width: 30px;position: absolute;" mat-stroked-button mat-icon-button
              aria-label="Delete" class="m-left" isRoundButton="true" (click)="showConfirmationDialog(item.lov_id)">
              <mat-icon class="de-icon">delete</mat-icon>
            </button>
            <button style="right: 50px;height: 30px;width: 30px;position: absolute;" mat-stroked-button mat-icon-button
              aria-label="Edit" class="m-left" isRoundButton="true" (click)="editLov(item)">
              <mat-icon class="de-icon">edit</mat-icon>
            </button>
          </mat-expansion-panel-header>
          <div style="font-weight: 700;">Values:</div>
          <!-- <div class="tags-style-new position-relative relation-body" *ngFor="let list of item.value_list"> -->
              <div class="tags" *ngFor="let list of item.value_list" title="{{list}}">              
            <!-- <span class="ellipsis position-absolute" style="left: 0%" title="{{list}}">{{list}}</span> -->
            {{list}}
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div *ngIf="!createdLov.length" class="text-center p-45">
      No data available
    </div>
  </div>
  <div *ngIf="load" class="p-0">
    <mat-progress-spinner class="l-t-40" mode="indeterminate"></mat-progress-spinner>
  </div>
</div>
<div class="modal-footer">
  <button mat-raised-button class="m-l20" (click)="onNoClick();">Cancel</button>
</div>
<div class="delete-popup-bg" (click)="enableDeleteConfirmationDialog = false;" *ngIf="enableDeleteConfirmationDialog">
</div>
<div class="delete-confrimation-dialog" *ngIf="enableDeleteConfirmationDialog">
  <div style="padding:19px 19px 6px 19px;font-weight: 600;">
    This LOV will be deleted permanently.</div>
  <div style="padding: 0px 14px;font-weight: 600;">Do you want to proceed ?</div>
  <div class="delete-btns-container">
    <button mat-button (click)="enableDeleteConfirmationDialog = false;" class="button-prop" style="color: #367d1b;">Cancel</button>
    <button mat-button (click)="deleteLov()" class="button-prop" [ngStyle]="{'color': disableApplyBtn?'grey':'#e84f1d' }"
      [disabled]="disableApplyBtn">Delete</button>
  </div>
</div>