.config-container{
    display: grid;
    padding: 20px;
}
.config-title{
    font-size: 20px;
    font-weight: 600;
    /* border-bottom: 1px solid grey; */
    color: #636262;
    margin-bottom: 25px;
    text-align: center;
}
.color-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;
}
.color-box{
    /* background: blue; */
    width: 70px;
    cursor: pointer;
    box-shadow: 1px 1px 1px grey;
    height: 25px;
    border-radius: 7px;
    border : 1px solid grey;
}
.config-footer{
    position: absolute;
    bottom: 25px;
    right: 20px;
}