<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vehEveStatWrapper">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3 class="bold">Order Criteria</h3>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <app-topfilter [userProfile]="divisionSltd" [filters]="division" [title]="'Division'">
        </app-topfilter>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding alignCenter">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bold">
                Model Years
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <mat-form-field>
                    <mat-label>Models</mat-label>
                    <mat-select [formControl]="modelYear" multiple>
                        <mat-option *ngFor="let modelYear of modelYears" [value]="modelYear">{{modelYear}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding alignCenter">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bold">
                Vehicle Line Brand
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <mat-form-field>
                    <mat-label>Vehicle Line Brand</mat-label>
                    <mat-select [formControl]="vehLineBrand" multiple>
                        <mat-option *ngFor="let vehLineBrand of vehLineBrands" [value]="vehLineBrand">{{vehLineBrand}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding alignCenter">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bold">
                Allocation Groups
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <mat-form-field>
                    <mat-label>Allocation Groups</mat-label>
                    <mat-select [formControl]="allocGrps" multiple>
                        <mat-option *ngFor="let allocGrps of allocGrpss" [value]="allocGrps">{{allocGrps}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding alignCenter">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bold">
                Merchandising Model
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <mat-form-field>
                    <mat-label>Merchandising Model</mat-label>
                    <mat-select [formControl]="merchModel" multiple>
                        <mat-option *ngFor="let merchModel of merchModels" [value]="merchModel">{{merchModel}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding alignCenter margBottom">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bold">
                Types of Data Distribution Entity*
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                    <mat-form-field>
                        <mat-label>Data Distribution Entity</mat-label>
                        <mat-select [formControl]="ddEntity" multiple>
                            <mat-option *ngFor="let ddEntity of ddEntitys" [value]="ddEntity">{{ddEntity}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding alignCenter margBottom">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bold">
                Order Type (Optional)
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                    <mat-form-field style="width: 100%">
                        <mat-label>Order Types</mat-label>
                        <mat-select [formControl]="orderType" multiple>
                            <mat-option *ngFor="let orderType of orderTypes" [value]="orderType">{{orderType}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding alignCenter margBottom">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bold">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding lineHeight">Commonly requested fields available for
                    display</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding callout lineHeight">*Please list other items in the
                    Additional Requirements Area</div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <mat-form-field>
                    <mat-label>Common fields</mat-label>
                    <mat-select [formControl]="commonfield" multiple>
                        <mat-option *ngFor="let commonfield of commonfields" [value]="commonfield">{{commonfield}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding alignCenter margBottom">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bold">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding lineHeight">Option content available for display
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding callout lineHeight">*Please list other items in the
                    Additional Requirements Area</div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <mat-form-field>
                    <mat-label>Option Content</mat-label>
                    <mat-select [formControl]="optionCont" multiple>
                        <mat-option *ngFor="let optionCont of optionConts" [value]="optionCont">{{optionCont}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding alignCenter margBottom">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bold">
                Order Events available for display
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <mat-form-field>
                    <mat-label>Order Events</mat-label>
                    <mat-select [formControl]="orderEvent" multiple>
                        <mat-option *ngFor="let orderEvent of orderEvents" [value]="orderEvent">{{orderEvent}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding alignCenter">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bold">
                Key Data Elements for Date Range
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <mat-form-field>
                    <mat-label>Key Data Elements</mat-label>
                    <mat-select [formControl]="keyElem" [disabled]="disabled">
                        <mat-option *ngFor="let keyElem of keyElems" [value]="keyElem">{{keyElem}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding alignCenter">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bold">
                Other Key Data Elements
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 alignCenter">
                <mat-checkbox [(ngModel)]="disabled" (change)="keyElemChecked()"></mat-checkbox>
                <mat-form-field style="width: 100%">
                    <mat-label>Please enter other Key Data Elements</mat-label>
                    <input matInput placeholder="Please enter other Key Data Elements" value="" [disabled]="!disabled">
                </mat-form-field>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding alignCenter">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 bold">
                Date Range
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPadding">
                    <mat-form-field style="width: 95%; margin-left: 0.5vw;">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="startPicker">
                        <mat-datepicker-toggle matSuffix [for]="startPicker" [formControl]="startDate">
                        </mat-datepicker-toggle>
                        <mat-datepicker #startPicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPadding">
                    <mat-form-field style="width: 95%; margin-left: 0.5vw;">
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="endPicker">
                        <mat-datepicker-toggle matSuffix [for]="endPicker" [formControl]="endDate">
                        </mat-datepicker-toggle>
                        <mat-datepicker #endPicker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 borderLeft borderRight">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding bold ordMetsTitle">Order Metrics</div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding ">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bold">
                Order Events available for display
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    Sales and Availabilty (Event Progression)
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margBottom">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                            <mat-checkbox>Number Ordered (Evt1000/1100)</mat-checkbox>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                            <mat-checkbox>Number Placed (Evt2000)</mat-checkbox>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                            <mat-checkbox>Number Insystem (Evt2500-3800)</mat-checkbox>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                            <mat-checkbox>Number InTransit (Evt4000-4850)</mat-checkbox>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                            <mat-checkbox>Number In Inventory (Evt5000)</mat-checkbox>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                            <mat-checkbox>Number Sold by MY (Evt6000/6200)</mat-checkbox>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                            <mat-checkbox>Number Sold past 30 days</mat-checkbox>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                            <mat-checkbox>Number Sold past 90 days</mat-checkbox>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                            <mat-checkbox>Total Available (Evt2500-5000)</mat-checkbox>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                            <mat-checkbox>Total Available Placed (Evt2000-5000)</mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margBottom">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        Days Supply
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <mat-checkbox>Net (Inventory) using Sales of</mat-checkbox>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 noPadding">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                                    <mat-radio-group aria-labelledby="example-radio-group-label"
                                        class="example-radio-group" style="width: 100%;">
                                        <mat-radio-button class="example-radio-button radio-label"
                                            *ngFor="let splId of ['30 days', '90 days']" [value]="splId">
                                            {{splId}}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <mat-checkbox>Gross (Total Availability) using Sales of</mat-checkbox>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 noPadding">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                                    <mat-radio-group aria-labelledby="example-radio-group-label"
                                        class="example-radio-group" style="width: 100%;">
                                        <mat-radio-button class="example-radio-button radio-label"
                                            *ngFor="let splId of ['30 days', '90 days']" [value]="splId">
                                            {{splId}}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <mat-checkbox>Gross + (Total Avail/Placed) using Sales of</mat-checkbox>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 noPadding">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                                    <mat-radio-group aria-labelledby="example-radio-group-label"
                                        class="example-radio-group" style="width: 100%;">
                                        <mat-radio-button class="example-radio-button radio-label"
                                            *ngFor="let splId of ['30 days', '90 days']" [value]="splId">
                                            {{splId}}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <mat-checkbox>Hybrid (InTrans+Inv) using Sales of</mat-checkbox>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 noPadding">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                                    <mat-radio-group aria-labelledby="example-radio-group-label"
                                        class="example-radio-group" style="width: 100%;">
                                        <mat-radio-button class="example-radio-button radio-label"
                                            *ngFor="let splId of ['30 days', '90 days']" [value]="splId">
                                            {{splId}}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margBottom">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    Penetration
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <mat-checkbox>Nbr Ordered compared to Nbr Sold</mat-checkbox>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <mat-checkbox>Nbr Produced compared to Nbr Sold</mat-checkbox>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <mat-checkbox>Nbr Sold compared by option content</mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margBottom">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    Time to Turn
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <mat-checkbox>Average between Evt 6000 & Evt 5000</mat-checkbox>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <mat-checkbox>Adjusted Time to Turn</mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margBottom">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    Turn Rate
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <mat-checkbox>Using Sales of</mat-checkbox>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 noPadding">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                                    style="width: 100%;">
                                    <mat-radio-button class="example-radio-button radio-label"
                                        *ngFor="let splId of ['30 days', '90 days']" [value]="splId">
                                        {{splId}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding alignCenter" style="margin-top: 0.8vh;">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 bold">
                DOSP - Orders Processed 
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPadding">
                    <mat-form-field style="width: 95%; margin-left: 0.5vw;">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="picker1">
                        <mat-datepicker-toggle matSuffix [for]="picker1" [formControl]="startDate">
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPadding">
                    <mat-form-field style="width: 95%; margin-left: 0.5vw;">
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="picker2">
                        <mat-datepicker-toggle matSuffix [for]="picker2" [formControl]="endDate">
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</div>