<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vehEveStatWrapper">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="bold" style="font-size: 1.2em;">Order Criteria</div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: 0px 0px 15px;font-weight: 600;">
        <div [innerHTML]="display_message" [ngClass]="messageClass"></div>
    </div>
    <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="!req_body.report_id">
        <div class="red">Create Request to proceed with vehicle event status</div>
    </div> -->
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <app-mat-multiselect [data]="filtered_MD.divisions" [settings]="division_settings"
            [(inputModel)]="selected.divisions" (selectionDone)="multiSelectChange('division')"></app-mat-multiselect>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding alignCenter">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bold">
                Model Years
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <app-mat-multiselect [data]="filtered_MD.model_years" [settings]="model_yr_settings"
                    [(inputModel)]="selected.model_years" (selectionDone)="multiSelectChange('model')">
                </app-mat-multiselect>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding alignCenter">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bold">
                Vehicle Line Brand
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <app-mat-multiselect [data]="filtered_MD.vehicle" [settings]="vehicle_settings"
                    [(inputModel)]="selected.vehicle" (selectionDone)="multiSelectChange('vehicle')">
                </app-mat-multiselect>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding alignCenter">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bold">
                Allocation Groups
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <app-mat-multiselect [data]="filtered_MD.allocation" [settings]="allocation_settings"
                    [(inputModel)]="selected.allocation" (selectionDone)="multiSelectChange('allocation')">
                </app-mat-multiselect>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding alignCenter">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bold">
                Merchandising Model
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <app-mat-multiselect [data]="filtered_MD.merchandising" [settings]="merchandising_settings"
                    [(inputModel)]="selected.merchandising" (selectionDone)="multiSelectChange('merchandising')">
                </app-mat-multiselect>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding alignCenter">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bold">
                Distribution Entity<span class="red">*</span> (Selection Required)
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                    <app-mat-multiselect [data]="filtered_MD.distribution_entity" [settings]="distribution_settings"
                        [(inputModel)]="selected.distribution_entity"
                        (selectionDone)="multiSelectChange('distribution')"></app-mat-multiselect>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding ">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lineHeight">
                    Display or Summarize by Distribution Entities?
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <mat-radio-group aria-labelledby="example-radio-group-label" class=""
                    [(ngModel)]="distibutionEntityRadio">
                    <mat-radio-button class="radio-label" *ngFor="let bool of ['Display', 'Summary']" [value]="bool">
                        {{bool}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding alignCenter">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bold">
                Order Type (Optional)
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                    <app-mat-multiselect [data]="filtered_MD.order_type" [settings]="orderType_settings"
                        [(inputModel)]="selected.order_type" (selectionDone)="multiSelectChange('orderType')">
                    </app-mat-multiselect>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding margBottom">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lineHeight">
                    Display or Summarize by Order Type?
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <mat-radio-group aria-labelledby="example-radio-group-label" class="" [(ngModel)]="orderTypeRadio">
                    <mat-radio-button class="radio-label" *ngFor="let bool of ['Display', 'Summary']" [value]="bool">
                        {{bool}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding alignCenter ">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bold">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding lineHeight">Commonly requested fields
                    available for
                    display</div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <app-mat-multiselect [data]="checkBxMD1.commonly_req_field" [settings]="commonly_req_field_settings"
                    [(inputModel)]="selected_checkbox.commonly_req_field"></app-mat-multiselect>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding callout lineHeight margBtmLight">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 lineHeightSmall">
                *Should you need other type of fields, please clarify in the Additional Requirements area
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding alignCenter ">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bold">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding lineHeight">Option content available for
                    display
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <app-mat-multiselect [data]="checkBxMD1.opt_content_avail" [settings]="option_content_avail_settings"
                    [(inputModel)]="selected_checkbox.opt_content_avail"></app-mat-multiselect>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding callout lineHeight margBtmLight">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 lineHeightSmall">
                *When choosing "Other Production Options" or "Family of Options", please list these requirements in the
                Additional Requirements area
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding alignCenter margBottom">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bold">
                Order Events available for display
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <app-mat-multiselect [data]="checkBxMD1.order_event_avail_ds" [settings]="order_event_avail_settings"
                    [(inputModel)]="selected_checkbox.order_event_avail_ds"></app-mat-multiselect>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding alignCenter">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bold">
                Key Data Elements for Date Range<span class="red">*</span>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <app-mat-multiselect [data]="keyDataEle.masterData" [settings]="keyDataEle_settings"
                    [(inputModel)]="keyDataEle.selected"></app-mat-multiselect>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding alignLeft">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">OR</div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding alignCenter">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bold">
                Other Key Data Elements<span class="red">*</span>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 alignCenter">
                <mat-checkbox [(ngModel)]="keyDataEle.others.checked" (change)="checkKeyDataEle($event)"></mat-checkbox>
                <mat-form-field style="width: 100%">
                    <mat-label>Please enter other Key Data Elements</mat-label>
                    <input matInput placeholder="Please enter other Key Data Elements" value=""
                        [disabled]="!keyDataEle.others.checked" [(ngModel)]="keyDataEle.others.order_event">
                </mat-form-field>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding alignCenter">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 bold">
                Date Range
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPadding">
                    <mat-form-field style="width: 95%; margin-left: 0.5vw;">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="fromOrderEvent" [formControl]="keyDataEle.orderEvtFromDate"
                            textEditable="false" (dateChange)="onOrderEventdateSelection()">
                        <mat-datepicker-toggle matSuffix [for]="fromOrderEvent"></mat-datepicker-toggle>
                        <mat-datepicker #fromOrderEvent></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPadding">
                    <mat-form-field style="width: 95%; margin-left: 0.5vw;">
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="toOrderEvent" [formControl]="keyDataEle.orderEvtToDate"
                            [disabled]="!keyDataEle.orderEvtFromDate.value" [min]="minOrderEventDate"
                            textEditable="false" (dateChange)="onOrderEventdateSelection()">
                        <mat-datepicker-toggle matSuffix [for]="toOrderEvent"></mat-datepicker-toggle>
                        <mat-datepicker #toOrderEvent></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 borderLeft borderRight">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding bold ordMetsTitle">Order Metrics</div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding ">
            <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bold">
                Order Events available for display
            </div> -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bold" style="padding-bottom: 4px;">
                    Sales and Availability (Event Progression)
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margBottom">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <ng-container *ngFor="let sales of checkboxMD2.sales_avail">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                                <mat-checkbox [(ngModel)]="sales['checked']" [matTooltip]="sales['tooltip']">
                                    {{ sales.field_values }} </mat-checkbox>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margBottom">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bold">
                        Days Supply
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <div> Net (Inventory) using Sales of </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 noPadding">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                                    <mat-checkbox *ngFor="let daysSupply of checkboxMD2.days_supply1"
                                        [matTooltip]="daysSupply['tooltip']" [(ngModel)]="daysSupply['checked']"
                                        style="margin-right: 5px;"> {{ daysSupply.label }} </mat-checkbox>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <div> Gross (Total Availability) using Sales of</div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 noPadding">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                                    <mat-checkbox *ngFor="let daysSupply of checkboxMD2.days_supply2"
                                        [matTooltip]="daysSupply['tooltip']" [(ngModel)]="daysSupply['checked']"
                                        style="margin-right: 5px;"> {{ daysSupply.label }} </mat-checkbox>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <div> Gross + (Total Avail/Placed) using Sales of</div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 noPadding">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                                    <mat-checkbox *ngFor="let daysSupply of checkboxMD2.days_supply3"
                                        [matTooltip]="daysSupply['tooltip']" [(ngModel)]="daysSupply['checked']"
                                        style="margin-right: 5px;"> {{ daysSupply.label }} </mat-checkbox>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <div> Hybrid (InTrans+Inv) using Sales of</div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 noPadding">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                                    <mat-checkbox *ngFor="let daysSupply of checkboxMD2.days_supply4"
                                        [matTooltip]="daysSupply['tooltip']" [(ngModel)]="daysSupply['checked']"
                                        style="margin-right: 5px;"> {{ daysSupply.label }} </mat-checkbox>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margBottom">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bold">
                    Penetration
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding"
                        *ngFor="let penetration of checkboxMD2.penetration">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <mat-checkbox [(ngModel)]="penetration['checked']" [matTooltip]="penetration['tooltip']">
                                {{ penetration.field_values }}
                            </mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margBottom">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bold">
                    Time to Turn
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                            *ngFor="let time2turn of checkboxMD2.time_to_turn">
                            <mat-checkbox [(ngModel)]="time2turn['checked']" [matTooltip]="time2turn['tooltip']">
                                {{ time2turn.field_values }} </mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margBottom">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bold">
                    Turn Rate
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                        <div>Using Sales of</div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 noPadding">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <mat-checkbox *ngFor="let daysSupply of checkboxMD2.turn_rate"
                                [(ngModel)]="daysSupply['checked']" style="margin-right: 5px;"
                                [matTooltip]="daysSupply['tooltip']"> {{ daysSupply.label }} </mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding alignCenter" style="margin-top: 0.8vh;">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 bold">
                DOSP - Orders Processed
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPadding">
                    <mat-form-field style="width: 95%; margin-left: 0.5vw;">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="fromDpDOSP" [formControl]="fromDateDOSP"
                            (dateChange)="onDOSPDateSelection()" textEditable="false">
                        <mat-datepicker-toggle matSuffix [for]="fromDpDOSP"></mat-datepicker-toggle>
                        <mat-datepicker #fromDpDOSP></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPadding">
                    <mat-form-field style="width: 95%; margin-left: 0.5vw;">
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="toDpDOSP" [formControl]="toDateDOSP"
                            [disabled]="!fromDateDOSP.value" [min]="minDateDosp" textEditable="false"
                            (dateChange)="onDOSPDateSelection()">
                        <mat-datepicker-toggle matSuffix [for]="toDpDOSP"></mat-datepicker-toggle>
                        <mat-datepicker #toDpDOSP></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding alignCenter" style="min-height: 15vh;">
            <span style="background: yellow; color: black; padding: 0.5vw 1vw;">Additional Requirements Area will appear
                once you click 'Continue'</span>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alignRight">
        <button [cssBtn]="'ok'" mat-raised-button (click)="openAdditionalReqModal();"
            [disabled]="!req_body.report_id">Continue</button>
    </div>
</div>