
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<header>

    <img src= "assets/OFT_Logo.jpg" class="img-logo img-rounded">
    Distribution Data Mart
</header>
<body>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-lg-6">
                    <div id="login-box" class="col-lg-12">
                        <form id="login-form" class="form" (submit)="loginUser($event);">
                            <h2 class="h2">Sign In </h2>
                            <div class="form-group">
                                <label for="username" class="txt">Username:</label><br>
                                <input type="text" [(ngModel)]="username" name="username" placeholder="Enter Username" class="form-control" 
                                required maxlength="6" >
                            </div>
                            <div class="form-group">
                                <label for="password" class="txt">Password:</label><br>
                                <input type="password" [(ngModel)]="password" name="password"  placeholder="Enter Password" class="form-control" 
                                required maxlength="15" >
                            </div>
                            <div class="form-group">
                            <input type="submit" name="submit" class="button" value="Sign In">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div >  <img src= "assets/spinner.gif" class="spinner" *ngIf="loading" > </div> 
    </div>
</body>
<app-footer style="height: 10%"></app-footer>
