<div class="container-fluid save-bar">
  <div class="row">
    <div class="col-6">
      <h4 class="header">REPORT CRITERIA</h4>
    </div>
    <div class="col-6">
      <div class="icons">
        <div class="press">
          <button data-toggle="modal" data-target="#helpModal" style="padding:0%;">
            <a data-toggle = "tooltip" title = "HELP"><i id="ic" class="material-icons">help_outline</i></a>
          </button>
        </div>
      </div>
    </div>

    <div class="col-8 padding-left">
      <div class="row sub-heading">Selections can be used to generate Dealer Allocation or Order to Sale reports</div>
      <div class="row" style="color: green"><span *ngIf = "message">&#9745;</span>&nbsp;<strong>{{message}}</strong></div>
      <div class="row"><strong><i>{{proceed_instruction}}</i></strong></div>
      <!-- <p _ngcontent-c1="" class="mandatory-fields" style="float:left">*Required Fields</p> -->
    </div>
    <div id="updateButtons" class="col-2" style="display: none;">
        <button id="update" class="btn btn-danger updateButton" (click)="cancelUpdate()"
        [disabled]="!update" style="margin-left:10%; width:45%;background: rgb(220, 53, 69)">Cancel</button>
        <button id="update" class="btn btn-success updateButton" (click)="updateSelections()"
        [disabled]="!update" style="width:45%;">Update</button>
      

        <!-- <button id="cancel" class="btn btn-success updateButton" (click)=cancelSelections()
          [disabled]="!update">Cancel</button> -->

    </div>
    <div id="dummy" class="col-2"></div>
    <div class="col-2">
      <button id="save" class="btn btn-success saveButton" (click)=checkSelections() [disabled]="update">Create New
        Report</button>
    </div>
  </div>
</div>

<div id="market" class="container-fluid border">
  <div class="row">
    <div class="col-12">
      <h4 class="header">MARKET SELECTIONS</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-5"></div>
    <div class="col-4">
      <button class="btn btn-primary clear-style clear-button" (click)=clearClick()>Clear Market Settings</button>
    </div>
    <div class="col-4"></div>
  </div>

  <!--------------------------------------------------------------------------------------------------->
  <div class="row">
    <div class="col-12">
      <div>{{dropdownSettings_report["text"]}}<span _ngcontent-c1="" class="mandatory-fields">*</span></div>
      <angular4-multiselect [data]="dropdownList_report" [(ngModel)]="selectedItems_report"
        [settings]="dropdownSettings_report" (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)"
        (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
      </angular4-multiselect>


      <br>
      <div>{{divisiondropdownSettings_report["text"]}}</div>
      <angular4-multiselect [data]="divisiondropdownListfinal_report" [(ngModel)]="divisionselectedItems_report"
        [settings]="divisiondropdownSettings_report">
      </angular4-multiselect>


      <br>
      <div>{{regiondropdownSettings_report["text"]}}</div>
      <angular4-multiselect [data]="regiondropdownListfinal_report" [(ngModel)]="regionselectedItems_report"
        [settings]="regiondropdownSettings_report" (onSelect)="regiononItemSelect($event)"
        (onDeSelect)="regiononItemDeSelect($event)" (onSelectAll)="regiononSelectAll($event)"
        (onDeSelectAll)="regiononItemDeSelectAll($event)">
      </angular4-multiselect>

      <br>
      <div>{{zonedropdownSettings_report["text"]}}</div>
      <angular4-multiselect [data]="zonedropdownListfinal_report" [(ngModel)]="zoneselectedItems_report"
        [settings]="zonedropdownSettings_report" (onSelect)="zoneonItemSelect($event)"
        (onDeSelect)="zoneonItemDeSelect($event)" (onSelectAll)="zoneonSelectAll($event)"
        (onDeSelectAll)="zoneonDeSelectAll($event)">
      </angular4-multiselect>

      <br>
      <div>{{areadropdownSettings_report["text"]}}</div>
      <angular4-multiselect [data]="areadropdownListfinal_report" [(ngModel)]="areaselectedItems_report"
        [settings]="areadropdownSettings_report">

      </angular4-multiselect>

      <br>
      <div>{{gmmadropdownSettings_report["text"]}}</div>
      <angular4-multiselect [data]="gmmadropdownListfinal_report" [(ngModel)]="gmmaselectedItems_report"
        [settings]="gmmadropdownSettings_report">

      </angular4-multiselect>

      <br>
      <div>{{lmadropdownSettings_report["text"]}}</div>
      <angular4-multiselect [data]="lmadropdownListfinal_report" [(ngModel)]="lmaselectedItems_report"
        [settings]="lmadropdownSettings_report">

      </angular4-multiselect>

      <br>
      <div>{{bacdropdownSettings_report["text"]}}</div>
      <angular4-multiselect *ngIf="bacdropdownList_report" [data]="bacdropdownList_report" [(ngModel)]="bacselectedItems_report"
        [settings]="bacdropdownSettings_report">
      </angular4-multiselect>

      <br>
      <div>{{fandropdownSettings_report["text"]}}</div>
      <angular4-multiselect *ngIf="fandropdownList_report" [data]="fandropdownList_report" [(ngModel)]="fanselectedItems_report"
        [settings]="fandropdownSettings_report">
      </angular4-multiselect>
      <!-- <div>{{fandropdownSettings_report["text"]}}</div>
      <angular4-multiselect [data]="fandropdownList_report" [(ngModel)]="fanselectedItems_report" [settings]="fandropdownSettings" (onSelect)="saveTriggeronItemSelect($event)"
      (onDeSelect)="saveTriggeronItemDeSelect($event)" (onSelectAll)="saveTriggeronSelectAll($event)"
      (onDeSelectAll)="saveTriggeronDeSelectAll($event)">
      </angular4-multiselect> -->
      <!-- <div>{{dealernamedropdownSettings_report["text"]}}</div>
      <angular4-multiselect [data]="dealernamedropdownListfinal_report" [(ngModel)]="dealernameselectedItems_report"
        [settings]="dealernamedropdownSettings_report">
      </angular4-multiselect>

      <br>
      <div>{{citydropdownSettings_report["text"]}}</div>
      <angular4-multiselect [data]="citydropdownListfinal_report" [(ngModel)]="cityselectedItems_report"
        [settings]="citydropdownSettings_report">
      </angular4-multiselect>

      <br>
      <div>{{statedropdownSettings_report["text"]}}</div>
      <angular4-multiselect [data]="statedropdownListfinal_report" [(ngModel)]="stateselectedItems_report"
        [settings]="statedropdownSettings_report">
      </angular4-multiselect>

      <br>
      <div>{{zipdropdownSettings_report["text"]}}</div>
      <angular4-multiselect [data]="zipdropdownListfinal_report" [(ngModel)]="zipselectedItems_report"
        [settings]="zipdropdownSettings_report">
      </angular4-multiselect>

      <br>
      <div>{{countrydropdownSettings_report["text"]}}</div>
      <angular4-multiselect [data]="countrydropdownListfinal_report" [(ngModel)]="countryselectedItems_report"
        [settings]="countrydropdownSettings_report">
      </angular4-multiselect>

      <br>
      <br> -->
      <br>
      <br>

    </div>
  </div>
  <!----------------------------------------------------------------------------------------------------->
  <div class="row">
    <div class="col-12">
      <h4 class="header">SPECIAL IDENTIFIERS*</h4>
      <span><i><strong> *Note: 'FAN' selection(s) is/are applicable only for Order To Sale Requests</strong></i></span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <table class="table">
        <thead>
          <th>Special Identifiers</th>
        </thead>
        <tbody>
          <tr class="d-flex" *ngFor="let element of special_identifier ; let i=index">
            <td class="col-12"><input (click)="specialIdentifierSelected(element,$event)" type="checkbox"
                value={{element.ddm_rmp_lookup_special_identifiers}} [id]="'spl_desc'+i"
                class="special-checkbox">&nbsp;&nbsp;{{element.spl_desc}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4 class="header">REPORT FREQUENCY</h4>
    </div>
  </div>
  <div class="row freq">

    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          Report Frequency
        </div>
        <div class="card-body">
          <p class="card-text">Is report required on a regular basis?<span _ngcontent-c1=""
              class="mandatory-fields">*</span></p>
          <div *ngFor="let element of frequency ; let i=index">
            <input class="check not-frequently frequency-checkbox" [id]="'frequency'+i" type="radio" name="select-freq"
              (change)="toggle_freq(selectfield.id)" [checked]="element.frequency_desc == 'No'"
              #selectfield>&nbsp;&nbsp;{{element.frequency_desc}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          Select Frequency for Ongoing Routine Reports
        </div>
        <div class="card-body top-padding">
          <!--------------------------- Select Report Frequency------------------->
          <span><i><strong><u>
            Frequency for Order To Sale Requests
          </u></strong></i></span>

          <div class="row" *ngFor="let element of obj_keys;let i = index">
            <div class="time-check col-sm-8 " [id]="'section'+i">
              <div data-toggle="collapse" [attr.data-target]="'#'+'drop'+i" class="timing day" type="radio" name="dates"
                disabled [id]="'check'+i" (change)="toggle_freq_selections(i)" style="cursor:pointer; margin-top: 2%"
                #frequency_selections>&nbsp;&nbsp;{{element}}</div>
            </div>
            <div class="time-options col-sm-4">
              <button class="down-arrow" data-toggle="collapse" [attr.data-target]="'#'+'drop'+i" aria-expanded="false"
                [attr.aria-controls]="'drop'+i">
                <svg class="sv" style="width:24px;height:24px">
                  <path fill="#000000" d="M7,10L12,15L17,10H7Z" />
                </svg>
              </button>
            </div>
            <div class="collapse in" [id]="'drop'+i">
              <div *ngFor="let element of freq_val; let j =  index">
                <div *ngIf="i==j">
                  <div *ngFor="let subelement of element; let z=index">
                    <div *ngIf="subelement.select_frequency_description == false">
                      &nbsp;&nbsp;
                      <input id=check{{subelement.ddm_rmp_lookup_select_frequency_id}} class="sub" type="checkbox"
                        (click)="frequencySelected(subelement,$event)"
                        value={{subelement.ddm_rmp_lookup_select_frequency_id}} disabled
                        [id]="'expand'+i">&nbsp;&nbsp;{{subelement.select_frequency_values}}
                    </div>
                    <div *ngIf="subelement.select_frequency_description == true">
                      &nbsp;&nbsp;
                      <input id=check{{subelement.ddm_rmp_lookup_select_frequency_id}} class="sub" type="checkbox"
                        (click)="frequencySelectedDropdown(subelement,$event)"
                        value={{subelement.ddm_rmp_lookup_select_frequency_id}} disabled
                        [id]="'expand'+i">&nbsp;&nbsp;{{subelement.select_frequency_values}}
                      <br>
                      &nbsp;&nbsp; &nbsp;&nbsp;
                      <input id=drop{{subelement.ddm_rmp_lookup_select_frequency_id}} class="sub-freq"
                        (blur)=getSpecifyContent(subelement.ddm_rmp_lookup_select_frequency_id,$event) type="text"
                        value="" disabled>
                      <!-- <input id="drop{{element.ddm_rmp_lookup_ots_checkbox_values_id}}" type="text" value="" (blur)=getSpecifyContent(element.ddm_rmp_lookup_ots_checkbox_values_id,$event) disabled> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <br>
          <span><i><strong><u>
              Frequency for Dealer Allocation Requests
            </u></strong></i></span>
          <div class="row" *ngFor="let element of obj_keys_da;let i = index">
            <div class="time-check col-sm-8 " [id]="'section'+i">
              <div data-toggle="collapse" [attr.data-target]="'#'+'drops'+i" class="timing day" type="radio" name="dates"
                disabled [id]="'check'+i" (change)="toggle_freq_selections(i)" style="cursor:pointer; margin-top: 2%"
                #frequency_selections>&nbsp;&nbsp;{{element}}</div>
            </div>
            <div class="time-options col-sm-4">
              <button class="down-arrow" data-toggle="collapse" [attr.data-target]="'#'+'drops'+i" aria-expanded="false"
                [attr.aria-controls]="'drops'+i">
                <svg class="sv" style="width:24px;height:24px">
                  <path fill="#000000" d="M7,10L12,15L17,10H7Z" />
                </svg>
              </button>
            </div>
            <div class="collapse in" [id]="'drops'+i">
              <div *ngFor="let element of freq_val_da; let j =  index">
                <div *ngIf="i==j">
                  <div *ngFor="let subelement of element; let z=index">
                    <div *ngIf="subelement.select_frequency_description == false">
                      &nbsp;&nbsp;
                      <input id=check{{subelement.ddm_rmp_lookup_select_frequency_id}} class="sub" type="checkbox"
                        (click)="frequencySelected(subelement,$event)"
                        value={{subelement.ddm_rmp_lookup_select_frequency_id}} disabled
                        [id]="'expand'+i">&nbsp;&nbsp;{{subelement.select_frequency_values}}
                    </div>
                    <div *ngIf="subelement.select_frequency_description == true">
                      &nbsp;&nbsp;
                      <input id=check{{subelement.ddm_rmp_lookup_select_frequency_id}} class="sub" type="checkbox"
                        (click)="frequencySelectedDropdown(subelement,$event)"
                        value={{subelement.ddm_rmp_lookup_select_frequency_id}} disabled
                        [id]="'expand'+i">&nbsp;&nbsp;{{subelement.select_frequency_values}}
                      <br>
                      &nbsp;&nbsp; &nbsp;&nbsp;
                      <input id=drops{{subelement.ddm_rmp_lookup_select_frequency_id}}
                        (blur)=getSpecifyContent(subelement.ddm_rmp_lookup_select_frequency_id,$event) type="text"
                        value="" disabled>
                      <!-- <input id="drop{{element.ddm_rmp_lookup_ots_checkbox_values_id}}" type="text" value="" (blur)=getSpecifyContent(element.ddm_rmp_lookup_ots_checkbox_values_id,$event) disabled> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
  <div class="row dist-list">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          DISTRIBUTION LIST
        </div>
        <div class="dl-body">

          <div class="row">

            <div class="col-sm-3 dl-top-text">
              <h5>Add Emails to Distribution List:</h5>
              <p>Type email address or name. <br> Use buttons to check/retrieve mail. <br> Click Add.</p>
            </div>
            <div class="col-sm-7 dltext-div"><textarea cols="30" rows = "10" #name class="dltext" id="dltext"></textarea>
              <span *ngIf = "dl_flag" style="color:red;font-weight: bold;">Please enter email to add to DL</span>
            </div>
          
            <div class="col-sm-2"><button (click)="addContact()" class="button-add">Add</button></div>

          </div>

          <div class="row dl-bottom">
            <div class="col-sm-3 dl-bottom-text">
              <h5>Distribution List:</h5>

              <p>Verify Recipients. <br> Click box next to name and <br> click Remove to delete</p>
            </div>
            <div class="col-sm-7 dl-add-remove-list">
              <div class="form-check list-group" *ngFor="let contact of contacts">
                <div class="list-group-item">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    {{contact}}
                  </label>
                </div>
              </div>
            </div>
            <div class="col-sm-2" (click)="removeContact()"><button class="button-remove">Remove</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Alert Component-->
  <div id="myModal" class="modal fade" role="dialog">

  </div>

 <!------------------------------------Help Modal------------------------------->

 <div class="modal fade " id="helpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
 aria-hidden="true">
 <div class="modal-dialog modal-lg" role="document">
   <div class="modal-content">
     <div class="modal-header" style="justify-content: flex-start;">
       <img class="logo" src="/assets/OFT_Logo.jpg">
       <h5 class="modal-title help-title">Help</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body display-notes-scroll">
       <div class="row">
         <div class="col-9">
           <button class="btn btn-success save-text-ddm" (click)="content_edits()" *ngIf="editModes" style="margin-right:3%">Save</button>
           <button class="btn btn-danger save-text-ddm" (click)="edit_True()" *ngIf="editModes">Cancel</button>
         </div>
         <div class="col-3" style="padding-left:19%;">
           <button *ngIf="user_role=='Admin'"x id="edit_button" class="editButton" (click)="edit_True()">
               <a data-toggle = "tooltip" title = "EDIT"><i id="ic" class="material-icons">mode_edit</i></a>
           </button>
         </div>
       </div>
       <div class="row ckEditor" id="ckEditorHelp">
         <!-- <ckeditor [editor]="Editor" [(ngModel)]="namings" [disabled]="!editModes" (blur)="onChanges($event)" style="width:100%; padding:1%;"></ckeditor> -->
       </div>
     </div>
     <div class="modal-footer">
       <button type="button" id="modal_close_button" class="btn btn-secondary" data-dismiss="modal">Close</button>
     </div>
   </div>
 </div>
</div>
  <!-- <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner> -->
  <!-- <ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type"></ngx-spinner> -->
  <button id="errorTrigger" data-toggle="modal" data-target="#errorModal" style="display:none">Error</button>
<div class="modal fade " id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true" style="z-index: 10000">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Alert!</h3>
          </div>
          <div class="modal-body" id="errorModalMessage">
          </div>
          <div class="modal-footer">
            <button type="button" id="modal_close_button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>