.clear-style {
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(0, 42, 158);
    color: white;
}

.clear-button:hover {
    background-color: rgb(46, 117, 248);
    color: white;
}

.clear-button:active {
    background-color: rgb(96, 149, 248);
    color: white;
    transform: translateY(4px);
}

.sub-heading {
    font-size: 120%;
    font-style: italic;
}

.list-group-item{
    margin-bottom: 0px;
}

.press button {
    background: transparent;
    border: none;
}
/* Edit, save, print button styles*/

.icons {
    widows: 40%;
    height: 100%;
    float: right;
    align-content: center;
    color: black;
}

a {
    color: black;
}

a:hover {
    color: rgb(2, 136, 173);
}

a:active {
    color: rgb(2, 136, 173);
}

/* ------------------------------------------ */

/* Save button style */

.saveButton {
    background-color: rgb(1, 126, 17);
    padding: 10px;
    color: white;
    float: right;
}

.updateButton {
    background-color: rgb(1, 126, 17);
    padding: 10px;
    color: white;
    float: right;
    width: 80%;
}

.updateButton:hover {
    background-color: rgb(0, 177, 24);
}

.updateButton:active {
    background-color: rgb(0, 214, 29);
    transform: translateY(4px);
}

.saveButton:hover {
    background-color: rgb(0, 177, 24);
}

.saveButton:active {
    background-color: rgb(0, 214, 29);
    transform: translateY(4px);
}

select {
    width: 100%;
}

thead {
    background: rgb(0, 112, 192);
    color: white;
}

.select-styling {
    color: black;
    font-size: 67%;
    width: 100%;
    padding: 7%;
}

.header {
    font-size: 150%;
    font-weight: bold;
}

th, td.col-3 {
    display: flex;
    justify-content: center;
    /* border-left: solid grey; */
    border-right: solid grey;
    border-bottom: solid grey;
    border-width: 0.2px;
}

tbody {
    border-right: solid grey;
    border-left: solid grey;
    border-bottom: solid grey;
    border-width: 0.2px;
}

td.col-9, td.col-12 {
    border-top: none;
}

.border {
    border: 1px solid;
    width: 98%;
}

/* Report Frequency CSS */

.freq {
    padding: 0%;
}

.card-header {
    background-color: rgb(0, 112, 192);
    color: white;
    text-align: center;
}

.top-padding {
    padding-top: 4%;
}

.timing, .check {
    margin-bottom: 2%;
}

.down-arrow {
    border: none;
    background-color: transparent;
}

.freq-drops {
    padding-left: 5%;
}

.time-check {
    width: 50%;
    float: left;
}

.time-options {
    width: 50%;
    float: left;
}

.rotated {
    transform: rotate(180deg);
}

.sv {
    display: inline-block;
    transition: all 0.5s;
}

/*Distribution List*/

.page-header {
    width: 101.5%;
    border: 1px solid grey;
    background-color: rgb(0, 64, 91);
    color: white;
    text-align: center;
}

.form-check-input {
    margin-left: 1%;
}

.form-check-label {
    margin-left: 5%;
}

.dltext {
    width: 100%;
    height: 70%;
}

div.list-group-item {
    background: lightblue;
}

.dl-bottom {
    height: 20vh;
}

.dl-add-remove-list {
    overflow-y: auto;
    padding-top: 3%;
}

.button-remove {
    width: 70%;
    margin-top: 35%;
}

.button-add {
    width: 70%;
    margin-top: 35%;
}

.dl-top-text {
    padding-left: 3%;
    padding-top: 3%;
}

.dl-bottom-text {
    padding-left: 3%;
    padding-top: 3%;
}

.col-sm-7 {
    border-right: 0.5px solid grey;
}

.dltext-div {
    padding-top: 3%;
}

.dist-list {
    margin-bottom: 2%;
    margin-top: 2%;
}

.alert-message {
    border: 1px solid black;
    width: 50%;
    height: 50%;
    z-index: 100000;
}

.save-bar {
    position: sticky;
    margin: 0;
}

#market {
    overflow-y: scroll;
    height: 75%;
    margin-top: 2%;
    margin-bottom: 0%;
}

.padding-left {
    padding-left: 4%;
}

.dl-add-remove-list {
    overflow-y :auto;
    height:100%;
    padding-right : 1px;
}

.editButton {
    background-color: transparent;
    float: right;
    border: none;
    margin: none;
    padding: none;
}

.ckEditor{
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}

.dropdown-list[_ngcontent-c8]{
    position: relative;
}