.modal-container{
    width: 800px;
    height: 500px;
}
.modal-body{
    height: calc(100% - 146px);
}
button{
    margin-right: 20px;
}
/* .opt-title{
    font-size: 16px;
    display: inline-block;
    font-weight: 600;
    color: #02223d;
}
.opt-container{
    display: -webkit-flex;
    padding: 6px 25px;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
} */
.select-container{
    /* display: float; */
    float: left;
    width: 42%;
    height: 100%;
    padding: 4px 15px;
}
.selected-conatiner{
    max-height: calc(100% - 80px);
    /* background: grey; */
    border: 1px solid grey;
    overflow: auto;
    border-radius: 3px;
}
.row-label-selected{
    text-align: start;
    font-size: 16px;
    padding: 7px 15px;
    font-weight: 600;
}
.row-column-selected{
    display: flex;
    justify-content: space-around;
    align-items: center;
}