<div class="flex-container row tool-body">
  <div class="left-tabs">
    <div class="tabs">
      <a routerLink="select-report-criteria" routerLinkActive="active"><button class="btn btn-primary">Select Report
          Criteria</button></a>
      <a routerLink="dealer-allocation" routerLinkActive="active"><button class="btn btn-primary"
          style="width:50%;float:left;" [disabled]=!update>Dealer Allocation</button></a>
      <a routerLink="order-to-sale" routerLinkActive="active"><button class="btn btn-primary"
          style="width:50%;float:left;" [disabled]=!update>Order To Sale</button></a>
      <!-- [disabled]="!selectCriteria" -->
    </div>
  </div>

  <div class="main-tool-body">
    <router-outlet></router-outlet>
  </div>
</div>