body {
    background-color: #004e63;
    height: 87vh;
    padding: 20px;
}

.holder {
    background: rgb(00, 78, 99);
    height: 83vh;
    width: 100%;
}

.tab-style {
    width: 85%;
    height: 100%;
    background-color: rgb(00, 78, 99);
}

.default {
    width: 14.15%;
    height: 100%;
    background-color: rgb(00, 78, 99);
}

.tool-header {
    height: 12%;
    background-color: rgb(00, 78, 99);
}

.tool-body {
    height: 100%;
    width: 100%;
}

.main-tool-body {
    width: 100vw;
    background: white;
    height: calc(100% - 50px);
    margin: 3vh;
    box-shadow: 3px 3px 8px 2px #c3c3c3;
    padding: 3vh 1.5vw 3vh 1.5vw;
}

.list-of-tabs {
    width: 100%;
    height: 10%;
    padding: 7px 10px 10px 20px; 
    background-color: #e9ecef;
}

.list-of-tabs a {
    margin: 5px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

/* -----------------------------------------------------------------------------------------------------------------*/



.tabs-list-container {
    background-color: transparent;
    width: 100%;
    height: 65vh;
    margin-left: 1.5vw;
    margin-top: 15vh;
}

.tabs-list-container button {
    display: block;
    color: black;
    width: 100%;
    outline: none;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    white-space: normal;
    text-overflow: ellipsis;
    height: 15%;
    border-radius: 0;
    overflow: hidden;
    padding: 0px;
    background-color: white;
    border: unset;
    border: 0.5px solid #283f52;
    transition: transform .2s;
}
.tabs-list-container button:hover{
    transform: scale(1.05);
}

.tabs-list-container button:disabled{
    background-color: #c3c3c3;
    color: black;
}

.main-tool-body-header {
    margin-left: 1.5%;
}

.heading {
    width: 60%;
    float: left;
    height: 100%;
}

.caption-style {
    height: 50%;
    width: 100%;
}

.icons {
    widows: 40%;
    height: 100%;
    float: right;
    align-content: center;
}

b {
    height: 100%;
    font-size: 100%;
}

.press {
    height: 100%;
    width: fit-content;
    font-size: 2em;
    float: left;
    cursor: pointer;
}

.main-style {
    font-size: 1.5rem
}

.display-none {
    display: none;
}

.active {
    color: #000;
    font-weight: 400;
    border-radius: 0px;
    border-bottom: 3px solid #989191;
    color:#000 !important;
}

.list-of-tabs > a {
    color:#4d4646
}
