<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
    Choose Semantic Layer
  </button>
  <ul class="dropdown-menu drpdwn">
    <li><a href="#" style="color:white;"><strong> Pricing SL</strong></a></li>
    <li><a href="#" style="color:white;"><strong>SL A </strong></a></li>
    <li><a href="#" style="color:white;"><strong>SL XXX </strong></a></li>
  </ul>
</div>

<div class="containter-fluid">
  <div class="row" id="button-row">
    <div class="col-sm-3" id="RMP">
      <a routerLink="rmp">
        <button class="button1" style="text-align:center;">
          <img src="..\assets\account-multiple.png" style="height:50%;width:50%">
          <p style="font-size:1rem; text-align:center; position: relative;margin: 0%">Request <br> Management <br>
            Portal</p>
        </button>
      </a>
    </div>
    <div class="col-sm-3" id="Report">
      <button class="button2" style="text-align:center;">
        <img src="..\assets\file-document.png" style="height:50%;width:50%;padding-top:5%">
        <p style="font-size:1rem; text-align:center; position: relative;margin: 0%">Reports</p>
      </button>
    </div>
    <div class="col-sm-3" id="SL">
      <a routerLink="semantic">
        <button class="button1" style="text-align:center;">
          <img src="..\assets\view-list.png" style="height:50%;width:50%">
          <p style="font-size:1rem; text-align:center; position: relative;margin: 0%">Semantic <br> Layer</p>
        </button>
      </a>
    </div>
    <div class="col-sm-3" id="DQM">
      <div class="button2" style="text-align:center;">
        <img src="..\assets\certificate.png" style="height:50%;width:50%;padding-top:5%">
        <p style="font-size:1rem; text-align:center; position: relative;margin: 0%">DQM</p>
      </div>
    </div>
  </div>
</div>