<div class="flex-container row tool-body">
  <div *ngIf="reports" class="main-tool-body">
    <div class="wrapper" style="height:100%">
      <div class="row" style="width:100%">
        <div class="col">
          <h3>Metrics</h3>
        </div>
        <div class="col">
          <input (input)="filterData()" placeholder="Insert Keywords/Request Number here " class="form-control" [(ngModel)]="filters.global">
        </div>
        <div class="col">
          <div class="icons">
            <div class="press">
              <button data-toggle="modal" data-target="#helpModal"
                style="background-color:white; border:none;padding-right:0px;">
                <a data-toggle="tooltip" title="HELP"><i id="ic" class="material-icons">help_outline</i></a>
              </button>
              <a (click)="xlsxJson()" style="cursor:pointer"><i id="ic" class="material-icons">get_app</i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin: 0%;">
  
        <div class="tableMetrics">
          <table class="table table-bordered table-hover">
            <thead class="thead-light">
              <tr>
                <th>
                  <div class="alignLeft" (click)="sort('ddm_rmp_post_report_id')">
                    <div>Request No.</div>
                    <div *ngIf="!reports['ddm_rmp_post_report_id']">&#8593;</div>
                    <div *ngIf="reports['ddm_rmp_post_report_id']">&#8595;</div>
                  </div>
                  <div>
                    <input (input)="filterData()" placeholder="Search" [(ngModel)]="filters.ddm_rmp_post_report_id"
                      class="form-control">
                  </div>
                </th>
                <th>
                  <div class="alignLeft" (click)="sort('report_count')">
                    <div>Number of Reports</div>
                    <div *ngIf="!reports['report_count']">&#8593;</div>
                    <div *ngIf="reports['report_count']">&#8595;</div>
                  </div>
                  <div>
                    <input (input)="filterData()" placeholder="Search" [(ngModel)]="filters.report_count"
                      class="form-control">
                  </div>
                </th>
                <th>
                  <div class="alignLeft" (click)="sort('requestor')">
                    <div>Requestor</div>
                    <div *ngIf="!reports['requestor']">&#8593;</div>
                    <div *ngIf="reports['requestor']">&#8595;</div>
                  </div>
                  <div>
                    <input (input)="filterData()" placeholder="Search" class="form-control" [(ngModel)]="filters.requestor">
                  </div>
                </th>
                <th>
                  <div class="alignLeft" (click)="sort('recipients_count')">
                    <div>Recipients</div>
                    <div *ngIf="!reports['recipients_count']">&#8593;</div>
                    <div *ngIf="reports['recipients_count']">&#8595;</div>
                  </div>
                  <div>
                    <input (input)="filterData()" placeholder="Search" class="form-control" [(ngModel)]="filters.recipients_count">
                  </div>
                </th>
                <th>
                  <div class="alignLeft" (click)="sort('organization')">
                    <div>Organization</div>
                    <div *ngIf="!reports['organization']">&#8593;</div>
                    <div *ngIf="reports['organization']">&#8595;</div>
                  </div>
                  <div>
                    <input (input)="filterData()" placeholder="Search" class="form-control" [(ngModel)]="filters.organization">
                  </div>
                </th>
                <th>
                  <div class="alignLeft" (click)="sort('created_on')">
                    <div>Start Date</div>
                    <div *ngIf="!reports['created_on']">&#8593;</div>
                    <div *ngIf="reports['created_on']">&#8595;</div>
                  </div>
                  <div>
                    <input (input)="filterData()" placeholder="Search" class="form-control" [(ngModel)]="filters.created_on">
                  </div>
                </th>
                <th>
                  <div class="alignLeft" (click)="sort('ddm_rmp_status_date')">
                    <div>End Date</div>
                    <div *ngIf="!reports['ddm_rmp_status_date']">&#8593;</div>
                    <div *ngIf="reports['ddm_rmp_status_date']">&#8595;</div>
                  </div>
                  <div>
                    <input (input)="filterData()" placeholder="Search" [(ngModel)]="filters.ddm_rmp_status_date"
                      class="form-control">
                  </div>
                </th>
                <th>
                  <div class="alignLeft" (click)="sort('assigned_to')">
                    <div>Administrator</div>
                    <div *ngIf="!reports['assigned_to']">&#8593;</div>
                    <div *ngIf="reports['assigned_to']">&#8595;</div>
                  </div>
                  <div>
                    <input (input)="filterData()" placeholder="Search" class="form-control" [(ngModel)]="filters.assigned_to">
                  </div>
                </th>
                <th style="width: 12%;">
                  <div class="alignLeft" (click)="sort('status')">
                    <angular4-multiselect [data]="Status_List" [(ngModel)]="statusFilter"
                    [settings]="StatusDropdownSettings" (onSelect)="filterData()" (onDeSelect)="filterData()"
                    style="width: 100%;">
                  </angular4-multiselect>
                    <!-- <div *ngIf="!reports['status']">&#8593;</div>
                    <div *ngIf="reports['status']">&#8595;</div> -->
                  </div>
                  <!-- <div>
                    <input (input)="filterData()" placeholder="Search" class="form-control" [(ngModel)]="filters.status">
                  </div> -->
                </th>
                <th>
                  <div class="alignLeft" (click)="sort('freq')">
                    <div>Frequency</div>
                    <div *ngIf="!reports['freq']">&#8593;</div>
                    <div *ngIf="reports['freq']">&#8595;</div>
                  </div>
                  <div>
                    <input (input)="filterData()" placeholder="Search" class="form-control" [(ngModel)]="filters.freq">
                  </div>
                </th>
                <th *ngFor="let weekDay of weekDays" (click)="sort(weekDay + 'Frequency')">{{weekDay}}
                  <span *ngIf="!reports[weekDay + 'Frequency']">&#8593;</span>
                  <span *ngIf="reports[weekDay + 'Frequency']">&#8595;</span>
                </th>
                <th>
                  <div class="alignLeft" (click)="sort('description')">
                    <div>Other</div>
                    <div *ngIf="!reports['description']">&#8593;</div>
                    <div *ngIf="reports['description']">&#8595;</div>
                  </div>
                  <div>
                    <input (input)="filterData()" placeholder="Search" class="form-control" [(ngModel)]="filters.description">
                  </div>
                </th>                
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let element of reports | filterTable: searchObj | orderBy: param:orderType | paginate: { itemsPerPage: 10, currentPage: p }">
                <td scope="col">
                  {{element.ddm_rmp_post_report_id}}
                </td>
                <td scope="col">
                  {{element.report_count}}
                </td>
                <td scope="col">
                  {{element.requestor}}
                </td>
                <td scope="col">
                  {{element.recipients_count}}
                </td>
                <td scope="col">
                  {{element.organization}}
                </td>
                <td scope="col">
                  {{element.created_on}}
                </td>
                <td scope="col" *ngIf="element.status == 'Cancelled' || element.status == 'Completed'">
                  {{element.ddm_rmp_status_date |date: "dd-MMM-yyyy"}}
                </td>
                <td scope="col">
                  {{element.assigned_to}}
                </td>

                <td scope="col">
                  <!-- <div *ngIf="element.status == 'Cancelled'">
                  </div> -->
                    {{element.status}}
                  <!-- <div *ngIf="element.status != 'Cancelled'">
                    <div *ngIf="element.freq == 'One Time'">
                      {{element.status}}
                    </div>
                    <div *ngIf="element.freq == 'Recurring'">
                      Active
                    </div>
                    <div *ngIf="element.freq=='On Demand' && element.frequency_data.length > 1">
                      Active
                    </div>
                    <div *ngIf="element.freq=='On Demand Configurable' && element.frequency_data.length > 1">
                      Active
                    </div>
                    <div *ngIf="element.freq=='On Demand' && element.frequency_data.length == 1">
                      Completed
                    </div>
                    <div *ngIf="element.freq=='On Demand Configurable' && element.frequency_data.length == 1">
                      Completed
                    </div>
                  </div> -->

                </td>

                <td scope="col">
                  {{element.freq}}
                </td>

                <td colspan="1" *ngFor="let weekDay of weekDays">
                  {{element[weekDay + 'Frequency']}}
                </td>
                <td scope="col">
                  {{element.description}}
                </td>                
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row" style="width: 100%;">
          <div class="col-sm-4"></div>
          <div class="col-sm-3" style="margin-top: 10px;">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    <!--------------------HELP------------------------------------ -->
    <div class="modal fade " style="overflow-y: hidden;" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header" style="justify-content: flex-start;">
            <img class="logo" src="/assets/OFT_Logo.jpg">
            <h5 class="modal-title help-title">Help</h5>
          </div>
          <div class="modal-bodydisplay-notes-scroll-modal">
            <div class="row">
              <div class="col-9">
                <button class="btn btn-success save-text-ddm" (click)="content_edits()" *ngIf="editModes"
                  style="margin-right:3%">Save</button>
                <button class="btn btn-danger save-text-ddm" (click)="edit_True()" *ngIf="editModes">Cancel</button>
              </div>
              <div class="col-3" style="padding-left:12%;">
                <button *ngIf="user_role == 'Admin'" id="edit_button" class="editButton" (click)='editEnable()'
                  style="background-color:white;border: none;">
                  <a data-toggle="tooltip" title="EDIT"><i id="ic" class="material-icons">mode_edit</i></a>
                </button>
              </div>
            </div>
            <div class="quillEditor">
              <quill-editor class="quill" [(ngModel)]='namings' [modules]='config'
                       [readOnly]='readOnlyContentHelper'
                       (onContentChanged)='textChanged($event)'></quill-editor>
            </div>
          </div>
          <div class="modal-footer modal-footer-pad">
            <button type="button" id="modal_close_button" class="btn btn-secondary" (click)="edit_True()" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="main-tool-body" *ngIf="!reports">
      <mat-progress-spinner style="left:40%;top:40%;" mode="indeterminate"></mat-progress-spinner>
    </div>
 