<div class="flex-container row tool-body">
  <div *ngIf="reports" class="main-tool-body">
    <div class="wrapper">
      <div class="heading">
        <div class="col-xs-3 pl-0">
          <h3 class="mt-0 ml-0"><b>Metrics</b></h3>
        </div>
        <div class="col-xs-6">
          <input (input)="filterData()" placeholder="Insert Keywords/Request Number here " class="form-control m-0"
            [(ngModel)]="filters.global">
        </div>
        <div class="col-xs-3">
          <div class="icons">
            <div class="press">
              <a (click)="xlsxJson()" style="cursor:pointer">
                <i id="ic" class="material-icons">get_app</i>
              </a>
              <button data-toggle="modal" data-backdrop="static" data-target="#helpModal"
                style="background-color:white; border:none;margin-left:8px">
                <a data-toggle="tooltip" title="HELP">
                  <i id="ic" class="material-icons">help_outline</i>
                </a>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="table-margin">
        <div class="tableMetrics">
          <table class="table table-bordered table-hover">
            <thead class="thead-light">
              <tr>
                <th>
                  <div class="alignLeft" (click)="sort('ddm_rmp_post_report_id')">
                    <div>Request No.</div>
                    <div *ngIf="!reports['ddm_rmp_post_report_id']">&#8593;</div>
                    <div *ngIf="reports['ddm_rmp_post_report_id']">&#8595;</div>
                  </div>
                  <div>
                    <input (input)="filterData()" placeholder="Search" [(ngModel)]="filters.ddm_rmp_post_report_id"
                      class="form-control">
                  </div>
                </th>
                <th>
                  <div class="alignLeft" (click)="sort('report_count')">
                    <div>Number of Reports</div>
                    <div *ngIf="!reports['report_count']">&#8593;</div>
                    <div *ngIf="reports['report_count']">&#8595;</div>
                  </div>
                  <div>
                    <input (input)="filterData()" placeholder="Search" [(ngModel)]="filters.report_count"
                      class="form-control">
                  </div>
                </th>
                <th>
                  <div class="alignLeft" (click)="sort('requestor')">
                    <div>Requestor</div>
                    <div *ngIf="!reports['requestor']">&#8593;</div>
                    <div *ngIf="reports['requestor']">&#8595;</div>
                  </div>
                  <div>
                    <input (input)="filterData()" placeholder="Search" class="form-control"
                      [(ngModel)]="filters.requestor">
                  </div>
                </th>
                <th>
                  <div class="alignLeft" (click)="sort('recipients_count')">
                    <div>Recipients</div>
                    <div *ngIf="!reports['recipients_count']">&#8593;</div>
                    <div *ngIf="reports['recipients_count']">&#8595;</div>
                  </div>
                  <div>
                    <input (input)="filterData()" placeholder="Search" class="form-control"
                      [(ngModel)]="filters.recipients_count">
                  </div>
                </th>
                <th>
                  <div class="alignLeft" (click)="sort('organization')">
                    <div>Organization</div>
                    <div *ngIf="!reports['organization']">&#8593;</div>
                    <div *ngIf="reports['organization']">&#8595;</div>
                  </div>
                  <div>
                    <input (input)="filterData()" placeholder="Search" class="form-control"
                      [(ngModel)]="filters.organization">
                  </div>
                </th>
                <th>
                  <div class="alignLeft" (click)="sort('created_on')">
                    <div>Start Date</div>
                    <div *ngIf="!reports['created_on']">&#8593;</div>
                    <div *ngIf="reports['created_on']">&#8595;</div>
                  </div>
                  <div>
                    <input (input)="filterData()" placeholder="Search" class="form-control"
                      [(ngModel)]="filters.created_on">
                  </div>
                </th>
                <th>
                  <div class="alignLeft" (click)="sort('ddm_rmp_status_date')">
                    <div>End Date</div>
                    <div *ngIf="!reports['ddm_rmp_status_date']">&#8593;</div>
                    <div *ngIf="reports['ddm_rmp_status_date']">&#8595;</div>
                  </div>
                  <div>
                    <input (input)="filterData()" placeholder="Search" [(ngModel)]="filters.ddm_rmp_status_date"
                      class="form-control">
                  </div>
                </th>
                <th>
                  <div class="alignLeft" (click)="sort('assigned_to')">
                    <div>Administrator</div>
                    <div *ngIf="!reports['assigned_to']">&#8593;</div>
                    <div *ngIf="reports['assigned_to']">&#8595;</div>
                  </div>
                  <div>
                    <input (input)="filterData()" placeholder="Search" class="form-control"
                      [(ngModel)]="filters.assigned_to">
                  </div>
                </th>
                <th style="width: 10%;">
                  <div class="alignLeft">
                    <angular4-multiselect [data]="Status_List" [(ngModel)]="statusFilter"
                      [settings]="StatusDropdownSettings" (onSelect)="sort('status');filterData()"
                      (onDeSelect)="filterData()" style="width: 100%;">
                    </angular4-multiselect>
                  </div>

                </th>
                <th>
                  <div class="alignLeft" (click)="sort('freq')">
                    <div>Frequency</div>
                    <div *ngIf="!reports['freq']">&#8593;</div>
                    <div *ngIf="reports['freq']">&#8595;</div>
                  </div>
                  <div>
                    <input (input)="filterData()" placeholder="Search" class="form-control" [(ngModel)]="filters.freq">
                  </div>
                </th>
                <th *ngFor="let weekDay of weekDays" (click)="sort(weekDay + 'Frequency')">{{weekDay}}
                  <span *ngIf="!reports[weekDay + 'Frequency']">&#8593;</span>
                  <span *ngIf="reports[weekDay + 'Frequency']">&#8595;</span>
                </th>
                <th>
                  <div class="alignLeft" (click)="sort('frequency_data_filtered')">
                    <div>Other</div>
                    <div *ngIf="!reports['frequency_data_filtered']">&#8593;</div>
                    <div *ngIf="reports['frequency_data_filtered']">&#8595;</div>
                  </div>
                  <div>
                    <input (input)="filterData()" placeholder="Search" class="form-control"
                      [(ngModel)]="filters.frequency_data_filtered">
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let element of reports  | filterTable: searchObj | orderBy: param:orderType | slice : paginatorLowerValue : paginatorHigherValue ; let i = index ">
                <td scope="col">
                  {{element.ddm_rmp_post_report_id}}
                </td>
                <td scope="col">
                  {{element.report_count}}
                </td>
                <td scope="col">
                  {{element.requestor}}
                </td>
                <td scope="col">
                  {{element.recipients_count}}
                </td>
                <td scope="col">
                  {{element.organization}}
                </td>
                <td scope="col">
                  {{element.created_on}}
                </td>
                <td scope="col" *ngIf="element.status == 'Cancelled' || element.status == 'Completed'">
                  {{element.ddm_rmp_status_date |date: "dd-MMM-yyyy"}}
                </td>
                <td scope="col">
                  {{element.assigned_to}}
                </td>
                <td scope="col">
                  {{element.status}}
                </td>
                <td scope="col">
                  {{element.freq}}
                </td>

                <td colspan="1" *ngFor="let weekDay of weekDays">
                  {{element[weekDay + 'Frequency']}}
                </td>
                <td scope="col">
                  {{element?.frequency_data_filtered}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div style="width: 100%;">
          <div class="paginator-position">
            <mat-paginator [length]="reports.length" [pageSize]="paginatorpageSize" [pageSizeOptions]="paginatorOptions"
              (page)="onPaginationChange($event)">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>

    <!--------------------HELP------------------------------------ -->
    <div class="modal fade " style="overflow-y: hidden;" id="helpModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header" style="justify-content: flex-start;">
            <h5 class="modal-title help-title">Help</h5>
          </div>
          <div class="modal-body display-notes-scroll-modal">
            <div class="row" style="display: flex;padding: 10px 0 10px 10px;">
              <div style="margin-left: 20px;width: 86%;">
                <span *ngIf="editModes">
                  <button mat-raised-button color="primary" (click)="content_edits()"
                    style="margin-right: 10px;">Save</button>
                  <button mat-raised-button color="warn" (click)="resetHelp()">Cancel</button>
                </span>
              </div>
              <div>
                <button *ngIf="user_role == 'Admin'" id="edit_button" class="editButton" (click)='editEnable()'
                  style="background-color:white;border: none;">
                  <a data-toggle="tooltip" title="EDIT">
                    <i id="ic" class="material-icons">mode_edit</i>
                  </a>
                </button>
              </div>
            </div>
            <div class="quillEditor">
              <quill-editor class="quill" [(ngModel)]='namings' [modules]='config' [readOnly]='readOnlyContentHelper'
                (onContentChanged)='textChanged($event)'></quill-editor>
            </div>
          </div>
          <div class="modal-footer modal-footer-pad">
            <button mat-button (click)="resetHelp()" [cssBtn]="'cancel'" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="main-tool-body" *ngIf="!reports">
      <mat-progress-spinner style="left:40%;top:40%;" mode="indeterminate"></mat-progress-spinner>
    </div>