.tableMetrics { 
    overflow-y: auto; 
    height: 58vh; 
    overflow-x: auto;
    border: lightgray solid;
}

.tableMetrics thead th { 
    position: sticky; 
    top: -1px;
    z-index: 10;
}

.tableMetrics {  
  width: 100%;
  overflow-x: auto;
}

table  { 
    border-collapse: 
    collapse; 
    width: 100%; 
}

th, td { 
    padding: 8px 16px; 
}

th { 
    background: #ccc
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
    background-color: #F9F9F9;
 }

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: white;
 }

th {
    text-align: center
}

.tool-body {
    height: 88%;
}

.snapshot {
    width: 20%;
    max-height: 60vh;
    border: 1px solid rgb(187, 187, 187);
    padding-left: 1%;
}

.metricToggleButton {
  background-color: white; 
  border: none;
}

.metricsStyling {
    align-items: left; 
    border: 1px solid rgb(226, 226, 226)
}

.main-tool-body {
    box-shadow: 3px 3px 8px 2px #c3c3c3;
    width: 97vw;
    background: white;
    height: 80.5vh;
    margin-left: 2.5vw;
    margin-top: 3vh;
}

.flex-container {
    height: 88%;
}

.form-control {
    margin-top: 5%;
    margin-bottom: 5%;
}

.icons {
   height:100%;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   padding-right: 0.2vw;
}

.alignLeft {
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
}

.cuppa-dropdown {
    margin-left: 15px !important;
    margin-top: 10px !important;
}

angular4-multiselect > .c-btn {
    padding: 10px 30px 10px 10px !important;
}

.quillEditor {
    position: relative;
    padding: 3px;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    padding: 3vh 1.5vw 3vh 1.5vw;
}

.heading {
    width: 94.5vw;
    float: left;
    height: 100%;
    padding-top: 1vh;
    padding-left: 1.5vw;
    padding-bottom: 2vh;
}

.table-margin {
    padding-left: 0vw;
    margin-left: 1.5vw;
    margin-right: 1vw;
}

.paginator-position {
    float: right;
}

.heading {
    width: 94.5vw;
    float: left;
    height: 100%;
    padding-top: 1vh;
    padding-left: 1.5vw;
}