h3 {
    margin-left: 5%
}


.tableMetrics    { overflow-y: auto; height: 435px; overflow-x: auto }
.tableMetrics thead th { position: sticky; top: 0;z-index: 10; }
.tableMetrics {
  
  width: 100%;
  overflow-x: auto;
}

table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th { background: #ccc}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
    background-color: #F9F9F9;
 }

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: white;
 }

th {
    text-align: center
}

.tool-body {
    height: 88%;
}

h3 {
    font-size: 150%;
    font-weight: bold;
}

.snapshot{
    width: 20%;
    max-height: 60vh;
    border: 1px solid rgb(187, 187, 187);
    padding-left: 1%;
  }

.metricToggleButton {
  background-color: white; 
  border: none;
}

.metricsStyling {
    align-items: left; 
    border: 1px solid rgb(226, 226, 226)
}


.main-tool-body {
    width: 94.15%;
    background: white;
    height: 100%
}

.flex-container {
    height: 88%;
}

.form-control {
    margin-top: 5%;
    margin-bottom: 5%;
}

.icons {
    margin-top: 7%;
    margin-bottom: 5%;
    text-align: right
}

.alignLeft{
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
}

.cuppa-dropdown{
    margin-left: 15px !important;
    margin-top: 10px !important;
}

angular4-multiselect > .c-btn {
    padding: 10px 30px 10px 10px !important;
}


.quillEditor{
    position: relative;
    padding: 3px;
}