<mat-form-field class="example-chip-list" id="emailChips">
    <mat-chip-list #chipList aria-label="Email selection">
      <mat-chip
        *ngFor="let chip of selectedChips"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(chip)">
        {{chip}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        (paste)="onPaste($event)"
        placeholder="New Email..."
        #mailInput
        [formControl]="chipCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)"
        name="emailInput">

    </mat-chip-list>
    <mat-hint>*Email can either be added by selecting from the available list in dropdown or free text followed by pressing 'Enter' key</mat-hint>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let chip of filteredChips | async" [value]="chip">
        {{chip}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>