<div class="main-tool-body-header">
  <div class="heading">
    <div class="buffer">

    </div>
    <div class="caption-style">
      <b>DDM Team Contact List</b>
    </div>
    <div class="buffer">

    </div>
  </div>

  <div class="icons">
    <div *ngIf="user_role == 'Admin'" class="press" style="padding-top: 6px;">
      <a data-toggle="tooltip" title="EDIT" (click)="editTrue()"><i id="ic" class="material-icons">mode_edit</i></a>
    </div>
    <div class="press" style="padding-top:7.5%">
      <button data-toggle="modal" data-target="#helpModal" style="padding-right:0px;">
        <a data-toggle="tooltip" title="HELP"><i id="ic" class="material-icons">help_outline</i></a>
      </button>
    </div>
  </div>
</div><br>
<div class="main-tool-body-content">
  <div class="information info-quill">
    <button class="btn btn-success save-text-ddm" (click)="content_edit()" *ngIf="editMode">Save</button>
    <button class="btn btn-danger save-text-ddm" (click)="editTrue()" *ngIf="editMode">Cancel</button>

    <quill-editor [(ngModel)]='naming' [modules]='config' [readOnly]='readOnlyContent'></quill-editor>

  </div>
</div>

<!------------------------------------Help Modal------------------------------ -->

<div class="modal fade " style="overflow-y: hidden;" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="justify-content: flex-start;">
        <img class="logo" src="/assets/OFT_Logo.jpg">
        <h5 class="modal-title help-title">Help</h5>
      </div>
      <div class="modal-body display-notes-scroll-modal">
        <div class="row">
          <div class="col-9">
            <button class="btn btn-success save-text-ddm" (click)="content_edits()" *ngIf="editModes" style="margin-right:3%">Save</button>
            <button class="btn btn-danger save-text-ddm" (click)="edit_True()" *ngIf="editModes">Cancel</button>
          </div>
          <div class="col-3" style="padding-left:12%;">
            <button *ngIf="user_role == 'Admin'" id="edit_button" class="editButton" (click)="editEnableHelp()">
              <a data-toggle="tooltip" title="EDIT"><i id="ic" class="material-icons">mode_edit</i></a>
            </button>
          </div>
        </div>
      <div class="quillEditor"> 
          <quill-editor class="quill" [(ngModel)]='namings' [modules]='config'
                      [readOnly]='readOnlyContentHelper'
                      (onContentChanged)='textChanged($event)'></quill-editor>
      </div>
       
      </div> 
      <div class="modal-footer modal-footer-pad">
        <button type="button" id="modal_close_button" class="btn btn-secondary" (click)="edit_True()" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>