<!-- <div class="modal-container">
  <div class="modal-header">
    Parameters
    <mat-icon style="cursor:pointer;" (click)="closeDailog();">close</mat-icon>
  </div>
  <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
    <mat-tab label="Create LOV">
      <app-create-lov [data]="data" *ngIf="dataInject" [isEdit]="false"></app-create-lov>
      <div class="loader" *ngIf="!dataInject">
        <div>Loading......</div>
      </div>
    </mat-tab>
    <mat-tab label="Manage LOV">
      <app-show-lov *ngIf="dataInject" [data]="data" (editParameter)="enableEditingTab($event)"></app-show-lov>
      <div class="loader" *ngIf="!dataInject">
        <div>Loading......</div>
      </div>
    </mat-tab>
    <mat-tab label="Edit LOV" *ngIf="enableEditing">
      <app-create-lov [data]="data" [editData]="editingData" (editDone)="editingDone($event)" [isEdit]="true">
      </app-create-lov>
    </mat-tab>
  </mat-tab-group>
</div> -->
<div class="modal-container">
  <div class="modal-header">
   List of Values&nbsp;({{data.columnName}})
    <mat-icon style="cursor:pointer;" (click)="closeDailog();">close</mat-icon>
  </div>
  <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">   
    <mat-tab label="Manage LOV">
      <app-show-lov [createdLov]="createdLov" [load]="load"></app-show-lov>
      <!-- <div class="loader" *ngIf="!dataInject">
        <div>Loading......</div>
      </div> -->
    </mat-tab>
    <mat-tab label="Create LOV">
      <app-create-lov [data]="data.values" [createdLov]="createdLov" [columnName]="data.columnName"></app-create-lov>
      <!-- <div class="loader" *ngIf="!dataInject">
        <div>Loading......</div>
      </div> -->
    </mat-tab>
    <mat-tab label="Edit LOV">
      <app-create-lov></app-create-lov>
    </mat-tab>
  </mat-tab-group>
</div>