<div *ngIf="reports" class="flex-container row tool-body">
  <!--                            Left Tabs                                 -->
  <div *ngIf="reports" class="left-tabs">
    <div class="tabs">
      <!-- <a routerLink="submit-request" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><button class="btn btn-primary">New Request Using Selected Criteria</button></a> -->
      <a><button class="btn btn-primary" (click)="NewReportOnSelectedCriteria()">New Request Using Selected
          Criteria / Modify Request</button></a>
      <a><button class="btn btn-danger" (click)="Cancel()">Cancel</button></a>
      <!-- routerLink="#" -->
      <a>
        <button class="btn btn-primary" (click)="checkbox_validation()" onmouseover="" style="cursor: pointer;">Enter
          Comment</button>
      </a>
      <button id="enter_comment_button" data-toggle="modal" data-target="#ModalComment" style="display:none"></button>

      <a *ngIf="user_role=='Admin'"><button class="btn btn-primary" (click)="Accept()">Accept Assignment</button></a>
      <a *ngIf="user_role=='Admin'"><button class="btn btn-primary" (click)="post_link()" onmouseover=""
          style="cursor: pointer;">Post Link</button></a>
          <button id="post_link_button" data-toggle="modal" data-target="#postLink" style="display:none"></button>
    </div>
  </div>
  <!--                            Main Body Content                         -->
  <div *ngIf="reports" class="main-tool-body" style="height:100%">
    <!-- <div class="wrapper"> -->
    <div class="row" style="margin: 0%;">
      <div class="col-4">
        <h3>REQUEST STATUS</h3>
      </div>
      <div class="col-5">
        <input [(ngModel)]="searchText" placeholder="Search by Request Number/Title/Status"
          class="form-control">
      </div>
      <div class="col-3" style="padding-right:0%;">
        <div class="icons">
          <div class="press">
            <a (click)="xlsxJson()"><i id="ic" class="material-icons">get_app</i></a>
            <button data-target="#helpModal" data-toggle="modal" style="margin-top:15%;">
              <a data-toggle = "tooltip" title = "HELP"><i id="ic" class="material-icons" style="padding-top:34%;">help_outline</i></a>
            </button>
          </div>
        </div>
      </div>

      <div class="tableFixHead">

        <table *ngIf="reports" class="table table-striped report_table " style="overflow:-moz-hidden-unscrollable;margin-left: 0;">
          <thead class="thead">
              <th>Select</th>
              <th (click)="sort('ddm_rmp_post_report_id')">Request Number
                <span *ngIf="!reports['ddm_rmp_post_report_id']">&#8593;</span>
                <span *ngIf="reports['ddm_rmp_post_report_id']">&#8595;</span>
              </th>
              <th (click)="sort('created_on')">Created On
                <span *ngIf="!reports['created_on']">&#8593;</span>
                <span *ngIf="reports['created_on']">&#8595;</span>
              </th>
              <th (click)="sort('ddm_rmp_user_info')">Requestor</th>
              <th style="text-align:center" (click)="sort('on_behalf_of')">On Behalf of</th>
              <th (click)="sort('title')">Title
                <span *ngIf="!reports['title']">&#8593;</span>
                <span *ngIf="reports['title']">&#8595;</span>
              </th>
              <th style="text-align:center" (click)="sort('assigned_to')">Assigned To</th>
              <th (click)="sort('status')">Status
                <span *ngIf="!reports['status']">&#8593;</span>
                <span *ngIf="reports['status']">&#8595;</span>
              </th>
              <th style="text-align:center" (click)="sort('ddm_rmp_status_date')">Status Date
                <span *ngIf="!reports['ddm_rmp_status_date']">&#8593;</span>
                <span *ngIf="reports['ddm_rmp_status_date']">&#8595;</span>
              </th>
              <th style="text-align:center">Links To Result</th>
              <th>Query Criteria</th>
              <th>Create Report</th>
          </thead>
  
          <tbody>
            <ng-container
              *ngFor="let element of reports | filterTable: {'ddm_rmp_post_report_id': searchText, 'title' :searchText, 'status' :searchText, 'assigned_to' :searchText}| orderBy: param : orderType: fieldType | paginate: { itemsPerPage: 10, currentPage: p }">
              <tr class="clickable">
                <td colspan="1" style="width:10%; padding:8px;">
                  <tr class="row" style="background: white;">
                    <input type="checkbox" class="report_id_checkboxes" [id]="element.ddm_rmp_post_report_id"
                      (click)="Report_request(element, $event)">
                  </tr>
                  <tr class="row">&nbsp;</tr>
                  <tr class="row">
                      <button class="btn btn-primary" (click)="set_report_comments(element.ddm_rmp_post_report_id)"
                        data-toggle="collapse" [attr.data-target]="'#'+'accordion'+element.ddm_rmp_post_report_id" style="padding:3px;">Comments
                      <i id="ic" class="material-icons comment-sec" style="padding-left:1px;font-size:2rem;">expand_more</i></button>
                  </tr>
              </td>
              <td colspan="1" style="width:8%;">
                {{element.ddm_rmp_post_report_id}}
              </td>
  
              <td colspan="1" style="width:10%;">
                {{element.created_on | date : 'dd-MMM-yyyy'}}
              </td>
  
              <td colspan="1">
              </td>
  
              <td colspan="1">
                {{element.on_behalf_of}}
              </td>
  
              <td colspan="1">
                {{element.title}}
              </td>
  
              <td colspan="1">
                {{element.assigned_to}}
              </td>
  
              <td colspan="1">
                {{element.status}}
              </td>
  
              <td colspan="1">
                {{element.ddm_rmp_status_date | date : 'dd-MMM-yyyy'}}
              </td>
  
              <td colspan="1">
                <a target="_blank" data-toggle = "tooltip" title = "{{element.link_to_results}}" href="{{element.link_to_results}}">{{element.link_title}}</a>
              </td>
  
              <td colspan="1" *ngIf="element.status == 'Active' || element.status == 'Pending'">
                <button class="btn btn-outline-primary" (click)="query_criteria_click(element.ddm_rmp_post_report_id)"
                  data-toggle="modal" data-target="#queryCriteria">QueryCriteria</button>
              </td>
  
              <td colspan="1" *ngIf="user_role=='Admin' && element.status == 'Active'">
                <button class="btn btn-primary pointer"  routerLink="../../semantic/sem-reports/home" routerLinkActive="active-route"
                [routerLinkActiveOptions]="{ exact: true }" (click)="getRequestId(element.ddm_rmp_post_report_id)">Create Report</button>
              </td>
              
            </tr>
            <tr>
              <td class="col-sm-12" colspan="12">
                <div id="accordion{{element.ddm_rmp_post_report_id}}" class="collapse">
                  <div class="row">
                    <ng-container *ngFor="let comment_element of comment_list">
                      <ng-container *ngIf="comment_element.ddm_rmp_post_report == element.ddm_rmp_post_report_id">
                        <div class="col-sm-5">
                          <p *ngIf="comment_element.users_table == user_id" class="comment bubble_left">
                            <strong>{{comment_element.commentor}} [{{comment_element.comment_timestamp | date:'yyyy-MM-dd  HH:mm:ss'}}]:
                            </strong><br>{{comment_element.comment}}
                          </p>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-5">
                          <p *ngIf="comment_element.users_table != user_id" class="comment bubble_right">
                            <strong>{{comment_element.commentor}} [{{comment_element.comment_timestamp | date:'yyyy-MM-dd  HH:mm:ss'}}]:
                            </strong><br>{{comment_element.comment}}
                          </p>
                        </div>
                      </ng-container>
                    </ng-container>
                  </div>

                  <!-- This is chat area of report {{element.ddm_rmp_post_report_id}} -->
                </div>
              </td>
            </tr>
            </ng-container>
          </tbody>
        </table>

      </div>

      <div>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
    <!-- </div> -->
  </div>
  <div class="main-tool-body" *ngIf="!reports">
    <mat-progress-spinner style="left:40%;top:40%;" mode="indeterminate"></mat-progress-spinner>
  </div>

</div>
<div class="flex-container row tool-body" *ngIf="!reports" style="background: #f1f1f1">
  <mat-progress-spinner style="left:40%;top:40%;" mode="indeterminate"></mat-progress-spinner>
</div>

  <!--Modal - Enter Comment-->

  <div id="ModalComment" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Comment: </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body modal-comment-body">
          <div class="form-group">
            <textarea class="form-control" rows="5" id="comment"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button style="color:transparent;border:none" data-dismiss="modal" (click)="extract_comment()">
            <fa class="fa fa-paper-plane"></fa>
          </button>

        </div>
      </div>

    </div>
  </div>




  <!--Modal - Insert Link-->

  <div id="ModalInsertLink" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Insert a Link: </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <button class="btn-web-page-or-file">WEB PAGE OR FILE</button>
          <div class="form-group">
            <label for="usr">Text to display</label>
            <input type="text" class="form-control text-to-display-input" id="usr">
          </div>

          <div class="form-group">
            <div><label for="usr">Address</label></div>
            <input type="text" class="form-control address-text" id="usr">
            <button class="btn btn-primary address-open-button">Open</button>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary ok-btn" data-toggle="modal" data-target="#ModalComment"
            onmouseover="" style="cursor: pointer;" data-dismiss="modal">OK</button>
          <button type="button" class="btn btn-danger cancel-btn" data-toggle="modal" data-target="#ModalComment"
            onmouseover="" style="cursor: pointer;" data-dismiss="modal">Cancel</button>
        </div>
      </div>

    </div>
  </div>
  <!-----------------------------------DaOts Modal---------------------------------------------->


  <div id="DaOts" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit the existing Report</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <div>Please Select one of the below</div>
          <button (click)="DealerAllocation($event)">Dealer Allocation</button>
          <button (click)="OrderToSale($event)">Order to Sale</button>
        </div>

        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-danger cancel-btn">Cancel</button>
        </div>
      </div>
    </div>
  </div>





  <!-----------------------------------Report Tab Modal DDM Configurable------------------------>

  <div class="modal fade" id="postLink" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Add Link to Results</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="document-name" class="col-form-label">Link Title:</label>
              <div><i>*Maximum 25 characters allowed</i></div>
              <input type="text" class="form-control title-box" id="document-name" maxlength="25" required>
             
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">URL:</label>
              <input type="url" placeholder="https://example.com" pattern="https://.*" size="30" class="form-control"
                id="document-url" required>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <ng-container *ngIf="!changeDoc">
            <button type="button" class="btn btn-success" data-dismiss="modal" (click)="addDocument()">Save
              changes</button>
          </ng-container>
          <ng-container *ngIf="changeDoc">
            <button type="button" class="btn btn-success" data-dismiss="modal" (click)="editDocument()">Save
              changes</button>
          </ng-container>

        </div>
      </div>
    </div>
  </div>

  <!--                                    <Summary Modal Start>                                          -->
  <div id="queryCriteria" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" id="pdfId">
        <div class="modal-header">
          <div class="row modal-title">
            <div class="col-sm-12 modal-main-heading"><b>Distribution DataMart (DDM) Report Request Confirmation</b>
            </div>
            <div class="col-sm-12 modal-sub-heading">Dealer Allocation</div>
            <div class="col-sm-9"></div>
            <div class="col-sm-1"><i id="ic" class="material-icons" (click)="printDiv()">print</i></div>
            <div class="col-sm-1"><i id="ic" class="material-icons" (click)="captureScreen()">get_app</i></div>
            <div class="col-sm-1"><button type="button" class="close" (click)=changeReportMessage()
                data-dismiss="modal">x</button></div>
          </div>
        </div>
        <div class="modal-body" id="editable">
          <div class="container-fluid">
            <div class="Request-details">
              <span> <b>Request Date:</b>
                &nbsp;&nbsp;&nbsp;&nbsp;{{summary?.ddm_rmp_status_date | date : 'dd-MMM-yyyy'}}</span> <br>
              <span> <b>Request Number:</b> &nbsp;&nbsp;&nbsp;&nbsp;{{summary?.ddm_rmp_post_report_id}}</span> <br>
              <div *ngFor="let element of summary?.requestor"><b>Requestor</b>&nbsp;&nbsp;&nbsp;&nbsp;{{ element?.requestor }}</div>
              <span> <b>Report Title:</b> &nbsp;&nbsp;&nbsp;&nbsp;{{summary?.title}}</span> <br><br>
            </div>
            <div class="Request-summary">
              <h5><b>Market Selections</b></h5><br>
              <div class="div-wrap">
                <b>Market(s) Selected:</b> &nbsp;&nbsp;<span
                *ngFor="let element of summary?.market_data">{{element?.market}}&nbsp;&nbsp;</span>
              <br>
            </div>
            <div class="div-wrap">
              <b>Division(s) Selected:</b> &nbsp;&nbsp;<span
                *ngFor="let element of divDataSelected">{{element?.division_desc}}&nbsp;&nbsp;</span>
              <br>
            </div>
            <div class="div-wrap">
              <b>Region(s) Selected:</b> &nbsp;&nbsp;<span
                *ngFor="let element of summary?.country_region_data">{{element?.region_desc}}&nbsp;&nbsp;</span>
              <br>
            </div>
            <div class="div-wrap">
              <b>Zone(s) Selected:</b> &nbsp;&nbsp;<span
                *ngFor="let element of summary?.region_zone_data">{{element?.zone_desc}}&nbsp;&nbsp;</span>
              <br>
            </div>
            <div class="div-wrap">
              <b>Area(s) Selected:</b> &nbsp;&nbsp;<span
                *ngFor="let element of summary?.zone_area_data">{{element?.area_desc}}&nbsp;&nbsp;</span>
              <br>
            </div>
            <div class="div-wrap">
              <b>LMA(s) Selected:</b> &nbsp;&nbsp;<span
                *ngFor="let element of summary?.lma_data">{{element?.lmg_desc}}&nbsp;&nbsp;</span>
              <br>
            </div>
            <div class="div-wrap">
              <b>GMMA(s) Selected:</b> &nbsp;&nbsp;<span
                *ngFor="let element of summary?.gmma_data">{{element?.gmma_desc}}&nbsp;&nbsp;</span>
              <br>
            </div>
            <div class="div-wrap">
              <b>BAC(s) Selected:</b> &nbsp;&nbsp;<span
                *ngFor="let element of summary?.bac_data">{{element?.bac_desc}}&nbsp;&nbsp;</span>
              <br>
            </div>
            <!-- <div class="div-wrap">
              <b>Dealer Name :</b> &nbsp;&nbsp;<span
                *ngFor="let element of summary?.dealer_data">{{element?.dealer_name}}&nbsp;&nbsp;</span>
              <br>
            </div>
            <div class="div-wrap">
              <b>City :</b> &nbsp;&nbsp;<span
                *ngFor="let element of summary?.city_data">{{element?.market}}&nbsp;&nbsp;</span>
              <br>
            </div>
            <div class="div-wrap">
              <b>State :</b> &nbsp;&nbsp;<span
                *ngFor="let element of summary?.state_data">{{element?.state}}&nbsp;&nbsp;</span>
              <br>
            </div>
            <div class="div-wrap">
              <b>Zip :</b> &nbsp;&nbsp;<span
                *ngFor="let element of summary?.zip_data">{{element?.zip}}&nbsp;&nbsp;</span>
              <br>
            </div>
            <div class="div-wrap">
              <b>Country :</b> &nbsp;&nbsp;<span
                *ngFor="let element of summary?.country_data">{{element?.country}}&nbsp;&nbsp;</span>
              <br>
            </div> -->
            <!-- <div class="div-wrap">
                <b>Additional Selections:</b> &nbsp;&nbsp;
                <span *ngIf="summary?.zip_data">Zip&nbsp;&nbsp;</span><br>
                <span *ngIf="summary?.dealer_data">Dealer Name&nbsp;&nbsp;</span> <br>
                <span *ngIf="summary?.country_data">Country&nbsp;&nbsp;</span><br> 
                <span *ngIf="summary?.city_data">City&nbsp;&nbsp;</span><br> 
                
              </div>    -->
            <h5><b>Frequency of Reports</b></h5>
            <div *ngIf = "!frequency_flag">
              Report NOT required on a routine basis
            </div>
            <div *ngIf = "frequency_flag" class="div-wrap">
              <span *ngFor="let element of summary?.frequency_data">{{element?.select_frequency_values}}&nbsp;&nbsp;</span>
            </div><br>
            <h5><b>Special Identifiers</b></h5>
            <div class="div-wrap">
              <p *ngFor="let element of summary?.special_identifier_data">{{element?.spl_desc}}</p>
            </div><br>
            <!-- <h5><b>Distribution List</b></h5>
            <div class="div-wrap">
              <p *ngFor="let element of summary?.dl_list">{{element?.distribution_list}}</p>
            </div> -->
              <!--                                Order To Sale Start                                    -->
              <div *ngIf="summary?.report_type == 'ots'">
                <h5><b>Order to Sales Data</b></h5>
                <div class="div-wrap">
                  <b>Allocation Group(s) Selected:</b> &nbsp;&nbsp;<span
                    *ngFor="let element of summary?.ost_data.allocation_group">{{element?.allocation_group}}&nbsp;&nbsp;</span>
                  <br>
                </div>
                <div class="div-wrap">
                  <b>Model Year(s) Selected:</b> &nbsp;&nbsp;<span
                    *ngFor="let element of summary?.ost_data.model_year">{{element?.model_year}}&nbsp;&nbsp;</span>
                  <br>
                </div>
                <div class="div-wrap">
                  <b>Vehicle line Brand(s) Selected:</b> &nbsp;&nbsp;<span
                    *ngFor="let element of summary?.ost_data.vehicle_line">{{element?.vehicle_line_brand}}&nbsp;&nbsp;</span>
                  <br>
                </div>
                <div class="div-wrap">
                  <b>Merchandizing Model(s) Selected:</b> &nbsp;&nbsp;<span
                    *ngFor="let element of summary?.ost_data.merchandizing_model">{{element?.merchandising_model}}&nbsp;&nbsp;</span>
                  <br>
                </div>
                <div class="div-wrap">
                  <b>Order Event(s) Selected:</b> &nbsp;&nbsp;<span
                    *ngFor="let element of summary?.ost_data.order_event">{{element?.order_event}}&nbsp;&nbsp;</span>
                  <br>
                </div>
                <div class="div-wrap">
                  <b>Order Type(s) Selected:</b> &nbsp;&nbsp;<span
                    *ngFor="let element of summary?.ost_data.order_type">{{element?.order_type}}&nbsp;&nbsp;</span>
                  <br>
                </div>
                <div class="div-wrap">
                  <b>Check-Boxes Selected(s):</b> &nbsp;&nbsp;<span
                    *ngFor="let element of summary?.ost_data.checkbox_data">{{element?.checkbox_description}}&nbsp;&nbsp;</span>
                  <br>
                </div>
                <div class="div-wrap">
                  <b>Consensus Time and Date:</b> &nbsp;&nbsp;
                  <span *ngFor="let element of summary?.ost_data.data_date_range">
                    <b>Start:</b>&nbsp;{{element?.start_date}}
                    <b>End:</b>&nbsp;{{element?.end_date}}
                  </span>
                </div>
                <div style="width:100%;float:left;padding-top: 20px">
                  <b>Additional Requirements:</b> <br>
                  <span>{{summary?.additional_req}}</span>
                </div>
              </div>
              <!--                                Order To Sale Start                                    -->


              <!--                      Dealer allocation Part Start                          -->
              <div *ngIf="summary?.report_type == 'da'">
                <h5><b>Dealer Allocation Selections</b></h5><br>
                <div class="div-wrap">
                  <b>Allocation Group(s) Selected:</b>&nbsp;&nbsp;
                  <span *ngFor="let element of summary?.da_data.allocation_grp">
                    {{element?.allocation_group}}&nbsp;&nbsp;</span>
                </div>
                <div class="div-wrap">
                  <b>Model Year(s) Selected:</b> &nbsp;&nbsp;<span
                    *ngFor="let element of summary?.da_data.model_year">{{element?.model_year}}&nbsp;&nbsp;</span>
                  <br>
                </div>
                <div class="div-wrap">
                  <b>Consensus Time and Date:</b> &nbsp;&nbsp;
                  <span *ngFor="let element of summary?.da_data.concensus_time_date">
                    <b>Start:</b>&nbsp;{{element?.ddm_rmp_start_year}}&nbsp;{{element?.ddm_rmp_start_month}}&nbsp;{{element?.ddm_rmp_start_cycle}}&nbsp;
                    <b>End:</b>&nbsp;{{element?.ddm_rmp_end_year}}&nbsp;{{element?.ddm_rmp_end_month}}&nbsp;{{element?.ddm_rmp_end_cycle}}&nbsp;&nbsp;
                  </span>
                </div>
                <div class="div-wrap">
                  <b>Consensus Data:</b> &nbsp;&nbsp;<span
                    *ngFor="let element of summary?.da_data.concensus_data">{{element?.cd_values}}&nbsp;&nbsp;</span>
                  <br>
                </div>
                <div class="div-wrap">
                  <b>Additional Requirements:</b> <br>
                  <span>{{summary?.additional_req}}</span>
                </div>
              </div>
              <!--                                    Dealer allocation Part End                      -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


 <!------------------------------------Help Modal------------------------------->

 <div class="modal fade " id="helpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
 aria-hidden="true">
 <div class="modal-dialog modal-lg" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <img class="logo" src="/assets/OFT_Logo.jpg">
       <h5 class="modal-title" id="mainMenuDescriptionHelp">Help</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
       <div class="row">
         <div class="col-9">
           <button class="btn btn-success save-text-ddm" (click)="content_edits()" *ngIf="editModes" style="margin-right:3%">Save</button>
           <button class="btn btn-danger save-text-ddm" (click)="edit_True()" *ngIf="editModes">Cancel</button>
         </div>
         <div class="col-3">
           <button *ngIf="user_role=='Admin'" id="edit_button" class="editButton" (click)="edit_True()" style="padding-right:0px;padding-left:70%">
               <a data-toggle = "tooltip" title = "EDIT"><i id="ic" class="material-icons">mode_edit</i></a>
           </button>
         </div>
       </div>
       <div class="row ckEditor" id="ckEditorHelp">
         <!-- <ckeditor [editor]="Editor" [(ngModel)]="namings" [disabled]="!editModes" (blur)="onChanges($event)" style="width:100%; padding:1%;"></ckeditor> -->
       </div>
     </div>
     <div class="modal-footer">
       <button type="button" id="modal_close_button" class="btn btn-secondary" data-dismiss="modal">Close</button>
     </div>
   </div>
 </div>
</div>

  <!--                                    <Summary Modal End>                                           -->
      <!-- <ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type"></ngx-spinner> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>