.active > button.btn.btn-primary {
  background-color: rgb(250, 250, 250);
}
.tool-header {
  height: 12%;
  background-color: rgb(00, 78, 99);
}

.tool-body {
  height: 88%;
  margin-left: 0;
  margin-right: 0;
}
h3 {
  font-size: 150%;
  font-weight: bold;
}

.main-tool-body {
  width: 80%;
  background: white;
  margin-left: -0.7%;
}

.left-tabs {
  width: 14.15%;
  height: 100%;
}

.left-tabs button:active:hover {
  background-color: rgb(247, 246, 246);
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.button-add {
  width: 70%;
  margin-top: 35%;
}

.tabs {
  background-color: rgb(202, 206, 209);
  width: 100%;
  height: 100%;
}

.tabs button {
  display: block;
  border: 0.5px solid rgb(104, 103, 103);
  background-color: rgb(221, 221, 221);
  background-image: linear-gradient(rgb(237, 237, 237), rgb(254, 254, 252));
  color: black;
  width: 94.7%;
  outline: none;
  text-align: center;
  font-size: 95%;
  cursor: pointer;
  transition: 0.3s;
  white-space: normal;
  text-overflow: ellipsis;
  height: 15%;
  border-radius: 0;
  overflow: hidden;
  padding: 0px;
}

.main-tool-body-header {
  height: 10%;
  width: 95%;
}

.main-tool-body-content {
  height: 88%;
  width: 95%;
  margin-left: 2.5%;
  overflow: scroll;
  overflow-x: hidden;
}

.caption-style {
  height: 50%;
  width: 100%;
}

.tableFixHead {
  overflow-y: auto;
  height: 460px;
  overflow-x: auto;
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 8px 16px;
}
th {
  background: #ccc;
  z-index: 1000;
}

.table-striped > tbody > tr:nth-child(2n) > td,
.table-striped > tbody > tr:nth-child(2n) > th {
  background-color: #f9f9f9;
}

.table-striped > tbody > tr:nth-child(2n + 1) > td,
.table-striped > tbody > tr:nth-child(2n + 1) > th {
  background-color: white;
}

.collapse {
  width: 100%;
  padding: 0;
}

tr {
  margin: 0;
}

.comment_row {
  margin: 0;
  height: 300px;
  overflow-y: auto;
  width: 100%;
  overflow-x: hidden;
}

.icons {
  widows: 40%;
  height: 100%;
  float: right;
  align-content: center;
}

.buffer {
  height: 25%;
  width: 100%;
}

b {
  height: 100%;
  font-size: 135%;
}

.material-icons {
  width: fit-content;
  float: right;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
}

.press {
  height: 100%;
  width: fit-content;
  font-size: 2em;
  float: left;
  cursor: pointer;
}

.press-button {
  background: transparent;
  border: none;
}

.main-style {
  font-size: 1.5rem;
}

.display-none {
  display: none;
}

.fa-paperclip {
  font-size: 170%;
  margin-left: 5%;
  margin-right: 5%;
}

.fa-exclamation {
  font-size: 170%;
  margin-left: 5%;
  margin-right: 5%;
  color: maroon;
}
.fa-link {
  font-size: 170%;
  margin-left: 5%;
  margin-right: 5%;
  color: darkslategrey;
}
.fa-paper-plane {
  font-size: 170%;
  margin-left: 5%;
  margin-right: 5%;
  color: darkblue;
}

.btn-web-page-or-file {
  margin-bottom: 2%;
}

.address-text {
  width: 83%;
  margin-right: 2%;
  float: left;
}

.address-open-button {
  float: left;
}

.ok-btn {
  width: 17%;
}

.cancel-btn {
  width: 17%;
}

h3 {
  margin-left: 5%;
}

.row {
  width: 100%;
}

.ckEditor {
  max-height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
}

.form-control {
  margin-top: 5%;
  margin-bottom: 5%;
}

.icons {
  text-align: right;
}

.config {
  margin-bottom: 3%;
}

.config-drop {
  margin-bottom: 1%;
}

.modal-header {
  align-content: center;
}
.modal-title {
  color: white;
  font-size: medium;
}

.main-heading {
  font-size: 150%;
  color: rgb(0, 91, 165);
}

.sub-heading {
  font-size: 100%;
  color: rgb(0, 91, 165);
}

.title-box {
  width: 100%;
}

.requirement-box {
  height: 20vh;
  text-align: top;
}

.close {
  font-size: 100%;
  color: rgb(0, 91, 165);
  text-align: right;
}

.modal-body {
  padding: 20px;
}

.material-icons {
  float: right;
  padding-left: 8px;
  padding-top: 3px;
  margin-right: none;
  color: black;
  font-size: 3rem;
}

.footer-buttons {
  float: left;
}
.Request-details {
  width: 100%;
  float: left;
  padding-top: 20px;
}

.Request-summary {
  width: 100%;
  float: left;
  padding-top: 20px;
}

.bubble_right {
  position: relative;
  padding: 10px 20px;
  color: white;
  background: #0b93f6;
  border-radius: 25px;
  float: right;
}
.bubble_right:before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -2px;
  right: -7px;
  height: 20px;
  border-right: 20px solid #0b93f6;
  border-bottom-left-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
}

.bubble_right:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -2px;
  right: -56px;
  width: 26px;
  height: 20px;
  background: white;
  border-bottom-left-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
}

.bubble_left {
  position: relative;
  padding: 10px 20px;
  background: #e5e5ea;
  border-radius: 25px;
  color: black;
  float: left;
}
.bubble_left:before {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: -2px;
  left: -7px;
  height: 20px;
  border-left: 20px solid #e5e5ea;
  border-bottom-right-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
}

.bubble_left:after {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: -2px;
  left: 4px;
  width: 26px;
  height: 20px;
  background: white;
  border-bottom-right-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
}

.logo {
  width: 100%;
  margin: 0;
}

th > span {
  float: left;
}

th > div {
  width: 85px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
}
td > div {
  width: 85px;
  align-items: center;
  justify-content: flex-start;

  word-break: break-word;
}

thead th {
  cursor: pointer;
  margin: auto 15px;
}



thead th > span {
  visibility: hidden;
}

thead th.active {
  color: #000;
}

thead th > span {
  visibility: visible;
}

th > div {
  width: 90px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 40px;
}
td > div {
  width: 90px;
  align-items: center;
  justify-content: flex-start;
  word-break: break-word;
}

.alignLeft {
  display: flex;
  justify-content: left;
  align-items: left;
  cursor: pointer;
}

angular4-multiselect > div.c-btn{
  font-size: 12px;
}