<div id="TagModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Tags</h3>
      </div>
      <div class="modal-body">
        <div>
          <div class="tagsearch"><strong>Search for tags</strong></div>
          <div><input class="form-control" [(ngModel)]="userName" [disabled]="isUserReadOnly" (input)="getTagsFromList(userName)"
              class="tagsearchbox" type="text" class="tagsearchbox"></div>
          <div class="addtags"><strong>Add tags</strong></div>
          <div class="tags-content">
            <input (keyup.enter)="addTags()" class="tagaddbox" [(ngModel)]="inputTag" placeholder="Type to add tags" />
            <span class="tags-style" *ngFor="let tags of exportTags">
              {{tags}}<span aria-hidden="true" (click)="removeTags(tags)" onmouseover="" style="cursor: pointer;">&times;</span>
            </span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btnm" (click)="removeAll()">Clear Tags</button>
        <button type="button" class="btn btn-primary btnm" (click)="submitTags()" [disabled]="!newTags.length"
          data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>