<div class="modal fade" id="tablesSelectionModal" tabindex="-1" role="dialog" aria-labelledby="tablesSelectionModal"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" *ngIf="action === 'ADD'">Select tables from database</h3>
        <h3 class="modal-title" *ngIf="action === 'REMOVE'">Remove tables</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="isLoading" class="spinner">
          <img src="assets/spinner.gif">
        </div>

        <div *ngIf="!isLoading">
          <input *ngIf="cachedTables.length" type="text" placeholder="Search table" class="form-control search" (input)="filterList($event.target.value)" />

          <p id="no-tables" *ngIf="!tables.length"><strong>No tables to show</strong></p>

          <div *ngIf="tables.length" class="select-all form-check form-check-inline">
            <input class="form-check-input" type="checkbox" (change)="onSelect('', $event.target.checked)" [checked]=isAllSelected>
            <label class="form-check-label"><strong>Select All</strong></label>
          </div>

          <ul *ngIf="tables.length" class="list-group scroll-area">
            <li *ngFor="let table of tables" class="list-group-item">
              <div class="form-check form-check-inline" *ngIf="action === 'REMOVE'">
                <input class="form-check-input" type="checkbox" id="{{table.sl_tables_id}}" (change)="onSelect(table)"
                  [checked]=table.checked>
                <label class="form-check-label" for="{{table.sl_tables_id}}">{{table.mapped_table_name}}</label>
              </div>
              <div class="form-check form-check-inline" *ngIf="action === 'ADD'">
                <input class="form-check-input" type="checkbox" id="{{table.table_name}}" (change)="onSelect(table)"
                  [checked]=table.checked>
                <label class="form-check-label" for="{{table.table_name}}">{{table.table_name}}</label>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="getSelection()" [disabled]="isDisabled" data-toggle="modal"
          data-target="#confirmationModal" data-dismiss="modal">{{ action | titlecase }}</button>
      </div>
    </div>
  </div>
</div>