.modal-header {
    background-color: rgb(00,34,61);
    color: #ffffff;
}

.modal-body {
    min-height: 300px;
    height: 300px;
    overflow-y: auto;
}

.modal-body .list-group-item {
    border: none;
    color: #000000;
}

.modal-body .list-group-item label {
    font-weight: normal;
    padding-left: 5px;
}

.close {
    color: #ffffff;
    outline: transparent;
}