.modal-header {
  background-color: rgb(00,34,61);
  color: #ffffff;
}

.modal-body {
  min-height: 350px;
  height: 350px;
}

.scroll-area {
  min-height: 200px;
  height: 200px;
  overflow-y: auto;
  padding-left: 0;
}

label {
  font-weight: normal;
  padding-left: 0.4em;
}

.search {
  margin: 10px 0 15px;
}

.select-all {
  padding: 10px 15px;
  display: block;
}

#no-tables {
  margin-top: 6em;
  font-size: 1.1em;
  text-align: center;
}

.close {
  color: #ffffff;
  outline: transparent;
}

.spinner {
  margin: 5em auto;
  text-align: center;
}