<div class="body-content" id="body_content" #body_content>
  <div class="heading">
    <div class="col-xs-9 pl-0">
      <h3 class="mt-0"><b>User Profile</b></h3>
    </div>
    <div class="right-alignment">
      <div class="press">
        <button (click)="downloadMarkedSelection()" style="padding-right:0px;">
          <a data-toggle="tooltip" title="Download Marked Selection"><i id="ic" class="material-icons">get_app</i></a>
        </button>
        <button data-toggle="modal" data-target="#helpModal" style="padding-right:0px;">
          <a data-toggle="tooltip" title="HELP"><i id="ic" class="material-icons">help_outline</i></a>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <i>
        <b>
          {{ user_name }}<br>
        </b>
        {{ user_designation }} <br>
        {{ user_department }} <br>
        {{ user_email }} <br>
        {{ user_office_address || 'Cant fetch address' }} <br>
        <span *ngIf="user_role != 'Admin'"> Disclaimer Acknowledge: {{ user_disc_ack | date: 'dd-MMM-yyyy'}}</span>
      </i>
    </div>
    <div class="col-xs-6">
      <div class="text-notifications">
        <div class="row" title="After requests are fulfilled">
          <div class="col-xs-6"><strong>Text Notification&nbsp;(Available for U.S. only) :</strong></div>
          <mat-radio-group aria-labelledby="notification-radio-btn" [(ngModel)]="notificationRadioState">
            <mat-radio-button class="radio-yes-margin" [value]="true" (click)="enableNotificationBox()">
              <strong>Yes</strong>
            </mat-radio-button>
            <mat-radio-button [value]="false" (click)="disableNotificationBox()">
              <strong>No</strong>
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="row input-group" title="(For Ex: (555) 555-1234 should be 5555551234)">
          <div class="col-xs-6">
            <p><b>Enter valid 10 digit phone number : </b></p>
          </div>
          <div class="col-xs-4">
            <div class="col-xs-8 pl-0">
              <input class="form-control" type="text" id="phone" name="phone" title="Phone Number"
                (keypress)='numberOnly($event)' [value]="text_number" [maxLength]='10'>
            </div>
            <div class="col-xs-4 visible-btn-padding" title="Hide/Unhide">
              <i class="material-icons" (click)="showPassword()">
                remove_red_eye
              </i>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <p><b>Select Carrier for text notification :</b></p>
          </div>
          <div class="col-xs-4 minor-padding">
            <select class="carrier form-control" name="Year" id="carrier" (change)="carrier($event.target.value)">
              <option value=""></option>
              <option *ngFor="let element of carriers_pair" value={{element.carrierValue}}>{{element.carrierName}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="row btn-position">
        <button [cssBtn]="'ok'" class="btn" (click)="getNotificationInformation()">Save Notifications</button>
      </div>
    </div>
  </div>
  <hr>
  <div class="market-selections">
    <div class="row market-static">
      <div class="col-9">
        <div class="col-xs-3 pl-0">
          <h3 class="title-position"><strong>Market Selections</strong></h3>
        </div>
        <div class="col-xs-8 pl-0 req-fields">
          <p _ngcontent-c1="" class="mandatory-fields"><span style="color: red;">*</span>Required Fields</p>
        </div>
      </div>
      <div class="col-xs-3 pl-0">
        <button [cssBtn]="'ok'" class="save-button btn" (click)="getSelectedMarkets()"
          [disabled]="!changed_settings">Save Settings
        </button>
      </div>
    </div>
  </div>
  <div class="market-selections-main">
    <div class="row">
      <div class="col-xs-3 pl-0">
        <app-mat-multiselect [data]="dropdownList" [settings]="market_settings" [(inputModel)]="selected.market_data"
          (selectionDone)="onMarketItemSelect()">
        </app-mat-multiselect>
      </div>
      <div class="col-xs-3 pl-0">
        <app-mat-multiselect [data]="divisiondropdownListfinal" [settings]="division_settings"
          [(inputModel)]="selected.division_data" (selectionDone)="changeSaveSettings()">
        </app-mat-multiselect>
      </div>
      <div class="col-xs-3 pl-0">
        <app-mat-multiselect [data]="regiondropdownListfinal" [settings]="region_settings"
          [(inputModel)]="selected.country_region_data" (selectionDone)="onRegionItemSelect()">
        </app-mat-multiselect>
      </div>
      <div class="col-xs-3 pl-0">
        <app-mat-multiselect [data]="zonedropdownListfinal" [settings]="zone_settings"
          [(inputModel)]="selected.region_zone_data" (selectionDone)="onZoneItemSelect()">
        </app-mat-multiselect>
      </div>
      <div class="col-xs-3 pl-0">
        <app-mat-multiselect [data]="areadropdownListfinal" [settings]="area_settings"
          [(inputModel)]="selected.zone_area_data" (selectionDone)="changeSaveSettings()">
        </app-mat-multiselect>
      </div>
      <div class="col-xs-3 pl-0">
        <app-mat-multiselect [data]="gmmadropdownListfinal" [settings]="gmma_settings"
          [(inputModel)]="selected.gmma_data" (selectionDone)="changeSaveSettings()">
        </app-mat-multiselect>
      </div>
      <div class="col-xs-3 pl-0">
        <app-mat-multiselect [data]="lmadropdownListfinal" [settings]="lma_settings" [(inputModel)]="selected.lma_data"
          (selectionDone)="changeSaveSettings()">
        </app-mat-multiselect>
      </div>
    </div>
    <div class="row mb-0">
      <div class="col-xs-6 bac-padding">
        <app-ng-chips [custom_placeholder]="'Add BAC'" [(inputModel)]="bacselectedItems"
          (inputModelChange)="changeSaveSettings()">
        </app-ng-chips>
      </div>
      <div class="col-xs-6 fan-padding">
        <app-ng-chips class="chips-height" [custom_placeholder]="'Add FAN'" [(inputModel)]="fanselectedItems"
          (inputModelChange)="changeSaveSettings()">
        </app-ng-chips>
      </div>
    </div>
    <div class="row message-padding">
      *If more granular information is required, please mention it in Additional Requirements of Submit Request page
    </div>
  </div>

  <!------------------------------------Help Modal------------------------------ -->

  <div class="modal fade " style="overflow-y: hidden;" id="helpModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header" style="justify-content: flex-start;">
          <img class="logo" src="/assets/OFT_Logo.jpg">
          <h5 class="modal-title help-title">Help</h5>
        </div>
        <div class="modal-body display-notes-scroll-modal">
          <div class="row">
            <div class="col-9">
              <button [cssBtn]="'ok'" class="btn save-text-ddm" (click)="content_edits()" *ngIf="editModes"
                style="margin-right:3%">Save</button>
              <button [cssBtn]="'cancel'" class="btn save-text-ddm" (click)="edit_True()"
                *ngIf="editModes">Cancel</button>
            </div>
            <div class="col-3" style="padding-left:12%;">
              <button *ngIf="user_role=='Admin'" id="edit_button" class="editButton" (click)="editEnable()">
                <a data-toggle="tooltip" title="EDIT"><i id="ic" class="material-icons">mode_edit</i></a>
              </button>
            </div>
          </div>
          <div class="quillEditor">
            <quill-editor class="quill" [(ngModel)]='naming' [modules]='config' [readOnly]='readOnlyContentHelper'
              (onContentChanged)='textChanged($event)'>
            </quill-editor>
          </div>
        </div>
        <div class="modal-footer modal-footer-pad">
          <button [cssBtn]="'mid'" type="button" id="modal_close_button" class="btn btn-secondary" (click)="edit_True()"
            data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <button id="errorTrigger" data-toggle="modal" data-target="#errorModal" style="display:none">Error</button>
  <div class="modal fade " id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" style="z-index: 10000">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Alert!</h3>
        </div>
        <div class="modal-body" id="errorModalMessage">
        </div>
        <div class="modal-footer">
          <button type="button" id="modal_close_button" class="btn" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div hidden id="dload"></div>

  <!-- hidden div to download user selection -->

  <div *ngIf="displayPrintDiv" style="position: absolute;z-index: -1000;width:100%">
    <div class="hidden-user-selection"
      style="padding:30px;display: flex;justify-content: center;align-items: center;width:100%"
      id="user-selection-print-div">
      <div class="cont" style="width: 100%;">
        <div class="header flex-center"
          style=" display: flex;justify-content: center;align-items: center; height:50px;background-color: lightgray;">
          <span style="font-size: 20px;">USER PROFILE</span>
        </div>
        <div class="secection-contents" style="padding:20px;">
          <div class="row">
            <span class="selection-key" style="font-size: 16px;font-weight: bold;display: inline-block;">Name : </span>
            <span class="selection-val"
              style="font-size: 16px;display: inline-block;margin-left: 20px;">{{user_name}}</span>
          </div>
          <div class="row">
            <span class="selection-key" style="font-size: 16px;font-weight: bold;display: inline-block;">Phone Number :
            </span>
            <span class="selection-val"
              style="font-size: 16px;display: inline-block;margin-left: 20px;">{{text_number}}</span>
          </div>
          <div class="row">
            <span class="selection-key" style="font-size: 16px;font-weight: bold;display: inline-block;">Carrier :
            </span>
            <span class="selection-val"
              style="font-size: 16px;display: inline-block;margin-left: 20px;">{{user_info['carrier']}}</span>
          </div>
          <div class="row">
            <span class="selection-key" style="font-size: 16px;font-weight: bold;display: inline-block;">Designation :
            </span>
            <span class="selection-val"
              style="font-size: 16px;display: inline-block;margin-left: 20px;">{{user_designation}}</span>
          </div>
          <div class="row">
            <span class="selection-key" style="font-size: 16px;font-weight: bold;display: inline-block;">Department :
            </span>
            <span class="selection-val"
              style="font-size: 16px;display: inline-block;margin-left: 20px;">{{user_department}}</span>
          </div>
          <div class="row">
            <span class="selection-key" style="font-size: 16px;font-weight: bold;display: inline-block;">Email : </span>
            <span class="selection-val"
              style="font-size: 16px;display: inline-block;margin-left: 20px;">{{user_email}}</span>
          </div>
          <div class="row">
            <span class="selection-key" style="font-size: 16px;font-weight: bold;display: inline-block;">Offince Address
              : </span>
            <span class="selection-val"
              style="font-size: 16px;display: inline-block;margin-left: 20px;">{{user_office_address || 'Cant fetch address' }}</span>
          </div>
          <div class="row" *ngIf="user_role != 'Admin'">
            <span class="selection-key" style="font-size: 16px;font-weight: bold;display: inline-block;">Disclaimer
              Acknowledge : </span>
            <span class="selection-val"
              style="font-size: 16px;display: inline-block;margin-left: 20px;">{{user_disc_ack | date: 'dd-MMM-yyyy' }}</span>
          </div>
          <div class="row">
            <span class="selection-key" style="font-size: 16px;font-weight: bold;display: inline-block;">Market
              Selections : </span>
            <span class="selection-val"
              style="font-size: 16px;display: inline-block;margin-left: 20px;">{{getListOfValues(selected.market_data,"market")}}</span>
          </div>
          <div class="row">
            <span class="selection-key" style="font-size: 16px;font-weight: bold;display: inline-block;">Division
              Selections : </span>
            <span class="selection-val"
              style="font-size: 16px;display: inline-block;margin-left: 20px;">{{getListOfValues(selected.division_data,"division_desc")}}</span>
          </div>
          <div class="row">
            <span class="selection-key" style="font-size: 16px;font-weight: bold;display: inline-block;">Region
              Selections : </span>
            <span class="selection-val"
              style="font-size: 16px;display: inline-block;margin-left: 20px;">{{getListOfValues(selected.country_region_data,"region_desc")}}</span>
          </div>
          <div class="row">
            <span class="selection-key" style="font-size: 16px;font-weight: bold;display: inline-block;">Zone Selections
              : </span>
            <span class="selection-val"
              style="font-size: 16px;display: inline-block;margin-left: 20px;">{{getListOfValues(selected.region_zone_data,"zone_desc")}}</span>
          </div>
          <div class="row">
            <span class="selection-key" style="font-size: 16px;font-weight: bold;display: inline-block;">Area Selections
              : </span>
            <span class="selection-val"
              style="font-size: 16px;display: inline-block;margin-left: 20px;">{{getListOfValues(selected.zone_area_data,"area_desc")}}</span>
          </div>
          <div class="row">
            <span class="selection-key" style="font-size: 16px;font-weight: bold;display: inline-block;">GMMA Selections
              : </span>
            <span class="selection-val"
              style="font-size: 16px;display: inline-block;margin-left: 20px;">{{getListOfValues(selected.gmma_data,"gmma_desc")}}</span>
          </div>
          <div class="row">
            <span class="selection-key" style="font-size: 16px;font-weight: bold;display: inline-block;">LMA Selections
              : </span>
            <span class="selection-val"
              style="font-size: 16px;display: inline-block;margin-left: 20px;">{{getListOfValues(selected.lma_data,"lmg_desc")}}</span>
          </div>
          <div class="row">
            <span class="selection-key" style="font-size: 16px;font-weight: bold;display: inline-block;">BAC : </span>
            <span class="selection-val"
              style="font-size: 16px;display: inline-block;margin-left: 20px;">{{bacselectedItems.join(', ')}}</span>
          </div>
          <div class="row">
            <span class="selection-key" style="font-size: 16px;font-weight: bold;display: inline-block;">FAN: </span>
            <span class="selection-val"
              style="font-size: 16px;display: inline-block;margin-left: 20px;">{{fanselectedItems.join(', ')}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>