.body-content {
    padding: 20px;
}

.header {
    font-size: 150%;
    font-weight: bold;
}

select {
    width: 100%;
}

thead {
    background: rgb(0, 112, 192);
    color: white;
}

th, td.col-3 {
    display: flex;
    justify-content: center;    
    border-right: solid grey;
    border-bottom: solid grey;
    border-width: 0.2px;
}

.select-styling {
    color: black;
    font-size: 67%;
    width: 100%;
    padding: 7%;
}

tbody {
    border-right: solid grey;
    border-left: solid grey;
    border-bottom: solid grey;
    border-width: 0.2px;
}

td.col-9 {
    border-top: none;
}

.save-button {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    margin-left: 13vw;
}

.text-notifications {
    height: 100%;
    width: 90%;
    border-radius: 5%;
    padding-left: 9px;
    padding-bottom: 8px;
    float: left;
    margin-left: 25px;
}

.save-button:hover {
    background-color: rgb(0, 177, 24);
}

.save-button:active {
    background-color: rgb(0, 214, 29);
    transform: translateY(4px);
}

.market-sel {
    height: 67%;
    width: 102%;
    max-height: 40vh;
    overflow-y: scroll;
}

.press{
    font-size: 3rem;
}

.press button {
    background: transparent;
    border: none;
}

.icons{
    float: right;
}

.editButton {
    background: transparent;
    border: none;
    float: right;
    padding-right:0px;    
}

.material-icons{
    font-size: 3rem;
}

.quillEditor{
    position: relative;
    padding: 3px;
}

.carrier{
    width: 10vw;
    border-radius: 3px;
    padding: 0 0.25vw 0 0.25vw;
}

.market-static{
    margin-top:15px;
}

.input-group p {
    margin-bottom: 0px;
}

.input-group input{
    width: 8vw;
    margin-left: 5px;
    -webkit-text-security: disc;
    display: inline-block;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.input-group i {
    cursor: pointer;
    font-size: 2.5rem;
    display: inline-block;
}

.right-alignment {
    padding-left: 12vw;
}

.row {
    margin-bottom: 1vh;
}

.btn-position { 
    margin-top: 3vh;
}

hr {
    margin-top: 0vh;
    margin-bottom: 1vh;
    border: 0;
    border-top: 1px solid #eee;
}

.req-fields {
    padding-top: 0.5vh;
}

.title-position{
    margin-top: 0vh;
}

.bac-padding {
    padding-left: 1vw;
}

.fan-padding {
    padding-right: 2vw;    
    padding-left: 1vw;
}

.message-padding{
    padding-left : 1vw; 
}

::ng-deep .main-tool-body-content .information .quill .ql-container .ql-editor {
    border: lightgray solid 1px;
}