<div class="body-content" style="height:73%">
  <div class="row" style="height: 45%;">
    <div class="col-4">
      <i>
        <b>
          {{ user_name }}<br>
        </b>
        {{ user_designation }} <br>
        {{ user_department }} <br>
        {{ user_email }} <br>
        Disclaimer Acknowledge: {{ user_disc_ack | date: 'dd-MMM-yyyy'}}
      </i>
    </div>
    <div class="col-2">
      <i>
        {{ user_office_address }}
      </i>
    </div>
    <div class="col-4">
      <div class="text-notifications">
          <strong>Text Notification(Available for U.S. only)</strong><br>
          <i>when requests are fulfilled?</i><br>
        <div class="row">
          <input id="notification_yes" type="radio" name="notification" (click)="enableNotificationBox()">
          <strong>Yes</strong> &nbsp;&nbsp;
          <input id="notification_no" type="radio" name="notification" (click)="disableNotificationBox()">
          <strong>No</strong>
        </div>
        <p>Enter a 10-digit valid phone number(For Ex: (555) 555-1234 should be 5555551234)</p>
        <div class="row input-group" style="display: flex; align-items: center; padding: 10px 0;">
          <input type="text" id="phone" 
                style="margin-right: 10px;width: 35%;margin-left: 5px;-webkit-text-security: disc;" 
                name="phone" title="Phone No." (keypress)='numberOnly($event)' 
                [value]="text_number" [maxLength]='10'>
          <i class="material-icons" style="cursor: pointer;font-size: 2.5rem;" (click)="showPassword()">
            remove_red_eye
          </i>
        </div>
        <div class="row" style="margin-bottom:4px;">
          <select class="carrier" name="Year" id="carrier" (change)="carrier($event.target.value)" disabled>
            <option value="">Select Carrier for text notification</option>
            <option *ngFor="let element of carriers_pair" value={{element.carrierValue}}>{{element.carrierName}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-2" style="padding-right:10px;">
      <div class="row">
        <div class="icons" style="margin-left: 74%;">
          <div class="press">
            <button data-toggle="modal" data-target="#helpModal" style="padding-right:0px;">
              <a data-toggle="tooltip" title="HELP"><i id="ic" class="material-icons">help_outline</i></a>
            </button>
          </div>
        </div>
      </div>
      <div class="row" style="height: 36%;">
      </div>
    </div>
  </div>

  <div class="row market-static">
    <div class="col-6">
      <h4 class="header">Market Selections</h4>
      <p _ngcontent-c1="" class="mandatory-fields" style="float:left">*Required Fields</p>
    </div>
    <div class="col4" style="margin-top: 20px;margin-left: 35px;">
      <button class="save-button btn btn-success" (click)="getNotificationInformation()">Save Notifications</button>
    </div>
    <div class="col-2">
      <div class="row" style="margin-top: 20px;margin-left: 120px;">
        <button class="save-button btn btn-success" (click)="getSelectedMarkets()" [disabled]="!changed_settings">Save
          Settings</button>
      </div>
    </div>
  </div>

  <div class="row market-sel">
    <div class="col-12" id="dropdownHolder">
      <div>{{dropdownSettings["text"]}}<span _ngcontent-c1="" class="mandatory-fields">*</span></div>
      <angular4-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" [settings]="dropdownSettings"
        (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
        (onDeSelectAll)="onDeSelectAll($event)">
      </angular4-multiselect>
      <br>

      <div>{{divisiondropdownSettings["text"]}}</div>
      <angular4-multiselect [data]="divisiondropdownListfinal" [(ngModel)]="divisionselectedItems"
        [settings]="divisiondropdownSettings" (onSelect)="saveTriggeronItemSelect($event)"
        (onDeSelect)="saveTriggeronItemDeSelect($event)" (onSelectAll)="saveTriggeronSelectAll($event)"
        (onDeSelectAll)="saveTriggeronDeSelectAll($event)">
      </angular4-multiselect>
      <br>

      <div>{{regiondropdownSettings["text"]}}</div>
      <angular4-multiselect [data]="regiondropdownListfinal" [(ngModel)]="regionselectedItems"
        [settings]="regiondropdownSettings" (onSelect)="regiononItemSelect($event)"
        (onDeSelect)="regiononItemDeSelect($event)" (onSelectAll)="regiononSelectAll($event)"
        (onDeSelectAll)="regiononItemDeSelectAll($event)">
      </angular4-multiselect>

      <br>

      <div>{{zonedropdownSettings["text"]}}</div>
      <angular4-multiselect [data]="zonedropdownListfinal" [(ngModel)]="zoneselectedItems"
        [settings]="zonedropdownSettings" (onSelect)="zoneonItemSelect($event)"
        (onDeSelect)="zoneonItemDeSelect($event)" (onSelectAll)="zoneonSelectAll($event)"
        (onDeSelectAll)="zoneonDeSelectAll($event)">
      </angular4-multiselect>

      <br>
      <div>{{areadropdownSettings["text"]}}</div>
      <angular4-multiselect [data]="areadropdownListfinal" [(ngModel)]="areaselectedItems"
        [settings]="areadropdownSettings" (onSelect)="saveTriggeronItemSelect($event)"
        (onDeSelect)="saveTriggeronItemDeSelect($event)" (onSelectAll)="saveTriggeronSelectAll($event)"
        (onDeSelectAll)="saveTriggeronDeSelectAll($event)">
      </angular4-multiselect>

      <br>
      <div>{{gmmadropdownSettings["text"]}}</div>
      <angular4-multiselect [data]="gmmadropdownListfinal" [(ngModel)]="gmmaselectedItems"
        [settings]="gmmadropdownSettings" (onSelect)="saveTriggeronItemSelect($event)"
        (onDeSelect)="saveTriggeronItemDeSelect($event)" (onSelectAll)="saveTriggeronSelectAll($event)"
        (onDeSelectAll)="saveTriggeronDeSelectAll($event)">
      </angular4-multiselect>

      <br>
      <div>{{lmadropdownSettings["text"]}}</div>
      <angular4-multiselect [data]="lmadropdownListfinal" [(ngModel)]="lmaselectedItems"
        [settings]="lmadropdownSettings" (onSelect)="saveTriggeronItemSelect($event)"
        (onDeSelect)="saveTriggeronItemDeSelect($event)" (onSelectAll)="saveTriggeronSelectAll($event)"
        (onDeSelectAll)="saveTriggeronDeSelectAll($event)">
      </angular4-multiselect>

      <br>
      <div>BAC : </div>
      <tag-input [(ngModel)]='bacselectedItems' [modelAsStrings]="true" (onAdd)="saveTriggeronItemSelect($event)"
        (onRemove)="saveTriggeronItemSelect($event)" [validators]="validators" [errorMessages]='errorMessages'
        [placeholder]="'Type & press Enter to add'" [secondaryPlaceholder]="'Type & press Enter to add'"
        theme='bootstrap'></tag-input>

      <br>
      <div>FAN : </div>
      <tag-input [(ngModel)]='fanselectedItems' [modelAsStrings]="true" (onAdd)="saveTriggeronItemSelect($event)"
        (onRemove)="saveTriggeronItemSelect($event)" [validators]="validators" [errorMessages]='errorMessages'
        [placeholder]="'Type & press Enter to add'" [secondaryPlaceholder]="'Type & press Enter to add'"
        theme='bootstrap'></tag-input>
      <br>
      <b><i>*If more granular information is required, please mention it in Additional Requirements</i></b>
      <br>
      <br>

    </div>
  </div>

</div>


<!------------------------------------Help Modal------------------------------ -->

<div class="modal fade " style="overflow-y: hidden;" id="helpModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="justify-content: flex-start;">
        <img class="logo" src="/assets/OFT_Logo.jpg">
        <h5 class="modal-title help-title">Help</h5>
      </div>
      <div class="modal-body display-notes-scroll-modal">
        <div class="row">
          <div class="col-9">
            <button class="btn btn-success save-text-ddm" (click)="content_edits()" *ngIf="editModes"
              style="margin-right:3%">Save</button>
            <button class="btn btn-danger save-text-ddm" (click)="edit_True()" *ngIf="editModes">Cancel</button>
          </div>
          <div class="col-3" style="padding-left:12%;">
            <button *ngIf="user_role=='Admin'" id="edit_button" class="editButton" (click)="editEnable()">
              <a data-toggle="tooltip" title="EDIT"><i id="ic" class="material-icons">mode_edit</i></a>
            </button>
          </div>
        </div>
        <div class="quillEditor">
          <quill-editor class="quill" [(ngModel)]='naming' [modules]='config' [readOnly]='readOnlyContentHelper'
            (onContentChanged)='textChanged($event)'>
          </quill-editor>
        </div>
      </div>
      <div class="modal-footer modal-footer-pad">
        <button type="button" id="modal_close_button" class="btn btn-secondary" (click)="edit_True()"
          data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<button id="errorTrigger" data-toggle="modal" data-target="#errorModal" style="display:none">Error</button>
<div class="modal fade " id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" style="z-index: 10000">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Alert!</h3>
      </div>
      <div class="modal-body" id="errorModalMessage">
      </div>
      <div class="modal-footer">
        <button type="button" id="modal_close_button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>