.body-content {
    padding: 20px;
}

.header {
    font-size: 150%;
    font-weight: bold;
}

select {
    width: 100%;
}

thead {
    background: rgb(0, 112, 192);
    color: white;
}

th, td.col-3 {
    display: flex;
    justify-content: center;    
    border-right: solid grey;
    border-bottom: solid grey;
    border-width: 0.2px;
}

.select-styling {
    color: black;
    font-size: 67%;
    width: 100%;
    padding: 7%;
}

tbody {
    border-right: solid grey;
    border-left: solid grey;
    border-bottom: solid grey;
    border-width: 0.2px;
}

td.col-9 {
    border-top: none;
}

.save-button {
    margin-left: 20%;
    float: right;
}

.text-notifications {
    height: 100%;
    width: 90%;
    border-radius: 5%;
    padding-left: 9px;
    /* padding-top: 0px; */
    padding-bottom: 8px;
    float: left;
    margin-left: 25px;
}

.save-button:hover {
    background-color: rgb(0, 177, 24);
}

.save-button:active {
    background-color: rgb(0, 214, 29);
    transform: translateY(4px);
}

.market-sel {
    height: 67%;
    width: 102%;
    overflow-y: scroll;
}

.press{
    font-size: 3rem;
}
.press button {
    background: transparent;
    border: none;
}

.icons{
    float: right;
}

.editButton {
    background: transparent;
    border: none;
    float: right;
    padding-right:0px;    
}

.material-icons{
    font-size: 3rem;
}

.quillEditor{
    position: relative;
    padding: 3px;
}

.carrier{
    width: 75%;
    border-radius: 3px;
}
.market-static{
    margin-top:15px;
}

.input-group p {
    margin-bottom: 0px;
}

.input-group input{
    margin-right: 10px;
    width: 35%;
    margin-left: 5px;
    -webkit-text-security: disc;
    display: inline-block;
}

.input-group i {
    cursor: pointer;
    font-size: 2.5rem;
    display: inline-block;
}