<div class="modal-container">
  <div class="modal-header" style="font-size: 22px;">
    Help
    <mat-icon style="cursor:pointer;" (click)="closeDailog();">close</mat-icon>
  </div>
  <div class="modal-body">
    <div class="quillEditorSubmit">
      <div style="height: 60px;justify-content: flex-end;" class="ds-flex-centre">
        <button mat-icon-button style="margin-right: 15px;" matTooltip="edit"
          *ngIf="showEditOption && user_role==='Admin'" (click)="showEditOption=!showEditOption">
          <mat-icon class="notification-icon">edit</mat-icon>
        </button>
        <ng-container *ngIf="!showEditOption">
          <button mat-raised-button [cssBtn]="'ok'" style="margin-right: 15px;"
            (click)="submitReqHelpDesc()">Save</button>
          <button mat-raised-button [cssBtn]="'cancel'" (click)="showEditOption=true">Cancel</button>
        </ng-container>

      </div>
      <quill-editor class="quill" [(ngModel)]="submitReqHelpDescObj.description" [modules]='config'
        [readOnly]="showEditOption"></quill-editor>
    </div>
  </div>
  <div class="modal-footer">
    <button [cssBtn]="'cancel'" mat-raised-button (click)="closeDailog();">Close</button>
  </div>
</div>