.main-tool-body-header {
    height: 10%;
    width: 95%;
    margin-left: 2.5%;
}

.heading {
    width: 85%;
    float: left;
    height: 100%;
}

.caption-style {
    font-size: 150%;
    font-weight: bold;
}

.icons {
    width: 15%;
    height: 100%;
    float: right;
    align-content: center;
    padding-left: 5%;
    padding-top: 2%;
}

.buffer {
    height: 25%;
    width: 100%;
}

.material-icons {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    max-width: 10%;
    max-height: 100%;
    margin-left: 50%;
}

.logo {
    width: fit-content;
    float: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 6rem;
    max-width: 6rem;
    margin-left: 2%;
    margin-right: 2%
}

.modal-title {
    margin-bottom: auto;
    margin-top: auto;
}

a {
    color: black;
}

a:hover {
    color: rgb(2, 136, 173);
}

a:active {
    color: rgb(2, 136, 173);
}

.box-border {
    border: 1px solid black;
    margin: 1% 3%;
}

.press {
    float: left;
}

.press button {
    background: transparent;
    border: none;
}

.editButton {
    background: transparent;
    border: none;
}

.card-title {
    color: rgb(00, 78, 99);
}

.main-tool-body-content {
    overflow-y: scroll;
    width: 100%;
    height: 500px;
    padding-left:42px;
    padding-bottom: 15px;
    overflow-x: hidden;
}

.faqCard{
    height: 100%;
}

.ck-content{
    overflow-y: auto;
}

.ckeditor{
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}