.main-tool-body-header {
    height: 10%;
    width: 99%;
    margin-left: 1.5vw;
}

.heading {
    width: 91.5vw;
    float: left;
    height: 100%;
    padding-bottom: 2vh;
    padding-top: 1vh;
}

.caption-style {
    font-size: 150%;
    font-weight: bold;
}

.icons {
    height: 100%;
    float: right;
    align-content: center;
}

.buffer {
    height: 25%;
    width: 100%;
}

.material-icons {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    max-width: 10%;
    max-height: 100%;
    margin-left: 50%;
}

.modal-title {
    margin-bottom: auto;
    margin-top: auto;
}

a {
    color: black;
}

a:hover {
    color: rgb(2, 136, 173);
}

a:active {
    color: rgb(2, 136, 173);
}

.box-border {
    border: 1px solid black;
    margin: 1% 3%;
}

.press {
    float: left;
}

.press button {
    background: transparent;
    border: none;
}

.editButton {
    background: transparent;
    border: none;
    float: right;
}

.card-title {
    color: rgb(00, 78, 99);
}

.main-tool-body-content {
    overflow-y: auto;
    width: 98.5%;
    height: 58vh;
    padding-left:1.5vw;
    padding-bottom: 15px;
    overflow-x: hidden;
}

.faqCard{
    height: 100%;
}

.quillEditor {
    position: relative;
    padding: 4px;
    overflow: hidden;
}

::ng-deep .quillEditor .quill .ql-container .ql-editor {
    max-height: 300px;
}

.error-url {
    color: red;
    display: none;
    font-size: 10px;
}

h3 {
    margin-top: 0vh;
}

.icon-cont {
    display: inline-block;
    height: 100%;
    position: relative;
    width: 17px;
}
.notes-position {
    float: left;
}