.modal-header {
  background-color: rgb(00,34,61);
  color: #fff;
}

.modal-body {
  min-height: 425px;
  height: 425px;
  overflow-y: auto;
}

.modal .modal-dialog {
  min-width: 93%;
  justify-content: center;
  margin: auto;
}

.close {
  color: #fff;
  outline: transparent;
}

.preview {
  margin: 20px 10px 30px 0;
}
.table-body {
  max-width: 100%;
  overflow-x: auto;
}

/* table {
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  border-collapse: collapse;
  padding: 2px 3px;
  text-align: center;
  overflow: hidden;
}

tr:nth-child(even) {
  background-color: rgb(214, 214, 214);
} */

.my-pagination /deep/ .ngx-pagination .current {
  background: #004e63;
}

.my-pagination /deep/ .ngx-pagination {
  margin-top: 1.5%;
  text-align: center;
}

.red{
  color: red;
}


mat-table{
  height: 85%;
  overflow: auto;
  /* width: 94%; */
  margin-left: 5%;
}


/* ::ng-deep .mat-sort-header-container{
  display: flex;
  justify-content: center;
} */

mat-cell{
  display: flex !important;
  justify-content: center !important;
}

mat-header-cell{
  display: flex;
  justify-content: center;
}

.back-btn {
  margin: 5% 0 5%;
}

.error-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 37%;
  color: red;
}