<div *ngIf="userRole == 'Admin'"  id="semantic-existing" style="height:100%">
  <div  class="header-colors row">
    <div class="semantic-table-column1 pull-left col-md-5">Semantic Layer</div>
    <div class="semantic-table-column2 pull-left  col-md-7">
      <button type="button" class="btn print" [disabled]="!semanticLayers.length" (click)="print()">            
        <svg class="export-excel" viewBox="0 0 24 24">
          <path fill="#ffffff" d="M19.92,12.08L12,20L4.08,12.08L5.5,10.67L11,16.17V2H13V16.17L18.5,10.66L19.92,12.08M12,20H2V22H22V20H12Z" />
        </svg>
      </button>
    </div>
  </div>
  <div *ngIf="!this.value" class="empty-table" > Start by creating a Semantic Layer</div>
  <div *ngIf="this.value" class="list-semantic">
    <mat-accordion>
        <mat-expansion-panel [expanded]="false" *ngFor="let list of semanticLayers">
            <mat-expansion-panel-header>{{list['sl_name']}}</mat-expansion-panel-header>
            <div>Table associated:</div>
            <span class="mapped-table" *ngFor="let table of list.mapped_tables">
                {{table | spaceFormater}}
            </span> 
            <div>Description:</div>
            <span *ngIf="list['description']" class="mapped-table">
              {{list['description']}}
          </span> 
          <span *ngIf="!list['description']" class="mapped-table">
            NA
        </span> 
          <!-- <input *ngIf="hiddenFlag" [(ngModel)]="descriptionField" maxlength="50" class="input form-control MRGR10PX MRGT4PX" type="text" style="width: 100%" /> -->
        </mat-expansion-panel>
    </mat-accordion>
  </div>
 </div>
 <div *ngIf="userRole !== 'Admin'" style="height:100%;text-align: center;font-size: 20px;padding: 150px;">Please select a Semantic layer</div>