/* .table-striped>tbody>tr:nth-child(odd)>td {
  background-color: #bfceda;     
} */

.table-striped:nth-child(odd) {
  background-color: #f9f9f9;    
}

thead>tr>th {
  vertical-align: baseline !important;
}

.mapped-table {
  border-radius: 10px;
  border: 1px solid #a5a5a5;
  padding: 5px 10px;
  display: inline-block;
  margin: 5px;
}

.empty-table{
  position: relative;
  padding-top: 5%;
  padding-left: 35%;
}


.scroll-area {
  /* min-height: 30em;
  height: 30em;
  display: block;
  margin: 20px auto 0;   */
  overflow-y: auto;
  width: 100%;
}

.header-colors{
  background-color: #ccc;
  color: #000;
  height: 10%;
  margin: 10px 2px 0px 2px;
  padding: 10px;
}

.list-semantic{
  overflow-y: scroll;
  /* height: 510px; */
  height: 98%;
  padding: 0px 15px 15px 15px;
}

.semantic-table-column1{
  width: 20%;
  color: #585858;
  font-size: 2rem;
}

.export-excel{
  stroke: #585858;
  stroke-width: 2px;
  fill: #585858;
}

.semantic-table-column2{
  width: 80%;
  color: #585858;
  font-size: 2rem;
}

.print {
  background: transparent;
  border: none;
  outline: transparent;
  padding: 0;
  float: right;
}

.print > svg {
  width: 24px;
  height: 24px;
}