<div class="modal fade" style="overflow: hidden;" id="signature-schedular" tabindex="-1" 
     role="dialog" aria-labelledby="signature" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header p-1">
        <h3 class="modal-title" style="margin-left: 6px;">Signature</h3>
        <button type="button" class="close" (click)='refresh()' data-dismiss="modal" aria-label="Close">
            &times;
        </button>
      </div>
      <div class="modal-body">
        <p>
          <b style="font-size: 30px;">{{inputParams.signature_name}}</b>
        </p>
        <div class="quillEditor">
          <quill-editor class="quill"[(ngModel)]='inputParams.signature_html' [style]="styling" [modules]='config'>
          </quill-editor>
        </div>
        <div *ngIf="newSignature">
          <label class="col-form-label w-35 save-label">
            Save as
          </label>
          <input type="text" class="form-control h-29" style="color: black;" [(ngModel)]="saveName" />
          <mat-error *ngIf="isSaveName()">Name exists!</mat-error>
        </div>
      </div>
      <div class="modal-footer mt-0">
        <span *ngIf="newSignature">
          <button type="button" class="btn btn-secondary" (click)='initialize()' data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-success" [disabled]="isSignatureValid()" 
                  (click)="createNewSignature()">Create</button>
        </span>
        <span *ngIf="!newSignature">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteSignatures()">
            Delete
          </button>
          <button type="button" class="btn btn-success" [disabled]="isSignatureCreateValid()" (click)="useSignature()">
            Save
          </button>
        </span>
      </div>
    </div>
  </div>
</div>