.modal-container{
    width: 70vw;
    /* height: 70vh; */
    overflow: hidden;
}
.modal-body{
    max-height: 60vh;
    overflow: auto;
    padding: 0px;
}
button{
    margin-right: 20px;
}
mat-tab-group{
    height: 100%;
}