.modal-container{
    width: 70vw;
    height: 70vh;
    overflow: hidden;
}
.modal-body{
    height: 74%;
    overflow: hidden;
    padding: 0px;
}
button{
    margin-right: 20px;
}
mat-tab-group{
    height: 100%;
}