<div style="height:100%;width:100%;background-color:white;">
  <div style="height:15%;width:100%;">
    <div style="height:95%;width:50%;float:left;">
      <div style="width:50%">
        <div style="background-color:rgb(139,200,219);width:80%;font-size: 2rem">Query Builder</div>
      </div> 
      <div>
        <div style="margin-top: 0%;margin-bottom: 0%;font-size: 2rem">Enter custom query :</div> 
      </div>
    </div>
</div>
  <div style="height:70%;width:100%;">
    <div style="height:90%;width:90%;background-color:rgb(226,226,226);overflow-y:scroll;display:flex;margin-left:5%">
      <p id="queryText" contenteditable="true" style="font-size:2rem  ">Your can type down your custom query over here
    </div>
  </div>
  <div style="height:15%;width:100%;">
    <div style="height:80%;width:50%;display:flex;align-items:center;justify-content:flex-end;float:left;">
      <button>Cancle</button>
    </div>
    <div style="height:80%;width:50%;display:flex;align-items:center;float:left;">
      <button id="save">Save </button>
    </div>
  </div>
</div>
