.modal-header {
    background-color: rgb(00,34,61);
    color: #fff;
    display: block;
    text-align: left;
    padding: 10px;
  }
  .close{
      color: #fff;
    outline: transparent;
  }
  .modal-footer{
      border: none;
    padding: 10px;
  }
  .btn{
      background-color:rgb(00,34,61);
      color: #fff;
  }
  p{
      border:none;
      outline: none;	
  }
  .spinner{
    position: fixed;
    top: 50%;
    right: 47%;
  }
  textarea{
    max-height: 130px;
    min-height: 90px;
  }