<div class="container-fluid">
  <div class="row query-btn">
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary btn-g btn-block text-left pl-3 default">
        Query Builder
      </button>
    </div>
  </div>
  <div class="row"> 
    <p class="pl-17">Enter custom SQL query</p>
    <div class="col-md-11 editor-body"><div id="sqlEditor"></div></div>
  </div>

  <div class="row">
    <p class="pl-17">Custom SQL query Output</p>
    <div id="outputDiv" class="col-md-11">
      <!-- <table class="table" *ngIf="!errorMessage && tableData.length;else whenError">
        <thead>    
          <tr>
            <th *ngFor="let key of columnsKeys | paginate : {itemsPerPage: pageData.perPage,currentPage: pageNum, totalItems: pageData.totalCount}">
              {{ key}}
            </th>
          </tr>
        </thead>
        <tbody *ngIf="pageData.totalCount >= 1">
          <tr *ngFor="let column of tableData">
            <td *ngFor="let key of columnsKeys;">
              {{column[key]?column[key]:'-'}} 
            </td>
          </tr>
        </tbody>
      </table> -->

      <mat-table #table [dataSource]="dataSource" matSort [hidden]="isLoading || errorMessage">
    
          <ng-container matColumnDef = "modified_on">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Modified On</mat-header-cell>
            <mat-cell *matCellDef="let element" class="text-ellipsis" title="{{element.modified_on}}">{{element.modified_on}}</mat-cell>
          </ng-container>

          <ng-container *ngFor="let column of displayedColumn;let colIndex = index" matColumnDef = "{{column}}">
              <mat-header-cell *matHeaderCellDef title="{{column}}">{{column}}</mat-header-cell>
              <mat-cell *matCellDef="let element" title="{{element[column]}}" >{{element[column] != null ? element[column] : '-'}}</mat-cell>
            </ng-container>
    
          <mat-header-row *matHeaderRowDef="displayedColumn; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumn;let i = index;"></mat-row>
    
        </mat-table>

      <div *ngIf="errorMessage">
        <div>
          <p style="color:red;">{{errorMessage}}</p>
        </div>
      </div>
    </div> 
  </div>
  <mat-paginator [hidden]="isLoading || errorMessage" #paginator showFirstLastButtons [pageSizeOptions]="[5]" [pageIndex]="pageData.numberPage" [pageSize]="pageData.perPage" [length]="pageData.totalCount" (page)="pageChange($event)"></mat-paginator>
  <!-- <pagination-controls *ngIf="pageData.totalCount > pageData.perPage" (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
   -->
  <div class="row justify-content-around">
    <button type="button" class="btn btn-danger col-1" (click)="reset()"> Clear </button>
    <button type="button" class="btn btn-success col-1" [disabled]="isDisabled()" (click)="openModal()"> Save </button>
    <button type="button" class="btn btn-primary col-1" [disabled]="isDisabled()" (click)="executeSql(1,$event)"> Execute </button>
    <button type="button" [hidden]="true" id="open-modal-btn" data-toggle="modal" data-target="#nameModal">Button</button> 
  </div>

</div>

<app-saveAs-modal (saveData)="isEditable ? editQueryName($event):saveSql($event)" [title]="'Custom table name'" [inputLabel]="'Save as'" [inputValue]="saveAsName"></app-saveAs-modal>
