.container-fluid {
  background: #004e63;
  min-height: 100%;
}

.default{
  cursor: default;
}

.query-btn {
  padding-top: 10px;
}

#sqlEditor,
#outputEditor {
  height: 20vh;
}

.editor-body {
  margin-bottom: 1%;
}

.pl-17 {
  padding-left: 17px;
}

#outputDiv{
  background: #202020;
  max-height: 185px;
  min-height: 185px;
  overflow-y: auto;
  max-width: 89%;
  color: #ffffff;
  padding: 0;
  margin-left: 16px;
  margin-bottom: 15px;
  width: 0;
}

table{
  width: 100%;
}

th, td{
  border:1px solid #ddd;
  border-collapse : collapse;
  padding : 2px 3px;
  text-align : center;
  overflow: hidden;
}

.my-pagination /deep/ .ngx-pagination .current {
  background: #004e63;
}

.my-pagination /deep/ .ngx-pagination {
  margin-top: .5%;
  text-align: center;
}

.table>tbody>tr>td{
  padding: 5px;
}
