.container-fluid {
  background: #f1f1f1;
  min-height: 100%;
}

.default{
  cursor: default;
}

.query-btn {
  /* padding-top: 10px; */
}

#sqlEditor,
#outputEditor {
  height: 20vh;
  width: 90%;

}

.editor-body {
  margin-bottom: 1%;
}

.pl-17 {
  padding-left: 17px;
}

#outputDiv{
  /* background: #202020; */
  max-height: 185px;
  min-height: 185px;
  /* overflow-y: auto; */
  max-width: 89%;
  color: #ffffff;
  padding: 0;
  margin-left: 16px;
  margin-bottom: 15px;
  /* width: 0; */
}

.mat-row:nth-child(odd){
  background-color: #f9f9f9;
}

/* table{
  width: 100%;
  color: #ffffff;
} */

th, td{
  border:1px solid #ddd;
  border-collapse : collapse;
  padding : 2px 3px;
  text-align : center;
  overflow: hidden;
}

.my-pagination /deep/ .ngx-pagination .current {
  background: #004e63;
}

.my-pagination /deep/ .ngx-pagination {
  margin-top: .5%;
  text-align: center;
}


/* .mat-paginator .mat-paginator-outer-container .mat-paginator-container {
  min-height: 45px !important;
} */
:host ::ng-deep.mat-paginator .mat-paginator-container {
  min-height: 45px !important;
}

/* .table>tbody>tr>td{
  padding: 5px;
} */

.ace_line::selection{
  color: #000000;
  background: #ffffff;
}

.mat-header-row{
  border-bottom: 1px solid #000000;
}

.mat-row, .mat-header-row{
  border-color: #ffffff;
}

.mat-table{
  /* background: #202020; */
  width: 90%;
  overflow: auto;
}

.mat-header-cell , .mat-cell , .mat-footer-cell{
  /* display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: none;
  min-height: initial; */
  flex: 1;
  display: flex;
  padding-top: 20px;
  align-items: center;
  /* word-wrap: break-word; */
  /* min-height: inherit; */
  /* display: block !important; */
  padding-right: 20px;
  width: 130px !important;
  /* min-height: auto; */
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: auto;
  /* min-height: initial; */
  /* color: #ffffff; */
}

.mat-table{
  height: -webkit-fill-available;
}

.mat-paginator{
  width: 82%;
}

.mat-header-row, .mat-row{
  /* width: 100%;
   */
  display: -webkit-box;
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  align-items: center;
  box-sizing: border-box;
}

.mat-header-row {
  background-color: #ccc;
  font-size: 14px;
  font-weight: bold;
}

.mat-header-cell{
  background-color: #ccc;
  font-size: 14px;
  font-weight: bold;
}