h3 {
  margin-left: 5%;
}

.tableFixHead {
  overflow-y: auto;
  height: 435px;
  overflow-x: auto;
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}
.tableFixHead {
  padding-left: 1%;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th {
  background: #ccc;
}

.table-striped > tbody > tr:nth-child(2n) > td,
.table-striped > tbody > tr:nth-child(2n) > th {
  background-color: #f9f9f9;
}

.table-striped > tbody > tr:nth-child(2n + 1) > td,
.table-striped > tbody > tr:nth-child(2n + 1) > th {
  background-color: white;
}

.tool-body {
  height: 88%;
  margin-left: 0;
  margin-right: 0;
}

h3 {
  font-size: 150%;
  font-weight: bold;
}

.main-tool-body {
  width: 94.15%;
  background: white;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.form-control {
  margin-top: 5%;
  margin-bottom: 5%;
}

.icons {
  margin-top: 2%;
  margin-bottom: 5%;
  margin-right: 3%;
  text-align: right;
}

.left-tabs {
  width: 14.15%;
  height: 100%;
}

.fav {
  align-items: center;
  align-content: center;
}

label {
  font-size: 30px;
}
.modal-body {
  max-height: 400px;
}

label input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  position: relative;
  cursor: pointer;
}

.custom-checkbox .material-icons {
  color: gold;
  position: absolute;
  left: 1em;
  bottom: -0.7em;
}

.custom-checkbox .empty {
  color: gray;
}

.custom-checkbox .star {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.custom-checkbox:hover .star {
  opacity: 0.5;
}

.custom-checkbox input[type="checkbox"]:checked ~ .star {
  opacity: 1;
}

.down-arrow {
  background: none;
  border: none;
}

.ddm-report-name:hover {
  cursor: pointer;
  /* background-color: #ccc !important; */
  font-weight: bold;
}

.card-header {
  background-color: rgb(0, 112, 192);
  color: white;
  text-align: center;
}

.card-body {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 315px;
}

.change-freq:hover {
  cursor: pointer;
  background-color: #ccc !important;
  font-weight: bold;
}

.alignLeft {
  display: flex;
  justify-content: left;
  align-items: left;
  cursor: pointer;
}
th > div {
  width: 140px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 70px;
  flex-direction: column;
}
td > div {
  width: 140px;
  align-items: center;
  justify-content: flex-start;
  word-break: break-word;
}

.quillEditor{
  position: relative;
  padding: 3px;
}


