.body{
    background-color: rgb(00,78,99);
    margin: 0%;
    height:86.5vh;
    width:100%;
    padding:0;
  }

/* html{
background-color: rgb(255, 255, 255);
margin: 0%;
height:78vh;
width:100%;
padding:0;
} */
  
.ddm-size{
    font-size: 140%
}

.app-myModal{
    margin-top:10%;
    min-height: 100vh;
    
}

.mddropdown {
	background-color: rgb(0,110,140);
	color: white;
	padding:0px;
	border: 1px solid rgb(0,150,150);
	
}

.top{
    background-color:  rgb(00,55,72);
    min-height: 5vh;
    margin:0%
}

.a-user_logo_fun{
    text-align: end;  
}

#user{
    background-color:  rgb(00,55,72);
    margin: 0%;
    border: 0;
}

.ap-bottom{
    background-color: rgb(00,55,72);
    /* position: sticky; */
    min-height: 3vh;
    position: absolute;
 bottom: 0;
 width: 100%;
  
}

.ap-copyrights{
    text-align: end;
    border: 0em;
    color:white;
}

.modal-content { 
    background-color: rgb(69,122,177);
	}
	
.modal-content-1, .modal-content-2{
	display:flex;
	background-color: rgb(216,229,241);
	width:70%;
	margin-left: 17%;	
}

.modal-content-2{
	margin-top:2%;
}

.img2 { 
padding-top:1%;
padding-left:7%;}

.app-mdstyles { 
padding-top:2%;
padding-left:18%;}


.dropdown-menu {
    /* background-color: rgb(0,110,140); */
    background-color:white;
	color: black;
	padding:0px;
	border: 1px solid rgb(0,150,150);
    position: fixed;
    width:10%;
    /* height:10%; */
    top: 16%;
    left: 100%;
    transform: translate(-50%, -50%);
    margin: auto;
}

.astyles1:hover{
    color: white;
    background-color: teal;
    padding: 5px 0px 5px 20px
    /* padding:10px 5px 7.5px 12px; */
    /* border: 1px solid rgb(0,150,150); */
}

.astyles1 {
    padding: 5px 0px 5px 20px;
}

.astyles2 {
    padding: 5px 0px 5px 20px;
}

.app-tstyles{
    color:white;
    position: fixed;
    top:1.5%;
    left:7% ;
    font-size:225%;
}

.app-uistyles{
    height:90%;
}

.astyles2:hover{
    color: white;
    background-color: teal;
    padding: 5px 0px 5px 20px
    /* padding:2px 1px 1.5px 4.5px; */
    /* padding:10px 5px 7.5px 12px; */
    /* border: 1px solid rgb(0,150,150); */
}
.hrp{
     padding:1px; 
    margin: 0.5em;
  border-width: 2px;
}

.app-npstyles{
    padding:0px;
}
.app-istyles{
    color:white; 
    height:97.5%;
    width:7%;
    /* height: 50px;
    width: 70px; */
    position: right;
}

.app-h2styles{
    color: white; 
    font-size: 120%; 
    align-content: left;
}

.app-spstyles{
    color:white;
}

.app-istyles2{
    height: 35px;
    width: 35px;
    margin: 0px;
    padding: 0px;
    float: left;
}

.app-mastyles { 
    cursor: pointer;
}