

<!-- <div class="container-fluid top">
  <div class="row">
    <div class="col-sm-1" id="DDM_logo">
      <a routerLink=""><img src="src\assets\OF Logo.jpg" alt="DDM_image" style="color:white; height:50px; width:50px"> </a>
    </div>
    <div class="col-sm-5" id="DDM_logo">
      <h2 style="color: white; font-size: 120%; align-content: left;"><p class="ddm-size">Distribution Data Mart</p></h2>
    </div>
    <div class="col-sm-6" id="user_logo_fun">
      <span style="color:white">John Doe</span>
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="user">
        <img id="account" src="..\assets\account.png">
      </button>
      <ul class="dropdown-menu mddropdown">
        <li>
        <a data-toggle="modal" data-target="#myModal" onmouseover="" style="cursor: pointer;"> Roles & Responsibility 
          <a routerLinkActive="active" routerLink="roles" style="color:white; background-color:rgb(0,110,140);">Roles and Responsibilities</a>
        </li>
        <hr>
        <li>
          <a data-toggle="modal" data-target="#" style="background-color:rgb(0,110,140);" > Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</div>
    
    
     Modal 1 -->
    <!-- <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
         Modal content-->
        <!-- <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
          
          <div class="modal-content-1">
            <div class="img2">
                <img src = './assets/role.png' style = "height: 35px;
                width: 35px;
                margin: 0px;
                padding: 0px;
                float: left;">
            </div>
            <div class="p"> 
             <a data-toggle="modal" data-target="#myModal1" data-dismiss="modal" onmouseover="" style="cursor: pointer;">  
                <p>Roles</p>
            </a>
          </div>
          </div>
    
          <div class="modal-content-2">
            <div class="img2">
                    <img src = './assets/padlock.png' style = "height: 35px;
                    width: 35px;
                    margin: 0px;
                    padding: 0px;
                    float: left;">
                </div>
                <div class="p">  
                    <p>Security</p>
              </div>
              </div>
    
          <div class="modal-content-2">
                    <div class="img2">
                        <img src = './assets/rhombus.png' style = "height: 35px;
                        width: 35px;
                        margin: 0px;
                        padding: 0px;
                        float: left;">
                    </div>
                    <div class="p">
                        <a data-toggle="modal" data-target="#myModalP" data-dismiss="modal" onmouseover="" style="cursor: pointer;">       
                          <p>Privileges</p>
                        </a>
                  </div>
          </div>
        
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default">OK</button>
          </div>
        </div>
    
      </div>
    </div>
    
    
    <app-modal-roles></app-modal-roles>
    
    <app-modal-privilege></app-modal-privilege> --> 
  
    
    
<!--     
    <main class="container-fluid body">
      <router-outlet style="height:80vh"></router-outlet>
    </main>
    
    
    <div class="container-fluid" id="bottom" >    
      <div class="row">
        <div class="col-9" id="Mu_logo">
          <img src="./assets/Mu.jpg">
        </div>
        <div class="col-3" id="copyrights">
          <p>&copy; Privacy Policy</p>
        </div>
      </div>
    </div> -->
    
    
    
    
<router-outlet style="height: 80%"></router-outlet>

