<!------------------------------------Help Modal------------------------------ -->
<div class="modal fade" style='overflow-y: hidden;' id="helpModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header" style="justify-content: flex-start;">
        <img class="logo" src="/assets/OFT_Logo.jpg">
        <h5 class="modal-title help-title">Help</h5>
      </div>
      <div class="modal-body display-notes-scroll-modal">
        <div class="row">
          <div class="col-9">
            <button class="btn btn-success save-text-ddm" (click)="content_edits()" *ngIf="editModes"
              style="margin-right:3%;width:20%">Save</button>
            <button class="btn btn-danger save-text-ddm" (click)="edit_True()" *ngIf="editModes"
              style="width:20%">Cancel</button>
          </div>
          <div class="col-3" style="padding-left:12%;">
            <button *ngIf="user_role=='Admin'" id="edit_button" class="editButton" (click)="editEnable()">
              <a data-toggle="tooltip" title="EDIT"><i id="ic" class="material-icons"
                  style="font-size:3rem">mode_edit</i></a>
            </button>
          </div>
          <div class="quillEditor">
            <quill-editor class="quill" [(ngModel)]='namings' [modules]='config' [readOnly]='readOnlyContentHelper'
              (onContentChanged)='textChanged($event)'></quill-editor>
          </div>
        </div>

      </div>
      <div class="modal-footer modal-footer-pad" style="height:60px;">
        <button type="button" id="modal_close_button" class="btn btn-secondary" data-dismiss="modal"
          (click)="edit_True()" style="width:16%;margin-right:20px;">Close</button>
      </div>
    </div>

  </div>
</div>

<div class="wrapper">
  <div class="container-fluid save-bar">

    <div class="row dealer-allo">
      <div class="col-sm-6" style="padding-left:0px; padding-top:5px;">
        <div class="row heading">
          <strong>Dealer Allocation</strong>
        </div>
        <div class="row" style="color:red">
          {{report_message}}
        </div>
        <div class="row"><i style="color: red;">Mention additional requirements in "Review and Submit" pop-up</i></div>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-1 dealer-allo">
        <svg style="width:48px;height:36px;padding-top:7%;" viewBox="0 0 24 24" (click)="back()">
          <path id="back_icon" fill="#000000"
            d="M2,12A10,10 0 0,1 12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12M18,11H10L13.5,7.5L12.08,6.08L6.16,12L12.08,17.92L13.5,16.5L10,13H18V11Z" />
        </svg>
      </div>
      <div class="col-sm-2 dealer-allo">
        <button (click)="validateInput()" data-toggle="modal" data-target="#dealer-review-selection" mat-button
          class="review btn btn-primary" style="float:right;">Review and Submit </button>
      </div>
      <div class="col-sm-1 dealer-allo press">
        <button data-toggle="modal" data-target="#helpModal" style="padding-right:0px;">
          <i class="material-icons" style="color: black;">help_outline</i>
        </button>
      </div>
    </div>
  </div>

  <!-- Dealer Allocation slection panel -->
  <div class="container-fluid consensus">
    <div class="row sub-header">Consensus Process</div>
    <div class="row merchandise">

      <div class="col-sm-4">
        <div class="col-sm-12">
          <div class="row">
            <strong style="padding-bottom:2%;">Division(s) Selected&nbsp;</strong>
          </div>
          <div class="divSelected panel panel-default">
            <div *ngFor="let element of divDataSelected" style="padding:1%;">
              {{element.division_desc}}
            </div>
          </div>
          <div class="row" *ngFor="let element of displaySummary;let i=index;">
            <div class="col-sm-6" *ngFor="let subelement of element; let z-index;">
              <input type="radio" name="divradio" value={{subelement?.ds_desc}} id="DS{{subelement?.ds_desc}}"
                [(ngModel)]="dealerobj.dealerRadio">&nbsp;{{subelement?.ds_desc}}
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="col-sm-12">
          <div class="row">
            <strong style="padding-left:5%; padding-bottom:3%; width:100%">Model Year(s)<span
                class="mandatory-fields">*</span>&nbsp;</strong>
            <span *ngIf="my_flag" style="color:red;font-weight: bold;">Please make Model Year selections</span>

          </div>
          <div class="row">
            <div class="col-sm-12" id="dropdownHolder">
              <angular4-multiselect [data]="modelYearSelectedItems" [(ngModel)]="selectedItemsModelYear"
                [settings]="dropdownSettingsModelYear" (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)">
              </angular4-multiselect>
            </div>
          </div>
          <div class="row" *ngFor="let element of displaySummary;let i=index;">
            <div class="col-sm-6" *ngFor="let subelement of element; let z-index;">
              <input type="radio" name="modelradio" value={{subelement.ds_desc}} id=MY{{subelement.ds_desc}}
                [(ngModel)]="dealerobj.modelRadio">&nbsp;{{subelement.ds_desc}}
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="col-sm-12">
          <div class="row">
            <strong style="padding-left:5%; padding-bottom:3%; width:100%">Allocation Group(s)<span
                class="mandatory-fields">*</span>&nbsp;</strong>
            <span *ngIf="ag_flag" style="color:red;font-weight: bold;">Please make Allocation Group selections</span>

          </div>
          <div class="row">
            <div class="col-sm-12">
              <angular4-multiselect class="dropdown" [data]="allocationGroupselecteditems"
                [(ngModel)]="selectedItemsAllocation" [settings]="dropdownSettingsAllocation">
              </angular4-multiselect>
            </div>
          </div>
          <div class="row" *ngFor="let element of displaySummary;let i=index;">
            <div class="col-sm-6" *ngFor="let subelement of element; let z-index;">
              <input type="radio" name="alloradio" value={{subelement.ds_desc}} id=AG{{subelement?.ds_desc}}
                [(ngModel)]="dealerobj.alloRadio">&nbsp;{{subelement.ds_desc}}
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row consens-data" style="margin-top: 18px;margin-bottom: 10px;">
      <div class="col-sm-6">
        <span *ngIf="date_flag" style="color:red;font-weight: bold;">Please make Date selections</span>
        <table class="table">
          <thead>
            <tr>
              <th>Consensus Time Data Range <span class="mandatory-fields">*</span></th>
            </tr>
          </thead>

          <tbody>
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6">
                  <tr>
                    <td><b>Start date</b></td>
                  </tr>
                  <tr>
                    <select name="Year" id="Smonth" (change)="startM($event.target.value)" [(ngModel)]="startMonth"
                      style="margin-bottom: 6%;border-radius:5px;">
                      <option disabled selected value> --select month-- </option>
                      <option *ngFor="let Months of month" value={{Months}}>{{Months}}</option>
                    </select>
                    <br>
                    <select name="Month" id="Syear" (change)="startY($event.target.value)" [(ngModel)]="startYear"
                      style="border-radius:5px;">
                      <option disabled selected value> --select year-- </option>
                      <option *ngFor="let Years of year" value={{Years}}>{{Years}}</option>
                    </select>
                  </tr>
                  <tr *ngFor="let element of cycle">
                    <div *ngFor="let subelement of element">
                      <input type="radio" name="scycle" value={{subelement.cycle_desc}} id="S{{subelement.cycle_desc}}"
                        [(ngModel)]="dealerobj.startCycle">
                      {{subelement.cycle_desc}}<br>
                    </div>
                  </tr>
                </div>


                <div class="col-sm-3">
                  <tr>
                    <td><b>End date</b></td>
                  </tr>
                  <tr>
                    <select name="Month" id="Emonth" (change)="endM($event.target.value)" [(ngModel)]="endMonth"
                      style="margin-bottom: 6%;border-radius:5px;">
                      <option disabled selected value> --select month-- </option>
                      <option *ngFor="let Months of month" value={{Months}} selected={{selectedMonth}}>{{Months}}
                      </option>
                    </select>
                    <br>
                    <select name="Year" id="Eyear" (change)="endY($event.target.value)" [(ngModel)]="endYear"
                      style="border-radius:5px;">
                      <option disabled selected value> --select year-- </option>
                      <option *ngFor="let Years of year">{{Years}}</option>
                    </select>
                  </tr>
                  <tr *ngFor="let element of cycle">
                    <div *ngFor="let subelement of element">
                      <input type="radio" name="ecycle" value={{subelement.cycle_desc}} id="E{{subelement.cycle_desc}}"
                        [(ngModel)]="dealerobj.endCycle">
                      {{subelement.cycle_desc}}<br>
                    </div>
                  </tr>
                </div>
              </div>
            </div>
          </tbody>
        </table>
      </div>
      <div class="col-sm-6">
        <span *ngIf="consensus_flag" style="color:red;font-weight: bold;">Please make Consensus selections</span>

        <table class="table">
          <thead>
            <tr>
              <th>Consensus Data Available<span class="mandatory-fields">*</span></th>
            </tr>
          </thead>

          <tbody *ngFor="let consensus_data of consensusData">
            <tr class="d-flex">
              <td class="col-6">
            <tr class="d-flex" *ngFor="let element of consensus_data; let i=index">
              <td *ngIf="i%2==0" id="consensusDataRef">
                <input [id]="'consensus_data'+i" class="events" type="checkbox" (change)="concensusData(element,$event)"
                  value={{element.ddm_rmp_lookup_da_consensus_data_id}} >&nbsp;&nbsp;
                <span class="text-ellipsis" title="{{element.tooltip}}">{{element.cd_values}} {{id}}</span>
              </td>
            </tr>
            </td>
            <td class="col-6">
              <tr class="d-flex" *ngFor="let element of consensus_data; let i=index">
                <td *ngIf="i%2!=0" id="consensusDataRef">
                  <input [id]="'consensus_data'+i" class="events" type="checkbox"
                    (change)="concensusData(element,$event)"
                    value={{element.ddm_rmp_lookup_da_consensus_data_id}}>&nbsp;&nbsp;
                  <span class="text-ellipsis" title="{{element.tooltip}}">{{element.cd_values}} {{id}}</span>
                </td>
              </tr>
            </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!----------------------MODAL---------------------------->
    <div id="dealer-review-selection" class="modal fade" role="dialog" *ngIf="flag">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <div class="row modal-title">
              <div class="col-sm-12 modal-main-heading">
                <div class="row"><img class="logo" src="/assets/OFT_Logo.jpg"><b>Order Fulfillment Distribution DataMart
                    (DDM)</b></div>
              </div>
              <div class="col-sm-12 modal-sub-heading">Dealer Allocation Report Request</div>
              <div class="col-sm-11"></div>
              <div class="col-sm-1"><button type="button" id="review_close" class="close"
                  data-dismiss="modal">x</button></div>
            </div>
          </div>
          <div class="modal-body display-summary-scroll">

            <div class="form-group" style="width:50%;float:left;padding-top: 20px">
              <label for="title">Add Report Title:<span class="mandatory-fields">*</span></label>
              <input id="title" type="text" [(ngModel)]="Report_title" maxlength="60" class="form-control title-box"
                placeholder="&lt; Type Report Title Here &gt;">
              <span style="color:red;font-weight: bold;" *ngIf="Report_title?.length == 60">
                Maximum 60 characters allowed
              </span>
            </div>
            <div style="width:50%;float:left;padding: 20px 10px 10px 20px">
              <label for="attach-file">Attach files from computer:</label>
              <input id="attach-file1" name="attach-file1" type="file">
            </div>
            <div style="float: right;margin-right: 147px;width: 20%;">
              <button class="btn btn-success" (click)=files() class="width:20%; margin-left:16px;">Upload</button>
            </div>
          </div>
          <div class="form-group" style="width:100%;float:left;">
            <label for="add-info" style="margin-left: 20px;">Additional Report Requirements:<span
                class="mandatory-fields">*</span></label>
            <textarea id="add-info" rows="10" [(ngModel)]="Report_Req" class="form-control requirement-box"
              placeholder="&lt; Type Additional Requirements Here &gt;"></textarea>
            <span style="padding-left:16px;"><b style="color:red">*</b><i>If Additional Requirements are not required
                then specify 'none'</i></span>
          </div>
          <div class="row modal-footer">
            <div class="col-sm-12 submit-styling">
              <span style="color:red;font-weight: bold;" *ngIf="modal_validation_flag">Please mention report title and
                additional
                requirements</span> <br>
              <button (click)="dropdownSave()" data-toggle="modal" data-target="#confirm-selection" mat-button
                class="request" style="margin-bottom: 12px;margin-top: 0;">Submit Request</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ----------------------MODAL for Confirming Selections---------------------------- -->
<div id="confirm-selection" class="modal fade" role="dialog" style="overflow-y:hidden" data-backdrop="static"
  data-keyboard="false" *ngIf="summary_flag">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row modal-title">
          <div class="col-sm-12 modal-main-heading">
            <div class="row">
              <div class="col-sm-2">
                <img class="logo" src="/assets/OFT_Logo.jpg">
              </div>
              <div class="col-sm-10">
                <b>Distribution DataMart (DDM) Report Request Confirmation</b></div>
            </div>
          </div>
          <div class="col-sm-12 modal-sub-heading">Dealer Allocation</div>
          <div class="col-sm-10"></div>
          <div class="col-sm-1">
            <i id="ic" class="material-icons" style="margin-top: 10px;" (click)='captureScreen()'>get_app</i>
          </div>
          <div class="col-sm-1"><button type="button" id="summary_close" class="close" (click)=changeReportMessage()
              data-dismiss="modal">x</button></div>
        </div>
      </div>
      <div class="modal-body display-summary-scroll" id="editable">
        <div class="container-fluid" style="height: auto;" id="dealer-summary-export">
          <div class="Request-details">
            <span> <b style="font-size: 17px;">Request Date:</b>
              &nbsp;&nbsp;&nbsp;&nbsp;{{summary?.ddm_rmp_status_date | date : 'dd-MMM-yyyy'}}</span> <br>
            <span><b style="font-size: 17px;">Request Number:</b>
              &nbsp;&nbsp;&nbsp;&nbsp;{{summary?.ddm_rmp_post_report_id}}</span> <br>
            <div *ngFor="let element of summary?.requestor">
              <b>Requestor</b>&nbsp;&nbsp;&nbsp;&nbsp;{{ element?.requestor }}</div>
            <span> <b style="font-size: 17px;">Report Title:</b> &nbsp;&nbsp;&nbsp;&nbsp;{{summary?.title}}</span>
            <br><br>
          </div>
          <br>
          <div class="Request-summary">
            <b style="font-size:150%;margin-left: 175px;">Market Selections</b><br><br>
            <div class="div-wrap">
              <b style="font-size: 17px;">Market(s) Selected:</b> &nbsp;&nbsp;
              <span>{{ market_description }}&nbsp;&nbsp;</span>
              <br>
            </div>
            <div class="div-wrap">
              <b style="font-size: 17px;">Division(s) Selected:</b> &nbsp;&nbsp;
              <span>{{ division_dropdown }}&nbsp;&nbsp;</span>
              <br>
            </div>
            <div class="div-wrap">
              <b style="font-size: 17px;">Region(s) Selected:</b> &nbsp;&nbsp;
              <span>{{ region_description }}&nbsp;&nbsp;</span>
              <br>
            </div>
            <div class="div-wrap">
              <b style="font-size: 17px;">Zone(s) Selected:</b> &nbsp;&nbsp;
              <span>{{ zone_description }}&nbsp;&nbsp;</span>
              <br>
            </div>
            <div class="div-wrap">
              <b style="font-size: 17px;">Area(s) Selected:</b> &nbsp;&nbsp;
              <span>{{ area_description }}&nbsp;&nbsp;</span>
              <br>
            </div>
            <div class="div-wrap">
              <b style="font-size: 17px;">LMA(s) Selected:</b> &nbsp;&nbsp;
              <span>{{ lma_description }}&nbsp;&nbsp;</span>
              <br>
            </div>
            <div class="div-wrap">
              <b style="font-size: 17px;">GMMA(s) Selected:</b> &nbsp;&nbsp;
              <span>{{ gmma_description }}&nbsp;&nbsp;</span>
              <br>
            </div>
            <div class="div-wrap">
              <b style="font-size: 17px;">BAC(s) Selected:</b> &nbsp;&nbsp;
              <span>{{ bac_description }}&nbsp;&nbsp;</span>
              <br>
            </div>
            <div class="div-wrap">
              <b style="font-size: 17px;">FAN(s) Selected:</b> &nbsp;&nbsp;
              <span>{{ fan_desc }}&nbsp;&nbsp;</span>
              <br><br>
            </div>
            <b style="font-size:120%">Frequency of Reports</b><br>
            <div *ngIf="!frequency_flag">
              Report <b>not</b> required on a routine basis
            </div>
            <div *ngIf="frequency_flag" class="div-wrap">
              <span>{{ report_frequency }}&nbsp;&nbsp;</span>
            </div><br>
            <b style="font-size:120%">Special Identifiers</b>
            <div class="div-wrap">
              <p>{{ special_identifier }}</p>
            </div>
            <div class="div-wrap">
              <h5><b>Text Notification, when Requests are fulfilled?</b></h5>
              <p *ngIf='text_notification == ""'>No</p>
              <p *ngIf='text_notification != ""'>Yes</p>
            </div>
            <b style="font-size:150%;margin-left: 130px;">Dealer Allocation Selections</b><br><br>
            <div class="div-wrap">
              <b style="font-size: 17px;">Allocation Group(s) Selected:</b>&nbsp;&nbsp;
              <span>{{ allocation_group }}&nbsp;&nbsp;</span>
            </div>
            <div class="div-wrap">
              <b style="font-size: 17px;">Model Year(s) Selected:</b> &nbsp;&nbsp;
              <span>{{ model_year }}&nbsp;&nbsp;</span>
              <br>
            </div>
            <div class="div-wrap">
              <b style="font-size: 17px;">Consensus Time and Date:</b> &nbsp;&nbsp;
              <span *ngFor="let element of summary?.da_data.concensus_time_date">
                <b>Start:</b>&nbsp;{{element?.ddm_rmp_start_year}}&nbsp;{{element?.ddm_rmp_start_month}}&nbsp;{{element?.ddm_rmp_start_cycle}}&nbsp;
                <b>End:</b>&nbsp;{{element?.ddm_rmp_end_year}}&nbsp;{{element?.ddm_rmp_end_month}}&nbsp;{{element?.ddm_rmp_end_cycle}}&nbsp;&nbsp;
              </span>
            </div>
            <div class="div-wrap">
              <b style="font-size: 17px;">Consensus Data:</b> &nbsp;&nbsp;
              <span>{{ concensus_data }}&nbsp;&nbsp;</span>
              <br>
            </div>
            <div class="div-wrap">
              <b style="font-size: 17px;">Additional Requirements:</b>
              <span>{{summary?.additional_req}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!----------------------------------------------------------------------------->

  <button id="errorTrigger" data-toggle="modal" data-target="#errorModal" style="display:none">Error</button>
  <div class="modal fade " id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" style="z-index: 10000">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Alert!</h3>
        </div>
        <div class="modal-body" id="errorModalMessage">
        </div>
        <div class="modal-footer">
          <button type="button" id="modal_close_button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!--=====================================DOWNLOAD PDF================================================================-->
  <pre class="container-fluid" style="height: auto;display: none;" id="print">
      <pre>
        <h1>Distribution DataMart (DDM)       </h1>
        <h1>Report Request Confirmation</h1>
      </pre>
  <pre>
        <h2>Dealer Allocation</h2>
      </pre>
  <br>
  <pre class="Request-details">
        <span> <b style="font-size: 17px;">Request Date:</b>
          &nbsp;&nbsp;&nbsp;&nbsp;{{summary?.ddm_rmp_status_date | date : 'dd-MMM-yyyy'}}</span> <br>
        <span><b style="font-size: 17px;">Request Number:</b> &nbsp;&nbsp;&nbsp;&nbsp;{{summary?.ddm_rmp_post_report_id}}</span> <br>
        <pre *ngFor="let element of summary?.requestor"><b>Requestor</b>&nbsp;&nbsp;&nbsp;&nbsp;{{ element?.requestor }}</pre>
  <span> <b style="font-size: 17px;">Report Title:</b> &nbsp;&nbsp;&nbsp;&nbsp;{{summary?.title}}</span> <br><br>
  </pre>
  <br>
  <pre class="Request-summary">
        <b style="font-size:150%;margin-left: 175px;">Market Selections</b><br><br>
        <pre class="div-wrap">
          <b style="font-size: 17px;">Market(s) Selected:</b> &nbsp;&nbsp;
          <span>{{ market_description }}&nbsp;&nbsp;</span>
          <br>
        </pre>
  <pre class="div-wrap">
          <b style="font-size: 17px;">Division(s) Selected:</b> &nbsp;&nbsp;
          <span>{{ division_dropdown }}&nbsp;&nbsp;</span>
          <br>
        </pre>
  <pre class="div-wrap">
          <b style="font-size: 17px;">Region(s) Selected:</b> &nbsp;&nbsp;
          <span>{{ region_description }}&nbsp;&nbsp;</span>
          <br>
        </pre>
  <pre class="div-wrap">
          <b style="font-size: 17px;">Zone(s) Selected:</b> &nbsp;&nbsp;
          <span>{{ zone_description }}&nbsp;&nbsp;</span>
          <br>
        </pre>
  <pre class="div-wrap">
          <b style="font-size: 17px;">Area(s) Selected:</b> &nbsp;&nbsp;
          <span>{{ area_description }}&nbsp;&nbsp;</span>
          <br>
        </pre>
  <pre class="div-wrap">
          <b style="font-size: 17px;">LMA(s) Selected:</b> &nbsp;&nbsp;
          <span>{{ lma_description }}&nbsp;&nbsp;</span>
          <br>
        </pre>
  <pre class="div-wrap">
          <b style="font-size: 17px;">GMMA(s) Selected:</b> &nbsp;&nbsp;
          <span>{{ gmma_description }}&nbsp;&nbsp;</span>
          <br>
        </pre>
  <pre class="div-wrap">
          <b style="font-size: 17px;">BAC(s) Selected:</b> &nbsp;&nbsp;
          <span >{{ bac_description }}&nbsp;&nbsp;</span>
          <br>
        </pre>
  <pre class="div-wrap">
          <b style="font-size: 17px;">FAN(s) Selected:</b> &nbsp;&nbsp;
          <span>{{ fan_desc }}&nbsp;&nbsp;</span>
          <br><br>
        </pre>

  <b style="font-size:120%">Frequency of Reports</b><br>
  <pre *ngIf="!frequency_flag">
          Report <b>not</b> required on a routine basis
        </pre>
  <pre *ngIf="frequency_flag" class="div-wrap">
            <span>{{ report_frequency }}&nbsp;&nbsp;</span>
        </pre><br>
  <pre class="div-wrap">
          <b style="font-size:120%">Special Identifiers:</b>
            <span>{{ special_identifier }}&nbsp;&nbsp;</span>
          </pre>

  <pre class="div-wrap">
        <b style="font-size:120%">Text Notification:</b>
          <span *ngIf='text_notification == ""'>No</span>
          <span *ngIf='text_notification != ""'>Yes</span>
        </pre>
  <b style="font-size:150%;margin-left: 130px;"><u>Dealer Allocation Selections</u></b><br><br>
  <pre class="div-wrap">
          <b style="font-size: 17px;">Allocation Group(s) Selected:</b>&nbsp;&nbsp;
          <span>{{ allocation_group }}&nbsp;&nbsp;</span>
        </pre>
  <pre class="div-wrap">
          <b style="font-size: 17px;">Model Year(s) Selected:</b> &nbsp;&nbsp;
          <span>{{ model_year }}&nbsp;&nbsp;</span>
          <br>
        </pre>
  <pre class="div-wrap">
          <b style="font-size: 17px;">Consensus Time and Date:</b> &nbsp;&nbsp;
          <span *ngFor="let element of summary?.da_data.concensus_time_date">
            <b>Start:</b>&nbsp;{{element?.ddm_rmp_start_year}}&nbsp;{{element?.ddm_rmp_start_month}}&nbsp;{{element?.ddm_rmp_start_cycle}}&nbsp;
            <b>End:</b>&nbsp;{{element?.ddm_rmp_end_year}}&nbsp;{{element?.ddm_rmp_end_month}}&nbsp;{{element?.ddm_rmp_end_cycle}}&nbsp;&nbsp;
          </span>
        </pre>
  <pre class="div-wrap">
          <b style="font-size: 17px;">Consensus Data:</b> &nbsp;&nbsp;
          <span>{{ concensus_data }}&nbsp;&nbsp;</span>
          <br>
        </pre>
  <pre class="div-wrap">
          <b style="font-size: 17px;">Additional Requirements:</b>
          <span>{{summary?.additional_req}}</span>
        </pre>
  </pre>
  </pre>