.modal-header{
    background-color: rgb(00,34,61);
    color: white;
}

.example-trigger {
    display: inline-block;
  }

.modal-body{
    width:100%;
    color: black;
    /* padding: 20px 10px; */
}

.modal-footer{
    justify-content: center;
    padding:2%;
}

.modal-content, .modal, .modal-dialog-centered{
    width:800px;
    justify-content: center;
    margin:auto;
}

.wrapper{
    width:100%;
    padding: 5% 8%;
}

.report-name{
    width:100%;
    margin-bottom:12%;
}

.report{
    width:30%;
    float: left;
}

.name{
    width:60%;
    float: left;
    margin-left: 10%;
}

.button{
    width: 100%;
}

.sel1{
    width:10%;
    padding-left: 20%;
    
}

.sel2{
    width:10%;
    padding-left:20%;
    margin-bottom: 5%;
}

.check1, .check2{
    width: 10%;
    float: left;
    padding-left:15%;
}

.texts{
    width:80%;
    float: left;
    padding-left: 10%;
}

.desc {
    width: 55%;
    float: left;
    padding-left:10%;
}

.icons{
    width:15%;
    float: left;
    padding-left: 5%;
}

/* .cdk-overlay-container {
  position: fixed !important;
  z-index: 10000 !important;
} */

.cdk-global-overlay-wrapper {
  position: fixed !important;
  z-index: 10090 !important;
}

/* cdk-global-overlay-wrapper */
/* .owl-dateTime-dialog { 
  width: auto !important; 
}

.datepicker-plot-area {
  z-index: 1151 !important;
}

.cdk-global-scrollblock {
	position: initial;
	width: initial;
	overflow: hidden;
} */

.scheduler{
    width:100%;
    margin-bottom:25%;
}

.dates{
    width:15%;
    float: left;
    margin-right:5%;
    padding-left:10%;
}

.year{
    width:30%;
    float: left;
    margin-right:5%;
}

.date-selector{
    width: 60%;
    float: left;
    margin-left: 10%;
}

.btn1{
    height: 5%;
    margin: 0 10%;
}

.recurring{
    width:40%;
    float: left; 
    margin-left:10%;
    margin-right:10%;
}

.recurr{
    width:100%;
    margin-bottom:25%;
} 

.formats{
    width:100%;
}

.format{
    width:20%;
    float:left;
}

.opt{
    width:60%;
    float: left;
    padding-left: 26%;
}

.re{
    width:100%;
    margin-bottom: 36%;
}

.retext{
    float: left;
}

.retexts{
    width: 40%;
    float: left;
}

.res{
    margin-top:-2%;
    margin-bottom: 18%;
}

.opts{
    width:40%;
    float: left;
    padding-left: 15%;
}

.report-names{
    width:100%;
    
}

.but1{
    margin-right:4%;
    height: 3%;
}

.dropdown > button {
    margin-left:40%;
}

.dates {
    width:100%;
}

.report-time{
    width:100%;
    background-color: white;
    color: black;
    border:none;
    text-align: left;
}

.yess{
    margin-right: 20%;
    margin-left: 35%;
    border-radius: 10%;
    border-top-right-radius: 10%; 
}

.noo{
    border-radius: 0;
}

.opt {
    padding-left: 18%;
}

.opts{
    width: 60%;
    padding-left:14%;
}

.multiple-date{
  margin-bottom: 5%;
}

.void{
  height: 3%;
  background-color: white;
  color: white;
}
