<div class="modal fade" id="scheduleModal" tabindex="-1" role="dialog" aria-labelledby="scheduleModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="scheduleModal">Report Scheduler</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form>
          <div class="row form-group">
            <label for="reportName" class="col-xs-5 col-form-label">Report Name</label>
            <div class="col-xs-7">
              <input type="text" class="form-control col-xs-7" id="reportName" aria-describedby="reportName">
            </div>
          </div>

          <div class="row form-group">
            <label for="scheduleDate" class="col-xs-5 col-form-label" >Schedule Date</label>
            <div class="col-xs-7">
              <app-multi-dates-picker></app-multi-dates-picker>
          </div>
          </div>
          
          <div class="row form-group">
            <label for="scheduleTime" class="col-xs-5 col-form-label">Schedule Time</label>
            <div class="col-xs-7">
              <input type="time" class="form-control col-xs-7" id="scheduleTime" aria-describedby="reportTime">
            </div>
          </div>

          <div class="row form-group">
            <label for="recurringReport" class="col-xs-5 col-form-label">Recurring report</label>
            <div class="col-xs-7">
                <button class="btn dropdown-toggle" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Yes</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <option>Every Day</option>
                    <option>Every Week</option>
                    <option>Every Month</option>
                    <option>Every Year</option>
                    <option (click)="isCollapsed = !isCollapsed"
                      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">Custom</option>
                </div>
                <button class="btn ml-1">No</button>
                <div class="row" id="collapseExample" [ngbCollapse]="isCollapsed">
                    <div class="multiple-date">
                        <!-- <input type="number" class="form-control w-10" placeholder="Interval" aria-describedby="recurringFrequency"> -->
                        <app-multi-dates-picker></app-multi-dates-picker>
                    </div>
                  </div>
              </div>
            </div>

          

          <div class="row form-group">
              <label for="scheduleReportFormat" class="col-xs-5 col-form-label">Report format</label>
              <div class="col-xs-7">
                 <select class="form-control" id="scheduleReportFormat" style="background-color: #FFF;width: 100%;height: 100%;">
                   <option value="1">Csv</option>
                   <option value="2">Word</option>
                   <option value="3">Excel</option>
                   <option value="4">Pdf</option>
                 </select>
              </div>
          </div>

          <div class="row form-group">
              <label for="recurringReport" class="col-xs-5 col-form-label">Recurring report</label>
              <div class="col-xs-7">
                  <button class="btn">Yes</button>
                  <button class="btn ml-4">No</button>
              </div>
          </div>



          <div class="row">
              <label for="delivery-method" class="col-xs-5 col-form-label">Delivery Method:</label>
              <div class="form-group col-xs-7">
                <select name="deliveryMethod" id="deliv" class="form-control form-control-lg" [(ngModel)]="deliveryMethod" (change)="changeDeliveryMethod(deliveryMethod)" >
                  <option value="email">Email</option>
                  <option value="shared">Shared Drive</option>
                  <option value="ftp">FTP</option>
                </select>
              </div>
            </div>
    
            <!-----------------------------Email option selector------------------------------------------->
    
            <div class="row" id="email" [hidden]="isEmailHidden">
              <label for="email-address" class="col-xs-5 col-form-label">Email Address(es):</label>
              <div class="form-group col-xs-7">
                <select name="email" class="form-control form-control-lg">
                  <!-- <option value="" selected></option> -->
                  <option>User 1</option>
                  <option>User 2</option>
                  <option>User 3</option>
                </select>
              </div>
            </div>
    
            <!---------------------------------Shared Drive option selector---------------------------------->
    
            <div class="row" id="shared" [hidden]="isSharedHidden">
              <label for="shared-drive" class="col-xs-5 col-form-label">Shared Drive Link:</label>
              <div class="form-group col-xs-7">
                <select name="sharedDrive" class="form-control form-control-lg">
                  <!-- <option value="" selected></option> -->
                  <option>Link 1</option>
                  <option>Link 2</option>
                  <option>Link 3</option>
                </select>
              </div>
            </div>
    
            <!-------------------------------------FTP option selector------------------------------------------------------>
    
            <div id="FTP" [hidden]="isFtpHidden">
              <div class="row">
                <label for="ftp-address" class="col-xs-5 col-form-label">FTP Address:</label>
                <div class="form-group col-xs-7">
                  <select name="ftpAddress" class="form-control form-control-lg">
                    <!-- <option value="" selected></option> -->
                    <option>Link 1</option>
                    <option>Link 2</option>
                    <option>Link 3</option>
                  </select>
                </div>
              </div>
            </div>
    
              <div id="FTP" [hidden]="isFtpHidden">
                <div class="row">
                <label for="ftp-port" class="col-xs-5 col-form-label">FTP Port:</label>
                <div class="form-group col-xs-7">
                  <select name="ftpPort" class="form-control form-control-lg">
                    <!-- <option value="" selected></option> -->
                    <option>Email</option>
                    <option>Shared Drive</option>
                    <option>FTP</option>
                  </select>
                </div>
              </div>
            </div>



        </form>
      </div>

      <!----------------------------------Modal footer------------------------------------------------>

      <div class="modal-footer mt-0 mr-4">
        <button type="button" class="btn btn-secondary " data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Apply</button>
      </div>

    </div>
  </div>
</div>