<div class="submit-request-wrapper">
    <div class="submit-req-body" *ngIf="refreshWrapper">
        <select-report-criteria (clearSubmitReqEmitter)="refreshWrapperFunc($event)"></select-report-criteria>
        <div class="row" style="width: 100%;">
            <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
                <mat-tab label="Vehicle Event Status">
                    <app-vehicle-event-status></app-vehicle-event-status>
                </mat-tab>
                <mat-tab label="Dealer Allocation">
                    <dealer-allocation></dealer-allocation>
                </mat-tab>
                <mat-tab disabled>
                    <ng-template mat-tab-label>
                        <div style="font-size: 0.9vw;font-style: italic;">
                            <span>*Please select Vehicle Event Status &nbsp;</span><span
                                class="red">OR</span><span>&nbsp;Dealer Allocation</span>
                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>