
.submit-request-wrapper{
    width: calc(100% - 140px);
    height: calc(100% - 70px);
    margin: 35px 70px;
    background: white;
    font-size: 2vh;
    box-shadow: 0px 0px 4px lightgrey;
    padding: 1.5vw;
}
.submit-request-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6em;
    font-weight: 800;
}
.submit-req-body{
    overflow: auto;
    height: 100%;   
}
:host ::ng-deep .mat-tab-label.mat-tab-disabled{
    color: black;
}
:host ::ng-deep .mat-tab-label{
    font-size: inherit;
}
