

<div class="submit-request-wrapper">
    <!-- <div class="submit-request-header" style="height: 80px;">
        <span class="">Submit Request </span>
    </div> -->
    <!-- <p>Selections can be used to generate Vehicle Event Status or Dealer Allocation Requests</p> -->

    <div class="submit-req-body">
        <select-report-criteria [lookupMasterData]="lookupMasterData" [lookupTableMD]="lookupTableMasterData"></select-report-criteria>
        <div class="row" style="width: 100%;">
            <mat-tab-group>
                <mat-tab label="Vehicle Event Status">
                    <app-vehicle-event-status [lookupTableMD]="lookupTableMasterData"></app-vehicle-event-status>
                    <!-- <app-vehicleevent-status></app-vehicleevent-status> -->
                </mat-tab>
                <mat-tab label="Dealer Allocation">
                    <!-- <dealer-allocation></dealer-allocation> -->
                </mat-tab>
                <mat-tab disabled>
                    <ng-template mat-tab-label>
                        <div style="font-size: 0.9vw">
                            <span>*Please select Vehicle Event Status &nbsp;</span><span class="red">OR</span><span>&nbsp;Dealer Allocation</span>
                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
     
    </div>
</div>