
.submit-request-wrapper{
    background: white;
    height: 80.5vh;
    margin: 3vh;
    box-shadow: 3px 3px 8px 2px #c3c3c3;
}
.submit-request-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6em;
    font-weight: 800;
}
.submit-req-body{
    overflow: auto;
    height: 100%;   
}
:host ::ng-deep .mat-tab-label.mat-tab-disabled{
    color: black;
}