
<div id="semanticModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h3> Security </h3>
          <button type="button" class="close" data-dismiss="modal" (click)="resetAll();">&times;</button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs">    
          <li [ngClass]="{'activeTab': userTosemantic}" (click)="userTosemantic = true;"><a style="color: #000000;">User -> Semantic layer</a></li>
          <li [ngClass]="{'activeTab': userTosemantic == false}" (click)="userTosemantic = false;"><a  style="color: #000000;">Semantic layer-> User</a></li>
        </ul>
     <div *ngIf="userTosemantic">
        <div class="form-group search-user">
          <label for="usr" style="margin-right: 10px">User:</label>
          <input type="text" id="userAjax" list="user-datalist" class="form-control" [(ngModel)] = "userName" [disabled]="isUserReadOnly" (input)="getItemFromList(userName,'user')"/>
          <datalist id="user-datalist"></datalist>
          <a><i class="material-icons" style="right: 31%;">search</i></a>
         <button type="button" class="btn btn-primary" style="margin-left: 6%;" (click)="getListByOption($event,userName,'user')">Select</button>
        </div>
        <div class="userLabel"> 
          <span *ngFor = "let user of userNameList;let i = index" class="select-item">{{user}}
           <a (click)="removeUserList($event,i,'user')">x</a>
          </span>
        </div>
      <div class="tag-label" style="padding: 2% 5%" *ngIf="isAvailableSemanticsByUser"> 
          <label for="usr" style="margin-right: 10px">Semantic Layer</label>
        <div class="form-inline"  *ngIf="semanticsByUser.length">
            <div class="form-group">
                <input type="checkbox" value="{{semanticAll}}" [checked]="semanticAll" (change)="semanticAll = !semanticAll;checkedList($event,'user','all',semanticAll)"/>
                <span style="margin-left: 5%"><strong>Select All</strong></span>
              </div>
          <div class="form-group" *ngFor = "let semantic of  semanticsByUser">
            <input type="checkbox" value="{{semantic.checked}}" [checked]="semantic.checked" (change)="semantic.checked = !semantic.checked;checkedList($event,'user')"/>
            <span style="margin-left: 5%">{{semantic.name}}</span>
          </div>
        </div>
        <div *ngIf="semanticsByUser.length == 0">
            No semantics found
        </div>
      </div>  
      <div *ngIf="isLoadingSemantics" class="text-center">
        <img src= "assets/spinner.gif" class="spinner">
    </div>
    </div>
   
    <div *ngIf="userTosemantic == false">
      <div class="form-group search-user">
        <label for="usr" style="margin-right: 10px">Semantic Layer:</label>
        <input type="text" class="form-control" id="semanticAjax" list="semantic-datalist" [(ngModel)] = "semanticName" [disabled]="isSemanticReadOnly" (input)="getItemFromList(semanticName,'semantic')"/>
        <datalist id="semantic-datalist"></datalist>
        <button type="button" class="btn btn-primary" style="margin-left: 6%;" (click)="getListByOption($event,semanticName,'semantic')">Select</button>
        <a><i class="material-icons" style="right: 23%;">search</i></a>
      </div>
      <div class="userLabel">
        <span *ngFor = "let semantic of semanticList;let j = index" class="select-item">{{semantic}}
         <a (click)="removeUserList($event,j,'semantic')">x</a>
        </span>
      </div>
    <div class="tag-label" *ngIf="isAvailableUsersBySemantic"> 
        <label for="usr" style="margin-right: 10px">User:</label>
      <div class="form-inline">
          <div class="form-group">
              <input type="checkbox" value="{{userAll}}" [checked]="userAll" (change)="userAll = !userAll;checkedList($event,'semantic','all',userAll)"/>
              <span style="margin-left: 5%"><strong>Select All</strong></span>
            </div>
        <div class="form-group" *ngFor = "let user of  usersBySemantic">
          <input type="checkbox" value="{{user.checked}}" [checked]="user.checked" (change)="user.checked = !user.checked;checkedList($event,'semantic')"/>
          <span style="margin-left: 5%">{{user.name}}</span>
        </div>
      </div>
    </div>  
    <div *ngIf="isLoadingUsers" class="text-center">
      <img src= "assets/spinner.gif" class="spinner">
  </div>
  </div> 
    </div> 
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary mr-auto" data-dismiss="modal">Cancel</button> -->
        <button type="button" class="btn btn-primary mr-auto" *ngIf="userTosemantic" (click)="resetList('user')">Reset</button>
        <button type="button" class="btn btn-primary mr-auto" *ngIf="userTosemantic == false" (click)="resetList('semantic')">Reset</button>
        <button type="button" class="btn btn-primary" *ngIf="userTosemantic" (click)="updateSelectedList('user')" [ngClass]="{'blocked': isApplyDisabledForUser}">Apply</button>
        <button type="button" class="btn btn-primary" *ngIf="userTosemantic == false" (click)="updateSelectedList('semantic')" [ngClass]="{'blocked': isApplyDisabledForSemantic}">Apply</button>
      </div>
    </div>
  </div>
</div>

   
  