
<div id="PrivilegeModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h3> Privilege </h3>
          <button type="button" class="close" data-dismiss="modal" (click)="resetAll();">&times;</button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs">    
          <li [ngClass]="{'activeTab': userToPrivilege}" (click)="userToPrivilege = true;"><a style="color: #000000;">User -> Privilege</a></li>
          <li [ngClass]="{'activeTab': userToPrivilege == false}" (click)="userToPrivilege = false;"><a  style="color: #000000;">Privilege -> User</a></li>
        </ul>
     <div *ngIf="userToPrivilege">
        <div class="form-group search-user">
          <label for="usr" style="margin-right: 10px">User:</label>
          <input type="text" id="userAjax" list="user-datalist" class="form-control" [(ngModel)] = "userName" [disabled]="isUserReadOnly" (input)="getItemFromList(userName,'user')"/>
          <datalist id="user-datalist"></datalist>
          <a><i class="material-icons" style="right: 31%;">search</i></a>
         <button type="button" class="btn btn-primary" style="margin-left: 6%;" (click)="getListByOption($event,userName,'user')">Select</button>
        </div>
        <div class="userLabel"> 
          <span *ngFor = "let user of userNameList;let i = index" class="select-item">{{user}}
           <a (click)="removeUserList($event,i,'user')">x</a>
          </span>
        </div>
      <div class="tag-label" style="padding: 2% 5%" *ngIf="isAvailablePrivilegesByUser"> 
          <label for="usr" style="margin-right: 10px">Privilege</label>
        <div class="form-inline"  *ngIf="privilegesByUser.length">
          <div class="form-group" *ngFor = "let privilege of  privilegesByUser">
            <input type="checkbox" value="{{privilege.checked}}" [checked]="privilege.checked" (change)="privilege.checked = !privilege.checked;checkedList($event,'user')"/>
            <span style="margin-left: 5%">{{privilege.name}}</span>
          </div>
        </div>
        <div *ngIf="privilegesByUser.length == 0">
            No privileges found
        </div>
      </div>  
      <div *ngIf="isLoadingPrivileges" class="text-center">
        <img src= "assets/spinner.gif" class="spinner">
    </div>
    </div>
    <div *ngIf="userToPrivilege == false">
      <div class="form-group search-user">
        <label for="usr" style="margin-right: 10px">Privilege:</label>
        <input type="text" class="form-control" id="privilegeAjax" list="privilege-datalist" [(ngModel)] = "privilegeName" [disabled]="isPrivilegeReadOnly" (input)="getItemFromList(privilegeName,'privilege')"/>
        <datalist id="privilege-datalist"></datalist>
        <button type="button" class="btn btn-primary" style="margin-left: 6%;" (click)="getListByOption($event,privilegeName,'privilege')">Select</button>
        <a><i class="material-icons" style="right: 28%;">search</i></a>
      </div>
      <div class="userLabel">
        <span *ngFor = "let privilege of privilegeList;let j = index" class="select-item">{{privilege}}
         <a (click)="removeUserList($event,j,'privilege')">x</a>
        </span>
      </div>
    <div class="tag-label" *ngIf="isAvailableUsersByPrivilege"> 
        <label for="usr" style="margin-right: 10px">User:</label>
      <div class="form-inline">
        <div class="form-group" *ngFor = "let user of  usersByPrivilege">
          <input type="checkbox" value="{{user.checked}}" [checked]="user.checked" (change)="user.checked = !user.checked;checkedList($event,'privilege')"/>
          <span style="margin-left: 5%">{{user.name}}</span>
        </div>
      </div>
    </div>  
    <div *ngIf="isLoadingUsers" class="text-center">
      <img src= "assets/spinner.gif" class="spinner">
  </div>
  </div> 
    </div> 
      <div class="modal-footer"><button type="button" class="btn btn-primary mr-auto" *ngIf="userToPrivilege" (click)="resetList('user')">Reset</button>
        <button type="button" class="btn btn-primary mr-auto" *ngIf="userToPrivilege == false" (click)="resetList('privilege')">Reset</button>
        <button type="button" class="btn btn-primary" *ngIf="userToPrivilege" (click)="updateSelectedList('user')" [ngClass]="{'blocked': isApplyDisabledForUser}">Apply</button>
        <button type="button" class="btn btn-primary" *ngIf="userToPrivilege == false" (click)="updateSelectedList('privilege')" [ngClass]="{'blocked': isApplyDisabledForPrivilege}">Apply</button>
      </div>
    </div>
  </div>
</div>

   
  