<div id="privilegeModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="m-0"> Privilege </h3>
        <button type="button" class="close" data-dismiss="modal" (click)="resetAll();">&times;</button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs">
          <li [ngClass]="{'active-tab': userToPrivilege}" (click)="userToPrivilege = true;">
            <a>User -> Privilege</a>
          </li>
          <li [ngClass]="{'active-tab': !userToPrivilege}" (click)="userToPrivilege = false;">
            <a>Privilege -> User</a>
          </li>
        </ul>
        
        <div *ngIf="userToPrivilege">
          <div class="form-group search-user">
            <label for="user-ajax">User:</label>
            <input type="text" id="user-ajax" list="userDatalist" class="form-control" [(ngModel)]="userName" [disabled]="isUserReadOnly"
              />
              <!-- (input)="getItemFromList(userName,'user')"  -->
            <datalist id="userDatalist">
              <option *ngFor="let item of allUserList" value="{{item.user_id}}"></option>
            </datalist>
            <a>
              <i class="material-icons" style="right: 31%;">search</i>
            </a>
            <button type="button" class="btn btn-primary" [disabled]="!userName" (click)="getListByOption($event,userName,'user')">Select</button>
          </div>
          <div class="user-label">
            <span *ngFor="let user of userNameList;let i = index" class="select-item">{{user}}
              <a (click)="removeUserList($event,i,'user')">x</a>
            </span>
          </div>
          <div class="tag-label" *ngIf="isAvailablePrivilegesByUser">
            <label for="privilege-check" *ngIf="privilegesByUser.length">Privilege</label>
            <input type="text" class="form-control" placeholder="Search privilege" [(ngModel)] = "userSearchInput" (input)="filterList($event.target.value,'user')"/>
            <div class="form-inline" *ngIf="privilegesByUser.length">
                <div class="form-group" > 
                    <input type="checkbox" value="{{privilegeAll}}" [checked]="privilegeAll" (change)="privilegeAll = !privilegeAll;checkedList($event,'user','all',privilegeAll)"/>
                    <span><strong>Select All</strong></span>
                  </div>
              <div class="form-group" *ngFor="let privilege of  privilegesByUser;let i = index">
                <input type="checkbox" id="privilege-check{{i}}" value="{{privilege.checked}}" [checked]="privilege.checked" (change)="privilege.checked = !privilege.checked;checkedList($event,'user')"
                />
                <label class="check-label" for="privilege-check{{i}}">{{privilege.name}}</label>
              </div>
            </div>
            <div *ngIf="!privilegesByUser.length && !isPrivilegeSearch">
              Invalid User Name
          </div>
          <div *ngIf="!privilegesByUser.length && isPrivilegeSearch">
            No data available
        </div>
          </div>
          
        </div>
        <div *ngIf="!userToPrivilege">
          <div class="form-group search-user">
            <label for="privilege-ajax">Privilege:</label>
            <input type="text" id="privilege-ajax" class="form-control" list="privilegeDatalist" [(ngModel)]="privilegeName" [disabled]="isPrivilegeReadOnly"
               />
               <!-- (input)="getItemFromList(privilegeName,'privilege')" -->
            <datalist id="privilegeDatalist">
              <option *ngFor="let item of allPrivilegeList" value="{{item}}"></option>
            </datalist>
            <button type="button" class="btn btn-primary" [disabled]="!privilegeName" (click)="getListByOption($event,privilegeName,'privilege')">Select</button>
            <a>
              <i class="material-icons" style="right: 28%;">search</i>
            </a>
          </div>
          <div class="user-label">
            <span *ngFor="let privilege of privilegeList;let j = index" class="select-item">{{privilege}}
              <a (click)="removeUserList($event,j,'privilege')">x</a>
            </span>
          </div>
          <div class="tag-label" *ngIf="isAvailableUsersByPrivilege">
            <label for="user-check" *ngIf="usersByPrivilege.length">User:</label>
            <input type="text" class="form-control" placeholder="Search user" [(ngModel)] = "privilegeSearchInput" (input)="filterList($event.target.value,'privilege')"/>
            <div class="form-inline" *ngIf="usersByPrivilege.length">
                <div class="form-group">
                    <input type="checkbox" value="{{userAll}}" [checked]="userAll" (change)="userAll = !userAll;checkedList($event,'privilege','all',userAll)"/>
                    <span><strong>Select All</strong></span>
                  </div>
              <div class="form-group" *ngFor="let user of  usersByPrivilege;let i = index">
                <input type="checkbox" id="user-check{{i}}" value="{{user.checked}}" [checked]="user.checked" (change)="user.checked = !user.checked;checkedList($event,'privilege')"
                />
                <label class="check-label" for="user-check{{i}}">{{user.name}}</label>
              </div>
            </div>
            <!-- <div *ngIf="!usersByPrivilege.length">Invalid Privilege name</div> -->
            <div *ngIf="!usersByPrivilege.length && !isUserSearch">
              Invalid Privilege Name
          </div>
          <div *ngIf="!usersByPrivilege.length && isUserSearch">
            No data available
        </div>
          </div>
          
        </div>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-danger mr-auto" (click)="resetList()">Reset</button>
        <!-- <button type="button" class="btn btn-primary mr-auto" *ngIf="!userToPrivilege" (click)="resetList('privilege')">Reset</button> -->
        <button type="button" class="btn btn-success" *ngIf="userToPrivilege" (click)="updateSelectedList('user')" [ngClass]="{'blocked': disabledForUser}">Apply</button>
        <button type="button" class="btn btn-success" *ngIf="!userToPrivilege" (click)="updateSelectedList('privilege')" [ngClass]="{'blocked': disabledForPrivilege}">Apply</button>
      </div>
    </div>
  </div>
</div>