#join-view > .row {
  white-space: nowrap; 
  display: block;
}

.col-md-3:nth-child(odd) .card{
  margin-top: 200px;
}

.inline-col {
  display: inline-block; 
  float: none;
}

.separation {
  border-right: 1px solid #ddd;
}