#join-view > .row {
  white-space: nowrap; 
  display: block;
  margin-top: 5em;
  text-align: center;
}

#join-view .row .row .col,
#join-view .row .row .col-sm-6 {
  min-height: 15vh;
}

.inline-col {
  display: inline-block; 
  float: none;
}

a.back {
  text-decoration: none;
  color: #000;
  display: inline-block;
  padding-top: 0.5em;
}