.main-tool-body-header {
    height: 15%;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 2%;
}

.main-tool-body-content {
    height: 77%;
    width: 95%;
    border: 1px solid rgb(175, 175, 175);
    margin-left: 2.5%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.DownloadToggleButton {
    background-color: white; 
    border: none;
}

.docs{
    color: blue;
    display: block;white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

}

.docs :hover{
    color: cadetblue;
}

.heading {
    width: 70%;
    float: left;
    height: 100%;
}
 
.information{
   padding: 2%;
    height: 85%;
    overflow-y:auto;
}

.caption-style {
    font-size: 150%;  
    font-weight: bold;
}
.press button {
    background: transparent;
    border: none;
}

.icons {
    widows: 30%;
    height: 100%;
    float: right;
    align-content: center;
}

.buffer {
    height: auto;
    width: 100%;
}

b {
    height: 100%;
    font-size: 100%;
}

.material-icons {
    width: fit-content;
    float: right;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.press {
    height: 100%;
    width: fit-content;
    font-size: 2em;
    float: left;
    cursor: pointer;
}

.editButton {
    background: transparent;
    border: none;
    float: right;
    padding-right:0px;
}

.main-style {
    font-size: 1.5rem
}

.display-none {
    display: none;
}

.quillEditor{
    position: relative;
    padding: 3px;
}

a {
    color: blue;
    text-decoration: underline;
}

a:hover {
    color: rgb(2, 136, 173);
}

a:active {
    color: rgb(2, 136, 173);
}

.save-text-ddm {
    margin: 1% 0% 1% 2%;
}

.container-fluid {
    margin: auto;
    text-align: left;
    padding:0 0 0 2%;
    display: flex;
    align-items: center;
    height: 15%;
}

.ref-styling {
    height: auto;
    min-height: 2vh;
    margin-bottom: 10px;
}

.modal-title {
    margin-bottom: auto;
    margin-top: auto;
}
.icon-cont{
    display: inline-block;
    height: 100%;
    position: relative;
    width: 17px;
}