.main-tool-body-header {
    height: 15%;
    width: 95%;
    margin-left: 1.5vw;
    margin-bottom: 0.5vh;
}

.main-tool-body-content {
    height: 58.5vh;
    width: 91vw;
    border: 1px solid rgb(175, 175, 175);
    margin-left: 1.5vw;
    overflow-y: hidden;
    overflow-x: hidden;
}

.DownloadToggleButton {
    background-color: white; 
    border: none;
}

.docs {
    color: blue;
    display: block;white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.docs :hover {
    color: cadetblue;
}

.heading {
    float: left;
    height: 6.5vh;
    width: 91vw;
    padding-top: 0.5vh;
}
 
.information{
   padding: 2%;
    height: 85%;
    overflow-y:auto;
}

.caption-style {
    font-size: 150%;  
    font-weight: bold;
}

.press button {
    background: transparent;
    border: none;
}

.icons {
    widows: 30%;
    height: 100%;
    float: right;
    align-content: center;
}

.buffer {
    height: auto;
    width: 100%;
}

b {
    height: 100%;
    font-size: 100%;
}

.material-icons {
    width: fit-content;
    float: right;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.press {
    height: 8vh;
    width: fit-content;
    font-size: 2em;
    float: left;
    cursor: pointer;
}

.editButton {
    background: transparent;
    border: none;
    float: right;
    padding-right:0px;
}

.main-style {
    font-size: 1.5rem
}

.display-none {
    display: none;
}

.quillEditor {
    position: relative;
    padding: 3px;
}

a {
    color: blue;
    text-decoration: underline;
}

a:hover {
    color: rgb(2, 136, 173);
}

a:active {
    color: rgb(2, 136, 173);
}

.save-text-ddm {
    margin: 1% 0% 1% 2%;
}

.container-fluid {
    margin: auto;
    text-align: left;
    padding:0 0 0 2%;
    display: flex;
    align-items: center;
    height: 15%;
}

.ref-styling {
    height: auto;
    min-height: 2vh;
    margin-bottom: 10px;
}

.modal-title {
    margin-bottom: auto;
    margin-top: auto;
}

.icon-cont {
    display: inline-block;
    height: 100%;
    position: relative;
    width: 17px;
}

h3 {
    margin-top: 0vh;
}

.url_link{
    color: blue !important;
    cursor: pointer;
    text-decoration: underline !important;
}

#helpModal .modal-content{
    height:75vh;
}

::ng-deep .main-tool-body-content .information .quill .ql-container .ql-editor {
    border: lightgray solid 1px;
    height: 42.5vh;
    overflow: auto;
}