<!--Modal01-->
<div id="colprop" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content second">
      <div class="modal-header">
        <h3 class="modal-title p-h3styles">Column Properties </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="loader"  style="padding: 0px;width: 100%;height: 50%;">
          <mat-progress-spinner style="left:40%;top:40%;" mode="indeterminate"></mat-progress-spinner>
        </div>
        <div *ngIf="items.length && !loader" class="list-group">
          <div *ngFor="let prop of items">
            <p *ngIf="prop.original_column_name"><b>Original Column Name :</b> {{prop.original_column_name}}</p>
            <p *ngIf="prop.data_type"><b>Data type :</b> {{prop.data_type}}</p>
            <p *ngIf="prop.default_width || prop.default_width == 0"><b>Default Width :</b> {{prop.default_width}}</p>
          </div>
        </div>
        <div *ngIf="!items.length && !loader">
          No data available
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btnm" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>