.disclaimer-wrapper{
    width: calc(100% - 70px);
    height: calc(100% - 70px);
    margin: 35px;
    /* border: 1px solid; */
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.61), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}
.disclaimer-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6em;
    font-weight: 800;
}
.custom-link{
    cursor: pointer;
    color: blue !important;
    font-weight: 600;
    text-decoration: underline;
}
.disclaimer-footer{
    /* height: ; */
}

::ng-deep quill-editor .ql-container.ql-snow{
    height: 160px;
}