.disclaimer-wrapper{
    background: white;
    height: 80.5vh;
    margin: 3vh;
    box-shadow: 3px 3px 8px 2px #c3c3c3;
    padding: 3vh 1.5vw 3vh 1.5vw;
}

.disclaimer-header{
    width: 94vw;
    float: left;
    padding-top: 1vh;
    padding-left: 1.5vw;
    padding-bottom: 3vh;
}

.disclaimer-body {
    height: 60vh;
    overflow: auto;
    padding-left: 1.5vw;
    padding-right: 1vw;
}
.icons {
    height: 100%;
    float: right;
    align-content: center;
}

.press {
    height: 100%;
    width: fit-content;
    padding-right: 1vw;
    float: left;
    cursor: pointer;
    background: transparent;
    border: none;
}

.custom-link{
    cursor: pointer;
    color: blue !important;
    font-weight: 600;
    text-decoration: underline;
}

::ng-deep quill-editor .ql-container.ql-snow{
    height: 40vh;
}

.disclaimer_section{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 230px !important;
}

h3 {
    margin-top: 0vh;
}

.help-icon {
    padding-right: 1vw;
}

.ds-flex-centre {
    padding-top: 2vh;
    justify-content: flex-end;
}

.disclaimer-footer {
    margin-left : 41vw;
}