<div class="outer-page">
  <div class="disclaimer-wrapper">
    <div class="disclaimer-header">
      <div class="col-xs-9 pl-0">
        <h3><b>Steps to Submit a Request and View Results</b></h3>
      </div>
      <div class="icons">
        <div class="press" *ngIf="user_role == 'Admin'">
          <a *ngIf="showEditOption && (user_role ==='Admin')" (click)="showEditOption=!showEditOption" title="EDIT"><i
              id="ic" class="material-icons">mode_edit</i></a>
        </div>
        <div class="press help-icon">
          <a (click)='openDisclaimerHelpModal()' data-toggle="tooltip" title="HELP"><i id="ic"
              class="material-icons">help_outline</i></a>
        </div>
      </div>
    </div>
    <div class="disclaimer-body">
      <div class="row">
        <div class="col-xs-6">
          <p>Before you submit a request,Read <a class="custom-link" (click)='openDisclaimerModal()'
              style="cursor:pointer">Disclaimers</a>
            and click the Acknowledge button when complete
          </p>
          <p style="width: 90%;" *ngIf="user_role !='Admin' && userData">
            <mat-checkbox disabled [checked]="userData.disclaimer_ack"> Disclaimer Acknowledged :
              {{userData.disclaimer_ack | date:"dd-MMM-yyyy"}}</mat-checkbox>
          </p>
        </div>
        <div class="col-xs-6">
          <p style="width: 90%;" *ngIf="userData">
            <mat-checkbox disabled [checked]="userData.saved_setting"> Settings Saved :
              {{userData.saved_setting | date:"dd-MMM-yyyy"}}</mat-checkbox>
          </p>
        </div>
      </div>
      <div class="quillEditorSubmit">
        <quill-editor class="quill" [(ngModel)]="submitReqDescObj.description" [modules]="config"
          [readOnly]="showEditOption"></quill-editor>
        <div class="ds-flex-centre" *ngIf="!showEditOption">
          <button mat-raised-button [cssBtn]="'ok'" style="margin-right: 15px;"
            (click)="saveSubmitReqDesc()">Save</button>
          <button mat-raised-button [cssBtn]="'cancel'" (click)="showEditOption=true">Cancel</button>
        </div>
      </div>
    </div>
    <div class="disclaimer-footer" style="height: 70px;">
      <button mat-raised-button style="background-color: #144214 !important;color: white"
        [disabled]=" !(user_role =='Admin' || userData.disclaimer_ack)" routerLink="../submit-request"
        routerLinkActive="active">
        Proceed to select report criteria
      </button>
    </div>
  </div>
</div>