.disclaimer-wrapper{
    width: calc(100% - 70px);
    height: calc(100% - 70px);
    margin: 35px;
    border: 1px solid;
}
.disclaimer-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6em;
}
.custom-link{
    cursor: pointer;
    color: blue !important;
    font-weight: 600;
    text-decoration: underline;
}