
<mat-card style="overflow-y: auto;    max-height: 115%;"> 


  <app-select-tables [fromType]="'calculated-column'" (enablePreview)="getData($event)" (isValidTables)="isValidSelectTable($event)"></app-select-tables>

  <mat-form-field style="width: 100%;padding-bottom: 10px">
    <input matInput appValidator [formControl]="tableName" placeholder="Custom Table Name" [maxlength]="50" [required]="!allowMultiColumn" [disabled]="allowMultiColumn" [readOnly]="allowMultiColumn"/>
    <mat-error *ngIf="tableName.hasError('tabName')">Can't be Table/Column Name!</mat-error>
    <mat-error *ngIf="tableName.hasError('dupName')">Duplicate Name!</mat-error>
  </mat-form-field>

  <mat-form-field style="width: 80%;padding-bottom: 10px">
    <input matInput  [formControl]="columnName" required placeholder="Column Name"/>
    <mat-error *ngIf="columnName.hasError('colName')">Can't be Table/Column Name!</mat-error>
    <mat-error *ngIf="columnName.hasError('dupColName')">Duplicate Name!</mat-error>
     
  </mat-form-field>   
  
  <span *ngIf="allowMultiColumn">
    <button mat-stroked-button mat-icon-button isRoundButton="true" [disabled]="!columnName.value || !columnName.valid || !queryTextarea.value || !queryTextarea.valid" aria-label="Add Field" (click)="add()">
      <mat-icon>add</mat-icon>
    </button>
  </span>

  <form style="display: flex; flex-direction: column; height: 40%;">
    <mat-form-field class="stretch-height">
      <mat-label>Enter Formula</mat-label>
        <textarea matInput [formControl]="queryTextarea" id="customCccId" (input)="inputValue($event.target.value)"
          [matAutocomplete]="auto" required
        ></textarea>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChanged($event)" >
          <mat-optgroup *ngFor="let option of suggestionList " [label]="option.groupName" [hidden]="!option['values'].length">
            <mat-option *ngFor="let opt of option.values " [value]="opt">
              {{opt}}
            </mat-option>
          </mat-optgroup>
        </mat-autocomplete>
        <mat-error *ngIf="!queryTextarea.valid">Duplicate Formula!</mat-error>
    </mat-form-field>
  </form>   

  <mat-chip-list #chipList aria-label="" *ngIf="allowMultiColumn">
    <mat-chip *ngFor="let chip of chips" [selectable]="selectable" [removable]="removable"
      (removed)="remove(chip)" (click)="getSelected(chip)"> {{ chip.columnName }}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>


  <mat-form-field class="stretch-height" style="display: flex; flex-direction: column; height: 50%;">
    <mat-label>Groupby</mat-label>
      <textarea matInput [formControl]="groupByControl" (input)="inputValue($event.target.value)"
        [matAutocomplete]="groupbyAuto"
      ></textarea>
      <mat-autocomplete #groupbyAuto="matAutocomplete" (optionSelected)="onGroupbySelection($event)" >
        <mat-optgroup *ngFor="let option of suggestionList " [label]="option.groupName" [hidden]="!option['values'].length">
          <mat-option *ngFor="let opt of option.values " [value]="opt">
            {{opt}}
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
      <!-- <mat-error *ngIf="!queryTextarea.valid">Duplicate Formula!</mat-error>  || !selectedTable.length--> 
      <!-- (allowMultiColumn ? false: !tableName.valid  || !chips.length ? (!columnName.value || !columnName.valid || !queryTextarea.value || !queryTextarea.valid) : false -->
  </mat-form-field>
  <button mat-raised-button (click)="create()" [disabled]="invalidTables || !tableName.value || (!allowMultiColumn ? (!tableName.valid  || !columnName.value || !columnName.valid || !queryTextarea.value || !queryTextarea.valid)  : !chips.length ? (!columnName.value || !columnName.valid || !queryTextarea.value || !queryTextarea.valid) : false)">Create</button>

</mat-card>