<div class="modal fade" id="calculatedColumn" tabindex="-1" role="dialog" aria-labelledby="calculatedColumnId"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Add Calculated Column</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="table">
        <input type="text" class="form-control mb-3" [(ngModel)]="columnName" placeholder="Column name">

        <input type="text" class="form-control mb-3" list="columns" [(ngModel)]="selected" (change)="onSelect(selected)"
          placeholder="Search columns">
        <datalist id="columns">
          <option *ngFor="let col of table.mapped_column_name" [value]="col">{{col}}</option>
        </datalist>

        <p *ngIf="selectedColumns.length">Click on column names to add to formula</p>
        <span class="selected" *ngFor="let col of selectedColumns; let i=index" (click)="addToFormula(col)">{{col}}
          <button type="button" class="close" (click)="deleteSelectedColumn(i)" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </span>

        <p class="mb-0">Functions:</p>
        <div class="wrapper">
          <span class="action" *ngFor="let function of functions.mathematical" (click)="addToFormula(function)">{{function}}</span>
          <span class="action bg-secondary border border-secondary text-white">More Functions</span>
        </div>

        <p class="mb-0">Formula:</p>
        <div class="wrapper">
          <span class="selected" *ngFor="let col of formulaColumns; let i=index" (click)="deleteFormulaColumn(i)">{{col}}</span>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Create Calculated Column</button>
      </div>
    </div>
  </div>
</div>