/*-----------------Main css------------*/

.main-tool-body-header {
    margin-left: 1.5vw;
}

.main-tool-body-content {
    height: 58.5vh;
    width: 91vw;
    border: 1px solid rgb(175, 175, 175);
    margin-left: 1.5vw;
    overflow-y: hidden;
    overflow-x: hidden;
}

.heading {
    width: 91.5vw;
    float: left;
    height: 100%;
    padding-bottom: 1.5vh;
}

.caption-style {
    font-size: 150%;
    font-weight: bold;
}

.docs :hover{
    color: cadetblue;
}

.icons {
    height: 100%;
    float: right;
    text-align: right;
}

.buffer {
    height: 20%;
    width: 100%;
}

b {
    height: 100%;
    font-size: 100%;
}

.material-icons {
    width: fit-content;
    float: right;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
}

.press {
    height: 100%;
    width: fit-content;
    font-size: 2em;
    float: left;
    cursor: pointer;
}

.information{
    padding: 2%;
    max-height: 57vh;
    overflow-y:auto;
}

.main-style {
    font-size: 1.5rem
}

.display-none {
    display: none;
}

a {
    color: blue;
    text-decoration: underline;
}

a:hover {
    color: rgb(2, 136, 173);
}

a:active {
    color: rgb(2, 136, 173);
}

.save-text-ddm {
    margin: 1% 0% 1% 2%;
}

.container-fluid {
    margin: auto;
    text-align: left;
    padding:0 0 0 2%;
    display: flex;
    align-items: center;
    height: 15%;
}

.ref-styling {
    height: auto;
    min-height: 2vh;
    margin-bottom: 10px;
}

.editButton {
    background: transparent;
    border: none;
    float: right;
    padding-right:0px;
}

.quillEditor{
    position: relative;
    padding: 3px;
}

.help_logo{
    width: 15%;
}

.modal-title {
    margin-bottom: auto;
    margin-top: auto;
}

.press button {
    background: transparent;
    border: none;
}
.icon-cont{
    display: inline-block;
    height: 100%;
    position: relative;
    width: 17px;
}

h3 {
    margin-top : 0vh;
}