<!-- Button trigger modal -->

<!-- Modal -->
<div *ngIf="content">
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" style="overflow: hidden">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img class="logo" src="/assets/OFT_Logo.jpg">
          <h4 class="modal-title" id="exampleModalLabel">Add Document Name and its url</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <p _ngcontent-c1="" class="mandatory-fields" style="float:left">*Required Fields</p>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="document-name" class="col-form-label">Document Name<span _ngcontent-c1=""
                  class="mandatory-fields">*</span>:</label>
              <span style="color: red;">Max limit 50 characters</span>
              <input type="text" class="form-control" id="document-name" maxlength="50" value="" required>
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">URL<span _ngcontent-c1=""
                  class="mandatory-fields">*</span>:</label>
              <input type="url" placeholder="https://example.com" pattern="https://.*" size="30" class="form-control"
                id="document-url" value="" required>
            </div>
            <div class="form-group" title="Please upload a file of CSV/WORD/EXCEL format!">
              <input type="checkbox" id="uploadCheckbox" (click)="upload(isChecked)" [checked]="isChecked">&nbsp;&nbsp;
              <label for="upload-doc" class="col-form-label">Upload Document<span _ngcontent-c1=""
                  class="mandatory-fields">*</span>:</label>
              <input id="attach-file1" name="attach-file1" type="file" style="margin-left: 20px;display:inline;"
                disabled>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="close_modal" data-dismiss="modal">Close</button>
          <ng-container>
            <button type="button" class="btn btn-success" (click)="addDocument()">Save
              changes</button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="main-tool-body-header">
    <div class="heading">
      <div class="buffer">
      </div>
      <div class="caption-style">
        <b>DDM Administrator Reference Materials</b>
      </div>
      <div class="buffer">
      </div>
    </div>

    <div class="icons">
      <div class="press" *ngIf="user_role == 'Admin'">
        <a data-toggle="tooltip" title="EDIT" (click)="editTrue()"><i id="ic" class="material-icons">mode_edit</i></a>
      </div>
      <div class="press">
        <button data-target="#helpModal" data-toggle="modal" data-backdrop="static" style="padding-right:0px;">
          <a data-toggle="tooltip" title="HELP"><i id="ic" class="material-icons">help_outline</i></a>
        </button>
      </div>
    </div>
  </div>
  <div class="main-tool-body-content">
    <div class="information">
      <div id="editable">
        <div class="container-fluid" *ngIf="editMode">
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" data-backdrop="static"
            (click)="NewDoc()">
            Add a Reference Material
          </button>
          <br><br>
        </div>

        <div class="ref-styling row" [id]="'editable'+i" *ngFor='let element of naming; let i = index'>
          <div class="col-7">
            <a [id]="'ref_doc'+element.ddm_rmp_desc_text_admin_documents_id" data-toggle="tooltip"
              title="{{element.url}}" target="_blank" href="{{element.url}}">
              {{element.title}}
            </a>
          </div>

          <div class="col-2" style="padding-bottom: 6px; display:flex;justify-content: start">
            <a [id]="'delete'+element.ddm_rmp_desc_text_admin_documents_id"
              (click)="deleteDocument(element.ddm_rmp_desc_text_admin_documents_id,i)" *ngIf="editMode">
              <i id="ed" class="material-icons" style="font-size:2rem;cursor: pointer;">delete</i>
            </a>
            <a data-toggle="modal" data-target="#exampleModal" *ngIf="editMode" data-backdrop="static"
              (click)="editDoc(element.ddm_rmp_desc_text_admin_documents_id,element.title,element.url,i)">
              <i id="ed" class="material-icons" style="font-size:2rem;cursor: pointer;">mode_edit</i>
            </a>
          </div>
        </div>

        <div class="ref-styling row" [id]="'upload_doc'+i" *ngFor='let element of isAdmin.docs;let i = index'>
          <div class="col-7">
            <a [id]="'download_doc'+element.file_id" class="docs" target="_blank" data-toggle="tooltip"
              title="{{element.uploaded_file_name}}" (click)="getLink(element.file_id)"
              style="color: blue;cursor:pointer;">
              <u>{{element.uploaded_file_name}}</u>
            </a>
          </div>

          <div class="col-2" style="padding-bottom: 6px; display:flex;justify-content: start">
            <a [id]="'delete'+element.file_id" (click)="delete_upload_file(element.file_id,i)" *ngIf="editMode">
              <i id="ed" class="material-icons" style="font-size:2rem;cursor: pointer;">delete</i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!------------------------------------Help Modal------------------------------ -->

  <div class="modal fade " id="helpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header" style="justify-content: flex-start;">
          <img class="logo" src="/assets/OFT_Logo.jpg">
          <h5 class="modal-title help-title">Help</h5>
        </div>
        <div class="modal-body display-notes-scroll-modal">
          <div class="row">
            <div class="col-9">
              <button class="btn btn-success save-text-ddm" (click)="content_edits()" id="admin-save" *ngIf="editModes"
                style="margin-right:3%">Saves</button>
              <button class="btn btn-danger save-text-ddm" (click)="edit_True()" *ngIf="editModes">Cancel</button>
            </div>
            <div class="col-3" style="padding-left:12%;">
              <button *ngIf="user_role == 'Admin'" id="edit_button" class="editButton" (click)="editEnable()">
                <a data-toggle="tooltip" title="EDIT"><i id="ic" class="material-icons"
                    style="font-size:3rem;">mode_edit</i></a>
              </button>
            </div>
          </div>
          <div class="quillEditor">
            <quill-editor class="quill" [(ngModel)]='namings' [modules]='config' [readOnly]='readOnlyContentHelper'
              (onContentChanged)='textChanged($event)'></quill-editor>
          </div>
        </div>
        <div class="modal-footer modal-footer-pad">
          <button type="button" id="modal_close_button" class="btn btn-secondary" (click)="edit_true()" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!(content)" style="height:100%;width:100%;">
  <mat-spinner style="height:100%;width:100%;"></mat-spinner>
</div>

<button id="errorTrigger" data-toggle="modal" data-backdrop="static" data-target="#errorModal" style="display:none">Error</button>
<div class="modal fade " id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" style="z-index: 10000">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Alert!</h3>
      </div>
      <div class="modal-body" id="errorModalMessage">
      </div>
      <div class="modal-footer">
        <button type="button" id="modal_close_button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>