<!-- <form [formGroup]="myForm" class="target-date">
  <mat-form-field>
    <mat-label>Choose a start date</mat-label>
    <input matInput [matDatepicker]="startDatepicker"  
           (dateInput)="startDateEvent('input', $event)" 
           formControlName="startDate">
    <mat-datepicker-toggle matSuffix [for]="startDatepicker"></mat-datepicker-toggle>
    <mat-datepicker [dateClass]="dateClass" #startDatepicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Choose a end date</mat-label>
    <input matInput [matDatepicker]="endDatepicker" 
          (dateInput)="endDateEvent('input', $event)" 
          formControlName="endDate" [errorStateMatcher]="matcher">
    <mat-datepicker-toggle matSuffix [for]="endDatepicker"></mat-datepicker-toggle>
    <mat-datepicker [dateClass]="dateClass" #endDatepicker></mat-datepicker>
    <mat-error *ngIf="myForm.hasError('endDateLessThanStartDate')">
          End date cannot be earlier than start date
     </mat-error>
  </mat-form-field>
</form> -->