<mat-form-field class="" style="width: 100%;" id="ngChips">
  <mat-chip-list #chipList aria-label="Chip selection">
    <mat-chip *ngFor="let chip of chipsEntered" [selectable]="selectable" [removable]="removable"
      (removed)="remove(chip)">
      {{ chip }}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input (paste)="onPaste($event)" [placeholder]="custom_placeholder" [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
      (input)="textEntered($event)" (matChipInputTokenEnd)="add($event)" name="chipInput">
  </mat-chip-list>
  <mat-hint *ngIf="type==='fan'" class="hint-styles">*Only Applicable for Vehicle Event Status Requests</mat-hint>
  <mat-hint *ngIf="!isTextValid" style="color: red;">Your items should be strictly numericals of 6 digits or more
  </mat-hint>
</mat-form-field>