.modal-footer {
    margin-top: 0 !important;
}

.p-left {
    padding-left: 5%;
}

.m-left {
    margin-left: 2%;
}

.modal-body {
    /* overflow-y: auto;
    max-height: 150px; */
    /* height:  calc(100vh - 390px); */
    overflow: auto;
    height: 201px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

.m-right {
    margin-right: 20px;
}

#info {
    float: right;
    background-color: transparent;
    padding: 0
  }
  
  #info svg {
    width: 24px;
    height: 24px;
  }

.mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option {
    height: 2em !important;
}

.filter-input {
    padding: 10px;
}