<div class="modal-container">
  <div class="modal-body">
    <!-- <form #relationsForm="ngForm"> -->
    <form>
      <mat-list-item style="width: 50px;" *ngFor="let item of privilegeItems">{{item.name}}&nbsp;&nbsp;{{item.parameter}}<input type="number" min="1">
        <mat-divider></mat-divider>
      </mat-list-item>
    </form>
  </div>
  <div class="modal-footer">
    <button mat-raised-button (click)="onCreate()" [disabled]="">
      <span>Apply</span>
    </button>
    <button mat-raised-button class="m-right" (click)="onNoClick();">Cancel</button>
  </div>
</div>