<div id="reports-nav" class="mt-1">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" routerLink="./sem-reports/home" routerLinkActive="active-route"
        [routerLinkActiveOptions]="{ exact: true }">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">File</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Modify</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Insert</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="./sem-reports/create-report" routerLinkActive="active-route"
        [routerLinkActiveOptions]="{ exact: true }">Create Report</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Tools</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Data</a>
    </li>
  </ul>
</div>