<div id="reports-nav" class="mt-1">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['./sem-reports/home']">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="">File</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="">Modify</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="">Insert</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['./sem-reports/create-report']">Create Report</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="">Tools</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="">Data</a>
    </li>
  </ul>
</div>