<div class="modal-container">
  <div class="modal-body">
    <form #relationsForm="ngForm">
      <mat-form-field>
        <mat-label>Select Left Table</mat-label>
        <mat-select [(ngModel)]="leftTable" name="leftTable" (selectionChange)="setSelectedTable(leftTable, 'left')" (openedChange)="isOpened($event,'table')" required>
          <input matInput placeholder="Search Left Table" class= "filter-input" name="leftSearch" 
          [(ngModel)]="leftSearch" (input)="filterTable(leftSearch)"/>
          <mat-optgroup label="Tables" [hidden]="!tables['tables'].length">
            <mat-option *ngFor="let table of tables['tables']" [value]="table['sl_tables_id']" 
                        title="{{ table.mapped_table_name | spaceFormater | uppercase }}">
              {{table.mapped_table_name | spaceFormater | uppercase}}
            </mat-option>
          </mat-optgroup>
          <mat-optgroup label="Custom Tables" [hidden]="!tables['customTables'].length">
            <mat-option *ngFor="let table of tables['customTables']" [value]="table['custom_table_id']"
                         title="{{table.custom_table_name | spaceFormater| uppercase}}">
              {{table.view_to_admins ? (table.custom_table_name | spaceFormater | uppercase) : ''}}
            </mat-option>
          </mat-optgroup>
          
        </mat-select>
      </mat-form-field>
      <mat-form-field class="p-left">
        <mat-label>Select Join</mat-label>
        <mat-select [(ngModel)]="joinKey" name="join" required>
          <mat-option *ngFor="let join of joins" [value]="join" title="{{join}}">
            {{join}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="p-left">
        <mat-label>Select Right Table</mat-label>
        <mat-select [(ngModel)]="rightTable" name="rightTable" (openedChange)="isOpened($event,'table')" (selectionChange)="setSelectedTable(rightTable, 'right')" required>
          <!-- <mat-option *ngFor="let table of tables" [value]="table['sl_tables_id']" title="{{table.mapped_table_name}}">
            {{table.mapped_table_name}}
          </mat-option> -->
          <input matInput placeholder="Search right Table" class= "filter-input" name="rightSearch" [(ngModel)]="rightSearch" (input)="filterTable(rightSearch)"/>          
          <mat-optgroup label="Tables" [hidden]="!tables['tables'].length">
            <mat-option *ngFor="let table of tables['tables']" [value]="table['sl_tables_id']" 
                        title="{{table.mapped_table_name | spaceFormater | uppercase}}">
              {{table.mapped_table_name | spaceFormater | uppercase}}
            </mat-option>
          </mat-optgroup>
          <mat-optgroup label="Custom Tables" [hidden]="!tables['customTables'].length">
            <mat-option *ngFor="let table of  tables['customTables']" [value]="table['custom_table_id']" 
                        title="{{table.custom_table_name | spaceFormater | uppercase}}">
              {{table.custom_table_name | spaceFormater | uppercase}}
            </mat-option>
          </mat-optgroup>

        </mat-select>
      </mat-form-field>
      <button type="button" id="info" class="btn btn-sm" data-toggle="modal" data-target="#joinHelp">
          <svg viewBox="0 0 24 24">
            <path fill="#000000" d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
          </svg>
        </button>
      <div *ngFor="let key of keys; index as i; last as isLastKey; first as isFirstKey">
        <mat-form-field>
          <mat-label>Select Primary Key</mat-label>
          <mat-select [(ngModel)]="key.primaryKey" name="primaryKey-{{i}}" (selectionChange)="setSelectedColumn(key, 'primary')" (openedChange)="isOpened($event,'primary')" required>
            <input matInput placeholder="Search primary key" class= "filter-input" name="primarySearch" [(ngModel)]="primarySearch" (input)="filterKey(primarySearch,'primary')"/>
            <mat-option *ngFor="let column of LeftColumns| orderBy: 'column';" [value]="column['column']" 
                        title="{{ column['data_type'] }}">
              {{ column['column'] | spaceFormater }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="p-left">
          <mat-label>Select operator</mat-label>
          <mat-select [(ngModel)]="key.operator" name="operator-{{i}}" required>
            <mat-option *ngFor="let operator of operators" [value]="operator" title="{{operator}}">
              {{operator}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="p-left">
          <mat-label>Select Foreign Key</mat-label>
          <mat-select [(ngModel)]="key.foriegnKey" name="foriegnKey-{{i}}" (selectionChange)="setSelectedColumn(key, 'primary')" (openedChange)="isOpened($event,'foriegn')" required>
            <input matInput placeholder="Search foriegn key" class= "filter-input" name="foriegnSearch" [(ngModel)]="foriegnSearch" (input)="filterKey(foriegnSearch,'foriegn')"/>
            <mat-option *ngFor="let column of rightColumns| orderBy: 'column'" [value]="column['column']" 
                        title="{{ column['data_type'] }}">
              {{ column['column'] | spaceFormater }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-stroked-button mat-icon-button isRoundButton="true" aria-label="Add Key" (click)="addRow()" *ngIf="isLastKey" [disabled]="!(key.primaryKey && key.operator && key.foriegnKey) || diffDataType" class="m-left">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-stroked-button mat-icon-button aria-label="Delete join" class="m-left" isRoundButton="true" (click)="deleteRow(i)" [disabled]="checkOneRelation()">
          <mat-icon>delete</mat-icon>
        </button>
        <mat-error *ngIf="key.diffDataType">Primary key and foreign key cannot be of different data types</mat-error>
      </div>
    </form>
  </div>
  <div class="modal-footer">
   
      <label>Save as Name: </label>
      <mat-form-field class="display-block m-left">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="relation.name" #relName="ngModel" name="relationName" (input)="checkDuplicate(relation.name)" required/>
        <mat-error *ngIf="!relName.valid">Duplicate!</mat-error>
      </mat-form-field>

      <label class=" m-left">Description: </label>        
      <mat-form-field class="display-block m-left">
        <mat-label>Description</mat-label>
        <input matInput [(ngModel)]="relation.desc" name="relationDesc"/>
      </mat-form-field>

    <button mat-raised-button (click)="onCreate()" [disabled]="relationsForm.form.invalid || diffDataType || !relation.name || !relName.valid">
        <span *ngIf="!isEdit">Create</span>
        <span *ngIf="isEdit">Update</span>
      </button>
    <button mat-raised-button class="m-right" (click)="onNoClick();">Cancel</button>

  </div>
</div>
<app-joins-help-option></app-joins-help-option>