.modal-footer {
    margin-top: 0 !important;
}

.p-left {
    padding-left: 5%;
}

.m-left {
    margin-left: 2%;
}

.modal-body {
    overflow-y: auto;
    max-height: 150px;
}

.m-right {
    margin-right: 20px;
}