.modal-footer {
    margin-top: 0 !important;
}

.p-left {
    padding-left: 5%;
}

.m-left {
    margin-left: 2%;
}

.modal-body {
    /* overflow-y: auto;
    max-height: 150px; */
    height:  calc(100vh - 390px);
    overflow: auto;
}

.m-right {
    margin-right: 20px;
}
