.active > button.btn.btn-primary {
  background-color: linear-gradient(rgb(12, 55, 98), rgb(10, 91, 173));
  background-image: linear-gradient(rgb(12, 55, 98), rgb(10, 91, 173));
  color: white;
}
.body-rmp {
  background-color: rgb(202, 206, 209);
  height: 87vh;
  padding: 20px;
  width: 100%;
}

.holder {
  background: rgb(202, 206, 209);
  height: 83vh;
  width: 100%;
  padding-left: 5%;
}

.background-color {
  background-color: rgb(202, 206, 209);
}

.routing-dimensions {
  width: 100vh;
  height: 83vh;
  background: white;
}

.tab-style {
  width: 85%;
  height: 100%;
  background-color: rgb(202, 206, 209);
}

.default {
  width: 14.15%;
  height: 100%;
  background-color: rgb(202, 206, 209);
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-left: 30px;
  padding-top: 10px; */
}

.tool-header {
  height: 10%;
  background-color: rgb(202, 206, 209);
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

/*Centralized calendar in Admin notes*/

.calendar-styling {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}

.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

span[_ngcontent-c4] {
  color: black;
}

.tab {
  overflow: hidden;
  background-color: transparent;
  height: 100%;
  width: 75%;
}

.tab button {
  background-color: rgb(221, 221, 221);
  background-image: linear-gradient(rgb(237, 237, 237), rgb(254, 254, 252));
  float: left;
  border: 0.5px solid rgb(104, 103, 103);
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 95%;
  height: 100%;
  width: 17.649%;
  color: black;
  border-radius: 0;
  white-space: normal;
  text-overflow: ellipsis;
  padding: 0px;
}

.tab button:hover,
.tabs button:hover {
  background-color: rgb(247, 246, 246);
}

.tab button.active,
.tabs button.active {
  background-color: rgb(247, 246, 246);
  background-image: linear-gradient(rgb(12, 55, 98), rgb(10, 91, 173));
}

.main-tool-body-header {
  height: 10%;
  width: 95%;
  margin-left: 2.5%;
}

.heading {
  width: 60%;
  float: left;
  height: 100%;
}

.caption-style {
  height: 50%;
  width: 100%;
}

.icons {
  widows: 40%;
  height: 100%;
  float: right;
  align-content: center;
}

.on-behalf-button {
  float: right;
  height: 5vh;
  margin-right: 2%;
  margin-top: 0.5%;
  position: absolute;
  width: 12%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-content-ob {
  background: whitesmoke;
}

.on-behalf-cancel {
  width: 30%;
}

.add-notes {
  overflow-y: auto;
  overflow-x: hidden;
}

.on-behalf-confirm {
  width: 30%;
}

img {
  width: 20%;
  height: 100%;
  float: left;
}

.mandatory-fields {
  color: red;
}

.btn .btn-primary {
  color: white;
}
.PADDR5PX {
  padding-right: 5px;
}

.prev-notes {
  width: 100%;
}

