<!-- <div class="container"> -->
    <!-- <div class="row" style="margin-top:5%;"> -->
            <app-header> </app-header>
        <div class="container" id="holder" style="margin-top:3%;">
            <div id="tool-header" class="flex-container row" style="background-color: rgb(00,78,99);">
                <div style="width:15%;height: 100%;background-color: rgb(00,78,99);">
                
                </div>
                <div style="width:85%;height: 100%;background-color: rgb(00,78,99);">
                    <div class="tab">
                        <button class="btn btn-primary">Main Menu</button>
                        <button class="btn btn-primary">Submit Request</button>
                        <button class="btn btn-primary">Request Status</button>
                        <button class="btn btn-primary">Reports</button>
                        <button class="btn btn-primary">Metrics</button>
                    </div>
                </div>    
            </div>
            <div></div>

            <div id="tool-body" class="flex-container row">
    <!--                            Left Tabs                                 -->
                <div id="left-tabs">
                    <div class="tabs">
                        <button class="btn btn-primary">What is DDM?</button>
                        <button class="btn btn-primary">User Profile</button>
                        <button class="btn btn-primary">DDM Team</button>
                        <button class="btn btn-primary">Reference Documents</button>
                        <div *ngIf ="roles.role_id == 1 || roles.role_id == 2">
                <button >DDM {{roleName.role_name}}istrator </button>
            </div>
           
          
                <div *ngIf ="roles.role_id == 1 || roles.role_id == 2"> 
                <button type="button" (click)="rolem()">Go To Tool </button>
                        
                </div>

                    </div>
                </div>
            </div>
        
        </div>
  
        <!-- <app-footer> </app-footer> -->
        