table {
  width: 100%;
}

.table-container {
  max-height: 90%;
  overflow: auto;  
}

:host {
  height: 100%;
}

.search-icon {
  font-size: 18px;
  padding-left: 8px;
}

.no-data {
  position: absolute;
  top: 50%;
  left: 50%;
}

#column-search {
  display: block;
  width: 100%;
}

.mat-header-cell{
  background-color: #ccc;
}

th {
  font-weight: bold;
  font-size: 14px;
}

.table-paginator {
  position: absolute;
  bottom: 0;
  width: 100%;
}