table {
  border-collapse: collapse;
  width: 100%;
}

th {
  // position: relative;
  position: sticky;
  top: 0
}

th,
td {
  height: 36px;
  text-align: center;
}

.table-container {
  max-height: 90%;
  overflow: auto;
}

:host {
  height: 100%;
}

.vertical-super {
  vertical-align: super;
}

.font-20 {
  font-size: 20px;
}

.search-icon {
  font-size: 18px;
  // color: #000000;
  padding-left: 8px;
}

.no-data {
  position: absolute;
  top: 50%;
  left: 50%;
}

#column-search {
  display: block;
  width: 100%;
}