.options-menu{
    position: absolute;
    right: 0px;
    margin: 6px;
    top: 0px;
}
.save-chart-btn{
    position: absolute;
    right: 89px;
    margin: 6px;
    top: 0px;
}
.report-title{
    position: absolute;
    left: 5px;
    margin: 6px;
    top: 5px;
    font-size: 28px;
    cursor: pointer;
}
.tooltip-config{
    background: red !important;
}