/* .options-menu{
    position: absolute;
    right: 0px;
    margin: 6px;
    top: 0px;
}
.save-chart-btn{
    position: absolute;
    right: 89px;
    margin: 6px;
    top: 0px;
}
.add-sheet-menu{
    position: absolute;
    right: 201px;
    margin: 6px;
    top: 0px;
} */
.options-container-btn{
    position: absolute;
    right: 0px;
    margin: 6px;
    top: 0px;
}
.icons-container{
    position: absolute;
    left: 12px;
    margin: 6px;
    top: 5px;
}
.report-icon{
    font-size: 28px;
    cursor: pointer;
}
/* .tooltip-config{
    background: red !important;
} */