.modal-body {
  min-height: 300px;
  height: 300px;
  overflow-y: auto;
}

.modal .modal-dialog {
  min-width: 1000px;
  width: 1000px;
  margin: 0 auto;  
}

select {
  height: 34px !important;
}

#no-data{
  margin-top: 6em;
  font-size: 1.1em;
  text-align: center;
}