#top-buttons{
  width:100;
  height:10%;
  background-color: #004e63;
  border-radius: 30%;
  padding:0px;
  font-size: 90%;
  
}


.tpbt {
  border:none;
  /* background-color: rgb(33, 150, 243); */
  border-radius: 5%;
  color:white;
  width: 15%;
  text-align: center;
  font-size: 1vw;
  cursor: pointer;
  transition: 0.3s;
  /* margin: 12px 0px 0px 20px; */
  background-color:rgb(87, 178, 252);
  padding : 0.25vh 0vh 0.25vh 0vh;
}

.tpbt2 {
  border:none;
  /* margin:1vh; */
  /* background-color: rgb(33, 150, 243); */
  border-radius: 5%;
  color:white;
  width: 15%;
  text-align: center;
  font-size: 1vw;
  cursor: pointer;
  transition: 0.3s;
  /* margin: 12px 0px 0px 20px; */
  background-color:rgb(87, 178, 252);
  padding : 0.25vh 0px 0.25vh 0vh;
  position: absolute;
  left:60vh;
}
  /* #tpbt:hover {
    
    background-color: rgb(87, 178, 252);
    color:white;
  }

  #tpbt:focus {
    
    background-color: rgb(87, 178, 252);
    color:white;
  }


  #tpbt:active {
    
    background-color: rgb(87, 178, 252);
    color:white;
  } */

