<div id="display-area" style="width:100%;height:74.5%;background:#004e63;">
    <div id="top-buttons"> 
      <a routerLink="sem-existing"><button id="existing" class="tpbt" (click)="existingSM()">Semantic Layers</button></a>
      <a routerLink="sem-new"><button id="new" class="tpbt" (click)="newSM()">Create new semantic Layer</button></a> 
    </div> 
    <div style="margin-left:20px">
      <router-outlet style="background-color:#004e63"></router-outlet>
    </div>
</div>
<!-- <app-footer style="height: 10vh"></app-footer> -->