.ssl-styles{
  color: black;
  border: solid black 0.5px;
  border-radius: 9px;
}

.ssl-styles:hover,
.ssl-styles:focus {
  border: solid #0056b3 0.5px;
  border-radius: 9px;
  color:#0056b3;
}

.ssl-d1styles{
  min-height: 100%;
  background:#f1f1f1;
  padding: 30px;
}

.ssl-ulstyles{
  margin-left: 1.55%;
}

.ssl-d2styles{
  margin-top: 20px;
}

.spinner{
  text-align: center;
  margin: 15em auto;
}