.ssl-styles{
  color: black;
  border: solid black 0.5px;
  border-radius: 9px;
  background-color: rgb(221, 221, 221);
  background-image:linear-gradient(rgb(237, 237, 237), rgb(254, 254, 252))
}

.ssl-styles:hover,
.ssl-styles:focus {
  border: solid #0056b3 0.5px;
  border-radius: 9px;
  color:white;
  background-image: linear-gradient(rgb(12, 55, 98), rgb(10, 91, 173));
}

.active{
  color:white;
  background-color: rgb(247, 246, 246);
  background-image: linear-gradient(rgb(12, 55, 98), rgb(10, 91, 173));
  background-color: red;
}

.ssl-d1styles{
  min-height: 100%;
  height: 100%;
  width: 90%;
  background:#f1f1f1;
  padding: 15px;
}

.ssl-ulstyles{
  margin-left: 1.55%;
}

.ssl-d2styles{
  height: 85%;
  /* margin-top: 20px; */
}

.spinner{
  text-align: center;
  margin: 15em auto;
}
