<!-- Modal -->
<div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="delete_modalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete_modalTitle">Column Properties</h5>
      </div>


      <div class="modal-body">
        <table style="width:100%">
          <tr class="header"> 
            <th>Attribute</th>
            <th>Value</th> 
          </tr>
          <tr>
            <td>Jill</td>
            <td>Smith</td> 
          </tr>
          <tr>
            <td>Eve</td>
            <td>Jackson</td> 
           </tr>
        </table>
      </div>



      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>