input {
  font-size: 14px;
  color: black;
}

input[readonly] {
  border: none;
  background: none;
  color: #FFF;
}

.semantic-name {
  font-size: 18px;
  width: 72%;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 10px 10px 10px 0;
}

.table-ellipsis {
  width: 74.5%;
  text-overflow: ellipsis;
}

.column-ellipsis {
  width: 75.5%;
  text-overflow: ellipsis;
}

.pointer{
  text-decoration: underline;
  color: blue !important;
  cursor: pointer;
}

.w-67 {
  width: 67%;
}
