<app-header>     </app-header>
 <body> <div class="dropdown">
   
      <select  class="btn btn-primary dropdown-toggle" type="button" style=" padding-right:5%;font-size:1.2em;width:30%" (change)= "fun($event)">

        <option  class="fa fa-caret-down"  style="font-size:1.2em;display:none;">Choose Semantic Layer</option>
          <option  style="word-wrap: break-word;font-size:1.2rem; padding-left:20px;padding-right:5%;" *ngFor ="let item of sem"  [(ngValue)]="item.sl_name">
            {{item.sl_name}} 
           </option>
          </select>
  </div>
  
  
  
  <!-- The code without padding /*try removing the styles of img to get circle*/-->
   <!-- <div class="col-sm-3 dlp-rmp-styles">
      <a routerLink="rmp">
        <button class="ddm-lp-button1" >
          <img class="ddm-lp-imgstyles" src="..\assets\account-multiple.png">
          <p class="pstyles"  >Request <br> Management <br> Portal</p>
        </button>
      </a>
    </div>
    <div class="col-sm-3 dlp-rep-styles" >
    
          <button class="ddm-lp-button1" >
            <img class="ddm-lp-imgstyles" src="..\assets\file-document.png" >
            <p class="pstyles"  >Reports<br> <br> <br></p>
          </button>
    
    </div>
  
    <div class="col-sm-3 dlp-sl-styles">
        <a routerLink="semantic">
          <button class="ddm-lp-button1" >
            <img class="ddm-lp-imgstyles" src="..\assets\view-list.png">
            <p class="pstyles"  >Semantic<br>Layer<br><br> </p>
          </button>
        </a>
    </div>
  
    <div class="col-sm-3 dlp-dqm-styles">
    
          <button class="ddm-lp-button1" >
            <img class="ddm-lp-imgstyles" src="..\assets\certificate.png" >
            <p class="pstyles"  >DQM<br><br><br> </p>
          </button>
    
    </div>
     -->



     <div class="col-sm-12">
      <div class="col-sm-3 dlp-rmp-styles">
         <a routerLink="rmp">
           <button class="ddm-lp-button1" >
             <img class="ddm-lp-imgstyles" src="..\assets\account-multiple.png">
             <p class="pstyles"  >Request <br> Management <br> Portal</p>
           </button>
         </a>
       </div>
       <div class="col-sm-3 dlp-rep-styles" >
           <!-- <a routerLink="rmp"> -->
             <button class="ddm-lp-button1" >
               <img class="ddm-lp-imgstyles" src="..\assets\file-document.png" >
               <p class="pstyles"  >Reports<br> <br> <br></p>
             </button>
           <!-- </a> -->
       </div>
     
       <div class="col-sm-3 dlp-sl-styles">
             <button class="ddm-lp-button1" (click)="callSemanticlayer()" >
               <img class="ddm-lp-imgstyles" src="..\assets\view-list.png">
               <p class="pstyles"  >Semantic<br>Layer<br><br> </p>
             </button>
       </div>
     
       <div class="col-sm-3 dlp-dqm-styles">
           <!-- <a routerLink="rmp"> -->
             <button class="ddm-lp-button1" >
               <img class="ddm-lp-imgstyles" src="..\assets\certificate.png" >
               <p class="pstyles"  >DQM<br><br><br> </p>
             </button>
           <!-- </a> -->
       </div>
     </div>
     </body>
<app-footer> </app-footer>