<!-- <app-header></app-header>

<div class="sem-dropdown">

  <div class="dropdown-toggle">
    <select class="btn btn-primary dropdown-toggle" [ngClass]="{awesome:!isButton && isBlink  }" (click)="toggle()"
      type="button" style="font-size:1.2em;width:17%">
      <option class="fa fa-caret-down" style="font-size:1.2em;display:none;width: 15%;padding: 0 0 0 0.5vh;">Choose
        Semantic Layer {{buttonName}} </option>
      <option style="word-wrap: break-word;font-size:1.2rem;" *ngFor="let item of semanticNames" [(ngValue)]="item.sl_name">
        {{item.sl_name}}
      </option>
    </select>
  </div>

  <div class="col-sm-12">
    <div class="col-sm-3 dlp-rmp-styles">
      <a>
        <button class="ddm-lp-button1" (click)="callRMP()">
          <img class="ddm-lp-imgstyles" src="..\assets\account-multiple.png">
          <p class="pstyles">Request <br> Management <br> Portal</p>
        </button>
      </a>
    </div>
    <div (mouseover)="blinking()" (mouseout)="blinking()" class="col-sm-3 dlp-rep-styles">
      <button [disabled]="!isButton" title="{{!isButton ? 'Please choose a Semantic Layer':''}}" class="ddm-lp-button1">
        <img class="ddm-lp-imgstyles" src="..\assets\file-document.png">
        <p class="pstyles">Reports<br> <br> <br></p>
      </button>
    </div>
    <div (mouseover)="blinking()" (mouseout)="blinking()" class="col-sm-3 dlp-sl-styles">
      <button [disabled]="!isButton" title="{{!isButton ? 'Please choose a Semantic Layer':''}}" class="ddm-lp-button1"
        (click)="callSemanticlayer()">
        <img class="ddm-lp-imgstyles" src="..\assets\view-list.png">
        <p class="pstyles">Semantic<br>Layer<br><br> </p>
      </button>
    </div>
    <div (mouseover)="blinking()" (mouseout)="blinking()" *ngIf="roles.role_id == 1" class="col-sm-3 dlp-dqm-styles">
      <button [disabled]="!isButton" title="{{!isButton ? 'Please choose a Semantic Layer':''}}" class="ddm-lp-button1">
        <img class="ddm-lp-imgstyles" src="..\assets\certificate.png">
        <p class="pstyles">DQM<br><br><br> </p>
      </button>
    </div>
  </div>
</div>
<app-footer class="footer-height"></app-footer> -->
