
  <div class="dropdown">
   
      <select  class="btn btn-primary dropdown-toggle" type="button" style=" padding-right:5%;font-size:1.2em;width:30%" (change)= "fun($event)">

        <option  class="fa fa-caret-down"  style="font-size:1.2em;display:none;">Choose Semantic Layer</option>
          <option  style="word-wrap: break-word;font-size:1.2rem; padding-left:20px;padding-right:5%;" *ngFor ="let item of sem"  [(ngValue)]="item.sl_name">
            {{item.sl_name}} 
           </option>
          </select>
  </div>
  
  <div class="containter-fluid">
    <div class="row" id="button-row">
      <div class="col-sm-3" id="RMP">
        <a routerLink="rmp">
          <button class="button1" style="text-align:center;">
            <img src="..\assets\account-multiple.png" style="height:50%;width:50%">
            <p style="font-size:1rem; text-align:center; position: relative;margin: 0%" >Request <br> Management <br> Portal</p>
          </button>
        </a>
      </div>
      <div class="col-sm-3" id="Report">
        <button class="button2" style="text-align:center;">
          <img src="..\assets\file-document.png" style="height:50%;width:50%;padding-top:5%">
          <p style="font-size:1rem; text-align:center; position: relative;margin: 0%">Reports</p>
        </button>
      </div>
      <div class="col-sm-3" id="SL">
       
          <button class="button1" style="text-align:center;" (click)="choose()">
            <img src="..\assets\view-list.png" style="height:50%;width:50%">
            <p style="font-size:1rem; text-align:center; position: relative;margin: 0%" >Semantic <br> Layer</p>
          </button>
      
      </div>
      <div class="col-sm-3" id="DQM">
        <div class="button2" style="text-align:center;">
          <img src="..\assets\certificate.png" style="height:50%;width:50%;padding-top:5%">
          <p style="font-size:1rem; text-align:center; position: relative;margin: 0%">DQM</p>
        </div>
      </div>
    </div>
  </div>