.btnToggle {
  /* position: absolute; */
  position: fixed;
  right: -1.5%;
  top: 40%;
  transform: rotate(90deg);
  margin-right: -1%;
  background-color: rgb(0, 100, 110);
  border: none;
  border-radius: 4px;
}

#moreOptionsSidebar {
  /* height: 80.9vh; */
  height: 82.4vh;
  background-color: rgb(87, 87, 87);
  color: #fff;
  width: 33vh;
  z-index: 1;
  position: relative;
}

.sidebar-header {
  text-align: center;
  background: rgb(102, 102, 102);
}

.sidebar-header a {
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  padding: 10px;
}

.wh-24 {
  width: 24px;
  height: 24px;
}

.w-5 {
  width: 5px;
}

.icon {
  background: transparent;
  border: none;
}

nav {
  font-size: 13px;
}

.lh40 {
  line-height: 40px;
}

.f17 {
  font-size: 17px;
}

.f14 {
  font-size: 14px;
}