<!--Modal1-->
<div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content second">
        <div class="modal-header">
            <h4 class="modal-title">Select tables from database</h4>
          </div>
          <div class="modal-body chkmodal">
              <div class="checkbox">
                  <label><input type="checkbox" value="">Vehicle Info</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" value="">Dealer Brand Allocation</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" value="">Table Return Data</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">Marketing Modal</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">Dealership Data</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">Transfer Data</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" value="">Data One</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">DB 1</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">Table 1</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">ZZZ</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">Table 2</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">Table 4</label>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-primary btnm" data-dismiss="modal">Cancel</button>
            <button data-toggle="modal" data-dismiss="modal" data-target="#myModal2" onmouseover="" style="cursor: pointer;" type="button" class="btn btn-primary mr-auto btnm">Add</button>
            
          </div>
      </div>
  </div>
</div>

<!--Modal 2-->
<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content confirmmodal">
        <div class="modal-body">
          <p style="font-size:125%;">Are you sure you want to add the tables?</p>
        </div>
        <div>
          <button type="button" class="btn btn-primary btnconfirm1" data-dismiss="modal" >No</button>
          <button data-toggle="modal" data-dismiss="modal" data-target="#myModal3" onmouseover="" style="cursor: pointer;" type="button" class="btn btn-primary btnconfirm2">Yes</button>
        </div>
      </div>
  
    </div>
  </div>

  <!--Modal 2-->
<div id="myModal3" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content confirmmodal">
        <div class="modal-body">
          <p style="font-size:125%;">Tables added successfully!</p>
        </div>
        <div>
        <button type="button" class="btn btn-primary btnsucess" data-dismiss="modal">Okay</button>
        </div>
      </div>
  
    </div>
  </div>

<!-- 
<div class="container-fluid top">
  <div class="row">
    <div class="col-sm-9">
      <a routerLink=""><img src="src\assets\OF Logo.jpg" alt="DDM_image" class="app-istyles" ></a><p class="app-tstyles">Distibution Data Mart</p>
    </div> -->
    <!-- <div class="col-sm-5 app-npstyles" >
    <h2 class="app-h2styles" ><p class="ddm-size">Distribution Data Mart</p></h2>
    </div> -->
<!-- 

<!-- <div class="container-fluid top">
  <div class="row">
    <div class="col-sm-9">
      <a routerLink=""><img src="src\assets\OF Logo.jpg" alt="DDM_image" class="app-istyles" ></a><p class="app-tstyles">Distibution Data Mart</p>
    </div>
  

    <div class="col-sm-3 a-user_logo_fun">
      <span class="app-spstyles" >John Doe</span>
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="user">
        <img src="..\assets\account.png" class="app-uistyles">
      </button>
    
      <div class="dropdown-menu" >
          <div class="astyles1" routerLinkActive="active" routerLink="roles">Roles and Responsibilties</div>
          <hr class="hrp">
          <div class="astyles2" routerLinkActive="active" routerLink="">Log out</div>
      </div>

    </div>
  </div>
</div> -->


<!-- Modal 1 -->
<div class="modal fade app-myModal" role="dialog">
  <div class="modal-dialog">
  <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
      
      <div class="modal-content-1">
        <div class="img2">
            <img src = './assets/role.png' class="app-istyles2" >
        </div>
        <div class="app-mdstyles"> 
          <a data-toggle="modal" data-target="#myModal1" data-dismiss="modal" onmouseover="" class="app-mastyles" >  
            <p>Roles</p>
        </a>
      </div>
      </div>

      <div class="modal-content-2">
        <div class="img2">
                <img src = './assets/padlock.png' class="app-istyles2">
            </div>
            <div class="app-mdstyles">  
                <p>Security</p>
          </div>
          </div>

      <div class="modal-content-2">
                <div class="img2">
                    <img src = './assets/rhombus.png' class="app-istyles2">
                </div>
                <div class="app-mdstyles">
                    <a data-toggle="modal" data-target="#myModalP" data-dismiss="modal" onmouseover="" class="app-mastyles">       
                      <p>Privileges</p>
                    </a>
              </div>
      </div>
    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default">OK</button>
      </div>
    </div>

  </div>
</div>


<app-modal-roles></app-modal-roles>

<app-modal-privilege></app-modal-privilege>




<main class="container-fluid body">
  <router-outlet></router-outlet>
</main>


<!-- <div class="container-fluid ap-bottom" >    
  <div class="row">
    <div class="col-9">
      <img src="./assets/Mu.jpg">
    </div>
    <div class="col-3 ap-copyrights">
      <p>&copy; Privacy Policy</p>
    </div>
  </div>
</div> -->
    
    
    
    
    
    
    


