<app-header></app-header>

<body class="mat-body-styles">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-1 fa fa-arrow-left ml-3 mt-3" (click)="routeBack()"></div>
      <div class="col-xs-3"></div>
      <div class="col-xs-4">
        <b class="bsizing">Log Entry</b>
      </div>
    </div>
    <div class="dropdown">
      <mat-select style="padding-left: 21px;" [(ngModel)]="selected" (selectionChange)="onSelect($event)">
        <mat-option *ngFor="let select of selections" [value]="select"><b>{{select}}</b></mat-option>
      </mat-select>
    </div>
    <div>
      <label style="margin-left: 68px;">Choose Start date :</label>
      <mat-form-field class="selectionDates">
        <input style="margin-left: 4px;" matInput [matDatepicker]="picker1" [value]="date.value" disabled
          (dateChange)="addEvent1($event)">
        <!-- [min] ="minDate" [max]="maxDate" -->
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1 disabled="false" startView="month" [startAt]="startDate"></mat-datepicker>
      </mat-form-field>

      <label>Choose End date :</label>
      <mat-form-field class="selectionDates">
        <input style="margin-left: 4px;" matInput [matDatepicker]="picker2" [max]="maxDate" [value]="defaultEndDate.value" disabled
          (dateChange)="addEvent2($event)">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 disabled="false" startView="month" [startAt]="startDate"></mat-datepicker>
      </mat-form-field>

      <button type="button" class="button btn btn-success"  title="Update data"
        (click)="updateData()">Update</button>
      <!-- <mat-form_field *ngIf = "!isLoading">
        <input matInput (keyUp)="applyFilter($event.target.value" placeholder="Search">
      </mat-form_field> -->
    </div>
    <div *ngIf="isLoading" class="spinner text-center">
      <img src="assets/spinner.gif">
    </div>
       <div [hidden]="isLoading || !dataSource.data.length">
      <div class="mat-elevation-z8" *ngIf="dataSource">
        <mat-table [dataSource]="dataSource" matSort matSortActive="change_timestamp" matSortDirection="desc"
          class="changes">
          <ng-container *ngFor="let col of columns" matColumnDef="{{col.key}}">
            <mat-header-cell style="font-weight: bold;color: black;font-size: 15px;" *matHeaderCellDef mat-sort-header>
              {{col.value}}
            </mat-header-cell>
            <mat-cell style="text-overflow:ellipsis" *matCellDef="let element"> {{element[col.key]}} </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="columnNames;sticky:true" color="grey"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columnNames"></mat-row>
        </mat-table>
      </div>
    </div>
    <mat-paginator [hidden]="isLoading || !dataSource.data.length" [pageSizeOptions]="[20,30]" showFirstLastButtons></mat-paginator>
    <div *ngIf = "!isLoading && !dataSource.data.length">
      <div  class="empty-msg-div">No Data available</div>
    </div>  
  </div>
</body>