<app-header></app-header>

<div class="mat-body-styles">
  <div class="container-fluid">
    <mat-tab-group mat-align-tabs="center" mat-stretch-tabs="always" animationDuration="0ms"
      (selectedTabChange)="tabChanged($event)">
      <mat-tab mat-active="true" label="Roles and Responsibilities">
        <div class="mat-elevation-z8" *ngIf="!isLoadingRoles">
          <table mat-table [dataSource]="rolesDataSource">
            <ng-container matColumnDef="changed_by_user_name">
              <th style="font-weight: bold;color: black;" mat-header-cell *matHeaderCellDef>Changed by</th>
              <td mat-cell *matCellDef="let element"> {{element.changed_by_user_name}} </td>
            </ng-container>
            <ng-container matColumnDef="changed_for_user_name">
              <th style="font-weight: bold;color: black;" mat-header-cell *matHeaderCellDef>Changed for</th>
              <td mat-cell *matCellDef="let element"> {{element.changed_for_user_name}} </td>
            </ng-container>
            <ng-container matColumnDef="change_type">
              <th style="font-weight: bold;color: black;" mat-header-cell *matHeaderCellDef>Change type</th>
              <td mat-cell *matCellDef="let element">{{element.change_type}}</td>
            </ng-container>
            <ng-container matColumnDef="change_description">
              <th style="font-weight: bold;color: black;" mat-header-cell *matHeaderCellDef>Change description</th>
              <td mat-cell *matCellDef="let element"> {{element.change_description}} </td>
            </ng-container>
            <ng-container matColumnDef="change_timestamp">
              <th style="font-weight: bold;color: black;" mat-header-cell *matHeaderCellDef>Change timestamp</th>
              <td mat-cell *matCellDef="let element"> {{element.change_timestamp}} </td>
            </ng-container>
            <ng-container matColumnDef="sl_name">
              <th style="font-weight: bold;color: black;" mat-header-cell *matHeaderCellDef>Semantic Layer</th>
              <td mat-cell *matCellDef="let element"> {{element.sl_name}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="rolesColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: rolesColumns;"></tr>
          </table>
          <!-- <mat-paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons></mat-paginator> -->
        </div>
        <div *ngIf="isLoadingRoles" class="spinner text-center">
  <img src="assets/spinner.gif">
</div>
        <!-- <div class="empty-msg-div" *ngIf="isEmpty">No Data available</div>   -->
      </mat-tab>
      <mat-tab label="Semantic Layer">
        <div class="mat-elevation-z8" *ngIf="!isLoadingSemantic">
          <table mat-table [dataSource]="semanticDataSource">
            <ng-container matColumnDef="sl_name" >
              <th style="font-weight: bold;color: black;" mat-header-cell *matHeaderCellDef>Semantic Layer</th>
              <td mat-cell *matCellDef="let element"> {{element.sl_name}} </td>
            </ng-container>
            <ng-container matColumnDef="change_type">
              <th style="font-weight: bold;color: black;" mat-header-cell *matHeaderCellDef>Change type</th>
              <td mat-cell *matCellDef="let element">{{element.change_type}}</td>
            </ng-container>
            <ng-container matColumnDef="change_description">
              <th style="font-weight: bold;color: black;" mat-header-cell *matHeaderCellDef>Change description</th>
              <td mat-cell *matCellDef="let element"> {{element.change_description}} </td>
            </ng-container>
            <ng-container matColumnDef="change_timestamp">
              <th style="font-weight: bold;color: black;" mat-header-cell *matHeaderCellDef>Change timestamp</th>
              <td mat-cell *matCellDef="let element"> {{element.change_timestamp}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="semanticColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: semanticColumns;"></tr>
          </table>
          <!-- <mat-paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons></mat-paginator> -->
        </div>
        <div *ngIf="isLoadingSemantic" class="spinner text-center">
            <img src="assets/spinner.gif">
          </div>
        <div class="empty-msg-div" *ngIf="isEmpty">No Data available</div>  
      </mat-tab>
      <mat-tab label="Reports">
        <div class="mat-elevation-z8" *ngIf="!isLoadingReports">
          <table mat-table [dataSource]="reportsDataSource">
            <ng-container matColumnDef="report_name">
              <th style="font-weight: bold;color: black;" mat-header-cell *matHeaderCellDef>Report Name</th>
              <td mat-cell *matCellDef="let element"> {{element.report_name}} </td>
            </ng-container>
            <ng-container matColumnDef="sl_name">
              <th style="font-weight: bold;color: black;" mat-header-cell *matHeaderCellDef>Semantic Layer</th>
              <td mat-cell *matCellDef="let element"> {{element.sl_name}} </td>
            </ng-container>
            <ng-container matColumnDef="change_type">
              <th style="font-weight: bold;color: black;" mat-header-cell *matHeaderCellDef>Change type</th>
              <td mat-cell *matCellDef="let element">{{element.change_type}}</td>
            </ng-container>
            <ng-container matColumnDef="change_description">
              <th style="font-weight: bold;color: black;" mat-header-cell *matHeaderCellDef>Change description</th>
              <td mat-cell *matCellDef="let element"> {{element.change_description}} </td>
            </ng-container>
            <ng-container matColumnDef="change_timestamp">
              <th style="font-weight: bold;color: black;" mat-header-cell *matHeaderCellDef>Change timestamp</th>
              <td mat-cell *matCellDef="let element"> {{element.change_timestamp}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="reportsColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: reportsColumns;"></tr>
          </table>
          <!-- <mat-paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons></mat-paginator> -->
        </div>
        <div *ngIf="isLoadingReports" class="spinner text-center">
            <img src="assets/spinner.gif">
          </div>
        <!-- <div class="empty-msg-div" *ngIf="isEmptyTables">No Data available</div>   -->
      </mat-tab>
      <mat-tab label="Tables and Custom tables">
        <div class="mat-elevation-z8" *ngIf="!isLoadingTables">
          <table mat-table [dataSource]="tablesDataSource">
            <ng-container matColumnDef="sl_name">
              <th style="font-weight: bold;color: black;" mat-header-cell *matHeaderCellDef>Semantic Layer</th>
              <td mat-cell *matCellDef="let element"> {{element.sl_name}} </td>
            </ng-container>
            <ng-container matColumnDef="change_type">
              <th style="font-weight: bold;color: black;" mat-header-cell *matHeaderCellDef>Change type</th>
              <td mat-cell *matCellDef="let element">{{element.change_type}}</td>
            </ng-container>
            <ng-container matColumnDef="change_description">
              <th style="font-weight: bold;color: black;" mat-header-cell *matHeaderCellDef>Change description</th>
              <td mat-cell *matCellDef="let element"> {{element.change_description}} </td>
            </ng-container>
            <ng-container matColumnDef="new_name">
              <th style="font-weight: bold;color: black;" mat-header-cell *matHeaderCellDef>New Name</th>
              <td mat-cell *matCellDef="let element"> {{element.new_name}} </td>
            </ng-container>
            <ng-container matColumnDef="change_timestamp">
              <th style="font-weight: bold;color: black;" mat-header-cell *matHeaderCellDef>Change timestamp</th>
              <td mat-cell *matCellDef="let element"> {{element.change_timestamp}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="tablesColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: tablesColumns;"></tr>
          </table>
          <!-- <mat-paginator [pageSizeOptions]= "[10,25,100]" showFirstLastButtons></mat-paginator> -->
        </div>
        <div *ngIf="isLoadingTables" class="spinner text-center">
            <img src="assets/spinner.gif">
          </div>
        <!-- <div class="empty-msg-div" *ngIf="isEmptyTables">No Data available</div>   -->
      </mat-tab>
    </mat-tab-group>
  </div>
</div>