/* .modal-body {
  min-height: 350px;
  height: 350px;
} */

.action-icon {
  padding: 5px 5px 0px;
  background-color: #fff;
}

/* .action-icon i {
  font-size: 22px;
} */

.scroll-area {
  height: 150px;
  min-height: 150px;
  overflow-y: auto;
}