<div  id="nameModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
          <h3 class="modal-title"> Name </h3>
          <button type="button" class="close" data-dismiss="modal" (click)="reset()">&times;</button>
      </div>
      <div class="modal-body">
        <label>Custom table name:</label>
        <input class="form-control" type="text" #nameRef/>
    </div> 
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="reset()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="updateData(nameRef.value)">Save</button>
      </div>
    </div>
  </div>
</div>







   
  