#sheet-menu .mat-button-toggle-appearance-standard .mat-button-toggle-label-content{
    padding: 0px 30px;
}
.mat-dialog-container{
    padding: 0px !important;
}
.mat-tooltip{
    background: #136ab1;
    font-size: 14px;
    color: white;
}

/* snack bar global css */
.success-bar{
    background-color: #094c09 !important;
    color: white;
}

.error-bar{
    background-color: #9c1a05 !important;
    color: white;
}

.warning-bar{
    background-color: #ffff00 !important;
    color: black;
}

#select-report-criteria .mat-checkbox-inner-container,
#select-report-criteria .mat-radio-container,
#select-report-criteria .mat-radio-inner-circle,
#select-report-criteria .mat-radio-outer-circle {
    height: 1.3vw!important;
    width: 1.3vw!important;
    /* margin-right: .5vw!important; */
}