#sheet-menu .mat-button-toggle-appearance-standard .mat-button-toggle-label-content{
    padding: 0px 30px;
}
.mat-dialog-container{
    padding: 0px !important;
}
.mat-tooltip{
    background: #136ab1;
    font-size: 14px;
    color: white;
}