#sheet-menu .mat-button-toggle-appearance-standard .mat-button-toggle-label-content{
    padding: 0px 30px;
}
.mat-dialog-container{
    padding: 0px !important;
}
.mat-tooltip{
    background: #136ab1;
    font-size: 14px;
    color: white;
}

/* snack bar global css */
.success-bar{
    background-color: #094c09 !important;
    color: white;
}

.error-bar{
    background-color: #9c1a05 !important;
    color: white;
}

.warning-bar{
    background-color: #ffff00 !important;
    color: black;
}