/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/cdk/overlay-prebuilt.css";  */
/* You can add global styles to this file, and also import other style files */
@import '~material-design-icons/iconfont/material-icons.css';
/* @import "~@angular/cdk/overlay-prebuilt.css";  */
 @import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
/* @import "~bootstrap/dist/css/bootstrap.css"; */
@import "~font-awesome/css/font-awesome.css";

@import "../node_modules/c3/c3.min.css";

/* @import "~@angular/material/prebuilt-themes/pink-bluegrey.css"; */

body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body:not(.modal-open){
    padding-right: 0px !important;
  }
 
.pointer{
  cursor: pointer;
}

.modal-header{
  background-color: rgb(00,34,61);
  color: white;
}

.modal .modal-header .close{
  color: #ffffff;
  outline: transparent;
  opacity: 1;
}

.cdk-overlay-container {
  z-index: 999999 !important;
}

#toast-container .toast {
  font-size: 14px;
}

.custom-mat-dialog .mat-dialog-container {
  padding: 0;
}


.ck-balloon-panel_with-arrow {
  z-index: 1000000;
}

.mat-progress-spinner circle, .mat-spinner circle{
  stroke: rgb(10, 91, 173) !important;
}

ngb-datepicker-month-view{
  margin-left: 4.5vh !important;
}

ngb-datepicker{
  width: 100% !important;
}

.custom-select{
  font-size:small !important;
}

/* to increase the highlighted color value  */
.mat-option-text:hover{
  background-color: #ccc;
}

.display-notes-scroll {
  min-height: 500px;
  max-height: 550px;
  overflow-y: auto;
  overflow-x: hidden;
}

.display-notes-scroll .ck-editor__editable{
  min-height: 340px !important;
}

.display-summary-scroll {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.help-title {
  font-size: 150%;
  font-weight: bold;
}

.logo {
  width: fit-content;
  float: center;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 6rem;
  max-width: 6rem;
  margin-left: 2%;
  margin-right: 2%
}
.ck.ck-button .ck.ck-tooltip{
  display: none;
}

button.btn.btn-link.ngb-dp-arrow-btn:active {
  border: none;
}

tag{
  background-color:rgb(0, 79, 147) !important;
  border-radius: 3px !important;
  color: white !important;
  padding: 0 4.5px;
}
.ck.ck-balloon-panel.ck-balloon-panel_arrow_n.ck-balloon-panel_visible.ck-balloon-panel_with-arrow{
  z-index: 100000 !important;
}
.ck.ck-dropdown.ck-dropdown__panel.ck-dropdown__panel_se {
  z-index: 100000 !important;
}
/* this css prop is for clone report button,implementation changed,remove after verifying */
#clone-report .mat-form-field-wrapper{
    background: #428bca;
    height: 34px;
    border-radius: 5px;
    display: flex;
    align-content: center;
}
 #clone-report .mat-form-field-underline{
  display: none;
}
#clone-report .mat-form-field-label{
    left: 11px;
    color: white;
}


#clone-report .mat-select-arrow{
  color: white;
}

#clone-report .mat-form-field-infix{
  top: -8px;
}

 
#clone-report .mat-select-value{
  color: white;
  padding-left: 9px;
}

#clone-report .cdk-overlay-pane{
  top: 150.609px;
}
:root{
  --ck-z-default : 100;
  --ck-z-modal : 10000000000 !important;
}

button.btn.btn-link.ngb-dp-arrow-btn:active{
  border: none !important;
}
button.btn.btn-link.ngb-dp-arrow-btn{
  border: none !important;
}

ngb-datepicker-navigation{
  height: 100% !important
}

.ngb-dp-header.bg-light{
  height: 40px !important;
}

.ngb-dp-arrow{
  height: 100% !important
}

.btn .btn-link .ngb-dp-arrow-btn{
  height: 100% !important
}

.ngb-dp-arrow .right{
  height: 100% !important
}

.remainingTablesStyles .multiselect-dropdown .dropdown-list{
  top: -33vh;
}

/* for inserting scroll for selected values in ng-multiselect-dropdown  */
.remainingTablesStyles .multiselect-dropdown .dropdown-btn{
  overflow-y: auto;
  max-height: 15vh;
}

.selectedTablesStyles .multiselect-dropdown .dropdown-btn{
  overflow-y: auto;
  max-height: 15vh;
}

.existingTablesStyles .multiselect-dropdown .dropdown-btn{
  overflow-y: auto;
  max-height: 18vh;
}

/* for inserting proper margin between selected values in ng-multiselect-dropdown  */
.existingTablesStyles .multiselect-dropdown .dropdown-btn .selected-item{
  margin-bottom: 4px !important;
}

.remainingTablesStyles .multiselect-dropdown .dropdown-btn .selected-item{
  margin-bottom: 4px !important;
}

.selectedTablesStyles .multiselect-dropdown .dropdown-btn .selected-item{
  margin-bottom: 4px !important;
}

/* css for ng-multiselect-dropdown in share-reports */
.selectSheetStyles .multiselect-dropdown .dropdown-btn{
  overflow-y: auto;
  max-height: 8vh;
}

.selectSheetStyles .multiselect-dropdown .dropdown-btn .selected-item{
  margin-bottom: 4px !important;
}

.cdk-overlay-container {
  z-index: 99998 !important;
}