/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/cdk/overlay-prebuilt.css";  */
/* You can add global styles to this file, and also import other style files */
@import '~material-design-icons/iconfont/material-icons.css';
/* @import "~@angular/cdk/overlay-prebuilt.css";  */
 @import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
/* @import "~bootstrap/dist/css/bootstrap.css"; */
@import "~font-awesome/css/font-awesome.css";

@import "../node_modules/c3/c3.min.css";

/* @import "~@angular/material/prebuilt-themes/pink-bluegrey.css"; */

body:not(.modal-open){
    padding-right: 0px !important;
  }
 
.pointer{
  cursor: pointer;
}

.modal-header{
  background-color: rgb(00,34,61);
  color: white;
}

.modal .modal-header .close{
  color: #ffffff;
  outline: transparent;
  opacity: 1;
}

.cdk-overlay-container {
  z-index: 999999 !important;
}

#toast-container .toast {
  font-size: 14px;
}

.custom-mat-dialog .mat-dialog-container {
  padding: 0;
}


.ck-balloon-panel_with-arrow {
  z-index: 1000000;
}

.mat-progress-spinner circle, .mat-spinner circle{
  stroke: rgb(10, 91, 173) !important;
}

ngb-datepicker-month-view{
  margin-left: 4.5vh !important;
}

ngb-datepicker{
  width: 100% !important;
}

.custom-select{
  font-size:small !important;
}

.mat-option-text:hover{
  background-color: #ccc;
}

/* ck ck-balloon-panel ck-balloon-panel_arrow_n ck-balloon-panel_visible ck-balloon-panel_with-arrow */