nav .a {
    background-color: grey;
    line-height: 10px;
    
}

.options {
    margin-left: 20px;
}

nav a .active {
    background-color: grey;
}

a:hover, a:focus {
    color:black;
}

a {
    color: black;
}

.label {
    font-style: normal;
}

.scroll-area {
    min-height: 150px;
    height: 150px;
    overflow-y: auto;
    padding-left: 0;
}

.btn-group-vertical .btn {
    line-height: 15px;
    margin-top: 5px;
    margin-left: 2px;  
}

.close {
    cursor: pointer;
    border-radius: 0.5px;
    position: absolute;
    color: black;
    font-size: 0.5px;
    }
