nav .a {
    background-color: grey;
    line-height: 10px;
    
}

.options {
    margin-left: 20px;
}

nav a .active {
    background-color: grey;
}

a:hover, a:focus {
    color:black;
}

a {
    color: black;
}

.label {
    font-style: normal;
}

.scroll-area {
    min-height: 150px;
    height: 150px;
    overflow-y: auto;
    padding-left: 0;
}

.btn-group-vertical {
    width : 5%;
    margin: 0px;
    padding: 2px 2px 2px;
}
