<div class="modal fade" id="dependentReportsModal" tabindex="-1" role="dialog" aria-labelledby="dependentReportsModal"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="dependentReportsModal">Dependent Reports</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="isLoading" class="spinner">
            <img src= "assets/spinner.gif">
        </div>

        <div *ngIf="!isLoading">
          <h4>Affected reports with respective owners</h4>

          <div *ngFor="let report of reports">
            <p *ngIf="reports.length > 1">Table: {{report.sl_tables_id}}</p>
            <table class="table table-bordered" *ngIf="report && report['affected_reports']">
                <tbody>
                  <tr>
                    <th>Reports</th>
                    <th>Owners</th>
                  </tr>
                  <tr *ngFor="let r of report['affected_reports']">
                    <td>{{r.report_name}}</td>
                    <td>{{r.created_by}}</td>
                  </tr>
                </tbody>
              </table>
          </div>
       
          <p id="no-reports" *ngIf="!reports.length">
            <strong>There are no dependent reports on this table.</strong>
          </p>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmationModal"
          data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>