.ellipsis {
    text-overflow: ellipsis;
    max-width: 25%;
    overflow: hidden;
    white-space: nowrap;
}

mat-expansion-panel-header {
    position: relative;
    font-weight: 700;
}

mat-expansion-panel {
    margin-bottom: 13px;
}

.modal-body {
    /* overflow-y: auto;
    max-height: 200px;    
    height: auto; */
    /* height: calc(100% - 150px); */
    overflow: auto;
    height: calc(100vh - 390px);
}

.p-45 {
    padding: 45px;
}

.p-0 {
    padding: 0;
}

.l-t-40 {
    left:40%;
    top:40%;
}

.m-l20 {
    margin-right: 20px; 
}

.h-100 {
    height:100%
}

.de-icon {
    width: 25px;
    height: 39px;
}

.relation-body {
    height: 25px;
    border-bottom: 1px solid;
}

.modal-footer {
    /* margin-top: 0; */
    padding: 10px;
}
table {
    width: 100%;
}

th, td {
    border: 1px solid black;
}