.modal-body{
    padding: 5% 10%;
}

.form-control{
    width: 55%;
    display: inline-block;
}

.w-35{
    width: 35%;
}

.ml-20{
    margin-left: 20px;
}

.h-34{
    height: 34px !important;
}

#sheet-list {
    position: fixed; 
    left: 100%; 
    top: 20%; 
    min-width: 200px;
}
  
#sheet-list .card-body{
    height: 150px;
    min-height: 100px;
    overflow: auto;
}