.semantic-reports {
  padding: 15px;
  background: #f1f1f1;
  height: 100%;
}

.list-click {
  background-color: transparent;
  border: 0px;
  height: 100%;
  width: 17%;
}

svg {
  height: 1em;
  width: 1em;
}

.dropdown-menu {
  min-width: 108px;
  left: -72px;
}

.action-btn{
  float: right;
  margin-left: 5px;
}

.lft-40{
  left: -40px;
}

.searchDropdown{
  top: 82%;
  left: 0;
  padding: 0;
  font-size: 10px;
  width: 100%;
}

.dropdown-search{
  padding: 10px;
}
 
input:focus { 
  outline: none;
  border-radius: 10px;
  border: 1px solid #004e63;
}

.searchInput{
  float: right;
  padding: 8px 0 8px 14px;
  margin: 0 0 10px 10px;
  border-radius: 12px;
  border: 1px solid #004e63;
  height: 32px;
  width: 260px;
  box-sizing: border-box;
  font-size: 14px;
}

.no-data{
  text-align: center;
  position: relative;
  top: 30%;
}

.report-menu{
  font-size: 15px;
  padding-top: 4px;
  cursor: pointer;
}

.mat-header-row{
  background-color: #ccc;
  font-size: 14px;
  font-weight: bold;
}

/* .mat-row:nth-child(even){
  background-color: #ffffff;
} */

.mat-row:nth-child(odd){
  background-color: #f9f9f9;
}

.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
}

.table-div{
  max-height: 80%;
  overflow-y: auto;
}

/* #semantic-reports ::ng-deep .mat-header-cell, .mat-cell{ */
  /* display: flex;
  justify-content: center; */
/* } */

/* #semantic-reports ::ng-deep mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type{ */
  /* padding: 0 !important; */
/* } */

.pointer{
  text-decoration: underline;
  color: blue !important;
  cursor: pointer;
}

.pointer:hover{
  text-decoration: none
}
  /* padding: 0 !important; */


.share-reports{
  padding: 0;
  width: 10%;
}

.text-ellipsis {
  text-overflow: ellipsis;
  /* max-width: 29%; */
  display: block;
  padding-top: 15px;
  white-space: nowrap;
  overflow: hidden;
}

mat-header-cell{
  font-size: 14px;
  font-weight: 700;
}

mat-header-cell:last-of-type{
  padding-left: 1.2% !important;
}

mat-cell:last-of-type, mat-footer-cell:last-of-type, mat-header-cell:last-of-type {
  width: 20% !important;
}

mat-cell, mat-footer-cell, mat-header-cell{
  display: block;
  width: 16% !important;
  flex: none;
  min-height: auto;
  /* padding-right: 10px; */
}

.select-dropdown{
  background-color: #428bca;
    height: 100%;
    border-radius: 5px;
    color: #FFF;
}

#optionColors option{
  background-color: #FFF;
  color: #000;
}

.requestIdsDropdown{
  max-width: 18vh;
  text-overflow: ellipsis;
}

.blocked{
  opacity: 0.65;
  pointer-events: none
}

.scheduledBy-width{
  flex: 0 0 16% !important;
  width:16% !important;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 5vh;
  overflow-y: auto;
}