.modal-container{
    width: 60vw;
    height: 70vh;
    overflow: hidden;
}
.modal-body{
    height: 74%;
    overflow: hidden;
}

/* ::ng-deep .quillEditor quill-editor .ql-container.ql-snow img{
     width: 100%;
} */

.image-style {
    height: 200px;
    width: 200px;
}