<div class="modal-search">
  <span class="float-left"><strong>Privilege: </strong> </span>
    <select class = "User-search" id="multiple2" multiple style="margin-left:1%;">
    <option value="value 1">Value 1</option>
    <option value="value 2">Option2</option>
    <option value="value 3">QWERTY</option>
    </select>
  <button type="button" class="btn btn-primary selectbtn float-left">Select</button>
</div>
    <br>
    <div class="privtext"><strong>Users: </strong> </div>
    <div class="modal-body plist">
        <ul class="list-group">
          <li class="list-group-item"><input type="checkbox" value=""><span class="chklist">BGDHF</span></li>
          <li class="list-group-item"><input type="checkbox" value=""><span class="chklist">SAKJWO</span></li>
          <li class="list-group-item"><input type="checkbox" value=""><span class="chklist">SHUIYD</span></li>
          <li class="list-group-item"><input type="checkbox" value=""><span class="chklist">POIBJ</span></li>
          <li class="list-group-item"><input type="checkbox" value=""><span class="chklist">YRUWYO</span></li>
          <li class="list-group-item"><input type="checkbox" value=""><span class="chklist">BVDKNB</span></li>
          <li class="list-group-item"><input type="checkbox" value=""><span class="chklist">BNMVMX</span></li>
          <li class="list-group-item"><input type="checkbox" value=""><span class="chklist">QTREYU</span></li>
          <li class="list-group-item"><input type="checkbox" value=""><span class="chklist">QWRTER</span></li>
          <li class="list-group-item"><input type="checkbox" value=""><span class="chklist">JLKGKL</span></li>
        </ul>
      </div>  
